{% set product_taxons_form = form.productTaxons %}

<div {{ sylius_test_html_attribute('product-taxons') }}>
    {{ form_label(product_taxons_form) }}
    <div class="card"{{ stimulus_controller('product-taxon-tree', {treeData: this.tree, autoOpen: hookableMetadata.configuration.auto_open}) }}>
        {{ form_widget(product_taxons_form, {attr: {'data-product-taxon-tree-target': 'productTaxons'}}) }}

        <div class="p-3 pb-5">
            <div class="d-flex align-items-center mb-4">
                <div class="input-group input-group-flat">
                    <input class="form-control" placeholder="{{ 'sylius.ui.filter'|trans }}" type="text"
                           data-product-taxon-tree-target="filter"
                           data-action="input->product-taxon-tree#filter"
                    />
                    <span class="input-group-text">
                        <a class="input-group-link link-reset" data-action="product-taxon-tree#clearFilter" >{{ 'sylius.ui.clear'|trans }}</a>
                    </span>
                </div>
                <div class="d-flex gap-3 align-items-center ms-4 me-2">
                    <a class="fs-5 text-nowrap link-reset" data-action="product-taxon-tree#checkAll">{{ 'sylius.ui.check_all'|trans }}</a>
                    <a class="fs-5 text-nowrap link-reset" data-action="product-taxon-tree#uncheckAll">{{ 'sylius.ui.uncheck_all'|trans }}</a>
                </div>
            </div>
            <div data-product-taxon-tree-target="tree"></div>
        </div>
    </div>
</div>
