{% form_theme form 'SyliusWebBundle:Backend/Promotion:_forms.html.twig' %}

<div class="row">
    <div class="col-md-8 row-split">
        {{ form_row(form.name, {'attr': {'class': 'input-lg'}}) }}
        {{ form_row(form.description) }}
        {{ form_row(form.usageLimit) }}
        {{ form_row(form.startsAt) }}
        {{ form_row(form.endsAt) }}
        {{ form_row(form.couponBased) }}
        {{ form_widget(form._token) }}
    </div>

    <div class="col-md-4">
        {{ form_widget(form.rules) }}
        <hr>
        {{ form_widget(form.actions) }}
    </div>
</div>

<hr>

{% for type, prototype in form.vars.prototypes %}
    <div id="{{ type }}" data-prototype="{{ form_widget(prototype)|e }}">
    </div>
{% endfor %}
