{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Promotion:macros.html.twig' import list %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_promotion_create'), 'sylius.promotion.create'|trans) }}
    </div>
    <h1><i class="icon-bullhorn"></i> {{ 'sylius.promotion.index_header'|trans|raw }}</h1>
</div>

{{ pagination(promotions) }}
{{ list(promotions) }}
{{ pagination(promotions) }}

{% endblock %}
