{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Promotion:macros.html.twig' import configuration %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.promotion.show_header'|trans|raw }}</h1>
</div>

<div class="well">
    {{ buttons.manage(path('sylius_backend_promotion_index'), 'sylius.promotion.manage'|trans) }}
    {{ buttons.edit(path('sylius_backend_promotion_update', {'id': promotion.id})) }}
    {{ buttons.delete(path('sylius_backend_promotion_delete', {'id': promotion.id})) }}
    {% if promotion.couponBased %}
    {{ buttons.manage(path('sylius_backend_promotion_coupon_index', {'promotionId': promotion.id}), 'sylius.promotion_coupon.index'|trans) }}
    {{ buttons.create(path('sylius_backend_promotion_coupon_create', {'promotionId': promotion.id}), 'sylius.promotion_coupon.create'|trans) }}
    {{ buttons.manage(path('sylius_backend_promotion_coupon_generate', {'promotionId': promotion.id}), 'sylius.promotion_coupon.generate'|trans) }}
    {% endif %}
</div>

<table class="table table-bordered table-consensed">
    <thead>
        <tr>
            <th>{{ 'sylius.promotion.name'|trans }}</th>
            <th>{{ 'sylius.promotion.description'|trans }}</th>
            <th>{{ 'sylius.promotion.usage_limit'|trans }}</th>
            <th>{{ 'sylius.promotion.used'|trans }}</th>
            <th>{{ 'sylius.promotion.starts_at'|trans }}</th>
            <th>{{ 'sylius.promotion.ends_at'|trans }}</th>
            <th>{{ 'sylius.promotion.created_at'|trans }}</th>
            <th>{{ 'sylius.promotion.updated_at'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ promotion.name }}</td>
            <td>{{ promotion.description }}</td>
            <td>{{ promotion.usageLimit }}</td>
            <td>{{ promotion.used }}</td>
            <td>{{ promotion.startsAt is empty ? '' : promotion.startsAt|date }}</td>
            <td>{{ promotion.endsAt is empty ? '' : promotion.endsAt|date }}</td>
            <td>{{ promotion.createdAt|date }}</td>
            <td>{{ promotion.updatedAt|date }}</td>
        </tr>
    </tbody>
</table>

{% if promotion.hasRules %}
<h3>{{ 'sylius.promotion.rules'|trans }}</h3>
<table id="rules" class="table table-bordered table-consensed">
    <thead>
        <tr>
            <th>{{ 'sylius.promotion_rule.type'|trans }}</th>
            <th>{{ 'sylius.promotion_rule.configuration'|trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for rule in promotion.rules %}
            <tr>
                <td><span class="label label-info">{{ rule.type|capitalize|replace('_', ' ') }}</span></td>
                <td>{{ configuration(rule.configuration) }}</td>
                <td>
                    <div class="btn-group pull-right">
                        {{ buttons.delete(path('sylius_backend_promotion_rule_delete', {'id': rule.id})) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% if promotion.hasActions %}
<h3>{{ 'sylius.promotion.actions'|trans }}</h3>
<table id="actions" class="table table-bordered table-consensed">
    <thead>
        <tr>
            <th>{{ 'sylius.promotion_action.type'|trans }}</th>
            <th>{{ 'sylius.promotion_action.configuration'|trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for action in promotion.actions %}
            <tr>
                <td><span class="label label-info">{{ action.type|capitalize|replace('_', ' ') }}</span></td>
                <td>{{ configuration(action.configuration) }}</td>
                <td>
                    <div class="btn-group pull-right">
                        {{ buttons.delete(path('sylius_backend_promotion_action_delete', {'id': action.id})) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
