{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/Macros:actions.html.twig' import update %}

{% block javascripts %}
{{ parent() }}
{% javascripts output='assets/compiled/backend_promotion.js'
    'https://raw.github.com/brandonaaron/livequery/1.1.1/jquery.livequery.js'
    '@SyliusPromotionsBundle/Resources/assets/js/sylius-promotion.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.promotion.update_header'|trans|raw }}</h1>
</div>

<form action="{{ path('sylius_backend_promotion_update', {'id': promotion.id}) }}" method="post" class="form-horizontal" novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/Promotion:_form.html.twig' %}
    {{ update() }}
</form>
{% endblock %}
