{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.sales'|trans }}</li>
    <li><a href="{{ path('sylius_backend_promotion_index') }}">{{ 'sylius.breadcrumb.promotion.index'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_promotion_update', {'id': promotion.id}) }}">{{ promotion.name }}</a></li>
    <li>{{ 'sylius.breadcrumb.edit'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('sylius_backend_promotion_update', {'id': promotion.id}), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

{{ page.header('promotion.update', 'plus-sign', 'SyliusUiBundle:Form/Actions:_update.html.twig') }}

{% include 'SyliusWebBundle:Backend/Promotion:_form.html.twig' %}
<input type="hidden" name="_method" value="PUT">

{{ form_end(form) }}
{% endblock %}
