{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Currency:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.configuration'|trans }}</li>
    <li>{{ 'sylius.ui.currencies'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_currency_create'), 'sylius.ui.create_currency'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-usd"></i> {{ 'sylius.ui.currencies'|trans|raw }}</h1>
</div>

{{ list(currencies) }}

{% endblock %}
