{% macro list(countries) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if countries|length > 0 %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('code', 'sylius.ui.name'|trans) }}</th>
            <th>{{ sylius_resource_sort('code', 'sylius.ui.code'|trans) }}</th>
            <th>{{ sylius_resource_sort('exchangeRate', 'sylius.ui.exchange_rate'|trans) }}</th>
            <th>{{ sylius_resource_sort('enabled', 'sylius.ui.enabled'|trans) }}</th>
            <th>{{ sylius_resource_sort('updatedAt', 'sylius.ui.last_update'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for currency in countries %}
        <tr id="{{ currency.id }}">
            <td>{{ currency.name }}</td>
            <td>{{ currency.code }}</td>
            <td><span class="label label-primary">{{ currency.exchangeRate }}</span></td>
            <td>
                <span class="label label-{{ currency.enabled ? 'success' : 'danger'}}">
                    {{ currency.enabled ? 'sylius.ui.yes'|trans : 'sylius.ui.no'|trans }}
                </span>
            </td>
            <td>{{ currency.updatedAt|date }}</td>
            <td>
                <div class="pull-right">
                {{ buttons.edit(path('sylius_backend_currency_update', {'id': currency.id})) }}
                {% if currency.enabled %}
                    {{ buttons.disable(path('sylius_backend_currency_disable', {'id': currency.id})) }}
                {% else %}
                    {{ buttons.enable(path('sylius_backend_currency_enable', {'id': currency.id})) }}
                {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.ui.there_are_no_currencies_to_display'|trans) }}
{% endif %}

{% endmacro %}
