{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Content/StaticContent:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.content'|trans }}</li>
    <li>{{ 'sylius.ui.pages'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_static_content_create'), 'sylius.ui.create_new_page'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-file"></i> {{ 'sylius.ui.pages'|trans|raw }}</h1>
</div>

{{ pagination(static_contents) }}
{{ list(static_contents) }}
{{ pagination(static_contents) }}

{% endblock %}
