{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page %}
{% import 'SyliusUiBundle::pagination.html.twig' as pagination %}
{% from 'SyliusWebBundle:Backend/Currency:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.currency.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('currency.index', 'usd', 'SyliusWebBundle:Backend/currency/Actions:_index.html.twig') }}

{{ pagination.standard(currencies) }}
{{ list(currencies)  }}
{{ pagination.standard(currencies) }}
{% endblock %}
