{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Permission:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.customer'|trans }}</li>
    <li>{{ 'sylius.ui.permissions'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_permission_create'), 'sylius.ui.add_new_permission'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-lock"></i> {{ 'sylius.ui.permissions'|trans|raw }}</h1>
</div>

{{ pagination(permissions) }}
{{ list(permissions) }}
{{ pagination(permissions) }}

{% endblock %}
