{% macro crumble(crumbs = {}, root_path, root_label) %}
    <div class="ui breadcrumb">
        {% for crumb in crumbs %}
            {% if loop.last %}
                <div class="active section">{{ crumb.label }}</div>
            {% elseif crumb.url is defined %}
                <a href="{{ crumb.url }}" class="section">{{ crumb.label }}</a>
                <i class="right chevron icon divider"></i>
            {% else %}
                <div class="section">{{ crumb.label }}</div>
                <i class="right chevron icon divider"></i>
            {% endif %}
        {% else %}
            <a href="{{ root_url|default('/') }}" class="section">{{ root_label|default('sylius.ui.root'|trans) }}</a>
        {% endfor %}
    </div>
{% endmacro %}
