{% macro tableHeader(grid, field, attributes) %}
    {% from _self import link %}
    {% set direction = grid.getSortingOrder(field.name) %}
    {% set icon = null %}

    {% if grid.isSortedBy(field.name) %}
        <th class="sortable sorted {{ direction == 'desc' ? 'descending' : 'ascending' }} sylius-table-column-{{ field.name }}">
    {% else %}
        {% set icon = '<i class="sort icon"></i>' %}
        <th class="sortable sylius-table-column-{{ field.name }}">
    {% endif %}
        <a href="{{ link(grid.definition, field.name, attributes, direction, grid.parameters.all) }}">{{ field.label|trans }}{{ icon|raw }}</a>
    </th>
{% endmacro %}

{% macro link(definition, fieldName, attributes, direction, parameters) %}
    {% set params = attributes.get('_route_params')|merge(parameters)|merge({'page': 1}) %}
    {% set sorting = {'sorting': {(fieldName): {'direction': (direction == 'desc' ? 'asc' : 'desc')}}} %}

    {{ path(attributes.get('_route'), params|merge(sorting)) }}
{% endmacro %}
