{% macro headers(grid, definition, requestAttributes) %}
    {% import 'SyliusUiBundle:Macro:sorting.html.twig' as sorting %}

    {% for field in definition.fields %}
        {% if field.enabled %}
            {% if grid.isSortableBy(field.name) %}
                {% set sortingOrder = grid.getSortingOrder(field.name) %}

                {% if grid.isSortedBy(field.name) %}
                    {{ sorting.sortedHeader(definition, field, requestAttributes, sortingOrder, grid.parameters.all) }}
                {% else %}
                    {{ sorting.sortableHeader(definition, field, requestAttributes, sortingOrder, grid.parameters.all) }}
                {% endif %}
            {% else %}
                <th class="sylius-table-column-{{ field.name }}">{{ field.label|trans }}</th>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if definition.actionGroups.item is defined and definition.getActions('item')|length > 0 %}
        <th class="sylius-table-column-actions">{{ 'sylius.ui.actions'|trans }}</th>
    {% endif %}
{% endmacro %}

{% macro row(grid, definition, row) %}
    {% for field in definition.fields %}
        {% if field.enabled %}
            <td>{{ sylius_grid_render_field(grid, field, row) }}</td>
        {% endif %}
    {% endfor %}
    {% if definition.actionGroups.item is defined and definition.getActions('item')|length > 0 %}
        <td>
            <div class="ui buttons">
                {% for action in definition.getActions('item') %}
                    {{ sylius_grid_render_action(grid, action, row) }}
                {% endfor %}
            </div>
        </td>
    {% endif %}
{% endmacro %}
