{% macro create(url) %}
<div class="form-actions">
    <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok"></i> {{ 'sylius.ui.create'|trans }}</button>
    <a href="{{ app.request.headers.get('referer', url) }}" class="btn btn-danger btn-lg"><i class="glyphicon glyphicon-remove"></i> {{ 'sylius.ui.cancel'|trans }}</a>
</div>
{% endmacro %}

{% macro update(url) %}
<div class="form-actions">
    <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-save"></i> {{ 'sylius.ui.save_changes'|trans }}</button>
    <a href="{{ app.request.headers.get('referer', url) }}" class="btn btn-danger btn-lg"><i class="glyphicon glyphicon-remove"></i> {{ 'sylius.ui.cancel'|trans }}</a>
</div>
{% endmacro %}
