{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/Shipment:macros.html.twig' import list %}
{% import 'SyliusUiBundle::page.html.twig' as page %}
{% import 'SyliusUiBundle::pagination.html.twig' as pagination %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.sales'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.shipment.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('shipment.index', 'plane', 'SyliusWebBundle:Backend/Shipment/Actions:_index.html.twig') }}

{% render(controller('sylius.controller.form:filterAction', {'type': 'sylius_shipment_filter', 'template': 'SyliusWebBundle:Backend/Shipment:filterForm.html.twig'})) %}

{{ pagination.standard(shipments) }}
{{ list(shipments) }}
{{ pagination.standard(shipments) }}
{% endblock %}
