{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Shipment:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.sales'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.shipment.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.manage(path('sylius_backend_order_index'), 'sylius.order.manage'|trans) }}
        {{ buttons.create(path('sylius_backend_shipping_category_index'), 'sylius.shipping_category.manage'|trans) }}
        {{ buttons.create(path('sylius_backend_shipping_method_index'), 'sylius.shipping_method.manage'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-plane"></i> {{ 'sylius.shipment.index_header'|trans|raw }}</h1>
</div>

{% render(controller('sylius.controller.backend.form:filterAction', {'type': 'sylius_shipment_filter', 'template': 'SyliusWebBundle:Backend/Shipment:filterForm.html.twig'})) %}

{{ pagination(shipments) }}
{{ list(shipments) }}
{{ pagination(shipments) }}

{% endblock %}
