{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Shipment:macros.html.twig' import list %}

{% block content %}
<div class="page-header">
<h1>{{ 'sylius.shipment.index_header'|trans|raw }}</h1>
</div>

<div class="well well-small">
    {{ buttons.manage(path('sylius_backend_shipping_category_index'), 'sylius.shipment_category.manage'|trans) }}
</div>

{{ pagination(shipments) }}
{{ list(shipments) }}
{{ pagination(shipments) }}
{% endblock %}
