{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% set order = shipment.order %}
{% set shippingAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::SHIPPING_ADJUSTMENT') %}

{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.sales'|trans }}</li>
    <li><a href="{{ path('sylius_backend_shipment_index') }}">{{ 'sylius.ui.shipments'|trans }}</a></li>
    <li>{{ shipment.method }} (#{{ order.number }})</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-plane"></i> {{ 'sylius.ui.shipment_details'|trans|raw }}</h1>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        {{ buttons.manage(path('sylius_backend_shipment_index'), 'sylius.ui.manage_shipments'|trans) }}
        {{ buttons.edit(path('sylius_backend_shipment_update', {'id': shipment.id}), 'sylius.shipment.update'|trans) }}
        {{ buttons.delete(path('sylius_backend_shipment_delete', {'id': shipment.id})) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">{{ 'sylius.ui.general_info'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>{{ 'sylius.ui.id'|trans }}</strong></td>
                    <td>{{ shipment.id }}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'sylius.ui.number'|trans }}</strong></td>
                    <td><a href="{{ path('sylius_backend_order_show', {'id': order.id}) }}">#{{ order.number }}</a></td>
                </tr>
                <tr>
                    <td><strong>{{ 'sylius.ui.total'|trans }}</strong></td>
                    <td>{{ order.total|sylius_price(order.currency) }}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'sylius.ui.shipping_total'|trans }}</strong></td>
                    <td>{{ order.shippingTotal|sylius_price(order.currency) }}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'sylius.ui.state'|trans }}</strong></td>
                    <td>{{ misc.shipment_state(shipment.state) }}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'sylius.ui.method'|trans }}</strong></td>
                    <td><span class="label label-primary">{{ shipment.method }}</span></td>
                </tr>
                <tr>
                    <td><strong>{{ 'sylius.ui.tracking_code'|trans }}</strong></td>
                    <td><span class="label label-{{ shipment.tracked ? 'primary' : 'default' }}">{{ shipment.tracked ? shipment.tracking : 'sylius.ui.unknown'|trans }}</span></td>
                </tr>
                <tr>
                    <td><strong>{{ 'sylius.ui.customer'|trans }}</strong></td>
                    <td>
                        {% set customer = order.customer %}
                        {{ customer.fullName }}<br>
                        <strong>
                            <a href="{{ path('sylius_backend_customer_show', {'id': customer.id}) }}">
                                {{ customer.email }}
                            </a>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td><strong>{{ 'sylius.ui.creation_time'|trans }}</strong></td>
                    <td>{{ order.createdAt|date }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h4>{{ 'sylius.ui.shipping_address'|trans }}</h4>
        {% include 'SyliusWebBundle:Backend/Address:_show.html.twig' with {'address': shipment.order.shippingAddress } %}
    </div>
    <div class="col-md-12">
        {{ misc.shipment_form(shipment, shipment_tracking_form is defined ? shipment_tracking_form : null) }}
    </div>
</div>

{% if shipment.units|length > 0 %}
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'sylius.ui.sku'|trans }}</th>
                <th>{{ 'sylius.ui.name'|trans }}</th>
                <th>{{ 'sylius.ui.state'|trans }}</th>
                <th>{{ 'sylius.ui.inventory_state'|trans }}</th>
                <th>{{ 'sylius.ui.created_at'|trans }}</th>
                <th>{{ 'sylius.ui.modified'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for item in shipment.units %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.stockable.sku }}</td>
                <td>{{ item.inventoryName }}</td>
                <td><span class="label label-success">{{ item.shippingState }}</span></td>
                <td><span class="label label-{{ item.sold ? 'success' : 'important' }}">{{ item.inventoryState }}</span></td>
                <td>{{ item.createdAt|date }}</td>
                <td>{{ item.updatedAt|date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ alerts.info('sylius.shipment.no_items'|trans) }}
{% endif %}

{% endblock %}
