{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% set order = shipment.order %}

{% import 'SyliusUiBundle::page.html.twig' as page %}
{% import 'SyliusUiBundle::alerts.html.twig' as alerts %}
{% import 'SyliusUiBundle::buttons.html.twig' as buttons %}
{% import 'SyliusUiBundle::labels.html.twig' as labels %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.sales'|trans }}</li>
    <li><a href="{{ path('sylius_backend_shipment_index') }}">{{ 'sylius.breadcrumb.shipment.index'|trans }}</a></li>
    <li>{{ shipment.method }} (#{{ order.number }})</li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('shipment.show', 'truck', 'SyliusWebBundle:Backend/Shipment/Actions:_show.html.twig', {'shipment': shipment}) }}

<div class="row">
    <div class="col-md-6">
        <div class="box box-green">
        <h4 class="box-header">{{ 'sylius.order.general_info'|trans }}</h4>
        <table class="table table-headless">
            <tbody>
                <tr>
                    <th>{{ 'sylius.shipment.id'|trans }}</td>
                    <td>{{ shipment.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'sylius.order.number'|trans }}</td>
                    <td><a href="{{ path('sylius_backend_order_show', {'id': order.id}) }}">#{{ order.number }}</a></td>
                </tr>
                <tr>
                    <th>{{ 'sylius.order.total'|trans }}</td>
                    <td>{{ order.total|sylius_price(order.currency) }}</td>
                </tr>
                <tr>
                    <th>{{ 'sylius.order.shipping_total'|trans }}</td>
                    <td>{{ order.shippingTotal|sylius_price(order.currency) }}</td>
                </tr>
                <tr>
                    <th>{{ 'sylius.shipment.state'|trans }}</td>
                    <td>{{ labels.shipment_state(shipment.state) }}</td>
                </tr>
                <tr>
                    <th>{{ 'sylius.shipment.method'|trans }}</td>
                    <td><span class="label label-primary">{{ shipment.method }}</span></td>
                </tr>
                <tr>
                    <th>{{ 'sylius.shipment.tracking_code'|trans }}</td>
                    <td><span class="label label-{{ shipment.tracked ? 'primary' : 'default' }}">{{ shipment.tracked ? shipment.tracking : 'sylius.unknown'|trans }}</span></td>
                </tr>
                <tr>
                    <th>{{ 'sylius.order.user'|trans }}</td>
                    <td>
                        {{ order.user.fullName }}<br>
                        <strong>
                            <a href="{{ path('sylius_backend_user_update', {'id': order.user.id}) }}">
                                {{ order.user.username }}
                            </a>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <th><strong>{{ 'sylius.order.created_at'|trans }}</strong></td>
                    <td>{{ order.createdAt|date }}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="col-md-6">
        <h4>{{ 'sylius.order.shipping_address'|trans }}</h4>
        {% include 'SyliusWebBundle:Backend/Address:_show.html.twig' with {'address': shipment.order.shippingAddress } %}
    </div>
    {% if sm_can(shipment, constant('Sylius\\Component\\Shipping\\ShipmentTransitions::SYLIUS_SHIP'), constant('Sylius\\Component\\Shipping\\ShipmentTransitions::GRAPH')) %}
        <div class="col-md-6">
            <form action="{{ path('sylius_backend_shipment_ship', {'id': shipment.id}) }}" method="post">
                {% if shipment_tracking_form is defined %}
                    {% include 'SyliusWebBundle:Backend/Shipment:trackingForm.html.twig' with {'form': shipment_tracking_form} %}
                {% else %}
                    {% render(controller('sylius.controller.form:showAction', {'type': 'sylius_shipment_tracking', 'template': 'SyliusWebBundle:Backend/Shipment:trackingForm.html.twig'})) %}
                {% endif %}
            </form>
            </div>
        {% endif %}
    </div>
</div>

<hr>

{% if shipment.items|length > 0 %}
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'sylius.shipment.sku'|trans }}</th>
                <th>{{ 'sylius.shipment.name'|trans }}</th>
                <th>{{ 'sylius.shipment.state'|trans }}</th>
                <th>{{ 'sylius.shipment.inventory_state'|trans }}</th>
                <th>{{ 'sylius.shipment.created_at'|trans }}</th>
                <th>{{ 'sylius.shipment.modified'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for item in shipment.items %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.stockable.sku }}</td>
                <td>{{ item.inventoryName }}</td>
                <td><span class="label label-success">{{ item.shippingState }}</span></td>
                <td><span class="label label-{{ item.sold ? 'success' : 'important' }}">{{ item.inventoryState }}</span></td>
                <td>{{ item.createdAt|date }}</td>
                <td>{{ item.updatedAt|date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ alerts.info('sylius.shipment.no_items'|trans) }}
{% endif %}

{% endblock %}
