{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.sales'|trans }}</li>
    <li><a href="{{ path('sylius_backend_shipment_index') }}">{{ 'sylius.breadcrumb.shipment.index'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_shipment_show', {'id': shipment.id}) }}">{{ shipment.method }} (#{{ shipment.order.number }})</a></li>
    <li>{{ 'sylius.breadcrumb.edit'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('sylius_backend_shipment_update', {'id': shipment.id}), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

{{ page.header('shipment.update', 'plus-sign', 'SyliusUiBundle:Form/Actions:_update.html.twig') }}

{% include 'SyliusWebBundle:Backend/Shipment:_form.html.twig' %}
<input type="hidden" name="_method" value="PUT">

{{ form_end(form) }}
{% endblock %}
