<div class="ui stackable grid">
    <div class="five wide column" id="info">
        <div class="ui fluid card">
            <div class="content">
                <a href="{{ path('sylius_admin_customer_update', {'id': customer.id}) }}" class="header">
                    {{ customer.fullName|default('sylius.ui.guest_customer'|trans) }}
                </a>
                <div class="meta">
                    <span class="date">{{ 'sylius.ui.customer_since'|trans }} {{ customer.createdAt|date }}</span>
                </div>
                <br />
                <div id="subscribed-to-newsletter">
                    {% if customer.subscribedToNewsletter %}
                        <i class="green checkmark icon"></i>
                    {% else %}
                        <i class="red remove icon"></i>
                    {% endif %}
                    {{ 'sylius.ui.subscribed_to_newsletter'|trans }}
                </div>
            </div>
            <div class="extra content">
                <a href="mailto: {{ customer.email }}">
                    <i class="envelope icon"></i> {{ customer.email }}
                </a>
            </div>
        </div>
        <div class="ui two column stackable grid">
            {% if customer.defaultAddress %}
                <div class="column" id="defaultAddress">
                    <h4 class="ui dividing header">{{ 'sylius.ui.default'|trans }}</h4>
                    {% include '@SyliusAdmin/Common/_address.html.twig' with {'address': customer.defaultAddress} %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
