<table class="ui very basic celled table">
    <tbody>
    <tr>
        <td class="five wide"><strong class="gray text">{{ 'sylius.ui.type'|trans }}</strong></td>
        <td>{{ 'sylius.ui.percentage_discount'|trans }}</td>
    </tr>
    <tr>
        <td class="five wide"><strong class="gray text">{{ 'sylius.ui.amount'|trans }}</strong></td>
        <td {{ sylius_test_html_attribute('action-amount') }}>
            {{ action.configuration.amount|format_number(style='percent') }}
        </td>
    </tr>
    </tbody>
</table>
