{% for owner in hwi_oauth_resource_owners() %}
    {% set ownerName = owner|trans({}, 'HWIOAuthBundle') %}
    <a class="oauth-login oauth-login-{{ ownerName }}" href="{{ hwi_oauth_login_url(owner) }}" title="{{ ownerName }}">
        <img src="{{ asset('bundles/syliusweb/img/icon/64/'~ownerName~'.png') }}" alt="{{ ownerName }}">
    </a>
{% endfor %}
