<div class="ui two column stackable grid">
    {{ form_errors(form) }}
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'sylius.ui.customer_details'|trans }}</h4>
            <div class="two fields">
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
            </div>
            {{ form_row(form.email) }}
        </div>
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'sylius.ui.extra_information'|trans }}</h4>
            {{ form_row(form.gender) }}
            {{ form_row(form.birthday) }}
            {{ form_row(form.phoneNumber) }}
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'sylius.ui.account_credentials'|trans }}</h4>
            <div class="field">
                <div class="ui toggle checkbox">
                    <input type="checkbox" id="sylius_customer_create_user" {% if customer.user is not empty %}checked="checked"{% endif %}>
                    <label for="sylius_customer_create_user">{{ 'sylius.ui.customer_can_login_to_the_store'|trans }}?</label>
                </div>
            </div>
            {% if form.user is defined %}
                <div id="user-form" {% if form.user.vars.data.id is not defined %} style="display: none" {% endif %}>
                    {{ form_row(form.user.plainPassword) }}
                    {{ form_row(form.user.enabled) }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
