{% macro list(reports) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% if reports|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', 'sylius.report.id'|trans) }}</th>
            <th>{{ sylius_resource_sort('name', 'sylius.report.name'|trans) }}</th>
            <th>{{ sylius_resource_sort('code', 'sylius.report.code'|trans) }}</th>
            <th>{{ sylius_resource_sort('description', 'sylius.report.description'|trans) }}</th>
            <th>{{ sylius_resource_sort('renderer', 'sylius.report.renderer'|trans) }}</th>
            <th>{{ sylius_resource_sort('data_fetcher', 'sylius.report.data_fetcher'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for report in reports %}
        <tr id="{{ report.id }}">
            <td>{{ report.id }}</td>
            <td>{{ report.name }}</td>
            <td>{{ report.code }}</td>
            <td>{{ report.description|truncate(30, true) }}</td>
            <td>{{ report.renderer }}{% if report.rendererConfiguration.type is defined %} - {{ report.rendererConfiguration.type }}{% endif %}</td>
            <td>{{ report.dataFetcher }}</td>
            <td>
                <div class="pull-right">
                    {{ buttons.show(path('sylius_backend_report_show', {'id': report.id})) }}
                    {{ buttons.edit(path('sylius_backend_report_update', {'id': report.id})) }}
                    {{ buttons.delete(path('sylius_backend_report_delete', {'id': report.id})) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.report.no_results'|trans) }}
{% endif %}

{% endmacro %}
