{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.configuration'|trans }}</li>
    <li><a href="{{ path('sylius_backend_report_index') }}">{{ 'sylius.ui.reports'|trans }}</a></li>
    <li>{{ report.name }}</a></li>
</ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="actions-menu">
            {{ buttons.manage(path('sylius_backend_report_index'), 'sylius.ui.manage'|trans) }}
            {{ buttons.edit(path('sylius_backend_report_update', {'id': report.id})) }}
            {{ buttons.delete(path('sylius_backend_report_delete', {'id': report.id}), null, false, false) }}
        </div>
        <h1><i class="glyphicon glyphicon-cog"></i> {{ report.name }}</h1>
    </div>

    <form action="{{ path('sylius_backend_report_show', {'id': report.id}) }}" method="get" class="form-horizontal">
    {% for field in form %}
        {{ form_row(field) }}
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-search"></i> {{ 'sylius.ui.filter'|trans }}</button>
    <br>
    </form>
    {{ report.description }}
    {{ render(controller('sylius.controller.report:embedAction', {'report': report, 'configuration' : configuration})) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}