{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

<h1>Address details <small>{{ address.fullName }}</small></h1>
<hr />

<div class="well well-sm">
    {{ buttons.create(path('sylius_address_create'), 'new address') }}
    {{ buttons.edit(path('sylius_address_update', {'id': address.id})) }}
    {{ buttons.delete(path('sylius_address_delete', {'id': address.id})) }}
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#{{ address.id }} for "{{ address.fullName }}"</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <address class="code">
                    <hr />
                    {% include 'SyliusAddressingBundle:Address:_address.html.twig' %}
                </address>
            </td>
        <tr>
    </tbody>
</table>
