{% macro list(addresses) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% if addresses|length > 0 %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ sylius_resource_sort('id', '#id') }}</th>
                <th>{{ sylius_resource_sort('firstName', 'first name') }}</th>
                <th>{{ sylius_resource_sort('lastName', 'last name') }}</th>
                <th>{{ sylius_resource_sort('country') }}</th>
                <th>{{ sylius_resource_sort('province') }}</th>
                <th>{{ sylius_resource_sort('city') }}</th>
                <th>{{ sylius_resource_sort('street') }}</th>
                <th>{{ sylius_resource_sort('postcode') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr id="{{ address.id }}">
                <td>{{ address.id }}</td>
                <td>{{ address.firstname }}</td>
                <td>{{ address.lastname }}</td>
                <td>{{ address.country }}</td>
                <td>{{ address.province|default('---') }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.street }}</td>
                <td>{{ address.postcode }}</td>
                <td>
                    <div class="btn-group pull-right">
                        {{ buttons.show(path('sylius_address_show', {'id': address.id})) }}
                        {{ buttons.edit(path('sylius_address_update', {'id': address.id})) }}
                        {{ buttons.delete(path('sylius_address_delete', {'id': address.id})) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info">
        <h4 class="alert-heading">Information</h4>
        Your address book is empty
    </div>
{% endif %}

{% endmacro %}
