{% extends 'SyliusAddressingBundle::layout.html.twig' %}

{% block sylius_addressing_header %}
    <h1>Address details <small>{{ address.fullName }}</small></h1>
{% endblock %}

{% block sylius_addressing_content %}
<div class="well well-small">
    <a href="{{ path('sylius_addressing_address_update', {'id': address.id}) }}" class="btn">
        <i class="icon-pencil icon-white"></i> edit
    </a>
    <a href="{{ path('sylius_addressing_address_delete', {'id': address.id}) }}" class="btn btn-danger">
        <i class="icon-trash icon-white"></i>
    </a>
    <a href="{{ path('sylius_addressing_address_create') }}" class="btn btn-primary">
        <i class="icon-plus icon-white"></i> new address
    </a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#{{ address.id }} for "{{ address.fullName }}"</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <address class="code">
                    <hr>
                    <strong>{{ address.fullName}}</strong> <br />
                    {{ address.street }}, <br />
                    {{ address.city }} {{ address.postcode }}<br />
                    {{ address.country }} {% if address.province is not empty %} {{ address.province }} {% endif %} <br />
                </address>
            </td>
        <tr>
    </tbody>
</table>
{% endblock %}
