{%- macro label(state) -%}
    {% if state == constant('Sylius\\Component\\Order\\Model\\OrderInterface::STATE_NEW') %}
    <span class="badge bg-blue-lt" {{ sylius_test_html_attribute('order-state') }}>
        {{ 'sylius.ui.new'|trans }}
    </span>
    {% elseif state == constant('Sylius\\Component\\Order\\Model\\OrderInterface::STATE_FULFILLED') %}
    <span class="badge bg-green-lt" {{ sylius_test_html_attribute('order-state') }}>
        {{ 'sylius.ui.fulfilled'|trans }}
    </span>
    {% elseif state == constant('Sylius\\Component\\Order\\Model\\OrderInterface::STATE_CANCELLED') %}
    <span class="badge bg-orange-lt" {{ sylius_test_html_attribute('order-state') }}>
        {{ 'sylius.ui.cancelled'|trans }}
    </span>
    {% else %}
    <span class="badge" {{ sylius_test_html_attribute('order-state') }}>
        {{ state|title }}
    </span>
    {% endif %}
{%- endmacro -%}
