{% import '@SyliusAdmin/shared/helper/money.html.twig' as money %}

{% set order = hookable_metadata.context.resource %}

{% set order_promotion_adjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::ORDER_PROMOTION_ADJUSTMENT') %}
{% set unit_promotion_adjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::ORDER_UNIT_PROMOTION_ADJUSTMENT') %}

{% set order_promotion_adjustments = sylius_aggregate_adjustments(order.getAdjustmentsRecursively(order_promotion_adjustment)) %}
{% set unit_promotion_adjustments = sylius_aggregate_adjustments(order.getAdjustmentsRecursively(unit_promotion_adjustment)) %}
{% set promotion_adjustments = order_promotion_adjustments|merge(unit_promotion_adjustments) %}
{% set total_adjustments = promotion_adjustments|reduce((carry, v) => carry + v) %}

<tr>
    <td>
        <div class="d-md-flex justify-content-between">
            <div><strong>{{ 'sylius.ui.promotion_total'|trans }}:</strong></div>
            <div class="text-muted text-md-end">
                {% for label, amount in promotion_adjustments  %}
                    <div {{ sylius_test_html_attribute('promotion', label) }}>
                        {{ label }}: <span {{ sylius_test_html_attribute('discount') }}>{{ money.format(amount, order.currencyCode) }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </td>
    <td class="text-end" {{ sylius_test_html_attribute('promotion-total') }}>
        {% if total_adjustments == 0 %}
            <p>{{ 'sylius.ui.no_promotion'|trans }}</p>
        {% else %}
            {{ money.format(total_adjustments, order.currencyCode) }}
        {% endif %}
    </td>
</tr>
