{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}

{% block content %}

    <h4>{{ 'sylius.ui.welcome_to_your_space'|trans }}</h4>
    <br>

    <div class="row">
        <div class="col-md-7">{{ 'sylius.ui.enjoy_all_the_features_that_are_available_on_your_personal_space_to_view_track_and_manage_all_your_data'|trans }} </div>
        <div class="col-md-5">
            <strong>{{ customer.lastName|upper }} {{ customer.firstName }}</strong><br><br>
            {{ 'sylius.ui.customer_id'|trans }} {{ app.user.id }} <br>
            {{ 'sylius.ui.email'|trans }} {{ customer.email }}<br>
            {{ 'sylius.ui.you_are_customer_since'|trans }} {{ app.user.createdAt|date() }}
        </div>
    </div>

{% endblock %}
