{% from 'SyliusWebBundle:Frontend/Macros:actions.html.twig' import update %}
{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}

{% block content %}
    <h4>{{ 'sylius.ui.edit_your_personal_information'|trans }}</h4>
    <br>

    <form action="{{ path('sylius_account_profile_update') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
        <fieldset>
            {{ form_widget(form) }}
        </fieldset>
        {{ form_rest(form) }}
        {{ update() }}
    </form>

{% endblock %}
