<div {{ sylius_test_html_attribute('payment-item') }}>
    <div {{ sylius_test_html_attribute('payment-method-checkbox') }}>
        {{ form_widget(form, sylius_test_form_attribute('payment-method-select')) }}
    </div>
    <div>
        <div data-test-payment-method-label-wrapper>
            {{ form_label(form, null, {'label_attr': {'data-test-payment-method-label': ''}}) }}
        </div>

        {% if method.description is not null %}
            <div>{{ method.description }}</div>
        {% endif %}
    </div>
</div>
