{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}


{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.assortment'|trans }}</li>
    <li><a href="{{ path('sylius_backend_product_archetype_index') }}">{{ 'sylius.ui.archetypes'|trans }}</a></li>
    <li>{{ 'sylius.ui.build'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.ui.building_product_from_archetype'|trans|raw }}</h1>
</div>

<form action="{{ path('sylius_backend_product_archetype_build', {'id': product_archetype.id}) }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
    {% include 'SyliusWebBundle:Backend/Product:_form.html.twig' %}
    <div class="form-actions">
        <input type="submit" value="{{ 'sylius.ui.create'|trans }}" class="btn btn-primary btn-lg" />
        <a href="{{ path('sylius_backend_product_archetype_index') }}" class="btn btn-lg">{{ 'sylius.ui.cancel'|trans }}</a>
    </div>
</form>
{% endblock %}
