{% macro list(product_archetypes) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if product_archetypes|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('code', 'sylius.ui.code'|trans) }}</th>
            <th>{{ 'sylius.ui.name'|trans }}</th>
            <th>{{ 'sylius.ui.parent'|trans }}</th>
            <th>{{ 'sylius.ui.options'|trans }}</th>
            <th>{{ 'sylius.ui.attributes'|trans }}</th>
            <th>{{ sylius_resource_sort('updatedAt', 'sylius.ui.last_update'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    {% for archetype in product_archetypes %}
        <tr id="{{ archetype.id }}">
            <td><strong>{{ archetype.code }}</strong</td>
            <td>{{ archetype.name }}</td>
            <td>{{ archetype.parent ? archetype.parent.name }}</td>
            <td>
                <ul>
                    {% for option in archetype.options %}
                    <li>{{ option.name }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for attribute in archetype.attributes %}
                    <li>{{ attribute.name }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ archetype.updatedAt|date }}</td>
            <td>
                <div class="pull-right">
                {{ buttons.generic(path('sylius_backend_product_archetype_code_product_index', {'code': archetype.code}), 'sylius.ui.browse_products'|trans) }}
                {{ buttons.create(path('sylius_backend_product_create_from_archetype', {'archetype': archetype.code}), 'sylius.ui.create_product'|trans) }}
                {{ buttons.delete(path('sylius_backend_product_archetype_delete', {'id': archetype.id})) }}
                {{ buttons.edit(path('sylius_backend_product_archetype_update', {'id': archetype.id})) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.ui.there_are_no_archetypes_defined'|trans) }}
{% endif %}

{% endmacro %}
