{% import "@SyliusShop/Shared/macro/money.html.twig" as money %}

<div>
    <h1>{{ 'sylius.ui.summary_of_your_order'|trans }} #{{ order.number }}</h1>
    <div>
        {{ order.checkoutCompletedAt|date }}
        {{ money.convertAndFormat(order.total) }}
        {{ order.totalQuantity }} {{ 'sylius.ui.items'|trans|lower }}
    </div>
</div>
