{{ form_start(form, {'action': path('sylius_shop_payment_method_update', {'paymentId': payment.id}), 'attr': {'novalidate': 'novalidate'}}) }}
<input type="hidden" name="_method" value="PUT" />
<div class="ui segment">
    <div class="sub header">{{ 'sylius.ui.change_payment_method'|trans }}</div>
    <div class="ui fluid stackable items">
        {{ form_errors(form) }}
        {% for payment_method_choice in form.method.children %}
            <div class="item">
                <div class="field">
                    <div class="ui radio checkbox">
                        {{ form_widget(payment_method_choice) }}
                    </div>
                </div>
                {{ form_label(payment_method_choice) }}
            </div>
        {% endfor %}
        <button type="submit" class="ui right floated button" id="sylius-pay-link"> {{ 'sylius.ui.pay'|trans }} </button>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
