{{ form_start(form, {'action': path('sylius_shop_order_payment_method_update', {'orderId': order.id}), 'attr': {'novalidate': 'novalidate'}}) }}
<input type="hidden" name="_method" value="PUT" />
<div class="ui segment">
    <div class="sub header">{{ 'sylius.ui.change_payment_method'|trans }}</div>
    <div class="ui fluid stackable items">
        {% set payment_form = form.payments[order.payments|length -1] %}
        {{ form_errors(payment_form.method) }}
        {% for payment_method_choice in payment_form.method %}
            <div class="item">
                <div class="field">
                    <div class="ui radio checkbox">
                        {{ form_widget(payment_method_choice) }}
                    </div>
                </div>
                {{ form_label(payment_method_choice) }}
            </div>
        {% endfor %}
        <button type="submit" class="ui right floated button"> {{ 'sylius.ui.save'|trans }} </button>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
