{{ form_start(form, {'action': path('sylius_shop_order_payment_method_update', {'orderId': order.id}), 'attr': {'novalidate': 'novalidate'}}) }}
<input type="hidden" name="_method" value="PUT" />
<div class="sub header">{{ 'sylius.ui.change_payment_method'|trans }}</div>
{% set payment_form = form.payments|last %}
{{ form_errors(payment_form.method) }}
<div class="ui form">
    <div class="grouped fields">
        {% for payment_method_choice in payment_form.method %}
            <div class="field">
                <div class="ui radio checkbox">
                    {{ form_widget(payment_method_choice) }}
                    <label>{{ payment_method_choice.vars.label }}</label>
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="ui right floated button"> {{ 'sylius.ui.save'|trans }} </button>
    </div>
</div>
{{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
