{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}{{ 'sylius.ui.thank_you'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-4 mb-5">
            <div class="d-flex flex-column gap-4 col-12 col-md-6">
                {% set lastPayment = order.payments.last() %}
                <div class="d-flex flex-column">
                    <h1 class="h2" {{ sylius_test_html_attribute('thank-you') }}>{{ 'sylius.ui.thank_you'|trans }}</h1>
                    {{ 'sylius.ui.placed_an_order'|trans }}
                </div>

                {% if lastPayment != false %}
                    {%  if lastPayment.method.instructions is not null %}
                        <div class="d-flex" {{ sylius_test_html_attribute('payment-method-instructions') }}>
                            {{ lastPayment.method.instructions }}
                        </div>
                    {% endif %}
                {% endif %}

                <div class="d-flex flex-column flex-xl-row justify-content-center gap-2">
                    {% if order.customer.user is not null %}
                        <a href="{{ path('sylius_shop_account_order_show', {'number': order.number}) }}" class="btn btn-primary" {{ sylius_test_html_attribute('show-order-in-account') }}>
                            {{ 'sylius.ui.view_order'|trans }}
                        </a>
                    {% else %}
                        <a href="{{ path('sylius_shop_order_show', {'tokenValue': order.tokenValue}) }}" class="btn btn-primary" {{ sylius_test_html_attribute('payment-method-page') }}>
                            {{ 'sylius.ui.change_payment_method'|trans }}
                        </a>
                        <a href="{{ path('sylius_shop_register_after_checkout', {'tokenValue': order.tokenValue}) }}" class="btn btn-secondary" {{ sylius_test_html_attribute('create-an-account') }}>
                            {{ 'sylius.ui.create_an_account'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
