{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.sales'|trans }}</li>
    <li><a href="{{ path('sylius_backend_payment_index') }}">{{ 'sylius.breadcrumb.payment.index'|trans }}</a></li>
    <li>{{ payment.method.name }} - {{ payment.amount|sylius_money }}</li>
    <li>{{ 'sylius.breadcrumb.history'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('payment.history', 'calendar', 'SyliusWebBundle:Backend/Payment/Actions:_history.html.twig', {'payment': payment}) }}
{% include "SyliusUiBundle::_history.html.twig" %}
{% endblock %}
