{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/Payment:macros.html.twig' import list %}
{% import 'SyliusUiBundle::page.html.twig' as page %}
{% import 'SyliusUiBundle::pagination.html.twig' as pagination %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.sales'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.payment.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('payment.index', 'credit-card', 'SyliusWebBundle:Backend/Payment/Actions:_index.html.twig') }}

{{ pagination.standard(payments) }}
{{ list(payments) }}
{{ pagination.standard(payments) }}
{% endblock %}
