{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Payment:macros.html.twig' import list %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.payment.index_header'|trans|raw }}</h1>
</div>

<div class="well well-small">
    {{ buttons.create(path('sylius_backend_payment_create'), 'sylius.payment.create'|trans) }}
</div>

{{ pagination(payments) }}
{{ list(payments) }}
{{ pagination(payments) }}

{% endblock %}
