{% macro list(payments) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% if payments|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('order', 'sylius.ui.order'|trans) }}</th>
            <th>{{ sylius_resource_sort('method_translation.name', 'sylius.ui.method'|trans) }}</th>
            <th>{{ 'sylius.ui.bill_to'|trans }}</th>
            <th>{{ sylius_resource_sort('amount', 'sylius.ui.amount'|trans) }}</th>
            <th>{{ sylius_resource_sort('state', 'sylius.ui.state'|trans) }}</th>
            <th>{{ sylius_resource_sort('createdAt', 'sylius.ui.created_at'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for payment in payments %}
        {% set order = payment.order %}
        {% set address = order.billingAddress %}

        <tr id="{{ payment.id }}">
            <td>
                <a href="{{ path('sylius_backend_order_show', {'id': order.id}) }}" class="btn btn-primary btn-sm">
                   #{{ order.number }}
                </a>
            </td>
            <td>{{ payment.method.name }}</td>
            <td>{{ address.firstname }} {{ address.lastname }} ({{ address.city }}, {{ address.countryCode|sylius_country_name }})</td>
            <td class="center-text">
                {{ payment.amount|sylius_price(payment.currency) }}
            </td>
            <td>{{ misc.state_label(payment.state, 'payment') }}</td>
            <td>{{ payment.createdAt|date }}</td>
            <td>
                <div class="pull-right">
                    {{ buttons.edit(path('sylius_backend_payment_update', {'id': payment.id})) }}
                    <a href="{{ path('sylius_backend_payment_history', {'id': payment.id}) }}" class="btn btn-info">
                        <i class="glyphicon glyphicon-calendar"></i>
                         {{ 'sylius.history'|trans }}
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.ui.there_are_no_payments_configured'|trans) }}
{% endif %}

{% endmacro %}
