{# Rendered with \Sylius\Bundle\ShopBundle\Twig\Component\Checkout\Address\AddressBookComponent #}

{% if addresses is not empty %}
    <div {{ attributes }} class="my-3">
        <div>
            <select class="form-control" data-model="addressId" {{ sylius_test_html_attribute('address-book') }}>
                <option value="" selected hidden>{{ 'sylius.ui.select_address_from_book'|trans }}</option>
                {% for address in addresses %}
                    <option value="{{ address.id }}">
                        {{ address.fullName }},{{ address.street }}, {{ address.city }} {{ address.postcode }}, {{ address.countryCode|sylius_country_name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endif %}
