<tr class="variants-accordion__title item-{{ loop.index	}}">
    <td class="center aligned">
        <button class="ui basic icon button" style="box-shadow: none">
            <i class="counterclockwise rotated dropdown icon"></i>
        </button>
    </td>
    <td>
        <div class="ui items">
            <div class="item">
                <div class="ui tiny image">
                    {% if variant.hasImages %}
                        {% include '@SyliusAdmin/Product/_mainImage.html.twig' with {'product': variant, 'filter': 'sylius_admin_product_large_thumbnail'} %}
                    {% else %}
                        {% include '@SyliusAdmin/Product/_mainImage.html.twig' with {'product': product, 'filter': 'sylius_admin_product_large_thumbnail'} %}
                    {% endif %}
                </div>
                <div class="middle aligned content">
                    <div><strong class="variant-name">{{ variant.product.name }}</strong></div>
                    <small class="gray text variant-code">{{ variant.code }}</small>
                </div>
            </div>
        </div>
    </td>
    <td>
        {% for optionValue in variant.optionValues|sort((a, b) => a.option.position <=> b.option.position) %}
            <div><span class="gray text">{{ optionValue.option.name }}:</span> {{ optionValue.value }}</div>
        {% endfor %}
    </td>
    <td>
        {% if variant.tracked %}
            <span class="ui teal label"><i class="checkmark icon"></i>{{ 'sylius.ui.tracked'|trans }}</span>
        {% else %}
            <span class="ui red label"><i class="remove icon"></i>{{ 'sylius.ui.not_tracked'|trans }}</span>
        {% endif %}
    </td>
    <td>
        {% if variant.shippingRequired %}
            <span class="ui teal label"><i class="checkmark icon"></i>{{ 'sylius.ui.shipping_required'|trans }}</span>
        {% else %}
            <span class="ui orange label"><i class="remove icon"></i>{{ 'sylius.ui.shipping_not_required'|trans }}</span>
        {% endif %}
    </td>
    <td>
        {% if variant.taxCategory %}
            {{ variant.taxCategory }}
        {% else %}
            <div class="gray text">-</div>
        {% endif %}
    </td>
    <td class="current-stock">{{ variant.onHand }}</td>
    <td>
        <a class="ui labeled icon button edit-variant" style="padding-right: 15px;" href= {{path('sylius_admin_product_variant_update', {'productId' : variant.product.id, 'id' : variant.id}) }}>
            <i class="edit icon"></i>
            {{ 'sylius.ui.edit'|trans }}
        </a>
    </td>
</tr>
