{% import "@SyliusAdmin/Common/Macro/money.html.twig" as money %}

<div id="variants">
    <h4 class="ui top attached large header">{{ 'sylius.ui.list_variants'|trans }}</h4>
    <div class="ui attached spaceless segment">
        <table class="ui very basic table" style="padding-top: 20px">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ 'sylius.ui.name'|trans }}</th>
                    <th>{{ 'sylius.ui.options'|trans }}</th>
                    <th>{{ 'sylius.ui.tracked'|trans }}</th>
                    <th>{{ 'sylius.ui.shipping_required'|trans }}</th>
                    <th>{{ 'sylius.ui.tax_category'|trans }}</th>
                    <th style="padding-right: 15px;">{{ 'sylius.ui.current_stock'|trans }}</th>
                </tr>
            </thead>
            <tbody class="variants-accordion">
                {% for variant in product.variants %}
                    <tr class="variants-accordion__title item-{{ loop.index	}}">
                        <td class="center aligned">
                            <button class="ui basic icon button" style="box-shadow: none">
                                <i class="counterclockwise rotated dropdown icon"></i>
                            </button>
                        </td>
                        <td>
                            <div class="ui items">
                                <div class="item">
                                    <div class="ui tiny image">
                                        {% if variant.hasImages %}
                                            {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': variant, 'filter': 'sylius_shop_product_large_thumbnail'} %}
                                        {% else %}
                                            {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'filter': 'sylius_shop_product_large_thumbnail'} %}
                                        {% endif %}
                                    </div>
                                    <div class="middle aligned content">
                                        <div><strong class="variant-name">{{ variant.product.name }}</strong></div>
                                        <small class="gray text variant-code">{{ variant.code }}</small>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            {% for optionValue in variant.optionValues %}
                                <div><span class="gray text">{{ optionValue.option.name }}:</span> {{ optionValue.value }}</div>
                            {% endfor %}
                        </td>
                        <td>
                            {% if variant.tracked %}
                                <span class="ui teal label"><i class="checkmark icon"></i>{{ 'sylius.ui.tracked'|trans }}</span>
                            {% else %}
                                <span class="ui red label"><i class="remove icon"></i>{{ 'sylius.ui.not_tracked'|trans }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if variant.shippingRequired %}
                                <span class="ui teal label"><i class="checkmark icon"></i>{{ 'sylius.ui.shipping_required'|trans }}</span>
                            {% else %}
                                <span class="ui orange label"><i class="remove icon"></i>{{ 'sylius.ui.shipping_not_required'|trans }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if variant.taxCategory %}
                                {{ variant.taxCategory }}
                            {% else %}
                                <div class="gray text">-</div>
                            {% endif %}
                        </td>
                        <td class="current-stock" style="padding-right: 15px;">
                            {{ variant.onHand - variant.onHold }}
                        </td>
                    </tr>
                    <tr class="variants-accordion__content item-{{ loop.index }}" style="display: none; background: rgba(0,0,0,.04);">
                        <td colspan="7" style="padding: 20px">
                            <div class="ui grid">
                                <div class="doubling two column row">
                                    <div class="column">
                                        <div class="ui segment">
                                            <div class="ui small header">
                                                {{ 'sylius.ui.shipping'|trans }}
                                            </div>
                                            {% if variant.shippingCategory is same as(null) and variant.width is same as(null) and variant.height is same as(null) and variant.depth is same as(null) and variant.weight is same as(null) %}
                                                <div class="ui teal message">
                                                    <p>{{ 'sylius.ui.no_shipping_data'|trans }}</p>
                                                </div>
                                            {% else %}
                                                <table class="ui very basic celled table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="five wide gray text"><strong>{{ 'sylius.ui.shipping_category'|trans }}</strong></td>
                                                            <td>{{ variant.shippingCategory }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="five wide gray text"><strong>{{ 'sylius.ui.width'|trans }}</strong></td>
                                                            <td>{{ variant.width }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="five wide gray text"><strong>{{ 'sylius.ui.height'|trans }}</strong></td>
                                                            <td>{{ variant.height }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="five wide gray text"><strong>{{ 'sylius.ui.depth'|trans }}</strong></td>
                                                            <td>{{ variant.depth }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="five wide gray text"><strong>{{ 'sylius.ui.weight'|trans }}</strong></td>
                                                            <td>{{ variant.weight }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="ui segment">
                                            <div class="ui small header">
                                                {{ 'sylius.ui.pricing'|trans }}
                                            </div>
                                            <table class="ui very basic celled table">
                                                <tbody>
                                                    <tr>
                                                        <td class="gray text"><strong>{{ 'sylius.ui.channels'|trans }}</strong></td>
                                                        <td class="gray text"><strong>{{ 'sylius.ui.price'|trans }}</strong></td>
                                                        <td class="gray text"><strong>{{ 'sylius.ui.original_price'|trans }}</strong></td>
                                                    </tr>
                                                    {% set currencies = sylius_channels_currencies() %}
                                                    {% for channelPricing in variant.channelPricings %}
                                                        <tr class="pricing">
                                                            <td class="five wide gray text">
                                                                <strong>{{ channelPricing.channelCode }}</strong>
                                                            </td>
                                                            {% set channelCode = channelPricing.channelCode %}
                                                            <td>{{ money.format(channelPricing.price, currencies[channelCode]) }}</td>
                                                            {% if channelPricing.originalPrice != null %}
                                                                <td>{{ money.format(channelPricing.originalPrice, currencies[channelCode]) }}</td>
                                                            {% else %}
                                                                <td><span class="gray text">-</span></td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
