{% macro list(taxonomy, taxons) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% if taxons|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{ _self.tree(taxonomy, taxons) }}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">Information</h4>
    {{ 'sylius.taxon.no_taxons'|trans }}
</div>
{% endif %}

{% endmacro %}

{% macro tree(taxonomy, taxons) %}

{% for taxon in taxons %}
<tr>
    <td>
        {% for i in 1..taxon.level %}<i class="icon-caret-right"></i>{% if not loop.last %}&nbsp;{% endif %}{% endfor %}
        {{ taxon.name }}
    </td>
    <td>
        <div class="pull-right">
            {{ buttons.edit(path('sylius_taxon_update', {'taxonomyId': taxonomy.id, 'id': taxon.id})) }}
            {{ buttons.delete(path('sylius_taxon_delete', {'taxonomyId': taxonomy.id, 'id': taxon.id})) }}
        </div>
    </td>
</tr>
{% if taxon.children|length > 0 %}
    {{ _self.tree(taxonomy, taxon.children) }}
{% endif %}
{% endfor %}
{% endmacro %}
