{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.contact'|trans }}</h1>
</div>

<form action="{{ path('sylius_contact') }}" method="post" class="form-horizontal" novalidate>
    {{ form_errors(form) }}

    {{ form_row(form.topic) }}
    {{ form_row(form.customer.firstName) }}
    {{ form_row(form.customer.lastName) }}
    {{ form_row(form.customer.email) }}
    {{ form_row(form.message) }}

    <input type="submit" value="{{ 'sylius.send'|trans }}" class="btn btn-primary" />

    {{ form_row(form._token) }}
</form>
{% endblock %}
