<!DOCTYPE html>
{% set settings = sylius_settings_all('general') %}
<html>
    <head>
        <title>
            {% block title %}
                {{ settings.title|default('sylius.meta.frontend_title'|trans) }}
            {% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="description" content="{{ settings.meta_description|default('sylius.meta.frontend_description'|trans) }}">
        <meta name="keywords" content="{{ settings.meta_keywords|default('sylius.meta.frontend_keywords'|trans) }}">

        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>

        {# stylesheets... #}
        {% block stylesheets %}
        {% stylesheets output='assets/compiled/frontend.css' filter='cssrewrite'
            '//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css'
            '//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'
            '@SyliusWebBundle/Resources/assets/css/frontend.css'
            '@SyliusWebBundle/Resources/assets/css/blueimp-gallery.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        {% endblock %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
        {% block header %}
            <div class="masthead pull-right">
                {{ knp_menu_render('sylius.frontend.main', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
            </div>
            <div class="currency-menu masthead pull-right">
                {{ knp_menu_render('sylius.frontend.currency', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
            </div>
            <h1 class="logo"><a href="{{ path('sylius_homepage') }}" title="{{ 'sylius.logo'|trans }}"><span>{{ 'sylius.logo'|trans }}</span></a></h1>
        {% endblock %}

        {% block flashes %}
            {% for name, flashes in app.session.flashbag.all if name in ['success', 'error', 'fos_user_success'] %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ name == 'fos_user_success' ? 'success' : name }}">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                        {{ flash|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}

        {% block main %}
        <hr>
        <div class="row">
            <div class="col-md-3" id="sidebar">
                {% block sidebar %}
                <h4>{{ 'sylius.shop_by'|trans }}</h4><br>
                {{ knp_menu_render('sylius.frontend.taxonomies', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
                {{ render(url('sylius_partial_product_latest', {'limit': 5, 'template': 'SyliusWebBundle:Frontend/Product:latestSidebar.html.twig'})) }}
                {% endblock %}
            </div>
            <div class="col-md-9">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <hr>
        {% endblock %}

        {% block gallery %}
        {# Gallery modal #}
        {% include 'SyliusWebBundle::gallery.html.twig' %}
        {% endblock %}

        {# Confirmation modal #}
        {% include 'SyliusWebBundle::confirm-modal.html.twig' %}

        {% block footer %}
            <div class="footer">
                <p class="text-muted">
                    &copy; Sylius, 2011 - {{ 'now'|date('Y') }}.
                </p>
                {{ knp_menu_render('sylius.frontend.social', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
            </div>
        {% endblock %}
        </div>

        {# javascripts... #}
        {% block javascripts %}
        {% javascripts output='assets/compiled/frontend.js'
            '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'
            '//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js'
            '@SyliusWebBundle/Resources/assets/js/jquery.blueimp-gallery.min.js'
            '@SyliusWebBundle/Resources/assets/js/confirm-modal.js'
            '@SyliusWebBundle/Resources/assets/js/frontend.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    </body>
</html>
