<!DOCTYPE html>

{% set settings = sylius_settings_all('general') %}

<html>
    <head>
        <title>
            {% block title %}
                {{ settings.title|default('sylius.meta.frontend_title'|trans) }}
            {% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="description" content="{{ settings.meta_description|default('sylius.meta.frontend_description'|trans) }}">
        <meta name="keywords" content="{{ settings.meta_keywords|default('sylius.meta.frontend_keywords'|trans) }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            {% javascripts '@SyliusWebBundle/Resources/assets/js/html5.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        <![endif]-->

        {# stylesheets... #}
        {% block stylesheets %}
        {% stylesheets output='assets/compiled/frontend.css' filter='cssrewrite'
            '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
            '@MopaBootstrapBundle/Resources/public/less/eyecon-bootstrap-datepicker.less'
            '@SyliusWebBundle/Resources/assets/css/font-awesome.css'
            '@SyliusWebBundle/Resources/assets/css/frontend.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
        {% block header %}
            <div class="masthead pull-right">
                {{ knp_menu_render('sylius.frontend.main', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
            </div>
            <h1 class="logo"><a href="{{ path('sylius_homepage') }}" title="{{ 'sylius.logo'|trans }}"><img src="{{ asset('assets/img/logo.png') }}" alt="Sylius" style=""><span>{{ 'sylius.logo'|trans }}</span></a></h1>
        {% endblock %}

        {% for name, flashes in app.session.flashbag.all if name in ['success', 'error'] %}
            {% for flash in flashes %}
                <div class="alert alert-{{ name }}">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    {{ flash|trans }}
                </div>
            {% endfor %}
        {% endfor %}

        <hr>
        <div id="sidebar_left" class="row-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <h4>{{ 'sylius.shop_by'|trans }}</h4>
                    {{ knp_menu_render('sylius.frontend.taxonomies', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
                    {{ render(url('sylius_partial_product_latest', {'limit': 5, 'template': 'SyliusWebBundle:Frontend/Product:latestSidebar.html.twig'})) }}
                </div>
                <div class="span9">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <hr>

        {% block footer %}
            <div class="footer">
                <p class="muted">
                    &copy; Sylius, 2011 - {{ 'now'|date('Y') }}.
                </p>
                {{ knp_menu_render('sylius.frontend.social', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
            </div>
        {% endblock %}
        </div>

        {# javascripts... #}
        {% block javascripts %}
        {% javascripts output='assets/compiled/frontend.js'
            '@SyliusWebBundle/Resources/assets/js/jquery.min.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
            '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
            '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
            '@MopaBootstrapBundle/Resources/public/js/eyecon-bootstrap-datepicker.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    </body>
</html>
