<!DOCTYPE html>
{% set settings = sylius_settings_all('general') %}
<html>
    <head>
        <title>
            {% block title %}
                {{ settings.title|default('sylius.meta.frontend_title'|trans) }}
            {% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="description" content="{{ settings.meta_description|default('sylius.meta.frontend_description'|trans) }}">
        <meta name="keywords" content="{{ settings.meta_keywords|default('sylius.meta.frontend_keywords'|trans) }}">

        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700|Droid+Serif' rel='stylesheet' type='text/css'>

        {# stylesheets... #}
        {% block stylesheets %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" type="text/css" />
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" type="text/css" />
            {% stylesheets output='assets/compiled/frontend.css' filter='cssrewrite'
                '@SyliusWebBundle/Resources/assets/css/frontend.css'
                '@SyliusWebBundle/Resources/assets/css/blueimp-gallery.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container" id="main-container">
        {% block topbar %}
            <div class="row row-topbar">
                <div class="col-md-4">
                    {% block security %}
                    {% include 'SyliusWebBundle:Frontend:_security.html.twig' %}
                    {% endblock %}
                </div>
                <div class="col-md-8">
                    {% block search %}
                    {% include 'SyliusWebBundle:Frontend:_search.html.twig' %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block header %}
            <div class="row row-header">
                <div class="col-md-4">
                    <h1 class="logo"><a href="{{ path('sylius_homepage') }}" title="Your store"><span>Your store</span></a></h1>
                </div>
                <div class="col-md-8">
                    {% include 'SyliusWebBundle:Frontend:_cart.html.twig' %}
                </div>
            </div>
        {% endblock %}

        {% block menu %}
            <div class="row row-menu">
                <div class="col-md-12">
                    {% include 'SyliusWebBundle:Frontend:_menu.html.twig' %}
                </div>
            </div>
        {% endblock %}

        {% block flashes %}
            {% include 'SyliusWebBundle:Frontend:_flashes.html.twig' %}
        {% endblock %}

        {% block main %}
        <div class="row row-main">
            <div class="col-md-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% endblock %}

        {% include 'SyliusWebBundle::confirm-modal.html.twig' %}

        {% block footer %}
            {% include 'SyliusWebBundle:Frontend:_footer.html.twig' %}
        {% endblock %}
        </div>

        {% block gallery %}
        {% include 'SyliusWebBundle::gallery.html.twig' %}
        {% endblock %}

        {# javascripts... #}
        {% block javascripts %}
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
        {% javascripts output='assets/compiled/frontend.js'
            '@SyliusWebBundle/Resources/assets/js/jquery.blueimp-gallery.min.js'
            '@SyliusWebBundle/Resources/assets/js/confirm-modal.js'
            '@SyliusWebBundle/Resources/assets/js/frontend.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    </body>
</html>
