<!DOCTYPE html>
{% set settings = sylius_settings('sylius_general') %}
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <title>
                {% block title %}
                    {{ settings.title|default('sylius.meta.frontend_title'|trans) }}
                {% endblock %}
            </title>
            <meta name="description" content="{{ settings.meta_description|default('sylius.meta.frontend_description'|trans) }}">
            <meta name="keywords" content="{{ settings.meta_keywords|default('sylius.meta.frontend_keywords'|trans) }}">
        {% endblock %}

        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        {# stylesheets... #}
        {% block stylesheets %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" type="text/css" />
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" type="text/css" />
            {% stylesheets output='assets/compiled/frontend.css' filter='cssrewrite'
                'bundles/syliusweb/css/frontend.css'
                'bundles/syliusweb/css/blueimp-gallery.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
            {% if is_granted('ROLE_ADMINISTRATION_ACCESS') %}
                {% include "CmfCreateBundle::includecssfiles.html.twig" %}
            {% endif %}
        {% endblock %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body {% if is_granted('ROLE_ADMINISTRATION_ACCESS') %}class="toolbar-padding"{% endif %}>
    {% if settings.tracking_code %}
        {{ settings.tracking_code|raw }}
    {% endif %}
        {# javascripts... #}
        {% block javascripts %}
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
            {% javascripts output='assets/compiled/frontend.js'
                'bundles/syliusweb/js/jquery.blueimp-gallery.min.js'
                'bundles/syliusweb/js/confirm-modal.js'
                'bundles/syliusweb/js/frontend.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    <div class="container">
        {% block header %}
            <div class="masthead pull-right">
                {{ knp_menu_render('sylius.frontend.main', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
            </div>
            <div class="locale-menu masthead pull-right">
                {{ knp_menu_render('sylius.frontend.locale', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
            </div>
            <div class="currency-menu masthead pull-right">
                {{ knp_menu_render('sylius.frontend.currency', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
            </div>
            <h1 class="logo"><a href="{{ path('sylius_homepage') }}" title="{{ 'sylius.ui.sylius_logo'|trans }}"><span>{{ 'sylius.ui.sylius_logo'|trans }}</span></a></h1>
        {% endblock %}

        {% block flashes %}
            <div id="flashes-container">
            {% for type in ['success', 'error', 'notice'] %}
                {% for flash in app.session.flashbag.get(type) %}
                    <div class="alert alert-{{ type == 'error' ? 'danger' : type == 'notice' ? 'warning' : type }}">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                        {{ flash|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
            </div>
        {% endblock %}

        {% block main %}
        <hr>
        {% block slideshow_full %}{% endblock %}
        <div class="row">
            <div class="col-md-3" id="sidebar">
                {% block sidebar %}
                <div class="pull-left" style="margin-bottom: 10px;">
                    {% render controller('sylius.controller.search:formAction', {'request':app.request}) %}
                </div>
                <h4>{{ 'sylius.ui.shop_by'|trans }}</h4><br>
                {% include 'SyliusSearchBundle::filter_form.html.twig' %}<br>

                {{ knp_menu_render('sylius.frontend.taxons', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
                {{ render(url('sylius_partial_product_latest', {'limit': 5, 'template': 'SyliusWebBundle:Frontend/Product:latestSidebar.html.twig'})) }}
                {{ sonata_block_render({'name': '/cms/blocks/contact'}) }}
                {{ sonata_block_render({'name': '/cms/blocks/banner'}) }}
                {% block slideshow_sidebar %}{% endblock %}

                {% set links = cmf_children(cmf_find('/cms/pages')) %}
                {% if links is not empty %}
                <h2>{{ 'sylius.ui.links'|trans }}</h2>
                <ul>
                  {% for link in links %}
                  	{% if cmf_is_linkable(link) %}
                        <li>
                          <a href="{{ path(link) }}">{{ link.title|striptags }}</a>
                        </li>
                    {% endif %}
                  {% endfor %}
                </ul>
                {% endif %}
                {% endblock %}
            </div>
            <div class="col-md-9">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <hr>
        <div class="row">
            {% for i in 1..3 %}
                <div class="col-md-4">
                    {{ sonata_block_render({'name': '/cms/blocks/block-' ~ i}) }}
                </div>
            {% endfor %}
        </div>
        <hr>
        {% endblock %}

        {% block gallery %}
            {# Gallery modal #}
            {% include 'SyliusWebBundle::gallery.html.twig' %}
        {% endblock %}

        {# Confirmation modal #}
        {% include 'SyliusWebBundle::confirm-modal.html.twig' %}

        {% block footer %}
            <div class="footer">
                <p class="text-muted">
                    &copy; Sylius, 2011 - {{ 'now'|date('Y') }}.
                </p>
                {{ knp_menu_render('sylius.frontend.social', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
            </div>
        {% endblock %}
        </div>

        {% if is_granted('ROLE_ADMINISTRATION_ACCESS') %}
            {% render(controller(
                "cmf_create.jsloader.controller:includeJSFilesAction",
                {'_locale': app.request.locale, 'editor': 'hallo'}
            )) %}
        {% endif %}
    </body>
</html>
