{% set product = hookable_metadata.context.resource %}

{% if product.isSimple %}
    {% set variantForm = hookable_metadata.context.form.variant %}
    <div class="tab-pane" id="shipping" role="tabpanel" tabindex="0">
        <div class="card mb-3">
            <div class="card-header">
                <h2 id="shipping" class="card-title">{{ 'sylius.ui.shipping'|trans }}</h2>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    {{ form_row(variantForm.shippingCategory) }}
                </div>
                <div class="mb-3">
                    {{ form_row(variantForm.width) }}
                </div>
                <div class="mb-3">
                    {{ form_row(variantForm.height) }}
                </div>
                <div class="mb-3">
                    {{ form_row(variantForm.depth) }}
                </div>
                <div class="mb-3">
                    {{ form_row(variantForm.weight) }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
