<div class="pre-footer">
    <div>
        <div><i class="shipping fast icon"></i></div>
        <strong>{{ 'sylius.footer.banner.free_shipping_title'|trans }}</strong>
        <div>{{ 'sylius.footer.banner.free_shipping_content'|trans }}</div>
    </div>
    <div>
        <div><i class="dollar sign icon"></i></div>
        <strong>{{ 'sylius.footer.banner.multiple_payments_title'|trans }}</strong>
        <div>{{ 'sylius.footer.banner.multiple_payments_content'|trans }}</div>
    </div>
    <div>
        <div><i class="certificate icon"></i></div>
        <strong>{{ 'sylius.footer.banner.guarantee_title'|trans }}</strong>
        <div>{{ 'sylius.footer.banner.guarantee_content'|trans }}</div>
    </div>
</div>
