<div class="four wide column">
    <h4 class="ui inverted header">{{ 'sylius.ui.your_store'|trans }}</h4>
    <div class="ui inverted link list">
        <a href="#" class="item">{{ 'sylius.ui.about'|trans }}</a>
        <a href="#" class="item">{{ 'sylius.ui.terms_and_conditions'|trans }}</a>
        <a href="#" class="item">{{ 'sylius.ui.privacy_policy'|trans }}</a>
        <a href="{{ path('sylius_shop_contact_request') }}" class="item">{{ 'sylius.ui.contact_us'|trans }}</a>
    </div>
</div>
