{% from '@SyliusShop/shared/icon.html.twig' import icon as icon %}

<div class="col-12 text-center col-md-6 order-md-4 text-md-start col-lg-3 order-lg-4 text-lg-center">
    <div class="mb-3 fw-medium">Payment methods:</div>

    <div class="row g-2 mb-4">
        <div class="col-4">
            <a href="https://sylius.com/partner/paypal/" target="_blank" class="d-block border rounded p-2">
                <img class="img-fluid" src="{{ asset('build/shop/images/paypal-logo.svg', 'shop') }}" alt="PayPal" />
            </a>
        </div>
        <div class="col-4">
            <a href="https://sylius.com/partner/adyen/" target="_blank" class="d-block border rounded p-2">
                <img class="img-fluid" src="{{ asset('build/shop/images/adyen-logo.svg', 'shop') }}" alt="Adyen" />
            </a>
        </div>
        <div class="col-4">
            <a href="https://sylius.com/partner/mollie/" target="_blank" class="d-block border rounded p-2">
                <img class="img-fluid" src="{{ asset('build/shop/images/mollie-logo.svg', 'shop') }}" alt="Mollie" />
            </a>
        </div>
    </div>

    <div class="d-flex justify-content-center justify-content-md-start justify-content-lg-center gap-3 mb-5">
        <a class="link-reset" href="#">{{ icon('instagram') }}</a>
        <a class="link-reset" href="#">{{ icon('facebook') }}</a>
        <a class="link-reset" href="#">{{ icon('twitter-x') }}</a>
    </div>
</div>
