
{% macro list(routes) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% if routes|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'sylius.ui.name'|trans }}</th>
                <th>{{ sylius_resource_sort('page', 'sylius.ui.page'|trans) }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for route in routes %}
            <tr id="{{ route.name }}">
                <td><i>{{ route.name }}</i></td>
                <td>
                {% if route.content.title is defined %}
                    {{ route.content.title }}
                {% endif %}
                </td>
                <td>
                    <div class="pull-right">
                        {% if route.content.title is defined %}
                            {{ buttons.show(path('sylius_homepage') ~ route.name, 'sylius.ui.view'|trans ) }}
                        {% endif %}
                        {{ buttons.edit(path('sylius_backend_route_update', {'id': route.id})) }}
                        {{ buttons.delete(path('sylius_backend_route_delete', {'id': route.id})) }}
                   </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
{{ alerts.info('sylius.ui.no_results'|trans) }}
{% endif %}

{% endmacro %}
