{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/TaxRate:macros.html.twig' import list %}
{% import 'SyliusUiBundle::page.html.twig' as page %}
{% import 'SyliusUiBundle::pagination.html.twig' as pagination %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.tax_rate.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('tax_rate.index', 'wrench', 'SyliusWebBundle:Backend/TaxRate/Actions:_index.html.twig') }}

{{ pagination.standard(tax_rates) }}
{{ list(tax_rates) }}
{{ pagination.standard(tax_rates) }}
{% endblock %}
