{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/TaxRate:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.configuration'|trans }}</li>
    <li>{{ 'sylius.ui.tax_rates'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_tax_rate_create'), 'sylius.ui.create_tax_rate'|trans) }}
        {{ buttons.manage(path('sylius_backend_tax_category_index'), 'sylius.ui.manage_tax_categories'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-cog"></i> {{ 'sylius.ui.tax_rates'|trans|raw }}</h1>
</div>


{{ pagination(tax_rates) }}
{{ list(tax_rates) }}
{{ pagination(tax_rates) }}

{% endblock %}
