{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/TaxRate:macros.html.twig' import list %}

{% block content %}
<div class="page-header">
<h1>{{ 'sylius.tax_rate.index_header'|trans|raw }}</h1>
</div>

<div class="well well-small">
    {{ buttons.create(path('sylius_backend_tax_rate_create'), 'sylius.tax_rate.create'|trans) }}
    {{ buttons.manage(path('sylius_backend_tax_category_index'), 'sylius.tax_category.manage'|trans) }}
</div>

{{ pagination(tax_rates) }}
{{ list(tax_rates) }}
{{ pagination(tax_rates) }}
{% endblock %}
