{% macro list(tax_rates) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% if tax_rates|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', '#id') }}</th>
            <th>{{ sylius_resource_sort('category', 'sylius.tax_rate.category'|trans) }}</th>
            <th>{{ sylius_resource_sort('zone', 'sylius.tax_rate.zone'|trans) }}</th>
            <th>{{ sylius_resource_sort('name', 'sylius.tax_rate.name'|trans) }}</th>
            <th>{{ sylius_resource_sort('amount', 'sylius.tax_rate.amount'|trans) }}</th>
            <th>{{ sylius_resource_sort('includedInPrice', 'sylius.tax_rate.included_in_price'|trans) }}</th>
            <th>{{ sylius_resource_sort('calculator', 'sylius.tax_rate.calculator'|trans) }}</th>
            <th>{{ sylius_resource_sort('updatedAt', 'sylius.tax_rate.updated_at'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for tax_rate in tax_rates %}
        <tr id="{{ tax_rate.id }}">
            <td>{{ tax_rate.id }}</td>
            <td>{{ tax_rate.category }}</td>
            <td>{{ tax_rate.zone }}</td>
            <td>{{ tax_rate.name }}</td>
            <td>{{ tax_rate.amountAsPercentage }}%</td>
            <td>
                {{ misc.state_label(tax_rate.includedInPrice) }}
            </td>
            <td><span class="label label-primary">{{ tax_rate.calculator|humanize|upper }}</span></td>
            <td>{{ tax_rate.updatedAt|date }}</td>
            <td>
                <div class="pull-right">
                {{ buttons.show(path('sylius_backend_tax_rate_show', {'id': tax_rate.id})) }}
                {{ buttons.edit(path('sylius_backend_tax_rate_update', {'id': tax_rate.id})) }}
                {{ buttons.delete(path('sylius_backend_tax_rate_delete', {'id': tax_rate.id})) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.tax_rate.no_results'|trans) }}
{% endif %}

{% endmacro %}
