{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}
{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.configuration'|trans }}</li>
    <li><a href="{{ path('sylius_backend_tax_rate_index') }}">{{ 'sylius.ui.tax_rates'|trans }}</a></li>
    <li>{{ tax_rate.name }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
<h1>{{ 'sylius.ui.tax_rate_details'|trans|raw }}</h1>
</div>

<div class="well">
    <a href="{{ path('sylius_backend_tax_rate_index') }}" class="btn btn-primary">
        <i class="glyphicon glyphicon-list-alt"></i> {{ 'sylius.ui.manage_tax_rates'|trans }}
    </a>
    <a href="{{ path('sylius_backend_tax_rate_update', {'id': tax_rate.id}) }}" class="btn">
        <i class="glyphicon glyphicon-pencil"></i> {{ 'sylius.ui.edit'|trans }}
    </a>
    {{ buttons.delete(path('sylius_backend_tax_rate_delete', {'id': tax_rate.id})) }}
</div>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>{{ 'sylius.ui.category'|trans }}</th>
            <th>{{ 'sylius.ui.name'|trans }}</th>
            <th>{{ 'sylius.ui.zone'|trans }}</th>
            <th>{{ 'sylius.ui.amount'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ tax_rate.category }}</td>
            <td>{{ tax_rate.name }}</td>
            <td>{{ tax_rate.zone }}</td>
            <td>{{ tax_rate.amountAsPercentage }}%</td>
        </tr>
    </tbody>
</table>
{% endblock %}
