{% from 'SyliusTaxonomiesBundle:Taxon:macros.html.twig' import list %}

<h1>{{ taxonomy.name }} <small>Taxonomy details</small></h1>
<hr />
<div class="well well-small">
    <a href="{{ path('sylius_taxon_create', {'taxonomyId': taxonomy.id}) }}" class="btn btn-primary">
        <i class="icon-plus-sign"></i> create taxon
    </a>
    <a href="{{ path('sylius_taxonomy_index') }}" class="btn btn-success">
        <i class="icon-pencil"></i> manage taxonomies
    </a>
    <a href="{{ path('sylius_taxonomy_update', {'id': taxonomy.id}) }}" class="btn">
        <i class="icon-pencil"></i> update taxonomy
    </a>
    <form action="{{ path('sylius_taxonomy_delete', {'id': taxonomy.id}) }}" method="post" style="display: inline;">
        <button class="btn btn-danger">
            <i class="icon-trash"></i> delete taxonomy
        </button>
    </form>
</div>
<hr>
{{ list(taxonomy, taxonomy.taxons) }}
