<div class="tab-pane" id="details">
<div class="box box-green">
    <h4 class="box-header">{{ 'sylius.user.account_details'|trans }}</h4>
    {{ form_row(form.groups) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.enabled) }}
</div>
</div>
