{% if form.type.vars.value == constant('Sylius\\Bundle\\ProductBundle\\Model\\PropertyTypes::CHOICE') %}
    {% set leftCss = 'col-md-6' %}
    {% set rightCss = 'col-md-6' %}
{% else %}
    {% set rightCss = 'hide' %}
{% endif %}

<div class="row-fluid">
    <div class="{{ leftCss|default }}" data-config-form="main">
        {{ form_row(form.name) }}
        {{ form_row(form.presentation) }}
        {{ form_row(form.type) }}
    </div>

    <div class="{{ rightCss|default }}"
         data-config-form="container">
        {% if form.configuration is defined %}
        {{ form_widget(form.configuration) }}
        {% endif %}
    </div>
</div>

{{ form_widget(form._token) }}
