{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Property:macros.html.twig' import list %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_property_create'), 'sylius.property.create'|trans) }}
        {{ buttons.manage(path('sylius_backend_option_index'), 'sylius.option.manage'|trans) }}
    </div>
    <h1><i class="icon-cog"></i> {{ 'sylius.property.index_header'|trans|raw }}</h1>
</div>

{{ pagination(properties) }}
{{ list(properties) }}
{{ pagination(properties) }}

{% endblock %}
