{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block javascripts %}
{{ parent() }}
{% javascripts output='assets/compiled/backend_property.js'
    'bundles/syliusweb/js/sylius-property-choices.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li><a href="{{ path('sylius_backend_property_index') }}">{{ 'sylius.breadcrumb.property.index'|trans }}</a></li>
    <li>{{ property.name }}</li>
    <li>{{ 'sylius.breadcrumb.edit'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-pencil"></i> {{ 'sylius.property.update_header'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('sylius_backend_property_update', {'id': property.id}) }}" method="post" class="form-horizontal" novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/Property:_form.html.twig' %}
    {{ update() }}
</form>
{% endblock %}
