{% extends 'SyliusUserBundle::layout.html.twig' %}
{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block content %}
{{ 'sylius.ui.change_password'|trans }}

{{ form_errors(form) }}

<form action="{{ path('sylius_account_change_password') }}" {{ form_enctype(form) }} method="POST">
    <fieldset>
        {{ form_row(form.currentPassword, {'label': 'sylius.form.user_change_password.current'|trans}) }}
        {{ form_row(form.newPassword.first, {'label': 'sylius.form.user_change_password.new'|trans}) }}
        {{ form_row(form.newPassword.second, {'label': 'sylius.form.user_change_password.confirmation'|trans}) }}
    </fieldset>
    {{ form_rest(form) }}
    {{ update() }}
</form>
{% endblock %}
