{% extends 'SyliusUserBundle::layout.html.twig' %}
{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block content %}
{{ 'sylius.ui.reset_password'|trans }}

{{ form_errors(form) }}

<form action="{{ path('sylius_user_password_reset', { 'token' : user.confirmationToken}) }}" {{ form_enctype(form) }} method="POST">
    <fieldset>
        {{ form_row(form.password.first, {'label': 'sylius.form.user_reset_password.new'|trans}) }}
        {{ form_row(form.password.second, {'label': 'sylius.form.user_reset_password.confirmation'|trans}) }}
    </fieldset>
    {{ form_rest(form) }}
    {{ update() }}
</form>
{% endblock %}
