{% macro list(pages) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% if pages|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'sylius.page.id'|trans }}</th>
                <th>{{ sylius_resource_sort('title', 'sylius.page.title'|trans) }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr id="{{ page.id }}">
                <td><i>{{ page.id }}</i></td>
                <td>{{ page.title }}</td>
                <td>
                    <div class="pull-right">
                    {{ buttons.edit(path('sylius_backend_page_update', {'id': page.id})) }}
                    {{ buttons.delete(path('sylius_backend_page_delete', {'id': page.id})) }}
                   </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
{{ alerts.info('sylius.page.no_results'|trans) }}
{% endif %}

{% endmacro %}
