{% extends 'SyliusWebBundle:Backend:layout2Column.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page %}

{% block sidebar %}
    {% include 'SyliusWebBundle:Backend/Product:_sidebar.html.twig' %}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li><a href="{{ path('sylius_backend_product_prototype_index') }}">{{ 'sylius.breadcrumb.prototype.index'|trans }}</a></li>
    <li>{{ 'sylius.breadcrumb.build'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('sylius_backend_product_prototype_build', {'id': product_prototype.id}), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

{{ page.header('prototype.build', 'plus-circle', 'SyliusUiBundle:Form/Actions:_create.html.twig') }}

{% include 'SyliusWebBundle:Backend/Product:_form.html.twig' %}

{{ form_end(form) }}
{% endblock %}
