{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li><a href="{{ path('sylius_backend_product_prototype_index') }}">{{ 'sylius.breadcrumb.prototype.index'|trans }}</a></li>
    <li>{{ 'sylius.breadcrumb.new'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('sylius_backend_product_prototype_create'), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

{{ page.header('product_prototype.create', 'plus-circle', 'SyliusUiBundle:Form/Actions:_create.html.twig') }}

{% include 'SyliusWebBundle:Backend/ProductPrototype:_form.html.twig' %}

{{ form_end(form) }}
{% endblock %}
