{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/ProductPrototype:macros.html.twig' import list %}
{% import 'SyliusUiBundle::page.html.twig' as page %}
{% import 'SyliusUiBundle::pagination.html.twig' as pagination %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.prototype.index'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('prototype.index', 'sitemap', 'SyliusWebBundle:Backend/ProductPrototype/Actions:_index.html.twig') }}

{{ pagination.standard(product_prototypes) }}
{{ list(product_prototypes) }}
{{ pagination.standard(product_prototypes) }}
{% endblock %}
