{% macro list(countries) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% if countries|length > 0 %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{ sylius_resource_sort('id', '#id') }}</th>
                <th>{{ sylius_resource_sort('name') }}</th>
                <th>{{ sylius_resource_sort('isoName', 'iso name') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td>{{ country.id }}</td>
                <td>{{ country.name }}</td>
                <td>{{ country.isoName }}</td>
                <td>
                    <div class="btn-group pull-right">
                        {{ buttons.create(path('sylius_province_create', {'countryId': country.id}), 'add province') }}
                        {{ buttons.edit(path('sylius_country_update', {'id': country.id})) }}
                        {{ buttons.delete(path('sylius_country_delete', {'id': country.id})) }}
                    </div>
                </td>
            </tr>
            {% if country.hasProvinces %}
                <tr style="background-color: #f1f1f1;">
                    <td colspan="4"><strong>Provinces</strong></td>
                </tr>
                {% for province in country.provinces %}
                    <tr id="{{ province.id }}" style="background-color: #f1f1f1;">
                        <td>{{ province.id }}</td>
                        <td>{{ province.name }}</td>
                        <td colspan="2">
                            <div class="btn-group pull-right">
                                {{ buttons.edit(path('sylius_province_update', {'countryId': country.id, 'id': province.id})) }}
                                {{ buttons.delete(path('sylius_province_delete', {'countryId': country.id, 'id': province.id})) }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info">
        <h4 class="alert-heading">Information</h4>
        There are no countries configured
    </div>
{% endif %}

{% endmacro %}
