{{ form_errors(form) }}
<fieldset>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.name) }}
            {{ form_row(form.isoName) }}
        </div>
        <div class="col-md-6">
            {{ form_widget(form.provinces) }}
            <a href="#" class="btn btn-success btn-block" data-collection-button="add" data-prototype="sylius_country_provinces" data-collection="sylius_country_provinces">
                {{ 'sylius.country.add_province'|trans }}
            </a>
        </div>
    </div>
</fieldset>
<hr>
{{ form_widget(form._token) }}
