{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li><a href="{{ path('sylius_backend_country_index') }}">{{ 'sylius.breadcrumb.country.index'|trans }}</a></li>
    <li>{{ 'sylius.breadcrumb.new'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('sylius_backend_country_create'), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

{{ page.header('country.create', 'plus-circle', 'SyliusUiBundle:Form/Actions:_create.html.twig') }}
L
{{ form_errors(form) }}
{% include 'SyliusWebBundle:Backend/Country:_form.html.twig' %}

{{ form_end(form) }}
{% endblock %}
