{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/Country:macros.html.twig' import list %}
{% import 'SyliusUiBundle::page.html.twig' as page %}
{% import 'SyliusUiBundle::pagination.html.twig' as pagination %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.country.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('country.index', 'flag', 'SyliusWebBundle:Backend/Country/Actions:_index.html.twig') }}

{{ pagination.standard(countries) }}
{{ list(countries) }}
{{ pagination.standard(countries) }}
{% endblock %}
