{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Country:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.configuration'|trans }}</li>
    <li>{{ 'sylius.ui.countries'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_country_create'), 'sylius.ui.create_country'|trans) }}
        {{ buttons.manage(path('sylius_backend_zone_index'), 'sylius.ui.manage_zones'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-flag"></i> {{ 'sylius.ui.countries'|trans|raw }}</h1>
</div>

{{ pagination(countries) }}
{{ list(countries) }}
{{ pagination(countries) }}

{% endblock %}
