{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li><a href="{{ path('sylius_backend_country_index') }}">{{ 'sylius.breadcrumb.country.index'|trans }}</a></li>
    <li>{{ country.name }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.manage(path('sylius_backend_country_index'), 'sylius.country.manage'|trans) }}
        {{ buttons.edit(path('sylius_backend_country_update', {'id': country.id})) }}
        {{ buttons.delete(path('sylius_backend_country_delete', {'id': country.id}), null, false, false) }}
    </div>
    <h1><i class="glyphicon glyphicon-flag"></i> {{ 'sylius.country.show_header'|trans|raw }}</h1>
</div>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>{{ 'sylius.country.name'|trans }}</th>
            <th>{{ 'sylius.country.iso_name'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ country.name }}</td>
            <td>{{ country.isoName }}</td>
        </tr>
    </tbody>
</table>
{% if country.hasProvinces %}
    <table id="provinces" class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>{{ 'sylius.province.provinces'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for province in country.provinces %}
                <tr id="{{ province.id }}">
                    <td>{{ province.name }}</td>
                    <td>
                        <div class="pull-right">
                            {{ buttons.delete(path('sylius_backend_province_delete', {'id': province.id, 'countryId' : country.id})) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
