{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page %}

{% set title = 'country.update'|trans %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li><a href="{{ path('sylius_backend_country_index') }}">{{ 'sylius.breadcrumb.country.index'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_country_update', {'id': country.id}) }}">{{ country.name }}</a></li>
</ol>
{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('sylius_backend_country_update', {'id': country.id}), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

{{ page.header('country.update', 'pencil', 'SyliusUiBundle:Form/Actions:_update.html.twig') }}

{{ form_errors(form) }}
{% include 'SyliusWebBundle:Backend/Country:_form.html.twig' %}
<input type="hidden" name="_method" value="PUT">

{{ form_end(form) }}
{% endblock %}
