{% set product = variant.product %}

<div>
    {% if variant.hasImages %}
        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': variant, 'filter': 'sylius_shop_product_tiny_thumbnail'} %}
    {% else %}
        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'filter': 'sylius_shop_product_tiny_thumbnail'} %}
    {% endif %}

    <a href="{{ path('sylius_shop_product_show', {'slug': product.slug}) }}">
        <span {{ sylius_test_html_attribute('product-name', item.productName) }}>{{ item.productName }}</span>
        <span {{ sylius_test_html_attribute('product-variant-code', variant.code) }}>{{ variant.code }}</span>
    </a>
</div>
{% if product.hasOptions() %}
    <div {{ sylius_test_html_attribute('product-options') }}>
        {% for optionValue in variant.optionValues %}
            <div data-sylius-option-name="{{ optionValue.name }}" {{ sylius_test_html_attribute('option-name', optionValue.name) }}>
                {{ optionValue.value }}
            </div>
        {% endfor %}
    </div>
{% elseif item.variantName is not null %}
    <div {{ sylius_test_html_attribute('product-variant-name') }}>
        {{ item.variantName }}
    </div>
{% endif %}
