<div class="ui fluid card">
    <a href="{{ path('sylius_shop_product_show', {'slug': product.slug}) }}" class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui inverted button">{{ 'sylius.ui.view_more'|trans }}</div>
                </div>
            </div>
        </div>
        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product} %}
    </a>
    <div class="content">
        <a href="{{ path('sylius_shop_product_show', {'slug': product.slug}) }}" class="header sylius-product-name">{{ product.name }}</a>
        <div class="sylius-product-price">{{ product.price|sylius_price }}</div>
    </div>
</div>
