{% from 'SyliusShopBundle:Product:macros.html.twig' import sylius_display_price%}

{% if product.isVariantSelectionMethodChoice %}
<table class="ui single line table" id="product-variants">
    <thead>
    <tr>
        <th></th>
        <th>{{ 'sylius.ui.price'|trans }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for variant in product.variants if variant.available %}
        <tr>
            <td>
                {% if variant.presentation is empty %}
                    {% for option in variant.options %}
                        <strong>{{ option.presentation }}</strong>: {{ option.value }}
                    {% endfor %}
                {% else %}
                    {{ variant.presentation }}
                {% endif %}
            </td>
            <td>
                {{ sylius_display_price(variant) }}
            </td>
            <td>
                {% if sylius_inventory_is_available(variant) %}
                    {{ form_widget(form.variant[loop.index0]) }}
                {% else %}
                    <span>{{ 'sylius.ui.out_of_stock'|trans }}</span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div>
        {{ form_widget(form.variant) }}
    </div>
{% endif %}