{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}{{ product.name }} | {{ parent() }}{% endblock %}

{% block content %}
    {% include '@SyliusShop/Product/Show/_breadcrumb.html.twig' %}

    <div>
        <div>
            {{ sylius_template_event('sylius.shop.product.show.left_sidebar', _context) }}
        </div>
        <div {{ sylius_test_html_attribute('product-box') }}>
            {{ sylius_template_event('sylius.shop.product.show.right_sidebar', _context) }}
        </div>
    </div>

    {{ sylius_template_event('sylius.shop.product.show.content', _context) }}
{% endblock %}
