<div class="col-12 col-md-6">
    <div class="card mb-3">
        <div class="card-header">
            <h3 class="card-title">{{ 'sylius.ui.new_customers'|trans }}</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
                <thead>
                <tr>
                    <th>Customer</th>
                    <th class="w-1"></th>
                </tr>
                </thead>
                <tbody>
                    {% for customer in newCustomers %}
                        <tr>
                            <td>
                                <div class="row align-items-center py-1">
                                    <div class="col-auto">
                                        <span class="avatar ">
                                            {{ customer.firstName|first }}{{ customer.lastName|first }}
                                        </span>
                                    </div>
                                    <div class="col text-truncate">
                                        <div>{{ customer.firstName }} {{ customer.lastName }}</div>
                                        <div class="text-muted text-truncate mt-n1">{{ customer.email }}</div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-end"><a href="{{ path('sylius_admin_customer_show', { id: customer.id }) }}">{{ 'sylius.ui.show'|trans }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2" class="text-center"><a href="{{ path('sylius_admin_customer_index') }}">{{ 'sylius.ui.show_all'|trans }}</a></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
