<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_errors(form) }}
            {{ form_row(form.code) }}
            <div class="ui segment">
                {% for locale, translationForm in form.translations %}
                    <h4 class="ui dividing header"><i class="{{ locale|slice(3, 2)|lower }} flag"></i> {{ locale|sylius_locale_name }}</h4>
                    {{ form_row(translationForm.name) }}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="column">
        {{ form_row(form.values) }}
    </div>
    {{ form_rest(form) }}
</div>
