{# Rendered with \Sylius\Bundle\ShopBundle\Twig\Component\Common\LocaleSwitcherComponent #}

{% from '@SyliusShop/shared/macro/flags.html.twig' import flag %}

{% if available_locales|length > 1 %}
    <div class="col-auto">
        <div class="dropdown" {{ sylius_test_html_attribute('locale-selector') }}>
            <button class="btn btn-sm btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" {{ sylius_test_html_attribute('active-locale', active_locale) }}>
                {% set locale_country = active_locale|sylius_locale_country|default(active_locale) %}
                {{ flag(locale_country) }}
                {{ locale_country|upper }}
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                {% for code in available_locales %}
                    {% if code is not same as(active_locale) %}
                        <li>
                            <a class="dropdown-item py-2" href="{{ path('sylius_shop_switch_locale', {'code': code}) }}" {{ sylius_test_html_attribute('available-locale', code) }} >
                                {% set country_code = code|sylius_locale_country|default(code) %}
                                {{ flag(country_code) }}
                                {{ country_code|upper }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
