{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Inventory:macros.html.twig' as macros %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.stockable.index_header'|trans|raw }}</h1>
</div>

<div class="well">
    <a href="{{ path('sylius_backend_product_index') }}" class="btn btn-success">
        <i class="icon-adjust icon-white"></i> {{ 'sylius.product.manage'|trans }}
    </a>
</div>

{% if products.haveToPaginate() %}
    {{ pagerfanta(products, 'twitter_bootstrap_translated') }}
{% endif %}

{{ macros.list(products) }}

{% if products.haveToPaginate() %}
    {{ pagerfanta(products, 'twitter_bootstrap_translated') }}
{% endif %}

{% endblock %}
