{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/Inventory:macros.html.twig' import list %}
{% import 'SyliusUiBundle::page.html.twig' as page %}
{% import 'SyliusUiBundle::pagination.html.twig' as pagination %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.inventory.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('stockable.index', 'tasks', 'SyliusWebBundle:Backend/Inventory/Actions:_index.html.twig') }}

{% render(controller('sylius.controller.form:filterAction', {'type': 'sylius_product_filter', 'template': 'SyliusWebBundle:Backend/Product:filterForm.html.twig'})) %}

{{ pagination.standard(products) }}
{{ list(products) }}
{{ pagination.standard(products) }}
{% endblock %}
