{% macro list(products) %}

{% from 'SyliusWebBundle:Backend/ProductVariant:macros.html.twig' import list as list_variants %}
{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if products|length > 0 %}
<table class="table" id="stockables">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', '#id') }}</th>
            <th>{{ sylius_resource_sort('code', 'sylius.ui.code'|trans) }}</th>
            <th>{{ sylius_resource_sort('translation.name', 'sylius.ui.name'|trans) }}</th>
            <th>{{ sylius_resource_sort('onHand', 'sylius.stockable.on_hand'|trans) }}</th>
            <th>{{ sylius_resource_sort('onHold', 'sylius.ui.on_hold'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>
                    {{ product.id }}
                </td>
                <td>
                    {{ product.code }}
                </td>
                <td>
                    <a href="{{ path('sylius_backend_product_show', {'id': product.id}) }}" class="btn btn-link">
                        <strong>{{ product.name }}</strong>
                    </a>
                </td>
                <td>
                    {% if not product.hasOptions %}
                        <span class="label label-{{ product.firstVariant.isInStock ? 'success' : 'danger' }}">{{ product.firstVariant.onHand }}</span>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if not product.hasOptions %}
                        <span class="label label-{{ product.firstVariant.onHold ? 'warning' : 'success' }}">{{ product.firstVariant.onHold }}</span>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <div class="pull-right">
                        {{ buttons.edit(path('sylius_backend_product_update', {'id': product.id})) }}
                    </div>
                </td>
            </tr>
            {% if product.hasOptions %}
            <tr class="sub-table">
                <td class="variant-table-toggle"><i class="glyphicon glyphicon-chevron-down"></i></td>
                <td colspan="4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>{{ 'sylius.ui.availability'|trans }}</th>
                                <th>{{ 'sylius.ui.options'|trans }}</th>
                                <th></th>
                                <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody style="display: none">
                            {% for variant in product.variants %}
                                <tr>
                                    <td>{{ variant.id }}</td>
                                    <td><span class="label label-{{ variant.available ? 'success' : 'danger' }}">{{ variant.availableOn|date }}</span></td>
                                    <td>
                                        <ul>
                                        {% for option in variant.options %}
                                            <li><strong>{{ option.presentation }}</strong>: {{ option.value }}</li>
                                        {% endfor %}
                                        </ul>
                                    </td>
                                    <td><span class="label label-{{ variant.inStock ? 'success' : 'danger' }}">{{ variant.onHand }}</span></td>
                                    <td><span class="label label-{{ variant.onHold ? 'warning' : 'success' }}">{{ variant.onHold }}</span></td>
                                    <td>
                                        <div class="pull-right">
                                            {{ buttons.edit(path('sylius_backend_product_variant_update', {'productId': product.id, 'id': variant.id})) }}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.ui.there_are_no_products_to_display'|trans) }}
{% endif %}

{% endmacro %}
