{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Review:macros.html.twig' as review_macros %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.review.show'|trans }}</li>
    <li><a href="{{ path('sylius_backend_product_review_index') }}">{{ 'sylius.ui.product_reviews'|trans }}</a></li>
    <li>{{ product_review.title }}</li>
    <li>{{ 'sylius.breadcrumb.show'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.manage(path('sylius_backend_product_review_index'), 'sylius.ui.manage_reviews'|trans) }}
        {{ buttons.edit(path('sylius_backend_product_review_update', {'id': product_review.id})) }}
        {{ buttons.delete(path('sylius_backend_product_review_delete', {'id': product_review.id})) }}
    </div>
    <h1><i class="icon-ellipsis-vertical"></i> {{ 'sylius.ui.review_details'|trans }}</h1>
</div>

<table class="table table-bordered">
    <tbody>
        <tr>
            <td><strong>{{ 'sylius.ui.id'|trans }}</strong></td>
            <td>{{ product_review.id }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'sylius.ui.subject'|trans }}</strong></td>
            <td>{{ product_review.reviewSubject.name }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'sylius.ui.title'|trans }}</strong></td>
            <td>{{ product_review.title }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'sylius.ui.comment'|trans }}</strong></td>
            <td>{{ product_review.comment }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'sylius.ui.rating'|trans }}</strong></td>
            <td><span class="label label-default">{{ product_review.rating }}</span></td>
        </tr>
        <tr>
            <td><strong>{{ 'sylius.ui.status'|trans }}</strong></td>
            <td><span class="label label-{{ review_macros.moderation_label(product_review) }}">{{ product_review.status }}</span></td>
        </tr>
        <tr>
            <td><strong>{{ 'sylius.ui.author'|trans }}</strong></td>
            <td>{{ product_review.author.email }}</td>
        </tr>
    </tbody>
</table>

{% if product_review.status == 'new' %}
    {{ review_macros.transition(product_review.id, 'accept', 'info', 'Accept', 'share') }}
    {{ review_macros.transition(product_review.id, 'reject', 'warning', 'Reject', 'remove') }}
{% endif %}

{% endblock %}
