{% macro list(subscribers) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if subscribers|length > 0 %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('email', 'sylius.subscriber.email'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for subscriber in subscribers %}
        <tr id="{{ subscriber.id }}">
            <td>{{ subscriber.email }}</td>
            <td>
                <div class="pull-right">
                {{ buttons.edit(path('sylius_backend_subscriber_update', {'id': subscriber.id})) }}
                {{ buttons.delete(path('sylius_backend_subscriber_delete', {'id': subscriber.id})) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.subscriber.no_results'|trans) }}
{% endif %}

{% endmacro %}
