{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

<fieldset>
    <div class="row">
        <div class="col-md-6 row-split">
        {{ form_row(form.publishable) }}
        {{ form_row(form.publishStartDate) }}
        {{ form_row(form.publishEndDate) }}
        {{ form_row(form.display) }}
        {{ form_row(form.displayChildren) }}
        {{ form_row(form.label, {'attr': {'class': 'input-lg'}}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.uri) }}
        {{ form_row(form.route) }}
        {{ form_row(form.content) }}
        {{ form_row(form.publishStartDate) }}
        {{ form_row(form.publishEndDate) }}
        </div>
    </div>
</fieldset>
{{ form_widget(form._token) }}
