{% macro list(taxonomies) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% if taxonomies|length > 0 %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id') }}</th>
            <th>{{ sylius_resource_sort('name') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for taxonomy in taxonomies %}
        <tr>
            <td>
                <a href="{{ path('sylius_taxonomy_show', {'id': taxonomy.id}) }}" class="btn btn-link">
                    {{ taxonomy.id }}
                </a>
            </td>
            <td>
                <a href="{{ path('sylius_taxonomy_show', {'id': taxonomy.id}) }}">
                    <strong>{{ taxonomy.name }}</strong>
                </a>
            </td>
            <td>
                <div class="pull-right">
                    {{ buttons.create(path('sylius_taxon_create', {'taxonomyId': taxonomy.id}), 'sylius.taxon.create_taxon'|trans) }}
                    {{ buttons.show(path('sylius_taxonomy_show', {'id': taxonomy.id}), 'sylius.taxon.manage_taxonomies'|trans) }}
                    {{ buttons.edit(path('sylius_taxonomy_update', {'id': taxonomy.id}), 'sylius.taxon.update_taxonomy'|trans) }}
                    {{ buttons.delete(path('sylius_taxonomy_delete', {'id': taxonomy.id}), 'sylius.taxon.delete_taxonomy'|trans) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">Information</h4>
    {{ 'sylius.taxon.no_taxonomies'|trans }}
</div>
{% endif %}

{% endmacro %}
