{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Option:macros.html.twig' import list %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_option_create'), 'sylius.option.create'|trans) }}
        {{ buttons.manage(path('sylius_backend_property_index'), 'sylius.property.manage'|trans) }}
    </div>
    <h1><i class="icon-th"></i> {{ 'sylius.option.index_header'|trans|raw }}</h1>
</div>

{{ pagination(options) }}
{{ list(options) }}
{{ pagination(options) }}

{% endblock %}
