{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/TaxCategory:macros.html.twig' import list %}
{% import 'SyliusUiBundle::page.html.twig' as page %}
{% import 'SyliusUiBundle::pagination.html.twig' as pagination %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.tax_category.index'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('tax_category.index', 'cog', 'SyliusWebBundle:Backend/TaxCategory/Actions:_index.html.twig') }}

{{ pagination.standard(tax_categories) }}
{{ list(tax_categories) }}
{{ pagination.standard(tax_categories) }}
{% endblock %}
