{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/TaxCategory:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.configuration'|trans }}</li>
    <li>{{ 'sylius.ui.tax_categories'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_tax_category_create'), 'sylius.ui.create_tax_category'|trans) }}
        {{ buttons.manage(path('sylius_backend_tax_rate_index'), 'sylius.ui.manage_tax_rates'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-cog"></i> {{ 'sylius.ui.taxation_categories'|trans|raw }}</h1>
</div>

{{ pagination(tax_categories) }}
{{ list(tax_categories) }}
{{ pagination(tax_categories) }}

{% endblock %}
