{% macro list(tax_categories) %}

{% if tax_categories|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', 'sylius.tax_category.id'|trans) }}</th>
            <th>{{ sylius_resource_sort('name', 'sylius.tax_category.name'|trans) }}</th>
            <th>{{ 'sylius.tax_category.description'|trans }}</th>
            <th>{{ sylius_resource_sort('updatedAt', 'sylius.tax_category.updated_at'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for tax_category in tax_categories %}
        <tr>
            <td>{{ tax_category.id }}</td>
            <td>{{ tax_category.name }}</td>
            <td>{{ tax_category.description|default('sylius.tax_category.no_description'|trans) }}</td>
            <td>{{ tax_category.updatedAt|date }}</td>
            <td>
                <div class="pull-right">
                    <a href="{{ path('sylius_backend_tax_category_update', {'id': tax_category.id}) }}" class="btn">
                       <i class="icon-pencil"></i> {{ 'sylius.edit'|trans }}
                    </a>
                    <form action="{{ path('sylius_backend_tax_category_delete', {'id': tax_category.id}) }}" method="post" style="display: inline;">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger">
                            <i class="icon-trash"></i> {{ 'sylius.delete'|trans }}
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'sylius.alert.info'|trans }}</h4>
    {{ 'sylius.tax_category.no_results'|trans }}
</div>
{% endif %}

{% endmacro %}
