{% macro list(tax_categories) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if tax_categories|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', 'sylius.tax_category.id'|trans) }}</th>
            <th>{{ sylius_resource_sort('name', 'sylius.tax_category.name'|trans) }}</th>
            <th>{{ 'sylius.tax_category.description'|trans }}</th>
            <th>{{ sylius_resource_sort('updatedAt', 'sylius.tax_category.updated_at'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for tax_category in tax_categories %}
        <tr id="{{ tax_category.id }}">
            <td>{{ tax_category.id }}</td>
            <td>{{ tax_category.name }}</td>
            <td>{{ tax_category.description|default('sylius.tax_category.no_description'|trans) }}</td>
            <td>{{ tax_category.updatedAt|date }}</td>
            <td>
                <div class="pull-right">
                    {{ buttons.edit(path('sylius_backend_tax_category_update', {'id': tax_category.id})) }}
                    {{ buttons.delete(path('sylius_backend_tax_category_delete', {'id': tax_category.id})) }}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.tax_category.no_results'|trans) }}
{% endif %}

{% endmacro %}
