<div class="ui segment">
    {{ form_errors(form) }}
    <div class="two fields">
        {{ form_row(form.code) }}
        {% if taxon.id != null %}
            {{ form_row(form.parent) }}
        {% else %}
            {{ form_widget(form.parent, {'attr': {'style': 'display: none;'}}) }}
        {% endif %}
    </div>
</div>
<div class="ui styled fluid accordion">
    {% for locale, translationForm in form.translations %}
        <div class="title{% if 0 == loop.index0 %} active{% endif %}">
            <i class="dropdown icon"></i>
            <i class="{{ locale|slice(3, 2)|lower }} flag"></i> {{ locale|sylius_locale_name }}
        </div>
        <div class="content{% if 0 == loop.index0 %} active{% endif %}">
            {{ form_row(translationForm.name) }}
            {% include '@SyliusAdmin/Taxon/_slugField.html.twig' with { 'slugField': translationForm.slug } %}
            {{ form_row(translationForm.description) }}
        </div>
    {% endfor %}
</div>
<div class="ui segment">
    <h3 class="ui dividing header">{{ 'sylius.ui.media'|trans }}</h3>
    {{ form_row(form.images, {'label': false}) }}
</div>
