<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ render(path('sylius_admin_taxon_tree')) }}
        </div>
        <div class="ui segment">
            {{ form_errors(form) }}
            <div class="one field">
                {{ form_row(form.code) }}
            </div>
            <div class="one field">
                {{ form_row(form.parent) }}
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            {% for locale, translationForm in form.translations %}
                <h4 class="ui dividing header"><i class="{{ locale|slice(3, 2)|lower }} flag"></i> {{ locale|sylius_locale_name }}</h4>
                {{ form_row(translationForm.name) }}
                {{ form_row(translationForm.permalink) }}
                {{ form_row(translationForm.description) }}
            {% endfor %}
        </div>
    </div>
</div>
