{% set ancestors = taxon.ancestors|reverse %}

<div class="ui breadcrumb">
    <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
    <div class="divider"> / </div>
    {% for ancestor in ancestors %}
        {% if ancestor.isRoot() or not ancestor.enabled %}
            <div class="section">{{ ancestor.name }}</div>
        {% else %}
            <a href="{{ path('sylius_shop_product_index', {'slug': ancestor.slug, '_locale': ancestor.translation.locale}) }}" class="section">{{ ancestor.name }}</a>
        {% endif %}
    <div class="divider"> / </div>
    {% endfor %}
    <div class="active section">{{ taxon.name }}</div>
</div>
