{% set parents = taxon.parents|reverse %}

<div class="ui breadcrumb">
    <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
    <div class="divider"> / </div>
    {% for parent in parents %}
        {% if parent.isRoot() %}
            <div class="section">{{ parent.name }}</div>
        {% else %}
            <a href="{{ path('sylius_shop_product_index', {'slug': parent.slug, '_locale': parent.translation.locale}) }}" class="section">{{ parent.name }}</a>
        {% endif %}
    <div class="divider"> / </div>
    {% endfor %}
    <div class="active section">{{ taxon.name }}</div>
</div>
