{% macro item(taxon) %}
    {% import _self as macros %}

    {% if taxon.enabledChildren|length > 0 %}
        <div {{ sylius_test_html_attribute('menu-item', taxon.name) }}>
            <span>{{ taxon.name }}</span>
            <div>
                {% for childTaxon in taxon.enabledChildren %}
                    {{ macros.item(childTaxon) }}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}" {{ sylius_test_html_attribute('menu-item', taxon.name) }}>
            {{ taxon.name }}
        </a>
    {% endif %}
{% endmacro %}

{% import _self as macros %}

{% if taxons|length > 0 %}
    <div {{ sylius_test_html_attribute('menu') }}>
        {% for taxon in taxons %}
            {{ macros.item(taxon) }}
        {% endfor %}
    </div>
{% endif %}
