
{% macro list(menu_nodes) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% if menu_nodes|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'sylius.ui.parent'|trans }}</th>
                <th>{{ sylius_resource_sort('title', 'sylius.ui.title'|trans) }}</th>
                <th>{{ sylius_resource_sort('publishable', 'sylius.menu_node.publishable'|trans) }}</th>
                <th>{{ sylius_resource_sort('publishStartDate', 'sylius.menu_node.start_date'|trans) }}</th>
                <th>{{ sylius_resource_sort('publishEndDate', 'sylius.menu_node.end_date'|trans) }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menu_nodes %}
            <tr id="{{ menu.parent.name }}">
                <td><i>{{ menu.parent.label }}</i></td>
                <td>{{ menu.label }}</td>
                <td>
                    <span class="label label-{{ menu.publishable ? 'success' : 'default'}}">
                        {{ menu.publishable ? 'sylius.ui.yes'|trans : 'sylius.ui.no'|trans }}
                    </span>
                </td>
                <td>{{ menu.publishStartDate is empty ? '-' : menu.publishStartDate|date }}</td>
                <td>{{ menu.publishStartDate is empty ? '-' : menu.publishStartDate|date }}</td>
                <td>
                    <div class="pull-right">
                    {{ buttons.edit(path('sylius_backend_menu_node_update', {'id': menu.id})) }}
                    {{ buttons.edit(path('sylius_backend_menu_node_index')) }}
                    {{ buttons.delete(path('sylius_backend_menu_node_delete', {'id': menu.id})) }}
                   </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
{{ alerts.info('sylius.ui.no_results'|trans) }}
{% endif %}

{% endmacro %}
