{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% import '@SyliusShop/shared/messages.html.twig' as messages %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.summary_of_your_order'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center gap-4 mt-4 mb-5">
            <div class="col col-lg-8">
                {% include '@SyliusShop/Order/header.html.twig' %}

                {% if order.paymentState in ['awaiting_payment'] %}
                    {{ form_start(form, {'action': path('sylius_shop_order_show', {'tokenValue': order.tokenValue}), 'attr': {'novalidate': 'novalidate'}}) }}
                    <input type="hidden" name="_method" value="PUT" />

                    {% include '@SyliusShop/checkout/select_payment/form.html.twig' %}

                    {% set order_cannot_be_paid = not sylius_order_can_be_paid(order) %}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary{% if order_cannot_be_paid %} disabled{% endif %}" {{ sylius_test_html_attribute('pay-link') }} {% if order_cannot_be_paid %}disabled{% endif %}>
                            {{ 'sylius.ui.pay'|trans }}
                        </button>
                    </div>

                    {{ form_row(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}
                {% else %}
                    {{ messages.info('sylius.ui.you_can_no_longer_change_payment_method_of_this_order') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
