{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/ContactTopic:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.support'|trans }}</li>
    <li>{{ 'sylius.ui.contact_topics'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_contact_topic_create'), 'sylius.ui.create_contact_topic'|trans) }}
    </div>
    <h1>{{ 'sylius.ui.contact_topics'|trans|raw }}</h1>
</div>

{{ list(contact_topics) }}

{% endblock %}
