{% macro list(blocks) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% if blocks|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'sylius.ui.id'|trans }}</th>
                <th>{{ sylius_resource_sort('body', 'sylius.ui.body'|trans) }}</th>
                <th>{{ sylius_resource_sort('publishable', 'sylius.block.string.publishable'|trans) }}</th>
                <th>{{ sylius_resource_sort('publishStartDate', 'sylius.ui.start_date'|trans) }}</th>
                <th>{{ sylius_resource_sort('publishEndDate', 'sylius.ui.end_date'|trans) }}</th>
                <th>{{ sylius_resource_sort('updatedAt', 'sylius.ui.last_update'|trans) }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for block in blocks %}
            <tr id="{{ block.id }}">
                <td><i>{{ block.id }}</i></td>
                <td>{{ block.body }}</td>
                <td>
                    <span class="label label-{{ block.publishable ? 'success' : 'default'}}">
                        {{ block.publishable ? 'sylius.ui.yes'|trans : 'sylius.ui.no'|trans }}
                    </span>
                </td>
                <td>{{ block.publishStartDate is empty ? '-' : block.publishStartDate|date }}</td>
                <td>{{ block.publishStartDate is empty ? '-' : block.publishStartDate|date }}</td>
                <td>{{ block.updatedAt|date }}</td>
                <td>
                    <div class="pull-right">
                    {{ buttons.edit(path('sylius_backend_string_block_update', {'id': block.id})) }}
                    {{ buttons.delete(path('sylius_backend_string_block_delete', {'id': block.id})) }}
                   </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
{{ alerts.info('sylius.ui.there_are_no_blocks_to_display'|trans) }}
{% endif %}

{% endmacro %}
