{% from 'SyliusWebBundle:Frontend/Macros:actions.html.twig' import create %}
{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output='assets/compiled/backend_province.js'
    'bundles/syliusweb/js/province-choices.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <h4>{{ 'sylius.ui.create_a_new_address'|trans }}</h4>

    <div class="row">
        <form action="{{ path('sylius_account_address_create') }}" method="post" class="form-horizontal" novalidate>
            {% include 'SyliusWebBundle:Frontend/Address:_form.html.twig' %}
            {{ create() }}
        </form>
    </div>
{% endblock %}
