{% import 'SyliusWebBundle:Frontend/Macros:buttons.html.twig' as buttons %}
{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}

{% block content %}
    <h4>{{ 'sylius.ui.all_your_addresses'|trans }}</h4>

    {% if customer.billingAddress is empty or customer.shippingAddress is empty %}
        <p>
        {% if customer.billingAddress is empty %}
            <span class="label label-success">{{ 'sylius.ui.no_default_billing_address'|trans }}</span>
        {% endif %}
        {% if customer.shippingAddress is empty %}
            <span class="label label-primary">{{ 'sylius.ui.no_default_shipping_address'|trans }}</span>
        {% endif %}
        </p>
    {% endif %}

    <div class="row">
        {% if addresses is not empty %}
            <table id="addresses" class="table">
                <tbody>
                {% for address in addresses %}
                    <tr id="{{ address.id }}">
                        <td>
                            {{ include('SyliusWebBundle:Frontend/Address:_show.html.twig') }}
                        </td>
                        <td>
                            {% if address == customer.billingAddress %}
                                <span id="defaultBillingAddress" class="label label-success">{{ 'sylius.ui.default_billing_address'|trans }}</span><br><br>
                            {% endif %}
                            {% if address == customer.shippingAddress %}
                                <span id="defaultShippingAddress" class="label label-info">{{ 'sylius.ui.default_shipping_address'|trans }}</span><br><br>
                            {% endif %}

                            {% if address != customer.billingAddress %}
                                {{ buttons.patch(path('sylius_account_address_set_default_billing', {'id': address.id}), 'sylius.ui.set_as_default_billing_address'|trans, 'star-empty') }}
                                <br>
                            {% endif %}
                            {% if address != customer.shippingAddress %}
                                {{ buttons.patch(path('sylius_account_address_set_default_shipping', {'id': address.id}), 'sylius.ui.set_as_default_shipping_address'|trans, 'star-empty') }}
                            {% endif %}
                        </td>
                        <td>
                            {{ buttons.edit(path('sylius_account_address_update', {'id': address.id}), 'sylius.ui.edit'|trans) }}&nbsp;
                            {{ buttons.delete(path('sylius_account_address_delete', {'id': address.id}), 'sylius.ui.delete'|trans) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{{ 'sylius.ui.you_have_no_addresses_defined'|trans }}</p>
        {% endif %}
        <p>{{ buttons.create(path('sylius_account_address_create'), 'sylius.ui.create_a_new_address'|trans) }}</p>
    </div>
{% endblock %}
