{% set resource = hookable_data.resource %}
{% set form = hookable_data.form %}
{% set main_hook = hook_name(hookable_data.parent_main_hook, 'form') %}
{% set fallback_hook = hook_name(hookable_data.parent_fallback_hook, 'form') %}

{% form_theme form '@SyliusAdmin/Shared/form_theme.html.twig' %}

<div class="container-xl">
    {{ form_start(form, {'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate', 'id': form.vars.id}}) }}
    <div class="row">
        {% if hookable_configuration.method is defined %}
            <input type="hidden" name="_method" value="{{ hookable_configuration.method }}" />
        {% endif %}
        {{ form_errors(form, sylius_test_form_attribute('form-validation-errors')) }}
        {{ form_widget(form._token) }}

        {% hook [main_hook, fallback_hook] with {
            parent_main_hook: main_hook,
            parent_fallback_hook: fallback_hook,
            resource,
            form,
        } %}
    </div>
    {{ form_end(form, {render_rest: hookable.configuration.render_rest|default(false)}) }}
</div>
