<div class="list-group">
    <div class="list-group-item">
        <h4 class="list-group-item-heading">{{ 'sylius.ui.payment'|trans }}</h4>
        <div class="list-group-item-text">
            <ul class="list-unstyled">
                {% for payment in order.payments %}
                <li>
                    <a href="{{ path('sylius_backend_payment_history', {'id': payment.id}) }}">
                        <span class="pull-right">
                            {{ misc.state_label(payment.state, 'payment') }}
                        </span>
                        {{ payment.method }} - {{ payment.amount|sylius_price(payment.currency) }}
                    </a>
                    {% if hide_form|default(false) is same as(false) %}
                        {{ misc.payment_form(payment) }}
                    {% endif %}
                </li>
                {% else %}
                <li class="text-muted">
                    {{ 'sylius.order.no_payments'|trans }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="list-group-item">
        <h4 class="list-group-item-heading">{{ 'sylius.ui.shipments'|trans }}</h4>
        <div class="list-group-item-text">
            <ul class="list-unstyled">
                {% for shipment in order.shipments %}
                <li>
                    <a href="{{ path('sylius_backend_shipment_show', {'id': shipment.id}) }}">
                    <span class="pull-right">
                        {{ misc.state_label(shipment.state, 'shipment') }}
                    </span>
                        {{ shipment.method.name }}
                    </a>
                    {% if hide_form|default(false) is same as(false) %}
                        {{ misc.shipment_form(shipment) }}
                    {% endif %}
                </li>
                {% else %}
                <li class="text-muted">
                    {{ 'sylius.order.no_shipments'|trans }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
