{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{{ form_errors(form) }}

<form action="{{ path('sylius_backend_order_comment_create', {'id': app.request.get('id')}) }}" method="post" class="form-horizontal" novalidate>
    <fieldset>
        {{ form_row(form.comment) }}
        {{ form_row(form.notifyCustomer) }}
        {{ form_widget(form._token) }}
    </fieldset>

    {{ create() }}
</form>
