{% form_theme form 'SyliusWebBundle:Backend:filterForms.html.twig' %}

<form method="get" action="{{ path('sylius_backend_order_index') }}" class="form-inline form-filter">
    {{ form_row(form.number) }}
    {{ form_row(form.createdAtFrom, {'attr': {'class': 'datepicker'}}) }}
    {{ form_row(form.createdAtTo, {'attr': {'class': 'datepicker'}}) }}
    {{ form_row(form.totalFrom) }}
    {{ form_row(form.totalTo) }}
    {{ form_row(form.paymentState) }}

    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> {{ 'sylius.filter'|trans }}</button>
</form>
