{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% set disabled = order.shippingState is constant('Sylius\\Component\\Shipping\\Model\\ShipmentInterface::STATE_SHIPPED') %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.sales'|trans }}</li>
    <li><a href="{{ path('sylius_backend_order_index') }}">{{ 'sylius.ui.orders'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_order_show', {'id': order.id}) }}">#{{ order.number }}</a></li>
    <li>{{ 'sylius.ui.history'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.manage(path('sylius_backend_order_index'), 'sylius.ui.manage_orders'|trans) }}
    </div>
    <h1><span class="glyphicon glyphicon-calendar"></span> {{ 'sylius.ui.order'|trans({'%number%': order.number}) }}</h1>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a href="#main" data-toggle="tab">{{ 'sylius.ui.general_info'|trans }}</a></li>
    <li><a href="#items" data-toggle="tab">{{ 'sylius.ui.items'|trans }}</a></li>
    <li><a href="#billing_address" data-toggle="tab">{{ 'sylius.ui.billing_address'|trans }}</a></li>
    <li><a href="#shipping_address" data-toggle="tab">{{ 'sylius.ui.shipping_address'|trans }}</a></li>
</ul>
<br>

<div class="tab-content">
    <div class="tab-pane active" id="main">
        {% include "SyliusWebBundle:Backend:_history_table.html.twig" with {'revert_route': 'sylius_backend_order_revert', 'logs': logs.order, 'disabled': disabled} %}
    </div>

    <div class="tab-pane" id="items">
        {% for order_item in logs.order_items %}
            {% include "SyliusWebBundle:Backend:_history_table.html.twig" with {'revert_route': 'sylius_backend_order_revert', 'logs': order_item, 'disabled': disabled} %}
        {% else %}
            {{ alerts.info('sylius.ui.there_are_no_logged_events_to_display'|trans) }}
        {% endfor %}
    </div>

    <div class="tab-pane" id="billing_address">
        {% include "SyliusWebBundle:Backend:_history_table.html.twig" with {'revert_route': 'sylius_backend_order_revert', 'logs': logs.billing_address, 'disabled': disabled} %}
    </div>

    <div class="tab-pane" id="shipping_address">
        {% include "SyliusWebBundle:Backend:_history_table.html.twig" with {'revert_route': 'sylius_backend_order_revert', 'logs': logs.shipping_address} %}
    </div>
</div>

<hr>

{% endblock %}
