{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/Order:macros.html.twig' import list %}
{% import 'SyliusUiBundle::page.html.twig' as page %}
{% import 'SyliusUiBundle::pagination.html.twig' as pagination %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.sales'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.order.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('order.index', 'dollar', 'SyliusWebBundle:Backend/Order/Actions:_index.html.twig') }}

{% render(controller('sylius.controller.form:filterAction', {'type': 'sylius_order_filter', 'template': 'SyliusWebBundle:Backend/Order:filterForm.html.twig'})) %}

{{ pagination.standard(orders) }}
{{ list(orders) }}
{{ pagination.standard(orders) }}
{% endblock %}
