{% macro list(orders, user) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% set router_paramters = user is not null ? {'id' : user.id} : {} %}

{% if orders|length > 0 %}
<table id="orders" class="table">
    <thead>
        <tr>
            <th></th>
            <th>{{ sylius_resource_sort('createdAt', 'sylius.order.created_at'|trans, null, {'route_params' : router_paramters}) }}</th>
            <th>{{ sylius_resource_sort('number', 'sylius.order.number'|trans, null, {'route_params' : router_paramters}) }}</th>
            <th>{{ sylius_resource_sort('paymentState', 'sylius.order.payment_state'|trans, null, {'route_params' : router_paramters}) }}</th>
            <th>{{ sylius_resource_sort('shippingState', 'sylius.order.shipment_state'|trans, null, {'route_params' : router_paramters}) }}</th>
            <th>{{ sylius_resource_sort('user', 'sylius.order.user'|trans, null, {'route_params' : router_paramters}) }}</th>
            <th>{{ sylius_resource_sort('total', 'sylius.order.total'|trans, null, {'route_params' : router_paramters}) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr id="{{ order.id }}" {% if order.deleted %} class="danger"{% endif %}>
            <td class="center-text"><input type="checkbox" value="{{ order.id }}" /></td>
            <td>{{ order.createdAt|date }}</td>
            <td>
                <a href="{{ path('sylius_backend_order_show', {'id': order.id}) }}">
                    <strong>#{{ order.number }}</strong>
                </a>
            </td>
            <td>
                {% include 'SyliusWebBundle:Backend/Order:_paymentState.html.twig' %}
            </td>
            <td>
                {% include 'SyliusWebBundle:Backend/Order:_shippingState.html.twig' %}
            </td>
            <td>
                {% if order.user %}
                    <p>{{ order.user.fullName }} <br><a href="{{ path('sylius_backend_user_show', {'id': order.user.id}) }}">{{ order.user.email }}</a></p>
                {% else %}
                    <p>{{ order.email }}</p>
                {% endif %}
            </td>
            <td>{{ order.total|sylius_price(order.currency) }}</td>
            <td>
                <div class="pull-right">
                {{ buttons.show(path('sylius_backend_order_show', {'id': order.id})) }}
                {% if not order.deleted %}
                {{ buttons.edit(path('sylius_backend_order_update', {'id': order.id})) }}
                {{ buttons.delete(path('sylius_backend_order_delete', {'id': order.id})) }}
                {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    {% if user is not null %}
        {{ alerts.info('sylius.user.order.no_results'|trans) }}
    {% else %}
        {{ alerts.info('sylius.order.no_results'|trans) }}
    {% endif %}
{% endif %}

{% endmacro %}

{% macro simple_list(orders) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% if orders|length > 0 %}
<table id="orders" class="table">
    <thead>
        <tr>
            <th>{{ 'sylius.order.number'|trans }}</th>
            <th>{{ 'sylius.order.payment_state'|trans }}</th>
            <th>{{ 'sylius.order.user'|trans }}</th>
            <th>{{ 'sylius.order.total'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>
                <a href="{{ path('sylius_backend_order_show', {'id': order.id}) }}">
                <strong>#{{ order.number }}</strong>
                </a>
            </td>
            <td>
                {% include 'SyliusWebBundle:Backend/Order:_paymentState.html.twig' %}
            </td>
            <td style="width: 20%">
                {% if order.user %}
                    {{ order.user.fullname }}<br>
                    <a href="{{ path('sylius_backend_user_show', {'id': order.user.id}) }}">
                        {{ order.user.email }}
                    </a>
                {% else %}
                    {{ order.email }}
                {% endif %}
            </td>
            <td>{{ order.total|sylius_price(order.currency) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    {{ alerts.info('sylius.order.no_results'|trans) }}
{% endif %}

{% endmacro %}
