{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% set taxAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::TAX_ADJUSTMENT') %}
{% set shippingAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::SHIPPING_ADJUSTMENT') %}
{% set promotionAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::ORDER_PROMOTION_ADJUSTMENT') %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.sales'|trans }}</li>
    <li><a href="{{ path('sylius_backend_order_index') }}">{{ 'sylius.ui.orders'|trans }}</a></li>
    <li>#{{ order.number }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {% if not order.shippingState is constant('Sylius\\Component\\Shipping\\Model\\ShipmentInterface::STATE_SHIPPED') %}
            {{ buttons.edit(path('sylius_backend_order_update', {'id': order.id})) }}
        {% endif %}
        {{ buttons.delete(path('sylius_backend_order_delete', {'id': order.id})) }}
        <a href="{{ path('sylius_backend_order_history', {'id': order.id}) }}" class="btn btn-info">
            <i class="glyphicon glyphicon-calendar"></i>
            {{ 'sylius.ui.history'|trans }}
        </a>
    </div>
    <h1>
        <span class="glyphicon glyphicon-file"></span> {{ 'sylius.ui.order'|trans({'%number%': order.number}) }}
        via
        <span style="color: {{ order.channel.color }};">{{ order.channel.code }}</span>
    </h1>
</div>

<div class="row">
    <div class="col col-md-3">
        <h4>{{ 'sylius.ui.billing_address'|trans|title }}</h4>
        {% include 'SyliusWebBundle:Backend/Address:_show.html.twig' with { 'address': order.billingAddress } %}
    </div>
    <div class="col col-md-3">
        <h4>{{ 'sylius.ui.shipping_address'|trans|title }}</h4>
        {% include 'SyliusWebBundle:Backend/Address:_show.html.twig' with { 'address': order.shippingAddress } %}
    </div>
    <div class="col col-md-3">
        <h4>Order Details</h4>
        <dl>
            <dt>{{ 'sylius.ui.creation_time'|trans }}</dt>
            <dd>{{ order.createdAt|date }}</dd>
            <dt>Email</dt>
            <dd>
                {% if order.customer %}
                    <a href="{{ path('sylius_backend_customer_show', {'id': order.customer.id}) }}">{{ order.customer.email }}</a>
                {% endif %}
            </dd>
        </dl>
    </div>
    <div class="col col-md-3">
        {% include 'SyliusWebBundle:Backend/Order:_details.html.twig' %}
    </div>
</div>

<hr>

<table class="sylius-order-content-table table table-striped table-bordered">
    <thead>
        <tr>
            <th class="picture"></th>
            <th class="info">{{ 'sylius.ui.order_item_product'|trans }}</th>
            <th class="quantity text-center">{{ 'sylius.order_item.quantity'|trans }}</th>
            <th class="unit-price text-center">{{ 'sylius.ui.unit_price'|trans }}</th>
            <th class="total text-right">{{ 'sylius.ui.total'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.items %}
        {% set variant = item.variant %}
        {% set product = variant.product %}
        <tr>
            <td class="picture text-center">
                <a href="{{ path('sylius_backend_product_show', {'id': product.id}) }}" title="View {{ product.name|escape('html_attr') }} details.">
                    {% set image = (product.variants|length > 0 and product.image) ? product.image.path|imagine_filter('sylius_medium') : 'http://placehold.it/90x60' %}
                    <img src="{{ image }}" alt="" class="imgmedia-object" />
                </a>
            </td>
            <td class="info">
                <a href="{{ path('sylius_backend_product_show', {'id': product.id}) }}">
                    <h4 class="name">
                        {{ product.name }}
                    </h4>
                </a>
                {% if product.hasOptions %}
                <ul class="list-unstyled">
                    <li class="code"><strong>{{ 'sylius.ui.code'|trans }}</strong>: <code>{{ variant.code|default('SKU') }}</code></li>
                    {% for option in variant.options %}
                    <li><strong>{{ option.presentation }}</strong>: {{ option.value  }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </td>
            <td class="quantity text-center">{{ item.quantity }}</td>
            <td class="unit-price text-center">
                {{ item.unitPrice|sylius_price(order.currency) }}
            </td>
            <td class="total text-right">
                {{ item.total|sylius_price(order.currency) }}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">
                <hr />
                <div class="alert alert-info">{{ 'sylius.order.no_items'|trans }}</div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="active text-right" colspan="6">
                <strong>{{ 'sylius.ui.items_total'|trans }}</strong>:
                <span class="amount">{{ order.itemsTotal|sylius_price(order.currency) }}</span>
            </td>
        </tr>
        <tr class="taxes">
            <td colspan="2">
                <h5>{{ 'sylius.ui.taxes'|trans }}</h5>
                {% set allOrderAdjustments = order.getAdjustmentsRecursively(taxAdjustment) %}
                {% if not allOrderAdjustments is empty %}
                    <ul class="list-unstyled">
                        {% for taxLabel, taxAmount in sylius_aggregate_adjustments(allOrderAdjustments) %}
                            <li>{{ taxLabel }} {{ taxAmount|sylius_price(order.currency) }} </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-muted"><small>{{ 'sylius.order.no_taxes'|trans }}</small></p>
                {% endif %}
            </td>
            <td class="text-right" colspan="3">
                <strong>{{ 'sylius.ui.tax_total'|trans }}</strong>:
                <span class="amount">{{ order.taxTotal|sylius_price(order.currency) }}</span>
            </td>
        </tr>
        <tr class="shipping-charges">
            <td colspan="2">
                <h5>{{ 'sylius.ui.shipping_charges'|trans }}</h5>
                {% if not order.adjustments(shippingAdjustment).isEmpty() %}
                    <ul class="list-unstyled">
                        {% for adjustment in order.adjustments(shippingAdjustment) %}
                            <li>{{ adjustment.label }} {{ adjustment.amount|sylius_price(order.currency) }} </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-muted"><small>{{ 'sylius.order.no_shipping_charges'|trans }}</small></p>
                {% endif %}
            </td>
            <td class="text-right" colspan="3">
                <strong>{{ 'sylius.ui.shipping_total'|trans }}</strong>:
                <span class="amount">{{ order.shippingTotal|sylius_price(order.currency) }}</span>
            </td>
        </tr>
        <tr class="promotion-discount">
            <td colspan="2">
                <h5>{{ 'sylius.checkout.finalize.order.promotion_discount'|trans }}</h5>
                {% if not order.adjustments(promotionAdjustment).isEmpty() %}
                    <ul class="list-unstyled">
                        {% for adjustment in order.adjustments(promotionAdjustment) %}
                            <li>{{ adjustment.label }} {{ adjustment.amount|sylius_price(order.currency) }} </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-muted"><small>{{ 'sylius.checkout.finalize.order.no_promotion'|trans }}</small></p>
                {% endif %}
            </td>
            <td class="text-right" colspan="3">
                <strong>{{ 'sylius.ui.promotion_total'|trans }}</strong>:
                <span class="amount">{{ order.orderPromotionTotal|sylius_price(order.currency) }}</span>
            </td>
        </tr>
        {% if not order.adjustments().isEmpty() %}
        <tr>
            <td class="text-right" colspan="6">
                <a href="{{ path('sylius_backend_order_adjustment_index', {'id': order.id}) }}" class="btn btn-info">
                    <i class="glyphicon glyphicon-tasks"></i>
                    {{ 'sylius.ui.manage_adjustments'|trans }}
                </a>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td class="text-right active text-success lead" colspan="6">
                <strong>{{ 'sylius.ui.total'|trans }}</strong>:
                <span class="amount">{{ order.total|sylius_price(order.currency) }}</span>
            </td>
        </tr>
    </tfoot>
</table>

<hr>

<ul class="nav nav-tabs">
    <li class="active"><a href="#comments" data-toggle="tab">{{ 'sylius.ui.order_comments'|trans }}</a></li>
    <li><a href="#inventory" data-toggle="tab">{{ 'sylius.ui.inventory_tracking'|trans }}</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="comments">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>{{ 'sylius.ui.comment'|trans }}</th>
                <th>{{ 'sylius.ui.author'|trans }}</th>
                <th>{{ 'sylius.ui.state'|trans }}</th>
                <th>{{ 'sylius.order.comment.notify'|trans }}</th>
                <th>{{ 'sylius.ui.created_at'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in order.comments|reverse %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><p>{{ comment.comment|default('sylius.ui.no_comment'|trans) }}</p></td>
                    <td>{{ comment.author }}</td>
                    <td>{{ misc.state_label(comment.state, 'order') }}</td>
                    <td>
                        <span class="label label-{{ comment.notifyCustomer ? 'primary' : 'info' }}">
                            {{ (comment.notifyCustomer ? 'sylius.order.comment.customer.notified' : 'sylius.order.comment.customer.not_notified')|trans }}
                        </span>
                    </td>
                    <td>{{ comment.createdAt|date }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="6">
                        {{ render(url('sylius_backend_order_comment_create', {'id': order.id})) }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="tab-pane" id="inventory">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'sylius.ui.code'|trans }}</th>
                    <th>{{ 'sylius.ui.name'|trans }}</th>
                    <th>{{ 'sylius.ui.inventory_state'|trans }}</th>
                    <th>{{ 'sylius.ui.shipping_state'|trans }}</th>
                    <th>{{ 'sylius.ui.created_at'|trans }}</th>
                    <th>{{ 'sylius.ui.last_update'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for unit in order.itemUnits %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ unit.stockable.code }}</td>
                    <td>{{ unit.inventoryName }}</td>
                    <td>{{ unit.inventoryState|humanize }}</td>
                    <td>{{ unit.shippingState|humanize }}</td>
                    <td>{{ unit.createdAt|date }}</td>
                    <td>{{ unit.updatedAt|date }}</td>
                    <td>
                        {% for transition in ['backorder', 'sell', 'return'] if sm_can(unit, transition, 'sylius_inventory_unit') %}
                            <form action="{{ path('sylius_backend_inventory_unit_update_state', {'id': unit.id, 'transition': transition}) }}" method="post">
                                <input type="hidden" name="_method" value="PUT">
                                <button class="btn btn-default" type="submit">
                                    <i class="glyphicon glyphicon-share"></i> <span>{{ ('sylius.order.inventory_unit.' ~ transition)|trans }}</span>
                                </button>
                            </form>
                        {% endfor %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="8">
                    {{ alerts.info('sylius.ui.there_are_no_inventory_units_to_display'|trans) }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% if sm_can(order, constant('Sylius\\Component\\Order\\OrderTransitions::SYLIUS_RELEASE'), constant('Sylius\\Component\\Order\\OrderTransitions::GRAPH')) %}
        <form action="{{ path('sylius_backend_order_release_inventory', {'id': order.id}) }}" method="post">
            <input type="hidden" name="_method" value="PUT">
            <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-repeat"></i> <span>{{ 'sylius.ui.release_inventory'|trans }}</span>
            </button>
        </form>
    {% endif %}
    </div>
</div>

{% endblock %}
