{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.sales'|trans }}</li>
    <li><a href="{{ path('sylius_backend_order_index') }}">{{ 'sylius.breadcrumb.order.index'|trans }}</a></li>
    <li>#{{ order.number }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    {% if not order.deleted %}
    <div class="actions-menu">
        {{ buttons.edit(path('sylius_backend_order_update', {'id': order.id})) }}
        {{ buttons.delete(path('sylius_backend_order_delete', {'id': order.id})) }}
    </div>
    {% endif %}
    <h1>
        <span class="glyphicon glyphicon-file"></span> {{ 'sylius.order.show_header'|trans({'%number%': order.number}) }}
        {% if order.deleted %}<span class="label label-danger">{{ 'sylius.deleted'|trans }}</span>{% endif %}
    </h1>
</div>

<div class="row">
    <div class="col col-md-3">
        <h4>{{ 'sylius.order.billing_address'|trans|title }}</h4>
        {% include 'SyliusWebBundle:Backend/Address:_show.html.twig' with { 'address': order.billingAddress } %}
    </div>
    <div class="col col-md-3">
        <h4>{{ 'sylius.order.shipping_address'|trans|title }}</h4>
        {% include 'SyliusWebBundle:Backend/Address:_show.html.twig' with { 'address': order.shippingAddress } %}
    </div>
    <div class="col col-md-3">
        <h4>Order Details</h4>
        <dl>
            <dt>{{ 'sylius.order.created_at'|trans }}</dt>
            <dd>{{ order.createdAt|date }}</dd>
            <dt>Email</dt>
            <dd>
                {% if order.user %}
                    {{ order.user.email }}
                {% else %}
                    {{ order.email }}
                {% endif %}
            </dd>
        </dl>
    </div>
    <div class="col col-md-3">
        <div class="list-group">
            <div class="list-group-item">
                <h4 class="list-group-item-heading">{{ 'sylius.order.payment'|trans }}</h4>
                <div class="list-group-item-text">
                    <ul class="list-unstyled">
                        {% for payment in order.payments %}
                            <li>
                                <a href="{{ path('sylius_backend_payment_history', {'id': payment.id}) }}">{{ payment.method }} - {{ payment.amount|sylius_price(payment.currency) }}</a>
                                <div class="pull-right">
                                    {{ misc.state_label(payment.state, 'payment') }}
                                </div>
                                {% for transition in ['cancel', 'complete', 'refund'] if sm_can(payment, transition, 'sylius_payment') %}
                                    <form action="{{ path('sylius_backend_payment_update_state', {'id': payment.id, 'transition': transition}) }}" method="post">
                                        <input type="hidden" name="_method" value="PUT">
                                        <button class="btn btn-default" type="submit">
                                            <i class="glyphicon glyphicon-share"></i> <span>{{ transition }}</span>
                                        </button>
                                    </form>
                                {% endfor %}
                            </li>
                        {% else %}
                            <li class="text-muted">
                                {{ 'sylius.order.no_payments'|trans }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">{{ 'sylius.order.shipments'|trans }}</h4>
                <div class="list-group-item-text">
                    <ul class="list-unstyled">
                    {% for shipment in order.shipments %}
                        <li>
                            <a href="{{ path('sylius_backend_shipment_show', {'id': shipment.id}) }}">{{ shipment.method.name }}</a>
                            <div class="pull-right">
                                <span class="label label-primary">{{ shipment.state|title }}</span>
                            </div>
                        </li>
                    {% else %}
                        <li class="text-muted">
                            {{ 'sylius.order.no_shipments'|trans }}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<hr/>

<table class="sylius-order-content-table table table-striped table-bordered">
    <thead>
        <tr>
            <th class="picture"></th>
            <th class="info">{{ 'sylius.order_item.product'|trans }}</th>
            <th class="quantity text-center">{{ 'sylius.order_item.quantity'|trans }}</th>
            <th class="unit-price text-center">{{ 'sylius.order_item.unit_price'|trans }}</th>
            <th class="total text-right">{{ 'sylius.order_item.total'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.items %}
        {% set variant = item.variant %}
        {% set product = variant.product %}
        <tr>
            <td class="picture text-center">
                <a href="{{ path('sylius_backend_product_show', {'id': product.id}) }}" title="View {{ product.name|escape('html_attr') }} details.">
                    <img src="{{ product.image ? product.image.path|imagine_filter('sylius_small') : 'http://placehold.it/90x60' }}" alt="" class="imgmedia-object" />
                </a>
            </td>
            <td class="info">
                <a href="{{ path('sylius_backend_product_show', {'id': product.id}) }}">
                    <h4 class="name">
                        {{ product.name }}
                        {% if product.deleted %}<span class="label label-danger">{{ 'sylius.deleted'|trans }}</span>{% endif %}
                    </h4>
                </a>
                {% if product.hasOptions %}
                <ul class="list-unstyled">
                    <li class="sku"><strong>{{ 'sylius.product.sku'|trans }}</strong>: <code>{{ variant.sku|default('SKU') }}</code></li>
                    {% for option in variant.options %}
                    <li><strong>{{ option.presentation }}</strong>: {{ option.value  }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </td>
            <td class="quantity text-center">{{ item.quantity }}</td>
            <td class="unit-price text-center">
                {{ item.unitPrice|sylius_price(order.currency) }}
            </td>
            <td class="total text-right">
                {{ item.total|sylius_price(order.currency) }}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">
                <hr />
                <div class="alert alert-info">{{ 'sylius.order.no_items'|trans }}</div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="active text-right" colspan="6">
                <strong>{{ 'sylius.order.items_total'|trans }}</strong>:
                <span class="amount">{{ order.itemsTotal|sylius_price(order.currency) }}</span>
            </td>
        </tr>
        <tr class="taxes">
            <td colspan="2">
                <h5>{{ 'sylius.order.taxes'|trans }}</h5>
                {% if order.taxAdjustments|length > 0 %}
                    <ul class="list-unstyled">
                        {% for taxAdjustment in order.taxAdjustments %}
                            <li>{{ taxAdjustment.description }} {{ taxAdjustment.amount|sylius_price(order.currency) }} </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-muted"><small>{{ 'sylius.order.no_taxes'|trans }}</small></p>
                {% endif %}
            </td>
            <td class="text-right" colspan="3">
                <strong>{{ 'sylius.order.tax_total'|trans }}</strong>:
                <span class="amount">{{ order.taxTotal|sylius_price(order.currency) }}</span>
            </td>
        </tr>
        <tr class="shipping-charges">
            <td colspan="2">
                <h5>{{ 'sylius.order.shipping_charges'|trans }}</h5>
                {% if order.shippingAdjustments|length > 0 %}
                    <ul class="list-unstyled">
                        {% for adjustment in order.shippingAdjustments %}
                            <li>{{ adjustment.description }} {{ adjustment.amount|sylius_price(order.currency) }} </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-muted"><small>{{ 'sylius.order.no_shipping_charges'|trans }}</small></p>
                {% endif %}
            </td>
            <td class="text-right" colspan="3">
                <strong>{{ 'sylius.order.shipping_total'|trans }}</strong>:
                <span class="amount">{{ order.shippingTotal|sylius_price(order.currency) }}</span>
            </td>
        </tr>
        <tr class="promotion-discount">
            <td colspan="2">
                <h5>{{ 'sylius.checkout.finalize.order.promotion_discount'|trans }}</h5>
                {% if order.promotionAdjustments|length > 0 %}
                    <ul class="list-unstyled">
                        {% for adjustment in order.promotionAdjustments %}
                            <li>{{ adjustment.description }} {{ adjustment.amount|sylius_price(order.currency) }} </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-muted"><small>{{ 'sylius.checkout.finalize.order.no_promotion'|trans }}</small></p>
                {% endif %}
            </td>
            <td class="text-right" colspan="3">
                <strong>{{ 'sylius.checkout.finalize.order.promotion_total'|trans }}</strong>:
                <span class="amount">{{ order.promotionTotal|sylius_price(order.currency) }}</span>
            </td>
        </tr>
        <tr>
            <td class="text-right active text-success lead" colspan="6">
                <strong>{{ 'sylius.order.total'|trans }}</strong>:
                <span class="amount">{{ order.total|sylius_price(order.currency) }}</span>
            </td>
        </tr>
    </tfoot>
</table>

<hr/>

<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="8">{{ 'sylius.order.inventory_tracking'|trans }}</th>
        </tr>
        <tr>
            <th>#</th>
            <th>{{ 'sylius.inventory_unit.sku'|trans }}</th>
            <th>{{ 'sylius.inventory_unit.name'|trans }}</th>
            <th>{{ 'sylius.inventory_unit.inventory_state'|trans }}</th>
            <th>{{ 'sylius.inventory_unit.shipping_state'|trans }}</th>
            <th>{{ 'sylius.inventory_unit.created_at'|trans }}</th>
            <th>{{ 'sylius.inventory_unit.updated_at'|trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for unit in order.inventoryUnits %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ unit.stockable.sku }}</td>
            <td>{{ unit.inventoryName }}</td>
            <td>{{ unit.inventoryState|humanize }}</td>
            <td>{{ unit.shippingState|humanize }}</td>
            <td>{{ unit.createdAt|date }}</td>
            <td>{{ unit.updatedAt|date }}</td>
            <td>
                {% for transition in ['backorder', 'sell', 'return'] if sm_can(unit, transition, 'sylius_inventory_unit') %}
                    <form action="{{ path('sylius_backend_inventory_unit_update_state', {'id': unit.id, 'transition': transition}) }}" method="post">
                        <input type="hidden" name="_method" value="PUT">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-share"></i> <span>{{ ('sylius.order.inventory_unit.' ~ transition)|trans }}</span>
                        </button>
                    </form>
                {% endfor %}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="8">
            {{ alerts.info('sylius.inventory_unit.no_results'|trans) }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if sm_can(order, constant('Sylius\\Component\\Order\\OrderTransitions::SYLIUS_RELEASE'), constant('Sylius\\Component\\Order\\OrderTransitions::GRAPH')) %}
    <form action="{{ path('sylius_backend_order_release_inventory', {'id': order.id}) }}" method="post">
        <input type="hidden" name="_method" value="PUT">
        <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-repeat"></i> <span>{{ 'sylius.order.release_inventory'|trans }}</span>
        </button>
    </form>
{% elseif 1 == order.shipments|length and constant('Sylius\\Component\\Order\\Model\\OrderInterface::STATE_CONFIRMED') == order.state and constant('Sylius\\Component\\Payment\\Model\\PaymentInterface::STATE_COMPLETED') == order.paymentState %}
    <form action="{{ path('sylius_backend_shipment_ship', {'id': order.shipments.current.id}) }}" method="post">
        {% render(controller('sylius.controller.backend.form:showAction', {'type': 'sylius_shipment_tracking', 'template': 'SyliusWebBundle:Backend/Shipment:trackingForm.html.twig'})) %}
    </form>
{% endif %}

{% endblock %}
