{% extends 'SyliusWebBundle:Backend:layout2Column.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page %}

{% block sidebar %}
    {% include 'SyliusWebBundle:Backend/Order:_sidebar.html.twig' %}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.sales'|trans }}</li>
    <li><a href="{{ path('sylius_backend_order_index') }}">{{ 'sylius.breadcrumb.order.index'|trans }}</a></li>
    <li>#{{ order.number }}</li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('order.show', 'file', 'SyliusWebBundle:Backend/Order/Actions:_show.html.twig') }}

<div class="tab-content">
    {% include 'SyliusWebBundle:Backend/Order/Details:_overview.html.twig' %}
    {% include 'SyliusWebBundle:Backend/Order/Details:_customer.html.twig' %}
    {% include 'SyliusWebBundle:Backend/Order/Details:_shipments.html.twig' %}
    {% include 'SyliusWebBundle:Backend/Order/Details:_payments.html.twig' %}
    {% include 'SyliusWebBundle:Backend/Order/Details:_inventory.html.twig' %}
    {% include 'SyliusWebBundle:Backend/Order/Details:_returns.html.twig' %}
</div>
{% endblock %}
