{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.sales'|trans }}</li>
    <li><a href="{{ path('sylius_backend_order_index') }}">{{ 'sylius.breadcrumb.order.index'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_order_show', {'id': order.id}) }}">#{{ order.number }}</a></li>
    <li>{{ 'sylius.breadcrumb.edit'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        <a href="{{ path('sylius_backend_order_history', {'id': order.id}) }}" class="btn btn-info">
            <i class="glyphicon glyphicon-calendar"></i>
            {{ 'sylius.history.header'|trans }}
        </a>
    </div>
    <h1><span class="glyphicon glyphicon-pencil"></span> {{ 'sylius.order.update_header'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

{% if not order.shippingState is constant('Sylius\\Component\\Shipping\\Model\\ShipmentInterface::STATE_SHIPPED') %}
<form action="{{ path('sylius_backend_order_update', {'id': order.id, '_method': 'PUT'}) }}" method="post" class="form-horizontal" novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/Order:_form.html.twig' %}
    {{ update() }}
</form>
{% else %}
<div class="well">
    <h3>{{ 'sylius.order.immutable_warning'|trans }}</h3>
</div>
{% endif %}

{% endblock %}
