{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.sales'|trans }}</li>
    <li><a href="{{ path('sylius_backend_order_index') }}">{{ 'sylius.ui.orders'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_order_show', {'id': order.id}) }}">#{{ order.number }}</a></li>
    <li>{{ 'sylius.ui.edit'|trans }}</li>
</ol>
{% endblock %}

{% block javascripts %}
    {# @todo refactor this #}
    {{ parent() }}

    <script type="text/javascript">
        function format(product) {
            return '<img src="/media/cache/sylius_small/'+product.image+'" alt="" class="imgmedia-object" /><h3>'+product.name+' ('+product.price+')</h3><p>'+product.desc+'</p><hr>';
        }

        $(document).ready(function() {
            $(".select2").select2({
                minimumInputLength: 3,
                ajax: {
                    url: "{{ url('sylius_backend_product_find') }}",
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            criteria: {
                                name: term
                            }
                        };
                    },
                    results: function (data, page) {
                        return {
                            results: data
                        };
                    }
                },
                formatResult: format,
                escapeMarkup: function(m) { return m; }
            }).on("select2-selecting", function(e) {
                var number = $('.sylius-order-items-item').length;
                if (number == 0) {
                    $('#sylius-order-items').empty();
                }

                $('#sylius-order-items').append(
                     '<tr class="sylius-order-items-item">'
                    +'<td style="vertical-align: middle">'
                    +'<a href="#" class="btn btn-default" data-collection-button="delete" data-collection="sylius-order-items" data-collection-item="item">'
                    +'<span class="glyphicon glyphicon-trash"></span>'
                    +'</a>'
                    +'</td>'
                    +'<td class="picture text-center">'
                    +'<img src="/media/cache/sylius_small/'+e.choice.image+'" alt="" class="imgmedia-object" />'
                    +'</td>'
                    +'<td class="info">'
                    +'<a><h4 class="name">'+e.choice.name+'</h4><input type="hidden" value="'+e.choice.id+'" name="sylius_advanced_order[items]['+number+'][variant]"></a>'
                    +'</td>'
                    +'<td class="quantity"><input type="number" id="sylius_advanced_order_items_'+number+'_quantity" name="sylius_advanced_order[items]['+number+'][quantity]" required="required" class=" form-control" value="1"></td>'
                    +'<td class="unit-price">'
                    +'<div class="input-group"><span class="input-group-addon">€ </span><input type="text" id="sylius_advanced_order_items_'+number+'_unitPrice" name="sylius_advanced_order[items]['+number+'][unitPrice]" required="required" class="form-control" value="'+ e.choice.raw_price+'"></div>'
                    +'<td class="total text-right">'+e.choice.price+'</td>'
                );
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        <a href="{{ path('sylius_backend_order_history', {'id': order.id}) }}" class="btn btn-info">
            <i class="glyphicon glyphicon-calendar"></i>
            {{ 'sylius.ui.history'|trans }}
        </a>
    </div>
    <h1><span class="glyphicon glyphicon-pencil"></span> {{ 'sylius.ui.editing_order'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

{% if not order.shippingState is constant('Sylius\\Component\\Shipping\\Model\\ShipmentInterface::STATE_SHIPPED') %}
<form action="{{ path('sylius_backend_order_update', {'id': order.id, '_method': 'PUT'}) }}" method="post" class="form-horizontal" novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/Order:_form.html.twig' %}
    {{ update() }}
</form>
{% else %}
<div class="well">
    <h3>{{ 'sylius.order.immutable_warning'|trans }}</h3>
</div>
{% endif %}

{% endblock %}
