{% set item_form = form.items[loop.index0] %}
{% set product = item.product %}
{% set variant = item.variant %}

<tr>
    <td class="single line">
        <div class="ui header">
            {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'filter': 'sylius_shop_product_tiny_thumbnail'} %}
            <div class="content">
                <a href="{{ path('sylius_shop_product_show', {'slug': product.slug}) }}" class="sylius-product-name">{{ product.name }}</a>
                <span class="sub header">
                    {{ product.code }}
                </span>
            </div>
        </div>
        {% if product.hasOptions() %}
            <div class="ui horizontal divided list sylius-product-options">
                {% for option in variant.options %}
                    <div class="item" data-sylius-option-name="{{ option.presentation }}">
                        {{ option.value }}
                    </div>
                {% endfor %}
            </div>
        {% elseif variant.name is not null %}
            <div class="ui horizontal divided list">
                <div class="item sylius-product-variant-name">
                    {{ variant.name }}
                </div>
            </div>
        {% endif %}
    </td>
    <td class="right aligned">
        <span class="sylius-unit-price">{{ item.unitPrice|sylius_price(cart.currencyCode) }}</span>
    </td>
    <td class="center aligned">
        {{ form_widget(item_form.quantity) }}
    </td>
    <td class="center aligned">
        <a href="{{ path('sylius_shop_cart_item_remove', {'id': item.id}) }}" class="ui circular icon button sylius-cart-remove-button"><i class="remove icon"></i></a>
    </td>
    <td class="right aligned">
        {# Todo: Fix this mess... #}
        {% set regular_total = item|sylius_regular_price %}
        {% if 0 != item.getAdjustmentsTotalRecursively('order_unit_promotion') %}
            <span class="sylius-total" style="text-decoration: line-through">{{ regular_total|sylius_price }}</span>
            <span class="sylius-discounted-total">{{ item.total|sylius_price }}</span>
        {% else %}
            <span class="sylius-total">{{ regular_total|sylius_price }}</span>
        {% endif %}
    </td>
</tr>
