{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set itemsSubtotal = 0 %}
{% set taxIncluded = true %}

{% for item in cart.items %}
    {% set itemsSubtotal = itemsSubtotal + item.subtotal %}
{% endfor %}

{% for tax in cart.getAdjustmentsRecursively("tax") %}
    {% if not tax.isNeutral %}
        {% set taxIncluded = false %}
    {% endif %}
{% endfor %}

<div class="ui segment">
    <h2 class="ui dividing header">{{ 'sylius.ui.summary'|trans }}</h2>

    {{ sonata_block_render_event('sylius.shop.cart.summary.totals', {'cart': cart}) }}

    <table class="ui very basic table">
        <tbody>
        <tr>
            <td>{{ 'sylius.ui.items_total'|trans }}:</td>
            <td class="right aligned">{{ money.convertAndFormat(itemsSubtotal) }}</td>
        </tr>
        {% if cart.orderPromotionTotal %}
        <tr>
            <td>{{ 'sylius.ui.discount'|trans }}:</td>
            <td id="sylius-cart-promotion-total" class="right aligned">{{ money.convertAndFormat(cart.orderPromotionTotal) }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>{{ 'sylius.ui.shipping_estimated_cost'|trans }}:</td>
            <td class="right aligned">
                {% if cart.getAdjustmentsTotal('shipping') > cart.shippingTotal %}
                    <span class="old-price">{{ money.convertAndFormat(cart.getAdjustmentsTotal('shipping')) }}</span>
                {% endif %}
                <span id="sylius-cart-shipping-total">{{ money.convertAndFormat(cart.shippingTotal) }}</span>
            </td>
        </tr>
        <tr {% if taxIncluded %}class="tax-disabled"{% endif %}>
            <td>{{ 'sylius.ui.taxes_total'|trans }}:</td>
            <td class="right aligned">
                <span id="sylius-cart-tax-total">{{ money.convertAndFormat(cart.taxTotal) }}</span>
                {% if taxIncluded %}<br><small>({{ 'sylius.ui.included_in_price'|trans }})</small>{% endif %}
            </td>
        </tr>
        <tr class="ui large header">
            <td>{{ 'sylius.ui.order_total'|trans }}:</td>
            <td id="sylius-cart-grand-total" class="right aligned">{{ money.convertAndFormat(cart.total) }}</td>
        </tr>
        {% if cart.currencyCode is not same as(sylius.currencyCode) %}
            <tr>
                <td>{{ 'sylius.ui.base_currency_order_total'|trans }}:</td>
                <td id="sylius-cart-base-grand-total" class="right aligned">{{ money.format(cart.total, cart.currencyCode) }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
