{% macro list(metadata_containers) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if metadata_containers|length > 0 %}
<table class="table table-condensed">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('type', 'sylius.metadata_container.type'|trans) }}</th>
            <th>{{ sylius_resource_sort('code', 'sylius.metadata_container.code'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for metadata_container in metadata_containers %}
        <tr>
            <td>{{ metadata_container.type }}</td>
            <td>
                <a href="{{ path('sylius_backend_metadata_container_show', { 'id': metadata_container.id }) }}">
                    {{ metadata_container.code }}
                </a>
            </td>
            <td>
                <div class="pull-right">
                {{ buttons.edit(path('sylius_backend_page_metadata_container_customize', { 'type': metadata_container.type, 'code': metadata_container.code })) }}
                {{ buttons.delete(path('sylius_backend_metadata_container_delete', { 'id': metadata_container.id })) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.metadata_container.no_results'|trans) }}
{% endif %}

{% endmacro %}
