{% macro list(metadata_containers) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if metadata_containers|length > 0 %}
<table class="table table-condensed">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', 'sylius.metadata_container.id'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for metadata_container in metadata_containers %}
        <tr>
            <td><a href="{{ path('sylius_backend_metadata_container_show', { 'id': metadata_container.id }) }}">{{ metadata_container.id }}</a></td>
            <td>
                <div class="pull-right">
                {{ buttons.edit(path('sylius_backend_metadata_container_customize', { 'id': metadata_container.id })) }}
                {{ buttons.delete(path('sylius_backend_metadata_container_delete', { 'id': metadata_container.id })) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.metadata_container.no_results'|trans) }}
{% endif %}

{% endmacro %}
