{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% macro dataAsList(data) %}
    {% if data is iterable and data|length > 0 %}
        <ul>
            {% for key, element in data %}
                <li>
                    {% if key is not same as(loop.index0) %}<b>{{ key|humanize }}:</b> {% endif %}{{ _self.dataAsList(element) }}
                </li>
            {% endfor %}
        </ul>
    {% elseif data is not empty %}
        {{ data }}
    {% else %}
        <small><i>empty</i></small>
    {% endif %}
{% endmacro %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.configuration'|trans }}</li>
    <li><a href="{{ path('sylius_backend_metadata_container_index') }}">{{ 'sylius.ui.metadata_index'|trans }}</a></li>
    <li>{{ metadata_container.type }}: {{ metadata_container.code }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.manage(path('sylius_backend_metadata_container_index'), 'sylius.ui.manage_metadata'|trans) }}
        {{ buttons.edit(path('sylius_backend_metadata_container_customize', { 'type': metadata_container.type, 'code': metadata_container.code })) }}
        {{ buttons.delete(path('sylius_backend_metadata_container_delete', { 'id': metadata_container.id }), null, false, false) }}
    </div>
    <h1><i class="glyphicon glyphicon-flag"></i> {{ 'sylius.ui.show_metadata'|trans|raw }} <small>{{ metadata_container.type }}: {{ metadata_container.code }}</small></h1>
</div>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>{{ 'sylius.ui.locale'|trans }}</th>
            <th>{{ 'sylius.ui.content'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for translation in metadata_container.translations %}
            <tr>
                <td>{{ translation.locale }}</td>
                <td>{{ _self.dataAsList(translation.metadata.toArray()) }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
