{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Channel:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.configuration'|trans }}</li>
    <li>{{ 'sylius.ui.channels'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_channel_create'), 'sylius.ui.add_channel'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-cog"></i> {{ 'sylius.ui.channels'|trans|raw }}</h1>
</div>

{{ pagination(channels) }}
{{ list(channels) }}
{{ pagination(channels) }}

{% endblock %}
