{% set item_form = form.items[loop.index0] %}
{% set product = item.product %}
{% set variant = item.variant %}

<tr>
    <td class="single line">
        <strong class="ui small header">
            {{ product.name }}
            <span class="sub header">
                {{ product.code }}
            </span>
        </strong>
        {% if product.hasOptions() %}
            <div class="ui horizontal divided list">
                {% for option in variant.options %}
                    <div class="item">
                        {{ option.value }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </td>
    <td class="right aligned">
        {{ item.unitPrice|sylius_price(cart.currency) }}
    </td>
    <td class="center aligned">
        {{ form_widget(item_form.quantity) }}
    </td>
    <td class="right aligned">
        {{ item.total|sylius_price(cart.currency) }}
    </td>
    <td class="center aligned">
        <a href="{{ path('sylius_shop_cart_item_remove', {'id': item.id}) }}" class="ui circular icon button"><i class="remove icon"></i></a>
    </td>
</tr>
