{% set product = variant.product %}
<td>
    <div class="product-name">
    <a href="{{ path(product) }}"><strong>{{ product.name }}</strong></a>
    </div>
    <a href="{{ path(product) }}" style="margin-right: 15px;">
        <img src="{{ variant.image ? variant.image.path|imagine_filter('sylius_small') : 'http://placehold.it/90x60' }}" alt="{{ product.name }}" />
    </a>
    {% if variant.presentation is not empty %}
        <strong>{{ variant.presentation }}</strong>
    {% elseif product.hasOptions %}
        <ul>
            {% for option in variant.options %}
                <li><strong>{{ option.presentation }}</strong>: {{ option.value }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</td>
