{% extends 'SyliusShopBundle:Layout:main.html.twig' %}

{% import 'SyliusUiBundle:Macro:messages.html.twig' as messages %}

{% set taxAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::TAX_ADJUSTMENT') %}
{% set shippingAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::SHIPPING_ADJUSTMENT') %}

{% block content %}
    <h1 class="ui dividing header">{{ 'sylius.ui.cart_summary'|trans|raw }}</h1>
    {% if not cart.empty %}
        {{ form_errors(form) }}
        <form action="{{ path('sylius_shop_cart_save') }}" method="post" novalidate>
            <table class="ui compact celled definition table" id="cart-items">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'sylius.ui.product'|trans }}</th>
                    <th>{{ 'sylius.ui.quantity'|trans }}</th>
                    <th></th>
                    <th>{{ 'sylius.ui.unit_price'|trans }}</th>
                    <th style="text-align: right;">{{ 'sylius.ui.total'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in form.items %}
                    {% include 'SyliusShopBundle:Cart:_item.html.twig' %}
                {% endfor %}
                </tbody>
            </table>
            <table class="ui compact celled definition table" id="cart-summary">
                <tbody>
                {% set promotionTotal = cart.getPromotionsTotalRecursively() %}
                {% if promotionTotal %}
                    <tr>
                        <td colspan="6" style="text-align: right;">
                            <strong>{{ 'sylius.ui.promotion_total'|trans }}</strong>: -{{ (-1 * promotionTotal)|sylius_price }}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="6" style="text-align: right;">
                        {% set shippingTotal = cart.adjustmentsTotal(taxAdjustment) + cart.adjustmentsTotal(shippingAdjustment) %}
                        <strong>{{ 'sylius.ui.shipping_total'|trans }}</strong>: {{ shippingTotal|sylius_price }}
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <p><strong>{{ 'sylius.ui.taxes'|trans }}</strong></p>
                        <ul>
                            {% for taxLabel, taxAmount in sylius_aggregate_adjustments(cart.getAdjustmentsRecursively(taxAdjustment)) %}
                                <li>{{ taxLabel }} {{ taxAmount|sylius_price }} </li>
                            {% else %}
                                <li><span class="label label-info">{{ 'sylius.order.no_taxes'|trans }}</span></li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td colspan="2" style="text-align: right;">
                        <strong>{{ 'sylius.ui.tax_total'|trans }}</strong>: {{ cart.getAdjustmentsTotalRecursively(taxAdjustment)|sylius_price }}
                    </td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align: right;">
                        <strong>{{ 'sylius.ui.grand_total'|trans }}</strong>: {{ cart.total|sylius_price }}
                    </td>
                </tr>
                </tbody>
            </table>
            {{ form_rest(form) }}
            <div class="ui two clumn grid">
                <div class="two wide column">
                <button type="submit" class="ui button"><i class="icon save"></i> {{ 'sylius.ui.save'|trans }}</button>
                    </div>
                    <div class="column">
                    <a href="{{ path('sylius_checkout_start') }}" class="ui button"><i class="icon shopping cart"></i> {{ 'sylius.ui.checkout'|trans }}</a>
                </div>
            </div>
            <div class="ui hidden divider"></div>
        </form>
    {% else %}
        {{ messages.info('sylius.cart.empty'|trans) }}
    {% endif %}
{% endblock %}

{% block sylius_cart_item_row %}
    {{ parent() }}
    {% block form_message %}{% endblock %}
{% endblock %}