{% extends 'SyliusShopBundle:Layout:main.html.twig' %}

{% form_theme form 'SyliusUiBundle:Form:theme.html.twig' %}

{% import 'SyliusUiBundle:Macro:headers.html.twig' as headers %}
{% import 'SyliusUiBundle:Macro:messages.html.twig' as messages %}

{% set header = 'sylius.ui.your_shopping_cart' %}

{% block title %}{{ parent() }} | {{ header|trans }}{% endblock %}

{% block content %}

{% if cart.empty %}
    {{ messages.info('sylius.ui.your_cart_is_empty'|trans) }}
{% else %}
    {{ headers.default(header|trans, 'cart', 'sylius.ui.edit_your_items_apply_coupon_or_proceed_to_the_checkout'|trans) }}

    {{ form_start(form, {'action': path('sylius_shop_cart_save'), 'attr': {'class': 'ui form', 'novalidate': 'novalidate'}}) }}

    <div class="ui stackable grid">
        <div class="eleven wide column">
            {% include '@SyliusShop/Cart/_items.html.twig' %}
        </div>
        <div class="five wide column">
            {% include '@SyliusShop/Cart/_totals.html.twig' %}
        </div>
    </div>

    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endif %}
{% endblock %}
