{% extends 'SyliusUiBundle:Security:layout.html.twig' %}

{% block content %}
<form method="post" action="{{ path('sylius_backend_security_login_check') }}" class="form-signin">
    <img src="{{ asset('bundles/syliusui/img/swan.png') }}" class="swan" />

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <input type="text" name="_username" class="form-control input-lg" placeholder="{{ 'sylius.email'|trans }}"><br>
    <input type="password" name="_password" class="form-control input-lg" placeholder="{{ 'sylius.password'|trans }}">
    <hr>
    <button class="btn btn-block btn-lg btn-login" type="submit">{{ 'sylius.login'|trans }}</button>
</form>
{% endblock %}
