<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                {{ 'sylius.meta.backend_title'|trans }}
            {% endblock %}
        </title>

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block stylesheets %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
            {% stylesheets output='assets/compiled/backend_login.css' filter='cssrewrite'
                'bundles/syliusweb/css/backend.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body class="signin">
        <form action="{{ path('sylius_backend_security_login_check') }}" method="post" class="form-signin" >
            <img src="{{ asset('bundles/syliusweb/img/swan.png') }}" class="swan" />

            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {{ form_errors(form) }}

            {{ form_widget(form._username, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'sylius.form.user.email'|trans } }) }}
            <br>
            {{ form_widget(form._password, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'sylius.form.user.password.label'|trans } }) }}
            <hr>
            <button class="btn btn-block btn-lg btn-success" type="submit">{{ 'sylius.ui.login'|trans }}</button>
        </form>
    </body>
</html>
