{% extends "SyliusWebBundle:Backend:layout_simple.html.twig" %}


{% block content %}

    <script type="text/javascript">
        var init = [];
        init.push(function () {
            $("#signin-form_id").validate({
                ignore: '.ignore, .select2-input',
                focusInvalid: false,
                rules: {
                    '_username': {
                        required: true,
                        minlength: 4
                    },
                    '_password': {
                        required: true,
                        minlength: 4
                    }
                },
                messages: {
                    '_username': "Vous devez mettre un login valide",
                    '_password': "Vous devez mettre mot de passe valide"
                }
            });
        });
        window.PixelAdmin.start(init);
    </script>

    <h1 class="form-header">Connectez vous avec votre compte</h1>

    <form id="signin-form_id" method="post" action="{{ path('sylius_backend_security_login_check') }}" class="panel">

        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}

        <div class="form-group">
            <input type="text" name="_username" id="username_id" class="form-control input-lg" placeholder="{{ 'sylius.email'|trans }}"><br>
        </div>

        <div class="form-group signin-password">
            <input type="password" name="_password" id="password_id" class="form-control input-lg" placeholder="{{ 'sylius.password'|trans }}">
            <a href="#" class="forgot">Forgot?</a>
        </div>

        <hr>
        <button class="btn btn-primary btn-block btn-lg" type="submit"><i class="fa fa-power-off"></i> {{ 'sylius.login'|trans }}</button>
    </form>

    <div class="signin-with">
        <div class="header">ou avec les réseaux sociaux</div>
        <a href="index.html" class="btn btn-lg btn-facebook rounded"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
        <a href="index.html" class="btn btn-lg btn-info rounded"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
        <a href="index.html" class="btn btn-lg btn-danger rounded"><i class="fa fa-google-plus"></i></a>
    </div>

{% endblock %}
