{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block javascripts %}
{{ parent() }}
{% javascripts output='assets/compiled/frontend_province.js'
    'bundles/syliusweb/js/province-choices.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.ui.addressing_step'|trans|raw }}</h1>
</div>

{% include 'SyliusWebBundle:Frontend/Checkout:_progressBar.html.twig' %}

<form method="post" action="{{ path(context.process.forwardRoute, {'stepName': context.currentStep.name}) }}" class="form-horizontal" novalidate>

{{ form_errors(form) }}

<fieldset>
    <div class="row">
        <div class="col-md-6 address-container">
            <div class="well">
                <h4>{{ 'sylius.ui.shipping_address'|trans }}</h4>
                {% include 'SyliusWebBundle:Frontend/Address:_form.html.twig' with {'form': form.shippingAddress} %}
                {{ form_row(form.differentBillingAddress, {'attr': {'class': 'sylius-different-billing-address-trigger'}}) }}
            </div>
        </div>
        <div class="col-md-6 hidden address-container" id="sylius-billing-address-container">
            <div class="well">
                <h4>{{ 'sylius.ui.billing_address'|trans }}</h4>
                {% include 'SyliusWebBundle:Frontend/Address:_form.html.twig' with {'form': form.billingAddress} %}
            </div>
        </div>
    </div>
</fieldset>

{{ form_widget(form._token) }}

<div class="form-actions">
    <a href="{{ path('sylius_cart_summary') }}" class="btn btn-lg"><i class="icon-chevron-left"></i> {{ 'sylius.ui.back'|trans }}</a> &nbsp;
    <button type="submit" class="btn btn-primary btn-lg">{{ 'sylius.checkout.forward'|trans }} <i class="icon-chevron-right"></i></button>
</div>

</form>
{% endblock %}
