{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.ui.sign_in_to_the_store_or_create_new_account'|trans|raw }}</h1>
</div>

{% include 'SyliusWebBundle:Frontend/Checkout:_progressBar.html.twig' %}

<div class="row form-vertical">
    <div class="col-md-6 checkout-existing-customer">
        <div class="well">
            <form action="{{ path('sylius_user_security_check') }}" method="post" class="form-horizontal">
                <fieldset>
                    <legend>{{ 'sylius.ui.existing_customer'|trans }}</legend>
                    <div class="form-group">
                        <label for="username" class="control-label col-lg-3">{{ 'sylius.ui.email'|trans }}</label>
                        <div class="controls col-lg-9">
                            <input type="text" id="username" name="_username" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                    <label for="password" class="control-label col-lg-3">{{ 'sylius.ui.password'|trans }}</label>
                        <div class="controls col-lg-9">
                            <input type="password" id="password" name="_password" class="form-control" />
                        </div>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary btn-block" name="login" value="{{ 'sylius.ui.login'|trans }}" />
                </div>
            </form>
        </div>
    </div>
    {% if guest_form is not empty %}
    <div class="col-md-6 checkout-guest-customer">
        <div class="well">
            <form action="{{ path(context.process.forwardRoute, {'stepName': context.currentStep.name}) }}" method="post" novalidate class="form-horizontal">
                <fieldset>
                    <legend>{{ 'sylius.ui.guest'|trans }}</legend>
                    {{ form_widget(guest_form) }}
                </fieldset>
                <div class="form-actions">
                    <input type="submit" class="btn btn-success btn-block" value="{{ 'sylius.checkout.security.proceed_order'|trans }}" />
                </div>
            </form>
        </div>
    </div>
    {% endif %}
    <div class="col-md-6 checkout-new-customer">
        <div class="well">
            <form action="{{ path(context.process.forwardRoute, {'stepName': context.currentStep.name}) }}" method="post" novalidate class="form-horizontal">
                <fieldset>
                    <legend>{{ 'sylius.ui.new_customer'|trans }}</legend>
                    {{ form_widget(registration_form) }}
                </fieldset>
                <div class="form-actions">
                    <input type="submit" class="btn btn-success btn-block" value="{{ 'sylius.ui.register'|trans }}" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
