{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.content'|trans }}</li>
    <li><a href="{{ path('sylius_backend_block_overview') }}">{{ 'sylius.ui.blocks'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_imagine_block_index') }}">{{ 'sylius.ui.imagine_blocks'|trans }}</a></li>
    <li>{{ 'sylius.ui.new'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-plus-sign"></i> {{ 'sylius.ui.creating_a_new_imagine_block'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('sylius_backend_imagine_block_create') }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
    {% include 'SyliusWebBundle:Backend/Content/Block/Imagine:_form.html.twig' %}
    {{ create() }}
</form>
{% endblock %}
