{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Group:macros.html.twig' import list  %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.customers'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.group.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_group_create'), 'sylius.group.create'|trans) }}
        {{ buttons.manage(path('sylius_backend_user_index'), 'sylius.user.manage'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-home"></i> {{ 'sylius.group.index_header'|trans|raw }}</h1>
</div>

{{ pagination(groups) }}
{{ list(groups)  }}
{{ pagination(groups) }}

{% endblock %}
