{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/Group:macros.html.twig' import list  %}
{% import 'SyliusUiBundle::page.html.twig' as page %}
{% import 'SyliusUiBundle::pagination.html.twig' as pagination %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.customers'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.group.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('group.index', 'group', 'SyliusWebBundle:Backend/Group/Actions:_index.html.twig') }}

{{ pagination.standard(groups) }}
{{ list(groups)  }}
{{ pagination.standard(groups) }}
{% endblock %}
