{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.customers'|trans }}</li>
    <li><a href="{{ path('sylius_backend_group_index') }}">{{ 'sylius.breadcrumb.group.index'|trans }}</a></li>
    <li>{{ group.name }}</li>
    <li>{{ 'sylius.breadcrumb.edit'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('sylius_backend_group_update', {'id': group.id}), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

{{ page.header('group.update', 'pencil', 'SyliusUiBundle:Form/Actions:_update.html.twig') }}

{{ form_errors(form) }}
{% include 'SyliusWebBundle:Backend/Group:_form.html.twig' %}
<input type="hidden" name="_method" value="PUT">

{{ form_end(form) }}
{% endblock %}
