{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.customer'|trans }}</li>
    <li><a href="{{ path('sylius_backend_group_index') }}">{{ 'sylius.ui.groups'|trans }}</a></li>
    <li>{{ group.name }}</li>
    <li>{{ 'sylius.ui.edit'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-pencil"></i> {{ 'sylius.ui.edit_group'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('sylius_backend_group_update', {'id': group.id}) }}" method="post" class="form-horizontal" novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/Group:_form.html.twig' %}
    {{ update() }}
</form>
{% endblock %}
