{% extends '@SyliusShop/Account/layout.html.twig' %}
{% from '@SyliusShop/shared/breadcrumbs.html.twig' import breadcrumbs as breadcrumbs %}

{% block title %}{{ 'sylius.ui.order'|trans }} #{{ order.number }} | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumbs([
        { label: 'sylius.ui.home'|trans, path: path('sylius_shop_homepage')},
        { label: 'sylius.ui.my_account'|trans, path: path('sylius_shop_account_dashboard')},
        { label: 'sylius.ui.order_history'|trans, path: path('sylius_shop_account_order_index')},
        { label: '<span '~sylius_test_html_attribute('order-number')~'>#'~order.number~'</span>', active: true }
    ]) }}
{% endblock %}

{% block account_header %}
    {% set title = 'sylius.ui.order'|trans ~ ' #' ~ order.number %}
    {{ parent() }}
{% endblock %}

{% block account_content %}
    {{ sylius_template_event('sylius.shop.account.order.show.content', _context) }}
{% endblock %}
