{#{{ sylius_template_event('sylius.shop.product.index.box', {'product': product}) }}#}

{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

<div {{ sylius_test_html_attribute('product') }}>
    <a class="link-reset" href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}" {{ sylius_test_html_attribute('product-content') }}>
        <div class="mb-4">
            <div class="overflow-auto bg-light rounded-3" style="aspect-ratio: 3/4; ">
                {% include '@SyliusShop/Product/main_image.html.twig' with {'product': product, class: 'w-100 h-100 object-fit-cover'} %}
            </div>
        </div>
        <div class="h6" {{ sylius_test_html_attribute('product-name', product.name) }}>
            {{ product.name }}
        </div>
    </a>
    <div>
        {% if not product.enabledVariants.empty() %}
            {% set variant = product|sylius_resolve_variant %}
            {% set price = money.calculatePrice(variant) %}
            {% set originalPrice = money.calculateOriginalPrice(variant) %}
            {% set appliedPromotions = variant.getAppliedPromotionsForChannel(sylius.channel) %}

            {% include '@SyliusShop/Product/show/summary/catalog_promotions.html.twig' with {'appliedPromotions': appliedPromotions, 'withDescription': false} %}

            {% if variant|sylius_has_discount({'channel': sylius.channel}) %}
                <span {{ sylius_test_html_attribute('product-original-price') }}><del>{{ originalPrice }}</del></span>
            {% endif %}
            <span {{ sylius_test_html_attribute('product-price') }}>{{ price }}</span>
        {% endif %}
    </div>
</div>
