{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% block title %}{{ product.name }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        {{ sylius_template_event('sylius.shop.product.show.header', _context) }}

        <div class="row g-lg-5 g-xl-6 mb-6">
            <div class="col-12 col-lg-4 order-lg-1">
                <div class="sticky-top pt-2" style="top: 3rem;" {{ sylius_test_html_attribute('product-box') }}>
                    {{ sylius_template_event('sylius.shop.product.show.summary', _context) }}
                </div>
            </div>
            <div class="col-12 col-lg-8">
                {{ sylius_template_event('sylius.shop.product.show.main', _context) }}
            </div>
        </div>

        <div class="mb-6">
            {{ sylius_template_event('sylius.shop.product.show.footer', _context) }}
        </div>
    </div>
{% endblock %}
