<div class="ui fluid vertical menu">
    <div class="header item">{{ taxon.name }}</div>
    {% if taxon.parent is not empty %}
        <a href="{{ path('sylius_shop_taxon_show', {'permalink': taxon.parent.permalink}) }}" class="item">
            <i class="up arrow icon"></i> {{ 'sylius.ui.go_level_up'|trans }}
        </a>
    {% endif %}
    {% for child in taxon.children %}
    <a href="{{ path('sylius_shop_taxon_show', {'permalink': child.permalink}) }}" class="item">{{ child.name }}</a>
    {% endfor %}
</div>
