{% macro default(params = {}) %}
    {% from '@SyliusAdmin/Shared/Helper/icon.html.twig' import icon as i %}

    {% set p = {
        attr: null,
        class: null,
        text: "Button",
        disabled: false,
        dropdown: false,
        icon: null,
        iconOnly: false,
        id: null,
        size: null,
        type: "button",
        url: null,
        form: null,
    }|merge(params) %}

    {% set buttonClass = 'btn' ~
        (p.class ? ' ' ~ p.class : '') ~
        (p.disabled ? ' disabled' : '') ~
        (p.dropdown ? ' dropdown-toggle' : '') ~
        (p.iconOnly ? ' btn-icon' : '') ~
        (p.size == 'large' ? ' btn-lg' : '') ~
        (p.size == 'small' ? ' btn-sm' : '') %}

    {% if p.url %}
        <a href="{{ p.url }}"
           {% if p.id %}id="{{ p.id }}"{% endif %}
           class="{{ buttonClass }}"
            {% if p.disabled %}aria-disabled="true"{% endif %}
            {% if p.dropdown %}data-bs-toggle="dropdown"{% endif %}
            {{ block('attributes') }}>
            {{ p.icon ? i({ icon: p.icon }) }}
            {{ not p.iconOnly ? p.text }}
        </a>
    {% else %}
        <button type="{{ p.type }}"
                {% if p.id %}id="{{ p.id }}"{% endif %}
                {% if p.form %}form="{{ p.form }}"{% endif %}
                class="{{ buttonClass }}"
            {% if p.disabled %}disabled{% endif %}
            {% if p.dropdown %}data-bs-toggle="dropdown"{% endif %}
            {{ block('attributes') }}>
            {{ p.icon ? i({ icon: p.icon }) }}
            {{ not p.iconOnly ? p.text }}
        </button>
    {% endif %}
{% endmacro %}

{% macro primary(params = {}) %}
    {% import _self as _ %}
    {% set params = {
        class: null,
    }|merge(params) %}

    {% set newParams = params|merge({ class: 'btn-primary ' ~ params.class }) %}
    {{ _.default(newParams) }}
{% endmacro %}

{% macro delete(params = {}) %}
    {% import _self as _ %}
    {% set params = {
        class: null,
    }|merge(params) %}

    {% set newParams = { text: 'Delete' }|merge(params)|merge({ class: 'btn btn-ghost-danger ' ~ params.class }) %}
    {{ _.default(newParams) }}
{% endmacro %}

{% macro create(params = {}) %}
    {% import _self as _ %}
    {% set params = {
        type: 'submit',
        text: 'sylius.ui.create'|trans,
    }|merge(params) %}

    {{ _.primary(params) }}
{% endmacro %}

{% macro update(params = {}) %}
    {% import _self as _ %}
    {% set params = {
        type: 'submit',
        text: 'sylius.ui.save_changes'|trans,
    }|merge(params) %}

    {{ _.primary(params) }}
{% endmacro %}

{% macro cancel(params = {}) %}
    {% import _self as _ %}
    {% set params = {
        class: null,
        text: 'sylius.ui.cancel'|trans,
        url: app.request.headers.get('referer'),
    }|merge(params)%}

    {{ _.default(params) }}
{% endmacro %}

{% block attributes -%}
    {%- for attrname, attrvalue in p.attr -%}
        {{- " " -}}
        {%- if attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock attributes -%}
