{% macro default(translationFields, body = null, options = {}) %}
    {% set options = {
        accordionId: 'product-translations'
    }|merge(options) %}

    <div class="accordion" id="{{ options.accordionId }}">
        {% for locale, translationForm in translationFields %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button {% if loop.first == false %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#translation-{{ locale }}" aria-expanded="{% if loop.first %}true{% else %}false{% endif %}" aria-controls="translation-{{ locale }}">
                        <span class="flag flag-sm flag-country-{{ locale|lower|split('_')|last }} me-3"></span>
                        {{ locale|sylius_locale_name }}
                    </button>
                </h2>
                <div id="translation-{{ locale }}" class="accordion-collapse collapse {% if loop.first %}show{% endif %}" data-bs-parent="#product-translations">
                    <div class="accordion-body">
                        {% if body is not null %}
                            {{ include(template_from_string(body), { locale: locale, translationForm: translationForm }) }}
                        {% else %}
                            {% for field in translationForm %}
                                {{ form_row(field) }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
