{% macro default(translationFields, body = null, options = {}) %}
    {% from _self import accordion_header %}

    {% set accordionId = options.accordionId|default('translations') %}
    <div class="accordion" id="{{ accordionId }}">
        {% for locale, translationForm in translationFields %}
            <div class="accordion-item">
                {{ accordion_header(locale, accordionId, loop.first) }}
                <div id="translation-{{ locale }}" class="accordion-collapse collapse {% if loop.first %}show{% endif %}" data-bs-parent="#{{ accordionId }}">
                    <div class="accordion-body">
                        {% if body is not null %}
                            {{ include(template_from_string(body), { locale: locale, translationForm: translationForm }) }}
                        {% else %}
                            {% for field in translationForm %}
                                {{ form_row(field) }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro with_hook(translationFields, prefixes, hook_name = null, options = {}) %}
    {% from _self import accordion_header %}

    {% set accordionId = options.accordionId|default('translations') %}
    <div class="accordion" id="{{ accordionId }}">
        {% for locale, translationForm in translationFields %}
            <div class="accordion-item">
                {{ accordion_header(locale, accordionId, loop.first) }}
                <div id="translation-{{ locale }}" class="accordion-collapse collapse {% if loop.first %}show{% endif %}" data-bs-parent="#{{ accordionId }}">
                    <div class="accordion-body">
                        {% hook hook_name|default('translations') with { form: translationForm, _prefixes: prefixes } %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro accordion_header(locale, accordionId, is_first = false) %}
    <h2 class="accordion-header">
        <button
            class="accordion-button {% if is_first == false %}collapsed{% endif %}"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#translation-{{ locale }}"
            aria-expanded="{% if is_first %}true{% else %}false{% endif %}"
            aria-controls="translation-{{ locale }}"
            {{ sylius_test_html_attribute(accordionId ~ '-accordion', locale) }}
        >
            <span class="flag flag-sm flag-country-{{ locale|lower|split('_')|last }} me-3"></span>
            {{ locale|sylius_locale_name }}
        </button>
    </h2>
{% endmacro %}
