<div class="box box-green">
<table class="table">
    <thead>
        <tr>
            <th colspan="2">{{ 'sylius.backend.statistics.header'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ 'sylius.backend.statistics.sales_this_month'|trans }}</td>
            <td>{{ sales|sylius_price }} ({{ sales_confirmed|sylius_price }})</td>
        </tr>
        <tr>
            <td>{{ 'sylius.backend.statistics.orders_this_month'|trans }}</td>
            <td>{{ orders_count }}</td>
        </tr>
        <tr>
            <td>{{ 'sylius.backend.statistics.registrations_this_month'|trans }}</td>
            <td>{{ registrations_count }}</td>
        </tr>
    </tbody>
</table>
</div>
