{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/Order:macros.html.twig' import list as listOrders %}
{% from 'SyliusWebBundle:Backend/User:macros.html.twig' import list as listUsers %}


{% block javascripts %}
{{ parent() }}
{% javascripts
    'https://raw.github.com/nnnick/Chart.js/master/Chart.min.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            {% for id, chart in charts %}
                new Chart($('#{{ id }}').get(0).getContext('2d')).{{ chart.type }}({{ chart.data|json_encode()|raw }});
            {% endfor %}
        });
    </script>
{% endjavascripts %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.backend.dashboard.header'|trans }}<small> {{ 'sylius.backend.dashboard.subheader'|trans }}</small></h1>
</div>

<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'sylius.backend.alert.info'|trans }}</h4>
    There are no new notifications.
</div>

<table class="table">
    <thead>
        <tr>
            <th>{{ 'sylius.backend.dashboard.revenue'|trans }}</th>
            <th>{{ 'sylius.backend.dashboard.orders'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ revenue|sylius_money }}</td>
            <td>{{ ordersCount }}</td>
        </tr>
    </tbody>
</table>

<div class="row-fluid">
    {% for id, chart in charts %}
        <div class="span6">
            <h3>{{ chart.label|trans }}</h3>
            <canvas id="{{ id }}" width="600" height="400"></canvas>
        </div>
    {% endfor %}
</div>

<h3>{{ 'sylius.order.recent_header'|trans }}</h3>
{{ listOrders(orders)  }}

<h3>{{ 'sylius.user.recent_header'|trans }}</h3>
{{ listUsers(users)  }}

{% endblock %}
