{#This form has no form type. I could use a form type but there is no data binding with a model#}
{#and also I don't currently need any validation.#}

{#For a future release I could move it to a form type if there is a good reason for it.#}

<div class="row">
    <div class="col-sm-12">
        <form action="{{ path('sylius_search_homepage') }}" class="input-group" method="{{ requestMethod }}">
            <div class="input-group-btn search-panel">
                {% if filters %}
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span id="search_concept">{{ searchParam ?: 'All' }}</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#all">All</a></li>
                    {%  for filter in filters %}
                        <li><a href="#{{ filter }}">{{ filter }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <input type="hidden" name="search_param" value="{{ searchParam ?: 'all' }}" id="search_param">
            <input type="text" class="form-control" id="search" placeholder="Search term..." name="q" value="{{ searchTerm ?: '' }}"
                   style="height: 34px">
                <span class="input-group-btn">
                    <button id="search-button" type="submit" class="btn btn-default"><span
                                class="glyphicon glyphicon-search"></span></button>
                </span>
        </form>
    </div>
</div>
