{% set main_hook = hook_name(hookable_data.parent_main_hook, 'translations') %}
{% set fallback_hook = hook_name(hookable_data.parent_fallback_hook, 'translations') %}

{% set catalogPromotion = hookable_data.resource %}

<div class="bg-white mb-3">
    <div class="accordion" id="catalog-promotion-translations">
        {% for translation in catalogPromotion.translations %}
            {% set locale = translation.locale %}

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#translation-{{ locale }}" aria-expanded="{% if loop.first %}true{% else %}false{% endif %}" aria-controls="translation-{{ locale }}">
                        <span class="flag flag-sm flag-country-{{ locale|lower|split('_')|last }} me-3"></span>
                        {{ locale|sylius_locale_name }}
                    </button>
                </h2>
                <div id="translation-{{ locale }}" class="accordion-collapse collapse" data-bs-parent="#catalog-promotion-translations">
                    <div class="accordion-body bg-gray-400">
                        <div class="py-3 px-5">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="divide-y">
                                        {% hook [main_hook, fallback_hook] with hookable_data|merge({
                                            parent_main_hook: main_hook,
                                            parent_fallback_hook: fallback_hook,
                                            translation,
                                        }) %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
