{% macro default(message, icon, type) %}
    <div class="ui icon {{ type|default('') }} message">
        <i class="{{ icon }} icon"></i>
        <div class="content">
            {% if type is not empty %}
            <div class="header">
                {% set header = 'sylius.ui.'~type %}
                {{ header|trans }}
            </div>
            {% endif %}
            <p>{{ message }}</p>
        </div>
    </div>
{% endmacro %}

{% macro info(message) %}
    {% import _self as messages %}
    {{ messages.default(message, 'info circle', 'info') }}
{% endmacro %}

{% macro success(message) %}
    {% import _self as messages %}
    {{ messages.default(message, 'checkmark', 'success') }}
{% endmacro %}

{% macro error(message) %}
    {% import _self as messages %}
    {{ messages.default(message, 'remove', 'error') }}
{% endmacro %}

