{% macro tree_dropdown(taxon_id) %}
    <div class="dropdown">
        <button class="btn btn-sm" type="button" data-bs-toggle="dropdown">
            <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
            </svg>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a
                    class="dropdown-item"
                    href="{{ path('sylius_admin_taxon_create_for_parent', { 'id': taxon_id }) }}"
                >
                    {{ 'sylius.ui.create'|trans }}
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ path('sylius_admin_taxon_update', { id: taxon_id }) }}">
                    {{ 'sylius.ui.edit'|trans }}
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ path('sylius_admin_product_taxon_index', { id: taxon_id }) }}">
                    {{ 'sylius.ui.products_positions'|trans }}
                </a>
            </li>
            <li>
                <button
                    role="button"
                    class="dropdown-item"
                    data-action="live#action"
                    data-live-action-param="prevent|delete"
                    data-live-taxon-id-param="{{ taxon_id }}"
                >
                    {{ 'sylius.ui.delete'|trans }}
                </button>
            </li>
            <li>
                <button
                    role="button"
                    class="dropdown-item"
                    data-action="live#action"
                    data-live-action-param="prevent|moveUp"
                    data-live-taxon-id-param="{{ taxon_id }}"
                >
                    {{ 'sylius.ui.move_up'|trans }}
                </button>
            </li>
            <li>
                <button
                    role="button"
                    class="dropdown-item"
                    data-action="live#action"
                    data-live-action-param="prevent|moveDown"
                    data-live-taxon-id-param="{{ taxon_id }}"
                >
                    {{ 'sylius.ui.move_down'|trans }}
                </button>
            </li>
        </ul>
    </div>
{% endmacro %}

{% macro tree_header(taxon) %}
    {% import _self as _ %}

    <div class="tree-header expanded" data-js-tree="toggle">
        <div class="d-flex justify-content-between">
            <div class="tree-header-btn" data-js-tree="toggle-btn">
                <span class="tree-icon tree-icon-right">
                    <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <path d="M9 6l6 6l-6 6"></path>
                    </svg>
                </span>
                <span class="tree-icon tree-icon-down">
                    <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <path d="M6 9l6 6l6 -6"></path>
                    </svg>
                </span>
                {{ taxon.name }}
            </div>
            <div>{{ _.tree_dropdown(taxon.id) }}</div>
        </div>
    </div>
{% endmacro %}

{% macro tree_link(taxon, url) %}
    {% import _self as _ %}

    <div class="d-flex justify-content-between">
        <a class="d-flex" href="{{ url|default('#') }}">
            <span class="tree-icon tree-icon-dot">
                <svg xmlns="http://www.w3.org/2000/svg" class="" width="10" height="10" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                   <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="currentColor"></path>
                </svg>
            </span>
            {{ taxon.name }}
        </a>
        <div>{{ _.tree_dropdown(taxon.id) }}</div>
    </div>
{% endmacro %}

{% macro render(taxons, nested = false) %}
    {% import '@SyliusAdmin/taxon/helper/tree.html.twig' as _self %}

    <ul class="{% if nested %}tree-items{% else %}tree{% endif %}">
        {% if nested == false %}
            <div data-loading>
                <div class="sylius-loader">
                    <img src="{{ asset('build/admin/images/loader.gif', 'admin') }}" alt="Loading"/>
                </div>
            </div>

        {% endif %}
        {% for taxon in taxons|filter(taxon => taxon.id is not null) %}
            {% if taxon.children is not empty %}
                <li class="expanded">
                {{ _self.tree_header(taxon) }}
                    {{ _self.render(taxon.children, true) }}
                </li>
            {% else %}
                <li class="expanded">
                    {{ _self.tree_link(taxon, path('sylius_admin_taxon_update', { id: taxon.id })) }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}
