{# Rendered with \Sylius\Bundle\AdminBundle\Twig\Component\CatalogPromotion\FormComponent #}

{% form_theme form '@SyliusAdmin/catalog_promotion/form_theme.html.twig' %}

<div class="container-xl" {{ attributes }}>
    {{ form_start(form, {'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate', 'id': form.vars.id}}) }}
    {% if hookable_configuration.method is defined %}
        <input type="hidden" name="_method" value="{{ hookable_configuration.method }}" />
    {% endif %}
    {{ form_errors(form) }}
    {{ form_widget(form._token) }}

    {% hook 'form' %}

    {{ form_end(form, {render_rest: hookable.configuration.render_rest|default(false)}) }}
</div>
