<div class="tab-pane active" id="main">
    {{ form_row(form.name, {'attr': {'class': 'input-lg'}}) }}
    {{ form_row(form.description, {'attr': {'class': 'input-lg', 'rows': 10}}) }}
    {{ form_row(form.shortDescription, {'attr': {'class': 'input-lg', 'rows': 3}}) }}
    {{ form_row(form.masterVariant.sku) }}
    <hr />
    <div class="row">
        <div class="col-md-6">
            {{ form_label(form.masterVariant.availableOn) }}
            {{ form_widget(form.masterVariant.availableOn, {'label': false}) }}
            {{ form_row(form.masterVariant.availableOnDemand) }}
            {{ form_row(form.masterVariant.price) }}
            {{ form_row(form.masterVariant.onHand) }}
            <hr />
            {{ form_row(form.taxCategory) }}
            {{ form_row(form.shippingCategory) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.masterVariant.width) }}
            {{ form_row(form.masterVariant.height) }}
            {{ form_row(form.masterVariant.depth) }}
            {{ form_row(form.masterVariant.weight) }}
            <hr />
            {{ form_row(form.restrictedZone) }}
            {{ form_row(form.variantSelectionMethod) }}
        </div>
    </div>
</div>
