<div class="tab-pane" id="properties">
    <div id="sylius-assortment-product-properties" class="collection-container" data-prototype="{{ ('<div id="sylius_product_properties___name__">' ~ form_row(form.properties.vars.prototype.property, {'attr': {'class': 'property-chooser'}}))|e }}{{ (form_row(form.properties.vars.prototype.value) ~ '</div>')|e }}">
        {% for propertyForm in form.properties %}
            {{ form_widget(propertyForm) }}
        {% endfor %}
        {% for key, prototype in form.properties.vars.prototype.vars.prototypes %}
            <div id="property-prototype_{{ key }}" class="property-prototypes" data-prototype="{{ form_widget(prototype)|e }}"></div>
        {% endfor %}
    </div>
    <a href="#" class="btn btn-success btn-block" data-collection-button="add" data-prototype="sylius-assortment-product-properties" data-collection="sylius-assortment-product-properties">
        {{ 'sylius.product.add_property'|trans }}
    </a>
</div>
