<ul class="nav nav-tabs">
    <li class="active"><a href="#main" data-toggle="tab">{{ 'sylius.ui.product'|trans }}</a></li>
    {% if not product.hasVariants %}
    <li><a href="#options" data-toggle="tab">{{ 'sylius.ui.options'|trans }}</a></li>
    {% endif %}
    <li><a href="#attributes" data-toggle="tab">{{ 'sylius.ui.attributes'|trans }}</a></li>
    <li><a href="#associations" data-toggle="tab">{{ 'sylius.ui.associations'|trans }}</a></li>
    <li><a href="#categorization" data-toggle="tab">{{ 'sylius.ui.categorization'|trans }}</a></li>
    <li><a href="#images" data-toggle="tab">{{ 'sylius.ui.images'|trans }}</a></li>
    {% if form.channels|length > 0 %}
    <li><a href="#channels" data-toggle="tab">{{ 'sylius.ui.channels'|trans }}</a></li>
    {% endif %}
</ul>
