<ul class="nav nav-tabs">
    <li class="active"><a href="#main" data-toggle="tab">{{ 'sylius.product.tabs.product'|trans }}</a></li>
    {% if not product.hasVariants %}
    <li><a href="#options" data-toggle="tab">{{ 'sylius.product.tabs.options'|trans }}</a></li>
    {% endif %}
    <li><a href="#attributes" data-toggle="tab">{{ 'sylius.product.tabs.attributes'|trans }}</a></li>
    <li><a href="#categorization" data-toggle="tab">{{ 'sylius.product.tabs.categorization'|trans }}</a></li>
    <li><a href="#images" data-toggle="tab">{{ 'sylius.product.tabs.images'|trans }}</a></li>
</ul>
