<div class="ui floated simple dropdown item">
    {{ app.user.firstName|default(app.user.email) }}
    <i class="dropdown icon"></i>
    <div class="menu">
        <a href="{{ path('sylius_admin_admin_user_update', {'id': app.user.id}) }}" class="item">
            <i class="user icon"></i>
            {{ 'sylius.ui.my_account'|trans }}
        </a>
        <a href="{{ path('sylius_admin_logout') }}" id="sylius-logout-button" class="item">
            <i class="sign out icon"></i>
            {{ 'sylius.ui.logout'|trans }}
        </a>
    </div>
</div>
