{{ form_errors(form) }}
<div class="one field">
    {{ form_row(form.code) }}
<<<<<<< HEAD
    {{ form_row(form.name) }}
    {{ form_row(form.type) }}
    {{ form_row(form.members) }}
    {{ form_row(form.scope) }}
=======
>>>>>>> 6078250... [Admin] Add zone grid configuration
</div>
{{ form_rest(form) }}