{{ form_errors(form) }}
<div class="ui segment">
    <div class="two fields">
        {{ form_row(form.type) }}
        {{ form_row(form.code) }}
    </div>
    <div class="two fields">
        {{ form_row(form.name) }}
        {{ form_row(form.scope) }}
    </div>
</div>
<div class="ui segment">
    <h4 class="ui dividing header">{{ 'sylius.ui.members'|trans }}</h4>
    {{ form_row(form.members, {'label': false}) }}
</div>
