{% import '@SyliusAdmin/Shared/Helper/translations.html.twig' as _translations %}

<div class="bg-white mb-3">
    {% set body %}
        {% verbatim %}
            <div class="row" data-controller="slug" data-slug-url-value="{{ path('sylius_admin_ajax_generate_taxon_slug') }}" data-slug-locale-value="{{ locale }}">
                <div class="col-12 col-md-6">
                    {{ form_row(translationForm.name, { attr: { 'data-slug-target': 'sluggable', 'data-action': 'change->slug#generateSlug' } }) }}
                </div>
                <div class="col-12 col-md-6">
                    {{ form_row(translationForm.slug, { attr: { 'data-slug-target': 'slug' } }) }}
                </div>
                <div class="col-12">
                    {{ form_row(translationForm.description) }}
                </div>
            </div>
        {% endverbatim %}
    {% endset %}
    {{ _translations.default(_context.form.translations, body) }}
</div>
