{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{% block javascripts %}
    {% javascripts output='assets/compiled/backend_addressing_zone.js'
        'bundles/syliusaddressing/js/sylius-addressing-zone.js'
    %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.configuration'|trans }}</li>
    <li><a href="{{ path('sylius_backend_zone_index') }}">{{ 'sylius.ui.zones'|trans }}</a></li>
    <li>{{ 'sylius.ui.new'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-plus-sign"></i> {{ 'sylius.ui.new_zone'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('sylius_backend_zone_create', {'id': zone.id, 'type': app.request.get('type') }) }}" method="post" class="form-horizontal">
    {% include 'SyliusWebBundle:Backend/Zone:_form.html.twig' %}
    {{ create() }}
</form>
{% endblock %}
