{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block javascripts %}
    {% javascripts output='assets/compiled/backend_addressing_zone.js'
        '@SyliusAddressingBundle/Resources/assets/js/sylius-addressing-zone.js'
    %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li><a href="{{ path('sylius_backend_zone_index') }}">{{ 'sylius.breadcrumb.zone.index'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_zone_show', {'id': zone.id}) }}">{{ zone.name }}</a></li>
    <li>{{ 'sylius.breadcrumb.edit'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-pencil"></i> {{ 'sylius.zone.update_header'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('sylius_backend_zone_update', {'id': zone.id}) }}" method="post" class="form-horizontal">
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/Zone:_form.html.twig' %}
    {{ update() }}
</form>
{% endblock %}
