{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}

{% block content %}
<h4>{{ message is defined ? message : 'sylius.confirmation.message'|trans }}</h4>
<br>

<div class="row">
    <form action="{{ app.request.requestUri }}" method="post" class="delete-action-form" novalidate>
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="confirmed" value="1">
        <div class="form-actions">
            <button class="btn btn-danger" type="submit">
                <i class="icon-trash"></i> <span>{{ 'sylius.ui.delete'|trans }}</span>
            </button>
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-info"><i class="icon-remove"></i> {{ 'sylius.ui.cancel'|trans }}</a>
        </div>
    </form>
</div>
{% endblock %}
