{% set form = hookable_metadata.context.form %}

<div class="tab-pane show active" id="product-variant-details" role="tabpanel" tabindex="0">
    <div class="card mb-3">
        <div class="card-header">
            <h2 id="product-variant-details" class="card-title">
                {{ 'sylius.ui.general'|trans }}
            </h2>
        </div>
        <div class="card-body">
            <div class="mb-3">
                {{ form_row(form.code) }}
                {{ form_row(form.enabled) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.shippingCategory) }}
                {{ form_row(form.shippingRequired) }}
            </div>
            {% if form.optionValues is defined and form.optionValues|length > 0 %}
                <div class="mb-3">
                    <h4>{{ 'sylius.ui.options'|trans }}</h4>
                    {% for option_form in form.optionValues %}
                        {{ form_row(option_form) }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="mb-3">
                        <h4 class="ui dividing header">{{ 'sylius.ui.properties'|trans }}</h4>
                        {{ form_row(form.height) }}
                        {{ form_row(form.width) }}
                        {{ form_row(form.depth) }}
                        {{ form_row(form.weight) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
