{% for type in ['success', 'error', 'info', 'warning'] %}
    {% for flash in app.session.flashbag.get(type) %}
        {% if 'error' == type %}
            {% set result = 'negative' %}
            {% set icon = 'remove' %}
        {% endif %}
        {% if 'info' == type %}
            {% set result = 'info' %}
            {% set icon = 'info' %}
        {% endif %}
        <div class="ui icon {{ result|default('positive') }} message" id="sylius-flash-messages">
            <i class="close icon"></i>
            <i class="{{ icon|default('checkmark') }} icon"></i>
            <div class="content">
                <div class="header">
                    {% set header = 'sylius.ui.'~type %}
                    {{ header|trans }}
                </div>
                <p>
                {% if flash is iterable %}
                    {{ flash.message|trans(flash.parameters, 'flashes') }}
                {% else %}
                    {{ flash|trans({}, 'flashes') }}
                {% endif %}
                </p>
            </div>
        </div>
    {% endfor %}
{% endfor %}
