{% macro generic(url, label, icon, class = 'default') %}
    <a href="{{ url }}" class="btn btn-flat btn-{{ class }}">
        {% if icon is not empty %}<i class="fa fa-{{ icon }}"></i> {% endif %}<span>{{ label|trans }}</span>
    </a>
{% endmacro %}

{% macro add(url, label) %}
    {{ _self.generic(url, 'sylius.ui.add', 'plus-sign', 'success') }}
{% endmacro %}

{% macro edit(url, label) %}
    {{ _self.generic(url, 'sylius.ui.edit', 'pencil') }}
{% endmacro %}

{% macro delete(url, label) %}
    <form action="{{ url }}" method="post" novalidate>
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-flat btn-danger" type="submit">
            <i class="fa fa-trash"></i> <span>{{ label is empty ? 'sylius.ui.delete'|trans : label|trans }}</span>
        </button>
    </form>
{% endmacro %}
