{% extends 'SyliusResourceBundle::layout.html.twig' %}

{% block sylius_stylesheets %}
    {{ parent() }}

    <style media="screen" type="text/css">
        .popover-content { word-break: break-all; }
    </style>
{% endblock %}

{% block sylius_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
    (function ($) {
        $(document).ready(function() {

            $('table a').on('click', function(e) {
                e.preventDefault();

                $(this).popover();
            });
        });
    })( jQuery );
    </script>
{% endblock %}

{% block sylius_content %}
<div class="page-header">
    <h1>{{ 'sylius.process.step.check.header'|trans|raw }}</h1>
</div>

{% set fulfilled = true %}
{% for collection in collections %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{ collection.label }}</th>
                <th class="col-md-5">{{ 'sylius.process.step.check.table.current'|trans }}</th>
                <th class="col-md-5">{{ 'sylius.process.step.check.table.required'|trans }}</th>
                <th class="col-md-1">{{ 'sylius.process.step.check.table.status'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for requirement in collection %}
            <tr>
                <td>{{ requirement.label }}</td>
                <td>{{ requirement.actual }}</td>
                <td>{{ requirement.expected }}</td>
                <td>
                    {% if requirement.fulfilled %}
                        <span class="label label-success"><i class="icon-ok"></i></span>
                    {% else %}
                        <a href="#" title="{{ requirement.label }}" data-placement="top" data-trigger="click" data-content="{{ requirement.help }}"
                            {% if requirement.required %}
                                {% set fulfilled = false %}
                                class="label label-important"><i class="icon-remove"
                            {% else %}
                                class="label label-warning"><i class="icon-warning-sign"
                            {% endif %}
                        ></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endfor %}

<div class="form-actions">
    <a href="{{ path('sylius_flow_display', {'scenarioAlias': 'sylius_installer', 'stepName': 'welcome'}) }}" class="btn btn-lg btn-default"><i class="icon-chevron-left"></i> {{ 'sylius.process.step.check.button.back'|trans }}</a> &nbsp;
    <a href="{{ fulfilled ? path('sylius_flow_forward', {'scenarioAlias': 'sylius_installer', 'stepName': 'check'}) : '#' }}" class="btn btn-lg btn-primary{% if not fulfilled %} disabled{% endif %}">
        {{ 'sylius.process.step.check.button.next'|trans }} <i class="icon-chevron-right"></i>
    </a>
</div>
{% endblock %}
