{% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon as _icon %}

{% set user = hookable_metadata.context.resource.user %}

{% if user != null %}
    <form action="{{ path('sylius_admin_shop_user_delete', {'id': user.id}) }}" method="POST">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token(user.id) }}" />
        <button type="submit" class="dropdown-item" {{ sylius_test_html_attribute('customer-actions-delete') }}>
            {{ _icon({ icon: 'trash-x', class: 'icon dropdown-item-icon icon-tabler' }) }}
            {{ 'sylius.ui.delete'|trans }}
        </button>
    </form>
{% endif %}
