{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Inventory:macros.html.twig' import list %}
{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.assortment'|trans }}</li>
    <li>{{ 'sylius.ui.inventory_index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_product_create'), 'sylius.ui.create_product'|trans) }}
        {{ buttons.manage(path('sylius_backend_product_index'), 'sylius.ui.manage_products'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-tasks"></i> {{ 'sylius.ui.inventory_here_you_can_see_current_stock_levels'|trans|raw }}</h1>
</div>

{% render(controller('sylius.controller.backend.form:filterAction', {'type': 'sylius_product_filter', 'template': 'SyliusWebBundle:Backend/Product:filterForm.html.twig'})) %}

{{ pagination(products) }}
{{ list(products) }}
{{ pagination(products) }}

{% endblock %}
