{# Because of introducing LegacyProductType _legacy suffix has to be added to subject name. It should be changed as soon as a better idea of fixing this would appear #}
{% set subject = metadata.name|replace({'_attribute': '_legacy'}) %}
{% for attributeId, form in forms %}
    <div data-form-collection="item"
         data-form-collection-index="{{ count }}"
         class="collection-item">
        <div class="collection-box">

            <p class="text-right">
                <a href="#" data-form-collection="delete" class="btn btn-danger">
                    <i class="glyphicon glyphicon-remove collection-button-remove"></i>
                    {{ 'sylius.ui.delete'|trans }}
                </a>
            </p>

            <div class="form-group">
                {% set id = form.vars.label|replace(' ', '_')|lower %}
                <label class="col-lg-2 control-label required" for="{{ id }}">{{ form.vars.label }}</label>
                <input type="hidden"
                       name="{{ metadata.applicationName }}_{{ subject }}[attributes][{{ count }}][attribute]"
                       id="{{ metadata.applicationName }}_{{ subject }}_attributes_{{ count }}_attribute"
                       value="{{ attributeId }}"/>
                <div class="col-lg-10">
                    {{ _self.formField(form, count, id, '', subject, metadata.applicationName) }}
                </div>
            </div>

        </div>
    </div>
    {% set count = count+1 %}
{% endfor %}

{% macro formField(item, count, id, prefix, subject, applicationName) %}
    {% if item.children|length > 0 %}
        {% set prefix = prefix~'_'~item.vars.name %}
        {% for child in item.children %}
            {{ _self.formField(child, count, id, prefix) }}
        {% endfor %}
    {% elseif item.vars.name != '_token' %}
        {% set namePrefix = prefix|replace({'_': ']['}) %}
        {% set dataName = applicationName~'_'~subject~'[attributes]['~count~namePrefix~']['~item.vars.name~']' %}

        {{ form_widget(item, {'id': id, 'attr': {'data-name': dataName }}) }}
    {% endif %}
{% endmacro %}
