<div class="modal fade" id="attributes-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'sylius.attribute_type.title'|trans }}</h4>
            </div>
            <div class="modal-body">
                <form action="{{ path('sylius_backend_render_attribute_forms') }}" method="GET" id="attributeChoice">
                    {{ form_row(form._token) }}
                    <div class="list-group row">
                        {% for attributeField in form if not attributeField.rendered %}
                            <label for="{{ attributeField.vars.id }}" class="list-group-item col-xs-12 col-md-6">
                                {{ form_widget(attributeField) }}
                                <span class="col-xs-11 pull-right">{{ attributeField.vars.label }}</span>
                            </label>
                        {% endfor %}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        {{ 'sylius.form.attribute.add_attributes'|trans }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
