{% extends '@SyliusAdmin/shared/form_theme.html.twig' %}

{% block _sylius_admin_product_review_rating_entry_widget %}
    {% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon %}

    <label>
        <input type="radio" value="{{ form.vars.value }}" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" {{ sylius_test_html_attribute('rating', form.vars.value) }} {{ form.vars.checked ? 'checked' }}>
        {{ icon({ icon: 'star' }) }}
    </label>
{% endblock %}
