<h4 class="ui dividing header">{{ 'sylius.ui.extra_information'|trans }}</h4>
{{ form_row(form.gender) }}
{{ form_row(form.birthday) }}
{{ form_row(form.phoneNumber) }}
{{ form_row(form.subscribedToNewsletter) }}
