{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

{% set order = hookable_metadata.context.order %}
{% set taxIncluded = order.getTaxIncludedTotal() %}
{% set taxExcluded = order.getTaxExcludedTotal() %}

<tr>
    <th scope="row" class="text-end">
        <div>{{ 'sylius.ui.taxes_total'|trans }}:&nbsp;</div>
        {% if taxIncluded %}
            <small class="text-muted">({{ 'sylius.ui.included_in_price'|trans }})</small>
        {% endif %}
    </th>
    <td class="text-end">
        <div data-test="tax-total" {{ sylius_test_html_attribute('tax-total') }}>
            {% if not taxIncluded and not taxExcluded %}
                <div>{{ money.convertAndFormat(0) }}</div>
            {% endif %}
            {% if taxExcluded %}
                <div>{{ money.convertAndFormat(taxExcluded) }}</div>
            {% endif %}
            {% if taxIncluded %}
                <div class="disabled">{{ money.convertAndFormat(taxIncluded) }}</div>
            {% endif %}
        </div>
    </td>
</tr>
