{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.write_your_own_review'|trans }} | {{ parent() }}{% endblock %}

{% set product = product_review.reviewSubject %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-4">
                {{ sylius_template_event('sylius.shop.product_review.create.sidebar', _context) }}
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <div>
                    {{ 'sylius.ui.write_your_own_review'|trans }}
                    {{ 'sylius.ui.you_are_reviewing'|trans }}
                    <strong>{{ product.name }}</strong>.
                </div>

                {{ sylius_template_event('sylius.shop.product_review.create.main', _context) }}
            </div>
        </div>
    </div>
{% endblock %}
