{{ form_start(form, {'action': path('sylius_shop_product_review_create', {'slug': product.slug, '_locale': product.translation.locale}), 'attr': {'novalidate': 'novalidate'}}) }}
<div>
    <div data-rating="0" data-max-rating="5"></div>
    {{ form_errors(form.rating) }}
    {{ form_widget(form.rating, sylius_test_form_attribute('rating')|sylius_merge_recursive( {'attr': {'style': 'display: none'}})) }}
</div>
<div>
    {{ form_widget(form.title, sylius_test_form_attribute('title')|sylius_merge_recursive( {'attr': {'placeholder': 'sylius.ui.title'|trans}})) }}
    {{ form_errors(form.title) }}
</div>
<div>
    {{ form_widget(form.comment, sylius_test_form_attribute('comment')|sylius_merge_recursive( {'attr': {'placeholder': 'sylius.ui.write_your_own_review'|trans}})) }}
    {{ form_errors(form.comment) }}
</div>
{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div>
        {{ form_widget(form.author.email, sylius_test_form_attribute('author-email')|sylius_merge_recursive( {'attr': {'placeholder': 'sylius.ui.email'|trans}})) }}
        {{ form_errors(form.author.email) }}
    </div>
{% endif %}
            {{ form_row(form._token) }}
<button type="submit" {{ sylius_test_html_attribute('add') }}>{{ 'sylius.ui.add'|trans }}</button>
{{ form_end(form, {'render_rest': false}) }}
