{{ form_start(form, {'action': path('sylius_shop_product_review_create', {'slug': product.slug, '_locale': product.translation.locale}), 'attr': {'novalidate': 'novalidate'}}) }}
<div class="mb-5">
    <div class="mb-3">
        {{ form_row(form.rating, sylius_test_form_attribute('rating')) }}
    </div>
    {{ form_row(form.title, sylius_test_form_attribute('title')) }}
    {{ form_row(form.comment, sylius_test_form_attribute('comment')) }}

    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ form_row(form.author.email, sylius_test_form_attribute('author-email')) }}
    {% endif %}

    {{ form_row(form._token) }}
</div>

<button type="submit" class="btn btn-primary" {{ sylius_test_html_attribute('add') }}>{{ 'sylius.ui.add'|trans }}</button>
{{ form_end(form, {'render_rest': false}) }}
