<div {{ sylius_test_html_attribute('title', review.title) }}>
    <div>
        <div>{{ review.author.firstName }}</div>
        <div>
            <div><strong>{{ review.title }}</strong></div>
            <div>{{ review.createdAt|format_date }}</div>
            <div data-rating="{{ review.rating }}" data-max-rating="5" style="pointer-events: none;"></div>
        </div>
        <div>{{ review.comment }}</div>
    </div>
</div>
