{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block javascripts %}
{{ parent() }}
{% javascripts '@SyliusWebBundle/Resources/assets/js/province-choices.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Billing address step</h1>
</div>

{% include 'SyliusWebBundle:Frontend/Checkout:_progressBar.html.twig' %}

<div class="fluid-row">
    <div class="span6 well">
        <form method="post" action="{{ path('sylius_checkout_forward', {'stepName': context.currentStep.name}) }}" class="form-vertical" novalidate>
            {{ form_errors(form) }}

            <fieldset>
                {% include 'SyliusWebBundle:Frontend/Form:_address.html.twig' with {'form': form.billingAddress} %}
            </fieldset>

            {{ form_widget(form._token) }}

            <a href="{{ path('sylius_cart_summary') }}" class="btn btn-large"><i class="icon-chevron-left"></i> {{ 'sylius.checkout.back'|trans }}</a> &nbsp;
            <button type="submit" class="btn btn-primary btn-large">{{ 'sylius.checkout.forward'|trans }} <i class="icon-chevron-right"></i></button>

        </form>
    </div>
        
    <div class="span6 well">
        {% for address in addresses%}
            {{address.firstName}}<br/>
            {{address.lastName}}<br/>
            {{address.street}}<br/>
            {{address.city}}<br/>
            {{address.postcode}}<br/>
            {% if address.province%}{{ address.province}}<br/>{% endif %}
            {{address.country}}<br/>
            
            <form action="{{ path('sylius_checkout_forward', {'stepName': context.currentStep.name, 'id': address.id}) }}" method="POST" style="float:left;margin-right: 10px;">
                {{ form_widget(useForms[address.id]) }}
                <button type="submit" class="btn btn-primary btn-large">Use <i class="icon-chevron-right"></i></button>
            </form>
            <br/>
        {% endfor %}
    </div>
</div>
{% endblock %}
