{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.checkout.finalize.header'|trans|raw }}</h1>
</div>

{% include 'SyliusWebBundle:Frontend/Checkout:_progressBar.html.twig' %}

<div class="row">
    <div class="col-md-6">
        <h4>{{ 'sylius.checkout.finalize.order.shipping_address'|trans }}</h4>
        {% include 'SyliusWebBundle:Common/Address:_show.html.twig' with { 'address': order.shippingAddress } %}
    </div>
    <div class="col-md-6">
        <h4>{{ 'sylius.checkout.finalize.order.billing_address'|trans }}</h4>
        {% include 'SyliusWebBundle:Common/Address:_show.html.twig' with { 'address': order.billingAddress } %}
    </div>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>{{ 'sylius.checkout.finalize.product.name'|trans }}</th>
            <th>{{ 'sylius.checkout.finalize.order_item.quantity'|trans }}</th>
            <th><span class="pull-right">{{ 'sylius.checkout.finalize.order_item.unit_price'|trans }}</span></th>
            <th><span class="pull-right">{{ 'sylius.checkout.finalize.order_item.total'|trans }}</span></th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.items %}
            {% include 'SyliusWebBundle:Frontend/Checkout/Step/Finalize:_item.html.twig' %}
        {% else %}
        <tr>
            <td colspan="6">
                <hr />
                <div class="alert alert-info">{{ 'sylius.checkout.finalize.order.no_items'|trans }}</div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">
                <span class="pull-right">
                <strong>{{ 'sylius.checkout.finalize.order.items_total'|trans }}</strong>: {{ order.itemsTotal|sylius_price }}
                </span>
            </td>
        </tr>
        <tr>
            <td colspan="4">
            <p><strong>{{ 'sylius.checkout.finalize.order.taxes'|trans }}</strong></p>
            <ul>
            {% for taxAdjustment in order.taxAdjustments %}
                <li>{{ taxAdjustment.description }} {{ taxAdjustment.amount|sylius_price }} </li>
            {% else %}
                <li><span class="label label-info">{{ 'sylius.checkout.finalize.order.no_taxes'|trans }}</span></li>
            {% endfor %}
            </ul>
            </td>
            <td colspan="2">
                <span class="pull-right">
                <strong>{{ 'sylius.checkout.finalize.order.tax_total'|trans }}</strong>: {{ order.taxTotal|sylius_price }}
                </span>
            </td>
        </tr>
        <tr>
            <td colspan="4">
            <p><strong>{{ 'sylius.checkout.finalize.order.shipping_charges'|trans }}</strong></p>
            <ul>
            {% for adjustment in order.shippingAdjustments %}
                <li>{{ adjustment.description }} {{ adjustment.amount|sylius_price }} </li>
            {% else %}
                <li><span class="label label-info">{{ 'sylius.checkout.finalize.order.no_shipping_charges'|trans }}</span></li>
            {% endfor %}
            </ul>
            </td>
            <td colspan="2">
                <span class="pull-right">
                <strong>{{ 'sylius.checkout.finalize.order.shipping_total'|trans }}</strong>: {{ order.shippingTotal|sylius_price }}
                </span>
            </td>
        </tr>
        {% if order.promotionAdjustments|length > 0 %}
            <tr>
                <td colspan="4">
                <p><strong>{{ 'sylius.checkout.finalize.order.promotion_discount'|trans }}</strong></p>
                <ul>
                {% for adjustment in order.promotionAdjustments %}
                    <li>{{ adjustment.description }} {{ adjustment.amount|sylius_price }} </li>
                {% endfor %}
                </ul>
                </td>
                <td colspan="2">
                    <span class="pull-right">
                    <strong>{{ 'sylius.checkout.finalize.order.promotion_total'|trans }}</strong>: {{ order.promotionTotal|sylius_price }}
                    </span>
                </td>
            </tr>
        {% endif %}
        <tr style="background-color: #f1f1f1;">
            <td colspan="6">
                <span class="pull-right">
                <strong>{{ 'sylius.checkout.finalize.order.total'|trans }}</strong>: {{ order.total|sylius_price }}
                </span>
            </td>
        </tr>
    </tfoot>
</table>

<div class="form-horizontal">
    <div class="form-actions">
        <a href="{{ path(context.process.displayRoute, {'stepName': context.previousStep.name}) }}" class="btn btn-lg"><i class="icon-chevron-left"></i> {{ 'sylius.checkout.back'|trans }}</a> &nbsp;
        <a href="{{ path(context.process.forwardRoute, {'stepName': context.currentStep.name}) }}" class="btn btn-lg btn-success"><i class="icon-ok"></i> {{ 'sylius.checkout.finalize.place_order'|trans }}</a> &nbsp;
    </div>
</div>
{% endblock %}
