{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% set taxAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::TAX_ADJUSTMENT') %}
{% set shippingAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::SHIPPING_ADJUSTMENT') %}
{% set promotionAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::ORDER_PROMOTION_ADJUSTMENT') %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.ui.order_summary'|trans|raw }}</h1>
</div>

{% include 'SyliusWebBundle:Frontend/Checkout:_progressBar.html.twig' %}

<div class="row">
    <div class="col-md-6">
        <h4>{{ 'sylius.ui.shipping_address'|trans }}</h4>
        {% include 'SyliusWebBundle:Common/Address:_show.html.twig' with { 'address': order.shippingAddress } %}
    </div>
    <div class="col-md-6">
        <h4>{{ 'sylius.ui.billing_address'|trans }}</h4>
        {% include 'SyliusWebBundle:Common/Address:_show.html.twig' with { 'address': order.billingAddress } %}
    </div>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>{{ 'sylius.ui.name'|trans }}</th>
            <th>{{ 'sylius.checkout.finalize.order_item.quantity'|trans }}</th>
            <th><span class="pull-right">{{ 'sylius.ui.unit_price'|trans }}</span></th>
            <th><span class="pull-right">{{ 'sylius.ui.total'|trans }}</span></th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.items %}
            {% include 'SyliusWebBundle:Frontend/Checkout/Step/Finalize:_item.html.twig' %}
        {% else %}
        <tr>
            <td colspan="6">
                <hr />
                <div class="alert alert-info">{{ 'sylius.checkout.finalize.order.no_items'|trans }}</div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">
                <span class="pull-right">
                <strong>{{ 'sylius.ui.items_total'|trans }}</strong>: {{ order.itemsTotal|sylius_price }}
                </span>
            </td>
        </tr>
        <tr>
            <td colspan="4">
            <p><strong>{{ 'sylius.ui.taxes'|trans }}</strong></p>
            <ul>
            {% for taxLabel, taxAmount in sylius_aggregate_adjustments(order.getAdjustmentsRecursively(taxAdjustment)) %}
                <li>{{ taxLabel }} {{ taxAmount|sylius_price }} </li>
            {% else %}
                <li><span class="label label-info">{{ 'sylius.checkout.finalize.order.no_taxes'|trans }}</span></li>
            {% endfor %}
            </ul>
            </td>
            <td colspan="2">
                <span class="pull-right">
                <strong>{{ 'sylius.ui.tax_total'|trans }}</strong>: {{ order.getAdjustmentsTotalRecursively(taxAdjustment)|sylius_price }}
                </span>
            </td>
        </tr>
        <tr>
            <td colspan="4">
            <p><strong>{{ 'sylius.ui.shipping_charges'|trans }}</strong></p>
            <ul>
            {% for adjustment in order.adjustments(shippingAdjustment) %}
                <li>{{ adjustment.label }} {{ adjustment.amount|sylius_price }} </li>
            {% else %}
                <li><span class="label label-info">{{ 'sylius.checkout.finalize.order.no_shipping_charges'|trans }}</span></li>
            {% endfor %}
            </ul>
            </td>
            <td colspan="2">
                <span class="pull-right">
                    {% set shippingTotal = order.adjustmentsTotal(taxAdjustment) + order.adjustmentsTotal(shippingAdjustment) %}
                    <strong>{{ 'sylius.ui.shipping_total'|trans }}</strong>: {{ shippingTotal|sylius_price }}
                </span>
            </td>
        </tr>
        {% if not order.adjustments(promotionAdjustment).isEmpty() %}
            <tr>
                <td colspan="4">
                <p><strong>{{ 'sylius.checkout.finalize.order.promotion_discount'|trans }}</strong></p>
                <ul>
                {% for adjustment in order.adjustments(promotionAdjustment) %}
                    <li>{{ adjustment.label }} {{ adjustment.amount|sylius_price }} </li>
                {% endfor %}
                </ul>
                </td>
                {% set promotionTotal = order.getPromotionsTotalRecursively() %}
                <td colspan="2">
                    <span class="pull-right">
                    <strong>{{ 'sylius.ui.promotion_total'|trans }}</strong>: -{{ (-1 * promotionTotal)|sylius_price }}
                    </span>
                </td>
            </tr>
        {% endif %}
        <tr style="background-color: #f1f1f1;">
            <td colspan="6">
                <span class="pull-right">
                <strong>{{ 'sylius.ui.total'|trans }}</strong>: {{ order.total|sylius_price }}
                </span>
            </td>
        </tr>
    </tfoot>
</table>

{% if order.additionalInformation is not empty %}
    <div id="sylius-order-additional-information" class="well well-sm">
        <strong>{{ 'sylius.ui.additional_information'|trans }}</strong>:
        {{ order.additionalInformation }}
    </div>
{% endif %}

<div class="form-horizontal">
    <div class="form-actions">
        {% if context.previousStep is not null %}
        <a href="{{ path(context.process.displayRoute, {'stepName': context.previousStep.name}) }}" class="btn btn-lg"><i class="icon-chevron-left"></i> {{ 'sylius.ui.back'|trans }}</a> &nbsp;
        {% endif %}
        <a href="{{ path(context.process.forwardRoute, {'stepName': context.currentStep.name}) }}" class="btn btn-lg btn-success"><i class="icon-ok"></i> {{ 'sylius.ui.place_order'|trans }}</a> &nbsp;
    </div>
</div>
{% endblock %}
