{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.ui.payment_method'|trans|raw }}</h1>
</div>

{% include 'SyliusWebBundle:Frontend/Checkout:_progressBar.html.twig' %}

<form method="post" action="{{ path(context.process.forwardRoute, {'stepName': context.currentStep.name}) }}" class="form-horizontal" novalidate>

{{ form_errors(form) }}

    {{ form_label(form.paymentMethod) }}
    <fieldset>
        {% for paymentMethodForm in form.paymentMethod %}
            {{ form_row(paymentMethodForm) }}
        {% endfor %}
    </fieldset>

{{ form_widget(form._token) }}

<div class="form-actions">
    <a href="{{ path(context.process.displayRoute, {'stepName': context.previousStep.name}) }}" class="btn btn-lg"><i class="icon-chevron-left"></i> {{ 'sylius.ui.back'|trans }}</a> &nbsp;
    <button type="submit" class="btn btn-primary btn-lg">{{ 'sylius.checkout.forward'|trans }} <i class="icon-chevron-right"></i></button>
</div>

</form>
{% endblock %}
