{% extends '@SyliusShop/Account/layout.html.twig' %}

{% import '@SyliusUi/Macro/messages.html.twig' as messages %}
{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> / </div>
        <a href="{{ path('sylius_shop_account_dashboard') }}" class="section">{{ 'sylius.ui.my_account'|trans }}</a>
        <div class="divider"> / </div>
        <div class="active section">{{ 'sylius.ui.address_book'|trans }}</div>
    </div>
{% endblock %}

{% block subcontent %}
    <div class="ui stackable two column grid">
        <div class="column">
            <h1 class="ui header">
                {{ 'sylius.ui.address_book'|trans }}
                <div class="sub header">{{ 'sylius.ui.manage_your_saved_addresses'|trans }}</div>
            </h1>
        </div>
        <div class="middle aligned column">
            <a href="{{ path('sylius_shop_account_address_book_create') }}" class="ui right floated blue button"><i class="circle plus icon"></i> {{ 'sylius.ui.add_address'|trans }}</a>
        </div>
    </div>
    {% if addresses|length > 0 %}
    <div class="ui two column grid" id="sylius-addresses">
        <div class="row">
            {% for address in addresses %}
                {% include '@SyliusShop/Account/AddressBook/_item.html.twig' %}

                {% if not loop.index % 2 %}
                </div>
                <div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% else %}
        {{ messages.info('sylius.ui.you_have_no_addresses_defined'|trans) }}
    {% endif %}
{% endblock %}
