{% macro list(stores) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if stores|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', '#id') }}</th>
            <th>{{ sylius_resource_sort('name', 'sylius.store.name'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for store in stores %}
        <tr id="{{ store.id }}">
            <td>{{ store.id }}</td>
            <td><a href="{{ path('sylius_backend_store_show', {'id': store.id}) }}"><strong>{{ store.name }}</strong></a></td>
            <td>
                <div class="pull-right">
                {{ buttons.edit(path('sylius_backend_store_update', {'id': store.id})) }}
                {{ buttons.delete(path('sylius_backend_store_delete', {'id': store.id})) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.store.no_results'|trans) }}
{% endif %}

{% endmacro %}
