{{ form_start(form, {'action': path('sylius_shop_partial_payment_change_method', {'id': payment.id}), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
<input type="hidden" name="_method" value="PUT" />

<div class="ui segment">
<div class="ui dividing header">{{ 'sylius.ui.change_payment_method'|trans }}</div>

<div class="ui fluid stackable items">
    {{ form_errors(form) }}
    {% for payment_method_choice in form.method %}
        <div class="item">
            <div class="field">
                <div class="ui radio checkbox">
                    {{ form_widget(payment_method_choice) }}
                </div>
            </div>
            <div class="content">
                <a class="header">{{ form_label(payment_method_choice) }}</a>
                {% if payment_method_choice.parent.vars.choices[loop.index0].data.description is not null %}
                    <div class="description">
                        <p>{{ payment_method_choice.parent.vars.choices[loop.index0].data.description }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{{ form_row(form._token) }}

<button type="submit" class="ui large blue icon labeled button" id="sylius-pay-link">
    <i class="check icon"></i> {{ 'sylius.ui.pay'|trans }}
</button>
</div>
{{ form_end(form, {'render_rest': false}) }}
