{{ form_start(form, {'action': path('sylius_shop_partial_payment_change_method', {'id': payment.id}), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
    <input type="hidden" name="_method" value="PUT" />

    <div class="ui segment">
        <div class="ui dividing header">{{ 'sylius.ui.change_payment_method'|trans }}</div>

        {{ form_errors(form.method) }}

        <div class="ui fluid stackable items">
            {% for choice_form in form.method %}
                {% include '@SyliusShop/Checkout/SelectPayment/_choice.html.twig' with {'form': choice_form, 'method': form.method.vars.choices[loop.index0].data} %}
            {% else %}
                {% include '@SyliusShop/Checkout/SelectPayment/_unavailable.html.twig' %}
            {% endfor %}
        </div>

        {{ form_row(form._token) }}

        <button type="submit" class="ui large blue icon labeled button" id="sylius-pay-link">
            <i class="check icon"></i> {{ 'sylius.ui.pay'|trans }}
        </button>
    </div>
{{ form_end(form, {'render_rest': false}) }}
