{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/ShippingCategory:macros.html.twig' import list %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'sylius.ui.configuration'|trans }}</li>
        <li>{{ 'sylius.ui.shipping_categories'|trans }}</a></li>
    </ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_shipping_category_create'), 'sylius.ui.create_shipping_category'|trans) }}
        {{ buttons.manage(path('sylius_backend_shipping_method_index'), 'sylius.ui.manage_shipping_methods'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-cog"></i> {{ 'sylius.ui.shipping_categories'|trans|raw }}</h1>
</div>

{{ pagination(shipping_categories) }}
{{ list(shipping_categories) }}
{{ pagination(shipping_categories) }}
{% endblock %}
