{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.sales'|trans }}</li>
    <li><a href="{{ path('sylius_backend_shipping_category_index') }}">{{ 'sylius.breadcrumb.shipping_category.index'|trans }}</a></li>
    <li>{{ 'sylius.breadcrumb.edit'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('sylius_backend_shipping_category_update', {'id': shipping_category.id}), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

{{ page.header('shipping_category.update', 'plus-sign', 'SyliusUiBundle:Form/Actions:_update.html.twig') }}

{% include 'SyliusWebBundle:Backend/ShippingCategory:_form.html.twig' %}
<input type="hidden" name="_method" value="PUT">

{{ form_end(form) }}
{% endblock %}
