{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}

{% import 'SyliusWebBundle:Frontend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Order:macros.html.twig' import simple_list %}

{% block content %}

    <h4>{{ 'sylius.account.home.welcome'|trans }}</h4>
    <br>

    <div class="row">
        <div class="col-md-7">{{ 'sylius.account.home.outline'|trans }} </div>
        <div class="col-md-5">
            <strong>{{ user.lastName|upper }} {{ user.firstName }}</strong><br><br>
            {{ 'sylius.account.home.id'|trans }} {{ user.id }} <br>
            {{ 'sylius.account.home.email'|trans }} {{ user.email }}<br>
            {{ 'sylius.account.home.since'|trans }} {{ user.createdAt|date() }}
        </div>
    </div>

    <h4>{{ 'sylius.account.home.last5orders'|trans|raw }}</h4>

    {% include "SyliusWebBundle:Frontend/Account:Order/_list.html.twig" %}

{% endblock %}
