{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/SupportRequest:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.support'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.support_request.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_support_request_create'), 'sylius.support_request.create'|trans) }}
    </div>
    <h1><i class="fa fa-comments"></i> {{ 'sylius.support_request.index_header'|trans|raw }}</h1>
</div>

{{ list(support_requests) }}

{% endblock %}
