{% from '@SyliusAdmin/shared/helper/product_image.html.twig' import image %}

{% set variant = hookable_metadata.context.variant %}
{% set product = hookable_metadata.context.product %}

<td>
    <div class="d-flex gap-3 align-items-center">
        <div>
            {{ image(product) }}
        </div>
        <div>
            <div><strong {{ sylius_test_html_attribute('product-variant-name') }}>{{ variant.name }}</strong></div>
            {% if product.isSimple() %}
                <div class="text-muted small" {{ sylius_test_html_attribute('product-code') }}>{{ product.code }}</div>
            {% else %}
                <div class="text-muted small" {{ sylius_test_html_attribute('product-variant-code') }}>{{ variant.code }}</div>
            {% endif %}
        </div>
    </div>
</td>
