{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Payment:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.sales'|trans }}</li>
    <li>{{ 'sylius.ui.payments'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-credit-card"></i> {{ 'sylius.ui.payments'|trans|raw }}</h1>
</div>

{% render(controller('sylius.controller.backend.form:filterAction', {'type': 'sylius_payment_filter', 'template': 'SyliusWebBundle:Backend/Payment:filterForm.html.twig'})) %}

{{ pagination(payments) }}
{{ list(payments) }}
{{ pagination(payments) }}

{% endblock %}
