{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.sales'|trans }}</li>
    <li><a href="{{ path('sylius_backend_payment_index') }}">{{ 'sylius.ui.orders'|trans }}</a></li>
    <li>{{ payment.method }} (#{{ payment.id }})</li>
    <li>{{ 'sylius.ui.edit'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-pencil"></i> {{ 'sylius.ui.editing_payment'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('sylius_backend_payment_update', {'id': payment.id}) }}" method="post" class="form-horizontal" novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/Payment:_form.html.twig' %}
    {{ update() }}
</form>
{% endblock %}
