{% macro moderation_label(review) %}
{% spaceless %}
    {% set statusLabels = { 'new': 'default', 'accepted': 'success', 'rejected': 'danger' } %}
    {{ statusLabels[review.status] }}
{% endspaceless %}
{% endmacro %}

{% macro list(reviews) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Review:macros.html.twig' as review_macros %}

{% if reviews|length > 0 %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'sylius.ui.id'|trans }}</th>
                <th>{{ 'sylius.ui.subject'|trans }}</th>
                <th>{{ 'sylius.ui.title'|trans }}</th>
                <th>{{ 'sylius.ui.status'|trans }}</th>
                <th>{{ 'sylius.ui.rating'|trans }}</th>
                <th>{{ 'sylius.ui.author'|trans }}</th>
                <th>{{ 'sylius.ui.created_at'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.id }}</td>
                <td>
                    <a href="{{ path('sylius_backend_product_show', { 'id': review.reviewSubject.id }) }}">{{ review.reviewSubject.id }}</a>
                </td>
                <td>{{ review.title }}</td>
                <td><label class="label label-{{ review_macros.moderation_label(review) }}">{{ review.status }}</label></td>
                <td><label class="label label-default">{{ review.rating }}</label></td>
                <td><a href="{{ path('sylius_backend_customer_show', { 'id': review.author.id }) }}">{{ review.author.email }}</a></td>
                <td>{{ review.createdAt|date }}</td>
                <td>
                    <div class="pull-right">
                        {{ buttons.show(path('sylius_backend_product_review_show', {'id': review.id})) }}
                        {{ buttons.edit(path('sylius_backend_product_review_update', {'id': review.id})) }}
                        {{ buttons.delete(path('sylius_backend_product_review_delete', {'id': review.id})) }}
                        {% if review.status == 'new' %}
                            {{ review_macros.transition(review.id, 'accept', 'info', 'Accept', 'share') }}
                            {{ review_macros.transition(review.id, 'reject', 'warning', 'Reject', 'remove') }}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
{{ alerts.info('sylius.review.no_reviews'|trans) }}
{% endif %}

{% endmacro %}

{% macro transition(reviewId, targetState, buttonStyle, buttonText, buttonIcon) %}
    <form action="{{ path('sylius_backend_product_review_update_state', {'id': reviewId, 'transition': targetState}) }}" method="post" style="display: inline">
        <input type="hidden" name="_method" value="PUT">
        <button class="btn btn-{{ buttonStyle }}" type="submit">
            <i class="glyphicon glyphicon-{{ buttonIcon }}"></i> <span>{{ buttonText }}</span>
        </button>
    </form>
{% endmacro %}
