{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.reviews'|trans }}</li>
    <li><a href="{{ path('sylius_backend_product_review_index') }}">{{ 'sylius.ui.product_reviews'|trans }}</a></li>
    <li>{{ product_review.title }}</li>
    <li>{{ 'sylius.ui.edit'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="icon-pencil"></i> {{ 'sylius.ui.editing_review'|trans }}</h1>
</div>

{{ form_errors(form) }}

<table class="table table-bordered">
    <tbody>
    <tr>
        <td><strong>{{ 'sylius.ui.subject'|trans }}</strong></td>
        <td>{{ product_review.reviewSubject.name }}</td>
    </tr>
    <tr>
        <td><strong>{{ 'sylius.ui.author'|trans }}</strong></td>
        <td>{{ product_review.author.email }}</td>
    </tr>
    </tbody>
</table>

<form action="{{ path('sylius_backend_product_review_update', {'id': product_review.id}) }}" method="post" class="form-horizontal" novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/Review:_form.html.twig' %}
    {{ update() }}
</form>
{% endblock %}
