{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/Macros:actions.html.twig' import update %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.review'|trans }}</li>
    <li><a href="{{ path('sylius_backend_review_index') }}">Reviews</a></li>
    <li>{{ review.title }}</li>
    <li>Edit</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="icon-pencil"></i> Editing Review</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('sylius_backend_review_update', {'id': review.id}) }}" method="post" class="form-horizontal" novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/Review:_form.html.twig' %}
    {{ update() }}
</form>
{% endblock %}
