{% set product = hookable_metadata.context.product %}
{% set image = hookable_metadata.context.image %}
{% set path = hookable_metadata.context.path %}

<a href="{{ image.path|imagine_filter('sylius_shop_product_original') }}" class="d-block overflow-auto bg-light rounded-3 spotlight">
    <img src="{{ path }}"
         data-large-thumbnail="{{ image.path|imagine_filter('sylius_shop_product_large_thumbnail') }}"
         alt="{{ product.name }}" {{ sylius_test_html_attribute('thumbnail-image', image.type) }}
         class="img-fluid w-100 h-100 object-fit-cover" />
</a>
