<div class="row-fluid product">
    <div class="span3">
        <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}">
            <img src="{{ product.image.path|default('http://placehold.it/200x200')|imagine_filter('sylius_200x200') }}" alt="" class="thumb" />
        </a>
    </div>
    <div class="span9">
        <div class="product-content">
            <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" class="product-link">{{ product.name }}</a>
            {% if not product.hasOptions and not sylius_inventory_is_available(product.masterVariant) %}
                <span class="label label-important label-large">{{ 'sylius.out_of_stock'|trans }}</span>
            {% endif %}

            <p class="product-short-desc">{{ product.shortDescription|default('sylius.product.no_description'|trans)|raw }}</p>

            <hr>
            <div class="widgets">
            {% if not product.hasOptions and sylius_inventory_is_available(product.masterVariant) %}
                <form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post">
                    {% set form = sylius_cart_form({'product': product}) %}
                    {{ form_widget(form.quantity, {'attr': {'class': 'center-text cart-quantity'}, 'empty_value': '1'}) }}
                    {{ form_widget(form._token) }}
                    <button type="submit" class="btn btn-success btn-cart"><i class="icon-shopping-cart icon-white"></i> {{ 'sylius.add_to_cart'|trans }}</button>
                </form>
            {% endif %}
            </div>
        </div>
    </div>
</div>
