<div class="product-box">
    <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}"><h3>{{ product.name|truncate(18) }}</h3></a>
    <a class="thumbnail" href="{{ path('sylius_product_show', {'slug': product.slug}) }}">
        <img  src="{{ product.image ? product.image.path|imagine_filter('sylius_262x255') : 'http://placehold.it/262x255' }}" alt="{{ product.name }}" />
        <span class="label">{{ product.price|sylius_price }}</span>
        <button class="btn btn-success"><i class="icon-shopping-cart icon-white"></i> {{ 'sylius.add_to_cart'|trans }}</button>
    </a>
</div>
