<h4>{{ 'sylius.newest'|trans }}</h4>

<ul>
    {% for product in products %}
        <li class="product-sidebox">
            <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}">
                <img src="{{ product.image.path|default('http://placehold.it/50x40')|imagine_filter('sylius_50x40') }}" alt="{{ product.name }}" class="thumb" />
                {{ product.name|truncate(20) }}
            </a>
        </li>
    {% endfor %}
</ul>
