{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% set form = sylius_cart_form({'product': product}) %}
{% from 'SyliusWebBundle:Frontend/Product:macros.html.twig' import sylius_display_price, list %}

{% block head %}
    {{ sylius_metadata_render(product, null, { 'defaults': {
        'title': settings.title|default('sylius.meta.frontend_title'|trans),
        'description': settings.meta_description|default('sylius.meta.frontend_description'|trans),
        'keywords': settings.meta_description|default('sylius.meta.frontend_keywords'|trans)
    } })|raw }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <a href="{{ path(product) }}" class="thumbnail">
            {% set image = (product.variants|length > 0 and product.image) ? product.image.path|imagine_filter('sylius_medium') : 'http://placehold.it/200x200' %}
            <img src="{{ image }}" alt="{{ product.name }}" />
        </a>
    </div>
    <div class="col-md-9">
        <a href="{{ path(product) }}" class="btn btn-link"><h3>{{ product.name }}</h3></a>
        <p>{{ product.shortDescription|default('sylius.product.no_description')|trans|raw }}</p>
        {% if product.averageRating %}
        <h3>{{ 'sylius.ui.rating'|trans }}: {{ product.averageRating|round(2, 'floor') }}</h3>
        {% endif %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        {% if product.attributes|length > 0 %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th colspan="2">{{ 'sylius.ui.attributes'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for attribute in product.attributes %}
                <tr>
                    <td>{{ attribute.name }}</td>
                    {% set attributeTemplate = 'SyliusAttributeBundle:Types:' ~ attribute.attribute.type ~ '.html.twig' %}
                    {% include [attributeTemplate, 'SyliusWebBundle:Frontend/Product:_attribute.html.twig'] with {'attribute': attribute} %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <div class="col-md-6">
        <h4>{{ 'sylius.ui.description'|trans }}</h4>
        <p>{{ product.description|default('sylius.product.no_description')|trans|raw }}</p>
    </div>
</div>
<hr>
<div class="row">
    <form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post" class="clearfix form-horizontal">
    <div class="col-md-6">
        {% if product.hasVariants %}
            {% if product.isVariantSelectionMethodChoice %}
            <table class="table table-condensed" id="product-variants">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'sylius.ui.price'|trans }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for variant in product.variants if variant.available %}
                    <tr>
                        <td>
                            {% if variant.presentation is empty %}
                            <ul class="unstyled">
                                {% for option in variant.options %}
                                <li><strong>{{ option.presentation }}</strong>: {{ option.value }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                                {{ variant.presentation }}
                            {% endif %}
                        </td>
                        <td>
                            {{ sylius_display_price(variant) }}
                        </td>
                        <td>
                        {% if sylius_inventory_is_available(variant) %}
                            {% if product.variants|length == 1 %}
                                {{ form_widget(form.variant[loop.index0], {'attr': {'checked': 'checked'}}) }}
                            {% else %}
                                {{ form_widget(form.variant[loop.index0]) }}
                            {% endif %}
                        {% else %}
                            <span class="label label-warning">{{ 'sylius.ui.out_of_stock'|trans }}</span>
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="well clearfix">
                    {{ form_widget(form.variant) }}
                </div>
            {% endif %}
        {% else %}
            <h4>
                <span class="pull-right">
                   {{ sylius_display_price(product.firstVariant) }}
                </span>
                {{ 'sylius.ui.price'|trans }}
            </h4>
        {% endif %}
    </div>
    <div class="col-md-6 pull-right">
        {% if not product.hasVariants and not sylius_inventory_is_available(product.firstVariant) %}
            <span class="label label-warning">{{ 'sylius.ui.out_of_stock'|trans }}</span>
        {% else %}
            {{ form_row(form.quantity, {'attr': {'class': 'center-text'}, 'empty_value': '1'}) }}
            {{ form_widget(form._token) }}
            <br>
            <br>
            {% if sylius_is_restricted(product) %}
            <button disabled="disabled" class="btn btn-success btn-lg btn-block"><i class="icon-shopping-cart icon-white icon-large"></i> {{ 'sylius.ui.not_available_in_your_country'|trans }}</button>
            {% else %}
                <button type="submit" class="btn btn-success btn-lg btn-block"><i class="icon-shopping-cart icon-white icon-large"></i> {{ 'sylius.ui.add_to_cart'|trans }}</button>
            {% endif %}
        {% endif %}
    </div>
</form>
</div>

<hr />

<div>
    {% for association in product.associations %}
        {% if association.associatedObjects|length > 0 %}
            <h3>{{ association.type.name }}</h3>
            <hr />
            {{ list(association.associatedObjects) }}
        {% endif %}
    {% endfor %}
</div>

<hr />

<div>
    <h3>{{ 'sylius.ui.product_reviews'|trans }}</h3>
    {% render(url('sylius_product_reviews', { 'productId': product.id, limit: 3 })) %}
    <hr />
    {% render(url('sylius_product_review_create', { 'productId': product.id })) %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output='assets/compiled/backend_review.js'
    'bundles/syliusreview/js/sylius-review.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script>
        var createMessage = "{{ 'sylius.resource.create'|trans({'%resource%': 'sylius.ui.product_review'|trans}, 'flashes') }}";
        $(document).ready(function() {
            initializeAjaxForm(createMessage);
        });
    </script>
    {% endjavascripts %}
{% endblock %}
