{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Taxon:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.assortment'|trans }}</li>
    <li>{{ 'sylius.ui.taxons'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_taxon_create'), 'sylius.ui.create_taxon'|trans) }}
        {{ buttons.manage(path('sylius_backend_product_index'), 'sylius.ui.manage_products'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-folder-close"></i> {{ 'sylius.ui.taxons'|trans|raw }}</h1>
</div>

{{ pagination(taxons) }}
{{ list(taxons) }}
{{ pagination(taxons) }}

{% endblock %}
