{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% set taxonomy = taxon.taxonomy %}

{% from 'SyliusWebBundle:Backend/Product:macros.html.twig' import list as list_products %}
{% import 'SyliusUiBundle::page.html.twig' as page  %}
{% import 'SyliusUiBundle::pagination.html.twig' as pagination %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li><a href="{{ path('sylius_backend_taxonomy_index') }}">{{ 'sylius.breadcrumb.taxonomy.index'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_taxonomy_show', {'id': taxonomy.id})}}">{{ taxonomy.name }}</a></li>
    <li>{{ taxon.name }}</li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('taxon.product_index', 'list', 'SyliusWebBundle:Backend/Taxon/Actions:_productIndex.html.twig', {'taxonomy': taxonomy}) }}

{{ pagination.standard(products) }}
{{ list_products(products) }}
{{ pagination.standard(products) }}
{% endblock %}
