{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Taxon:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.assortment'|trans }}</li>
    <li><a href="{{ path('sylius_backend_taxon_index') }}">{{ 'sylius.ui.taxons'|trans }}</a></li>
    {% macro renderTaxonLink(taxon) %}
        {% if taxon.parent %}
            {{ _self.renderTaxonLink(taxon.parent) }}
        {% endif %}
        <li><a href="{{ path('sylius_backend_taxon_show', {'id': taxon.id}) }}">{{ taxon.name }}</a></li>
    {% endmacro %}
    {{ _self.renderTaxonLink(taxon) }}
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_taxon_create'), 'sylius.ui.create_taxon'|trans) }}
        {{ buttons.manage(path('sylius_backend_taxon_index'), 'sylius.taxon.manage'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-tags"></i> {{ 'sylius.taxon.show_header'|trans({'%name%': taxon.name})|raw }}</h1>
</div>

{{ list(taxon.children) }}

{% endblock %}
