{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% set taxonomy = taxon.taxonomy %}

{% import 'SyliusUiBundle::page.html.twig' as page  %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li><a href="{{ path('sylius_backend_taxonomy_index') }}">{{ 'sylius.breadcrumb.taxonomy.index'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_taxonomy_show', {'id': taxon.taxonomy.id}) }}">{{ taxon.taxonomy.name }}</a></li>
    <li>{{ taxon.name }}</a></li>
    <li>{{ 'sylius.breadcrumb.edit'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('sylius_backend_taxon_update', {'taxonomyId': taxonomy.id, 'id': taxon.id}), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

{{ page.header('taxon.update', 'pencil', 'SyliusUiBundle:Form/Actions:_update.html.twig') }}

{{ form_errors(form) }}
{% include 'SyliusWebBundle:Backend/Taxon:_form.html.twig' %}
<input type="hidden" name="_method" value="PUT">

{{ form_end(form) }}
{% endblock %}
