{# Rendered by \Sylius\Bundle\AdminBundle\TwigComponent\Shared\Navbar\NotificationsComponent #}

{% import '@SyliusAdmin/Shared/Helper/dropdown.html.twig' as dropdown %}
{% from '@SyliusAdmin/Shared/Helper/icon.html.twig' import icon %}

<div class="nav-item">
    {% set dropdown_trigger %}
        {% if notifications %}
            <a href="#" class="nav-link px-0">
                {{ icon({ icon: 'bell' }) }}
                <span class="badge bg-red"></span>
            </a>
        {% else %}
            <div class="nav-link px-0 text-muted">
                {{ icon({ icon: 'bell' }) }}
            </div>
        {% endif %}
    {% endset %}

    {% set dropdown_content %}
        <div class="card" style="min-width: 15rem; max-width: 25rem">
            {% if notifications is empty %}
                <div class="card-header">
                    <h3 class="card-title">{{ 'sylius.ui.no_new_notifications'|trans }}</h3>
                </div>
            {% else %}
                <div class="list-group list-group-flush list-group-hoverable">
                    {% for notification in notifications %}
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <span class="status-dot status-dot-animated bg-red d-block"></span>
                                </div>
                                <div class="col text-truncate">
                                    <div class="d-block text-truncate mt-n1">
                                        {{ notification.text }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endset %}

    {{ dropdown.default({
        class: 'dropdown-menu-card',
        customTrigger: dropdown_trigger,
        content: dropdown_content,
        direction: 'down-end'
    }) }}
</div>
