{% if data.isTracked %}
<div class="ui {{ data.onHand > 0 ? 'green' : 'red' }} icon label">
    <i class="cube icon"></i>
    {{ data.onHand }} {{ 'sylius.ui.available_on_hand'|trans }}
    {% if data.onHold > 0 %}
    <div class="detail">
        {{ data.onHold }} {{ 'sylius.ui.reserved'|trans }}
    </div>
    {% endif %}
</div>
{% else %}
    <span class="ui red label">
        <i class="remove icon"></i>
        {{ 'sylius.ui.untraceable'|trans }}
    </span>
{% endif %}
