{% set product = hookable_data.resource %}

{% if product.isSimple %}
    <div class="tab-pane" id="product-channel-pricing" role="tabpanel" tabindex="0">
        {% set variantForm = hookable_data.form.variant %}

        {% set isChannelPricingInvalid = variantForm.channelPricings.vars.errors is not empty %}

        {% if isChannelPricingInvalid %}
            {% from '@SyliusAdmin/Shared/Helper/icon.html.twig' import icon as _icon %}

            <div class="alert alert-danger" role="alert">
                <div class="d-flex">
                    <div>
                        {{ _icon({ 'icon': 'danger', 'class': 'alert-icon' }) }}
                    </div>
                    <div>
                        {% set firstError = variantForm.channelPricings.vars.errors|first %}
                        {{ firstError.messageTemplate|trans({}, 'validators') }}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="card mb-3">
            {% if isChannelPricingInvalid %}
                <div class="card-status-top bg-danger"></div>
            {% endif %}
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs" role="tablist">
                    {% for channelCode, channelPricing in variantForm.channelPricings %}
                        {% if loop.index0 == 0 %}
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#{{ channelCode }}" role="tab">
                                    {{ channelPricing.vars.label }}
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#{{ channelCode }}" role="tab">
                                    {{ channelPricing.vars.label }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    {% for channelCode, channelPricing in variantForm.channelPricings %}
                        {% if loop.index0 == 0 %}
                            <div class="tab-pane fade show active" id="{{ channelCode }}" role="tabpanel">
                                {% if channelCode not in product.channels|map(channel => channel.code) %}
                                    <div class="alert alert-info">
                                        {{ 'sylius.ui.product.product_not_active_in_channel'|trans }}
                                    </div>
                                {% endif %}
                                {{ form_row(channelPricing, {'label': false}) }}
                            </div>
                        {% else %}
                            <div class="tab-pane fade" id="{{ channelCode }}" role="tabpanel">
                                {% if channelCode not in product.channels|map(channel => channel.code) %}
                                    <div class="alert alert-info">
                                        {{ 'sylius.ui.product.product_not_active_in_channel'|trans }}
                                    </div>
                                {% endif %}
                                {{ form_row(channelPricing, {'label': false}) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
