{% set form = hookable_data.form %}
{% set product = hookable_data.resource %}

<div class="tab-pane" id="product-media" role="tabpanel" tabindex="0">
    <div class="card mb-3">
        <div class="card-header">
            <h2 id="productMedia" class="card-title">
                {{ 'sylius.ui.media'|trans }}
            </h2>
        </div>
        <div class="card-body">
            <div class="row" {{ sylius_test_html_attribute('images') }}>
                {% for imageForm in form.images %}
                    <div
                        class="col-12 col-md-6 row mb-4"
                        {{ sylius_test_html_attribute('image-subform') }}
                    >
                        <div class="col-auto">
                            {% if imageForm.vars.value.path is not null %}
                                <span class="avatar avatar-xl" style="background-image: url('{{ imageForm.vars.value.path|imagine_filter('sylius_small') }}')"></span>
                            {% else %}
                                <span class="avatar avatar-xl"></span>
                            {% endif %}
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                {{ form_row(imageForm.type) }}
                            </div>
                            <div class="mb-3">
                                {% if product.id is not null and 0 != product.variants|length and not product.simple %}
                                    {{ form_row(imageForm.productVariants) }}
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form_row(imageForm.file) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="d-grid gap-2">
                {{ form_widget(form.images.vars.button_add, {label: 'sylius.ui.add_image'|trans, attr: {class: 'btn btn-outline-primary '}}) }}
            </div>
        </div>
    </div>
</div>
