{% import 'SyliusTaxationBundle:TaxCategory:macros.html.twig' as macros %}

<h1>Taxation categories <small>Here you can configure the tax categories for your taxables</small></h1>

<div class="well">
    <a href="{{ path('sylius_tax_category_create') }}" class="btn btn-primary">
        <i class="icon-plus-sign"></i> new tax category
    </a>
    <a href="{{ path('sylius_tax_rate_index') }}" class="btn btn-success">
        <i class="icon-adjust"></i> manage tax rates
    </a>
</div>

{% if tax_categories.haveToPaginate()|default(false) %}
{{ pagerfanta(tax_categories, 'twitter_bootstrap_translated') }}
{% endif %}

{{ macros.list(categories) }}

{% if tax_categories.haveToPaginate()|default(false) %}
{{ pagerfanta(tax_categories, 'twitter_bootstrap_translated') }}
{% endif %}
