{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusTaxationBundle:TaxCategory:macros.html.twig' as macros %}

<h1>Taxation categories <small>Here you can configure the tax categories for your taxables</small></h1>

<div class="well">
    {{ buttons.create(path('sylius_tax_category_create'), 'new tax category') }}
    {{ buttons.manage(path('sylius_tax_rate_index'), 'manage tax rates') }}
</div>

{% if tax_categories.haveToPaginate()|default(false) %}
{{ pagerfanta(tax_categories, 'twitter_bootstrap_translated') }}
{% endif %}

{{ macros.list(tax_categories) }}

{% if tax_categories.haveToPaginate()|default(false) %}
{{ pagerfanta(tax_categories, 'twitter_bootstrap_translated') }}
{% endif %}
