{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

<h1>Taxation category details <small>{{ tax_category.name }}</small></h1>
<hr>
<div class="well">
    {{ buttons.manage(path('sylius_tax_category_index'), 'manage taxation categories') }}
    {{ buttons.edit(path('sylius_tax_category_update', {'id': tax_category.id})) }}
    {{ buttons.delete(path('sylius_tax_category_delete', {'id': tax_category.id})) }}
</div>

<div class="well">
    {{ tax_category.description|default('No description') }}
</div>
