{% macro list(tax_categories) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% if tax_categories|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', '#id') }}</th>
            <th>{{ sylius_resource_sort('name') }}</th>
            <th>{{ sylius_resource_sort('updatedAt', 'last updated') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for tax_category in tax_categories %}
        <tr>
            <td>{{ tax_category.id }}</td>
            <td>{{ tax_category.name }}</td>
            <td>{{ tax_category.updatedAt|date }}</td>
            <td>
                <div class="btn-group pull-right">
                    {{ buttons.show(path('sylius_tax_category_show', {'id': tax_category.id})) }}
                    {{ buttons.edit(path('sylius_tax_category_update', {'id': tax_category.id})) }}
                    {{ buttons.delete(path('sylius_tax_category_delete', {'id': tax_category.id})) }}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">Information</h4>
    You have no tax categories configured
</div>
{% endif %}

{% endmacro %}
