{% from '@SyliusAdmin/order/history/macro/action_label.html.twig' import label %}

{% set header = (header|default('sylius.ui.address'))|trans %}

<div class="col-12 col-md-6" {{ sylius_test_html_attribute('address-type', header) }}>
    <div class="card mb-3">
        <div class="card-header">
            <div class="card-title">{{ header }}</div>
        </div>
        <div class="table-responsive">
            <table class="table table-vcenter table-bordered card-table">
                <thead>
                <tr>
                    <th>{{ 'sylius.ui.actions'|trans }}</th>
                    <th>{{ 'sylius.ui.logged_at'|trans }}</th>
                    <th>{{ 'sylius.ui.changes'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {%- for log in address_logs -%}
                    <tr {{ sylius_test_html_attribute('address-log') }}>
                        <td>{{ label(log) }}</td>
                        <td>
                            <span class="text-nowrap">{{ log.loggedAt|date('Y-m-d') }}</span><br>
                            <span class="text-nowrap">{{ log.loggedAt|date('H:i:s') }}</span>
                        </td>
                        <td>
                            <div class="table-responsive">
                                <table class="table table-sm table-vcenter">
                                    <tbody>
                                    {%- for field, data in log.data|filter(data => not data is empty) -%}
                                        <tr{% if loop.last %} style="border-bottom: hidden;"{% endif %}>
                                            <td class="col-5"><strong>{{ ('sylius.ui.' ~ field|u.snake)|trans }}</strong></td>
                                            <td class="col-7"><span>{{ data }}</span></td>
                                        </tr>
                                    {%- endfor -%}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                {%- endfor -%}
                </tbody>
            </table>
        </div>
    </div>
</div>
