{% import '@SyliusShop/shared/buttons.html.twig' as buttons %}

{% set product = order_item.variant.product %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

<div class="my-4" {{ sylius_test_html_attribute('product-selecting-variant') }}>
    {{ form_start(form, {'action': path('sylius_shop_ajax_cart_add_item', {'productId': product.id}), 'attr': {'id': 'sylius-product-adding-to-cart', 'novalidate': 'novalidate', 'autocomplete': 'off', 'data-redirect': path(configuration.getRedirectRoute('summary'))}}) }}

    {{ form_errors(form) }}
    <div {{ sylius_test_html_attribute('cart-validation-error') }}></div>

    <div class="mb-3">
        {% if not product.simple %}
            {% if product.variantSelectionMethodChoice %}
                {% include '@SyliusShop/Product/show/summary/variants.html.twig' %}
            {% else %}
                {% include '@SyliusShop/Product/show/summary/options.html.twig' %}
            {% endif %}
        {% endif %}
    </div>

    <div class="mb-4">
        {{ form_row(form.cartItem.quantity, sylius_test_form_attribute('quantity')) }}
    </div>

    <div class="mb-3">
        {{ buttons.submit('sylius.ui.add_to_cart'|trans, 'add-to-cart-button', null, 'btn-primary') }}
    </div>

    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
