{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

{% set variant = product|sylius_resolve_variant %}
{% set hasDiscount = variant|sylius_has_discount({'channel': sylius.channel}) %}
{% set days = sylius.channel.channelPriceHistoryConfig.lowestPriceForDiscountedProductsCheckingPeriod %}
{% set hasLowestPrice = variant|sylius_has_lowest_price({'channel': sylius.channel}) %}

<div class="mb-3 pb-1">
    <div class="mb-2">
        <div class="d-flex gap-3 align-items-center">
            <div class="fs-2" {{ sylius_test_html_attribute('product-price', money.calculatePrice(variant)) }}>{{ money.calculatePrice(variant) }}</div>
            <div{% if not hasDiscount %} class="d-none" data-test-product-original-price-hidden{% endif %} {{ sylius_test_html_attribute('product-original-price', money.calculateOriginalPrice(variant)) }}>
                {% if hasDiscount %}<del>{{ money.calculateOriginalPrice(variant) }}</del>{% endif %}
            </div>
        </div>
    </div>

    <div data-test-lowest-price-before-discount>
        {% if hasDiscount and hasLowestPrice %}
            <div>
                <small class="text-body-tertiary">
                    {{ 'sylius.ui.lowest_price_days_before_discount_was'|trans({'%days%': days, '%price%': money.calculateLowestPrice(variant)}) }}
                </small>
            </div>
        {% endif %}
    </div>
</div>
