{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

{% if product.isConfigurable() and product.getVariantSelectionMethod() == 'match' and not product.enabledVariants.empty() %}
    {% set pricing = sylius_product_variants_map(product, {'channel': sylius.channel}) %}
    {% set days = sylius.channel.channelPriceHistoryConfig.lowestPriceForDiscountedProductsCheckingPeriod %}

    <div data-unavailable-text="{{ 'sylius.ui.unavailable'|trans }}">
        {% for option_data in pricing %}
            {% set catalog_promotions = [] %}
            {% if option_data.applied_promotions is defined %}
                {% for promotion in option_data.applied_promotions %}
                    {% set catalog_promotions = catalog_promotions|merge([{'label': promotion.name, 'description': promotion.description}]) %}
                {% endfor %}
            {% endif %}
            <div {% for option, value in option_data %}data-{{ option }}="{% if option == 'value' or option == 'original-price' %}{{ money.convertAndFormat(value) }}{% elseif option == 'lowest-price-before-discount' %}{{ 'sylius.ui.lowest_price_days_before_discount_was'|trans({'%days%': days, '%price%': money.convertAndFormat(value)}) }}{% elseif option == 'applied_promotions' %}{{ catalog_promotions|json_encode }}{% else %}{{ value|replace({'\"': '\''}) }}{% endif %}" {{ sylius_test_html_attribute('variant-price') }}{% endfor %}></div>
        {% endfor %}
    </div>
{% endif %}

{% if product.enabledVariants.empty() or product.simple and not sylius_inventory_is_available(product.enabledVariants.first) %}
    <div {{ sylius_test_html_attribute('product-out-of-stock') }}>{{ 'sylius.ui.out_of_stock'|trans }}</div>
{% else %}
    {{ render(url('sylius_shop_partial_cart_add_item', {'template': '@SyliusShop/Product/show/summary/add_to_cart.html.twig', 'productId': product.id})) }}
{% endif %}
