{% block subject %}
    {{ 'sylius.email.order_comment.name'|trans }} {{ order.number }}
{% endblock %}

{% block body %}
    <h1>{{ 'sylius.ui.order'|trans }} {{ 'sylius.ui.number'|trans~':' }}{{ order.number }}</h1>
    {% if comment %}
        <h3>{{ comment.comment }}</h3>
    {% endif %}
{% endblock %}
