{% block subject %}
    {{ 'sylius.email.password_reset.name'|trans }}
{% endblock %}

{% block body %}
    <h3>{{ 'sylius.email.password_reset.hello'|trans }} {{ user.username }}</h3>

    {{ 'sylius.email.password_reset.content'|trans }} {{ url('sylius_user_password_reset', { 'token' : user.confirmationToken}) }}
    <br/><br/>

    {{ 'sylius.email.password_reset.regards'|trans }}
{% endblock %}
