{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/ProductAssociationType:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.product_association_type.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_product_association_type_create'), 'sylius.product_association_type.create'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-list-alt"></i> {{ 'sylius.product_association_type.index_header'|trans|raw }}</h1>
</div>

{{ pagination(product_association_types) }}
{{ list(product_association_types) }}
{{ pagination(product_association_types) }}

{% endblock %}
