{% macro list(association_types) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if association_types|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ sylius_resource_sort('id', 'sylius.ui.id'|trans) }}</th>
                <th>{{ sylius_resource_sort('code', 'sylius.ui.code'|trans) }}</th>
                <th>{{ sylius_resource_sort('name', 'sylius.ui.name'|trans) }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for type in association_types %}
            <tr id="{{ type.id }}">
                <td>{{ type.id }}</td>
                <td>{{ type.code }}</td>
                <td>{{ type.name }}</td>
                <td class="center-text">
                    {{ buttons.edit(path('sylius_backend_product_association_type_update', {'id': type.id})) }}
                    {{ buttons.delete(path('sylius_backend_product_association_type_delete', {'id': type.id})) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ alerts.info('sylius.ui.no_association_types_to_display'|trans) }}
{% endif %}

{% endmacro %}
