{% macro list(emails) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% if emails|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ sylius_resource_sort('code', 'sylius.ui.code'|trans) }}</th>
                <th>{{ sylius_resource_sort('subject', 'sylius.ui.subject'|trans) }}</th>
                <th>{{ sylius_resource_sort('enabled', 'sylius.ui.enabled'|trans) }}</th>
                <th>{{ sylius_resource_sort('updatedAt', 'sylius.ui.last_update'|trans) }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for email in emails %}
            <tr id="{{ email.id }}">
                <td>{{ email.code }}</td>
                <td>{{ email.subject }}</td>
                <td>
                    {{ misc.state_label(email.enabled) }}
                </td>
                <td>{{ email.updatedAt|date }}</td>
                <td>
                    <div class="pull-right">
                    {{ buttons.edit(path('sylius_backend_email_update', {'id': email.id})) }}
                    {{ buttons.delete(path('sylius_backend_email_delete', {'id': email.id})) }}
                   </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
{{ alerts.info('sylius.ui.there_are_no_emails_configured'|trans) }}
{% endif %}

{% endmacro %}
