{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% import configuration.vars.templates.list as list %}
{% import 'SyliusUiBundle:Macro:buttons.html.twig' as buttons %}
{% import 'SyliusUiBundle:Macro:headers.html.twig' as headers %}
{% import 'SyliusUiBundle:Macro:labels.html.twig' as labels %}
{% import 'SyliusUiBundle:Macro:pagination.html.twig' as pagination %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.'~metadata.pluralName) %}

{% block title %}{{ parent() }} {{ header|trans }}{% endblock %}

{% block content %}
<div class="ui stackable two column grid">
    <div class="column">
        {{ headers.default(header|trans, configuration.vars.icon|default('list'), configuration.vars.subheader|default(null)|trans) }}
    </div>
    <div class="middle aligned column">
        <div class="ui right floated buttons">
            {{ buttons.create(path(configuration.getRouteName('create'))) }}
        </div>
    </div>
</div>

<div class="ui segment">
{{ pagination.render(resources) }}
{{ list.full(resources, configuration) }}
{{ pagination.render(resources) }}
</div>
{% endblock %}
