{% import '@SyliusAdmin/Shared/Helper/product.html.twig' as _product %}
{% import '@SyliusAdmin/Shared/Helper/money.html.twig' as _money %}

{% set orderPromotionAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::ORDER_PROMOTION_ADJUSTMENT') %}
{% set unitPromotionAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::ORDER_UNIT_PROMOTION_ADJUSTMENT') %}
{% set shippingAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::SHIPPING_ADJUSTMENT') %}
{% set taxAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::TAX_ADJUSTMENT') %}

{% set order = hookable_metadata.context.resource %}

<div class="card mb-3">
    <div class="card-header">
        <div class="card-title">{{ 'sylius.ui.items'|trans }}</div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-vcenter card-table">
            <thead>
                <tr>
                    <th>{{ 'sylius.ui.item'|trans }}</th>
                    <th class="text-end">{{ 'sylius.ui.unit_price'|trans|replace({ " ": "<br>" })|raw }}</th>
                    <th class="text-end">{{ 'sylius.ui.unit_discount'|trans|replace({ " ": "<br>" })|raw }}</th>
                    <th class="text-end">{{ 'sylius.ui.distributed_order_discount'|trans|replace({ " ": "<br>" })|raw }}</th>
                    <th class="text-end">{{ 'sylius.ui.discounted_unit_price'|trans|replace({ " ": "<br>" })|raw }}</th>
                    <th class="text-center">{{ 'sylius.ui.quantity'|trans }}</th>
                    <th class="text-end">{{ 'sylius.ui.subtotal'|trans }}</th>
                    <th class="text-end">{{ 'sylius.ui.tax'|trans }}</th>
                    <th class="text-end">{{ 'sylius.ui.total'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items %}
                    {% set variant = item.variant %}
                    {% set product = variant.product %}

                    {% set aggregatedUnitPromotionAdjustments = item.getAdjustmentsTotalRecursively(unitPromotionAdjustment) + item.getAdjustmentsTotalRecursively(orderPromotionAdjustment) %}
                    {% set subtotal = (item.unitPrice * item.quantity) + aggregatedUnitPromotionAdjustments %}

                    {% set taxIncluded = sylius_admin_order_unit_tax_included(item) %}
                    {% set taxExcluded = sylius_admin_order_unit_tax_excluded(item) %}

                    <tr>
                        <td>
                            <div class="d-flex gap-3 align-items-center">
                                <div>
                                    {{ _product.image(product) }}
                                </div>
                                <div>
                                    <div>
                                        <a href="{{ path('sylius_admin_product_show', { id: product.id }) }}">
                                            <strong>{{ product.name }}</strong>
                                        </a>
                                    </div>
                                    <div class="text-muted small">{{ variant.code }}</div>
                                    <div class="text-muted small">{{ variant.name }}</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            {{ _money.format(item.unitPrice, order.currencyCode) }}
                        </td>
                        <td>
                            {{ _money.format(item.units.first.adjustmentsTotal(unitPromotionAdjustment), order.currencyCode) }}
                        </td>
                        <td>
                            <span style="font-style: italic;">~ {{ _money.format(item.units.first.adjustmentsTotal(orderPromotionAdjustment), order.currencyCode) }}</span>
                        </td>
                        <td>
                            {{ _money.format(item.fullDiscountedUnitPrice, order.currencyCode) }}
                        </td>
                        <td>
                            {{ item.quantity }}
                        </td>
                        <td>
                            {{ _money.format(subtotal, order.currencyCode) }}
                        </td>
                        <td>
                            <div class="tax-excluded">{{ _money.format(taxExcluded, order.currencyCode) }}</div>
                            <div class="text-secondary">
                                <div class="tax-included"> {{ _money.format(taxIncluded, order.currencyCode) }}
                                </div>
                                <small>({{ 'sylius.ui.included_in_price'|trans }})</small>
                            </div>
                        </td>
                        <td>
                            {{ _money.format(item.total, order.currencyCode) }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="h3 mb-0" colspan="7">{{ 'sylius.ui.total'|trans }}</td>
                    <td class="text-end h3 mb-0">{{ _money.format(order.taxTotal, order.currencyCode) }}</td>
                    <td class="text-end h3 mb-0">{{ _money.format(order.itemsTotal, order.currencyCode) }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
