{% macro list(menus) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% if menus|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'sylius.menu.id'|trans }}</th>
                <th>{{ sylius_resource_sort('title', 'sylius.menu.title'|trans) }}</th>
                <th>{{ sylius_resource_sort('updatedAt', 'sylius.menu.updated_at'|trans) }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr id="{{ menu.id }}">
                <td><i>{{ menu.id }}</i></td>
                <td>{{ menu.title }}</td>
                <td>{{ menu.updatedAt|date }}</td>
                <td>
                    <div class="pull-right">
                    {{ buttons.edit(path('sylius_backend_simple_menu_update', {'id': menu.id})) }}
                    {{ buttons.delete(path('sylius_backend_simple_menu_delete', {'id': menu.id})) }}
                   </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
{{ alerts.info('sylius.menu.no_results'|trans) }}
{% endif %}

{% endmacro %}
