<div class="row">
    <div class="col-md-12">
        {{ form_row(form.code, {'attr': {'class': 'input-lg'}}) }}
        {{ form_row(form.name, {'attr': {'class': 'input-lg'}}) }}
        {{ form_row(form.description) }}
        {{ form_row(form.usageLimit) }}
        {{ form_row(form.startsAt) }}
        {{ form_row(form.endsAt) }}
        {{ form_row(form.couponBased) }}
        {{ form_row(form.exclusive) }}
        {{ form_row(form.channels) }}
        {{ form_widget(form._token) }}
    </div>
    <div class="row">
        <div class="col-md-6 row-split" id="rules">
            {{ form_row(form.rules) }}
        </div>
        <div class="col-md-6 row-split" id="actions">
            {{ form_row(form.actions) }}
        </div>
    </div>
</div>

<hr>
