{% extends 'SyliusUserBundle::layout.html.twig' %}

{% block content %}
{% if error %}
    <div>
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}

<form action="{{ path('sylius_user_security_check') }}" method="POST" >
    <fieldset>
        {{ form_errors(form) }}

        {{ form_row(form._username) }}
        {{ form_row(form._password) }}
        {{ form_rest(form) }}
        <div class="checkbox">
            <label for="remember_me">
                {{ 'sylius.form.user.remember_me'|trans }} &nbsp; <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            </label>
        </div>
        <div class="pull-right">
            <p>
                <a href="{{ path('sylius_user_request_password_reset_token') }}">{{ 'sylius.ui.forgot_password'|trans }}</a>
                <a href="{{ path('sylius_user_registration') }}">{{ 'sylius.ui.no_account'|trans }}</a>
            </p>
        </div>
    </fieldset>

    <button type="submit">
        {{ 'sylius.ui.login'|trans }}
    </button>
</form>
{% endblock %}
