<div class="ui large fluid vertical menu">
    <a href="#" class="active item" data-tab="details">
        {{ 'sylius.ui.details'|trans }}
    </a>
    <a href="#" class="item" data-tab="taxonomy">
        {{ 'sylius.ui.taxonomy'|trans }}
    </a>
    <a class="item" data-tab="attributes">
        {{ 'sylius.ui.attributes'|trans }}
    </a>
    <a class="item" data-tab="associations">
        {{ 'sylius.ui.associations'|trans }}
    </a>
    <a href="#" class="item" data-tab="media">
        {{ 'sylius.ui.media'|trans }}
    </a>
</div>
