{% if taxonId %}
    {% for productTaxon in product.productTaxons%}
        {% if taxonId == productTaxon.taxon.id %}
            <div class="position" data-id="{{ productTaxon.id }}">
                <button class="ui button position" data-id="{{ productTaxon.id }}" >
                    {{ 'sylius.ui.change_position'|trans }}
                </button>
                <div class='ui input'>
                    <input type='hidden' data-action="move product taxon"  data-id="{{ productTaxon.id }}" data-position="{{ productTaxon.position }}" class='sylius-product-taxon-position'/>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
