<div class="{% if slugField.vars.required %}required {% endif %}field">
    {{ form_label(slugField) }}
    {% if product.slug == null %}
        {{ form_widget(slugField, {'attr': {'data-url': path('sylius_product_generate_slug')}}) }}
    {% else %}
    <div class="ui action input">
        {{ form_widget(slugField, {'attr': {'disabled': 'disabled', 'data-url': path('sylius_product_generate_slug')}}) }}
        <span id="toggle-slug-modification" class="ui button" data-toggle-text="{{ 'sylius.ui.disable'|trans }}">{{ 'sylius.ui.enable'|trans }}</span>
    </div>
    {% endif %}
</div>
