{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

<div class="row">
    <div class="col-md-12">
        <fieldset>
            {{ form_row(form.email) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.birthday) }}
            {{ form_row(form.gender) }}
            {{ form_row(form.phoneNumber) }}
            {{ form_row(form.groups) }}
            {% if form.user is defined %}
                {% if form.user.vars.data.id is not defined %}
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="sylius_customer_create_user">
                            {{ 'sylius.form.customer.only_customer_registration'|trans }}
                        </label>
                        <div class="col-lg-10">
                            <input type="checkbox" id="sylius_customer_create_user">
                        </div>
                    </div>
                {% endif %}
                <div id="user-form" {% if form.user.vars.data.id is not defined %} style="display: none" {% endif %}>
                    {{ form_row(form.user.plainPassword) }}
                    {{ form_row(form.user.enabled) }}

                    <div class="form-group">
                        {{ form_label(form.user.authorizationRoles) }}
                        <div class="col-lg-2">
                            {% set level = 1 %}
                            <ul class="list-unstyled" id="hierarchy-root">
                                {% for roleForm in form.user.authorizationRoles %}
                                {% set currentLevel = form.user.authorizationRoles.vars.choices[roleForm.vars.value].data.level %}
                                <li>
                                    {% if currentLevel != level %}
                            </ul>
                            <ul class="hierarchy-node list-unstyled level-{{ currentLevel }}" data-level="{{ currentLevel }}" style="width: 100%; margin-left: {{ currentLevel * 20 }}px">
                                {% set level = currentLevel %}
                                {% endif %}
                                {{ form_widget(roleForm) }}
                                {{ form.user.authorizationRoles.vars.choices[roleForm.vars.value].data.name }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            {{ form_row(form._token) }}
        </fieldset>
    </div>
</div>
