{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output='assets/compiled/backend_customer.js'
        'bundles/syliususer/js/sylius-user.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.customer'|trans }}</li>
    <li><a href="{{ path('sylius_backend_customer_index') }}">{{ 'sylius.ui.customers'|trans }}</a></li>
    <li>{{ 'sylius.ui.new'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-plus-sign"></i> {{ 'sylius.ui.new_customer'|trans|raw }}</h1>
</div>

<form action="{{ path('sylius_backend_customer_create') }}" method="post" class="form-horizontal" novalidate>
    {% include 'SyliusWebBundle:Backend/Customer:_form.html.twig' %}
    {{ create() }}
</form>
{% endblock %}
