{# Rendered with using \Sylius\Bundle\AdminBundle\TwigComponent\Shipment\ShipType #}

{% form_theme form '@SyliusAdmin/shared/form_theme.html.twig' %}

{% if sm_can(shipment, 'ship', 'sylius_shipment') %}
    <div {{ attributes }}>
        {{ form_start(form, {'action': path('sylius_admin_shipment_ship', {id: shipment.id}), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
        <input type="hidden" name="_method" value="PUT">
        <div class="input-group">
            {{ form_widget(form.tracking, sylius_test_form_attribute('shipment-tracking')|sylius_merge_recursive({'attr': {'placeholder': 'sylius.ui.tracking_code'|trans ~ '...'}})) }}
            <button type="submit" class="btn" {{ sylius_test_html_attribute('shipment-ship-button') }}>{{ 'sylius.ui.ship'|trans }}</button>
        </div>
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endif %}
