{% set product = item.product %}
<tr>
    <td>{{ loop.index }}</td>
    <td>
        {{ include('SyliusWebBundle:Frontend/Product:_variant.html.twig', {'variant': item.variant}) }}
    </td>
    <td>{{ item.quantity }}</td>
    <td>
        <span class="pull-right">
        {{ item.unitPrice|sylius_price }}
        </span>
    </td>
    <td>
        <span class="pull-right">
        {{ item.total|sylius_price }}
        </span>
    </td>
</tr>
