{% set variant = item.variant %}
{% set product = item.product %}
<tr>
    <td>{{ loop.index }}</td>
    <td>
        <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" class="thumbnail pull-left" style="width: 90px; margin-right: 15px;">
            <img src="{{ product.image.path|default('http://placehold.it/90x60')|imagine_filter('sylius_90x60') }}" alt="" />
        </a>
        <div>
            <p>
                <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}">{{ product.name }}</a>
            </p>
            {% if product.hasOptions %}
            <ul class="unstyled">
                {% for option in variant.options %}
                <li><strong>{{ option.presentation }}</strong>: {{ option.value }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </td>
    <td>{{ item.quantity }}</td>
    <td>
        <span class="pull-right">
        {{ item.unitPrice|sylius_price }}
        </span>
    </td>
    <td>
        <span class="pull-right">
        {{ item.total|sylius_price }}
        </span>
    </td>
</tr>
