<div class="ui breadcrumb">
    <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
    <div class="divider"> / </div>
    {% if product.mainTaxon is not null %}
        {% set taxon = product.mainTaxon %}
        {% set parents = taxon.parents|reverse %}

        {% for parent in parents %}
            {% if parent.isRoot() %}
                <div class="section">{{ parent.name }}</div>
            {% else %}
                <a href="{{ path('sylius_shop_product_index', {'slug': parent.slug, '_locale': parent.translation.locale}) }}" class="section">{{ parent.name }}</a>
            {% endif %}
            <div class="divider"> / </div>
        {% endfor %}

        <a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}" class="section">{{ taxon.name }}</a>
        <div class="divider"> / </div>
    {% endif %}
    <div class="active section">{{ product.name }}</div>
</div>
