<div class="ui labeled icon top right floating dropdown button primary link">
    <i class="plus icon"></i>
    <span class="text">{{ 'sylius.ui.create'|trans }}</span>
    <div class="menu">
        <div class="header">
            {{ 'sylius.ui.type'|trans }}
        </div>
        <div class="divider"></div>
        <a class="item" href="{{ path(grid.requestConfiguration.getRouteName('create'), {'type': 'country'}) }}"><i class="plus icon"></i> {{ 'sylius.ui.zone_consisting_of_countries'|trans }}</a>
        <a class="item" href="{{ path(grid.requestConfiguration.getRouteName('create'), {'type': 'province'}) }}"><i class="plus icon"></i> {{ 'sylius.ui.zone_consisting_of_provinces'|trans }}</a>
        <a class="item" href="{{ path(grid.requestConfiguration.getRouteName('create'), {'type': 'zone'}) }}"><i class="plus icon"></i> {{ 'sylius.ui.zone_consisting_of_other_zones'|trans }}</a>
    </div>
</div>
