{% macro list(channels) %}
    {% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
    {% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
    {% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

    {% if channels|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ sylius_resource_sort('code', 'sylius.ui.code'|trans) }}</th>
                <th>{{ sylius_resource_sort('name', 'sylius.ui.name'|trans) }}</th>
                <th>{{ sylius_resource_sort('url', 'sylius.ui.hostname'|trans) }}</th>
                <th>{{ sylius_resource_sort('defaultLocale', 'sylius.ui.default_locale'|trans) }}</th>
                <th>{{ sylius_resource_sort('defaultCurrency', 'sylius.ui.default_currency'|trans) }}</th>
                <th>{{ sylius_resource_sort('theme', 'sylius.ui.theme'|trans) }}</th>
                <th>{{ sylius_resource_sort('enabled', 'sylius.ui.enabled'|trans) }}</th>
                <th>{{ sylius_resource_sort('updatedAt', 'sylius.ui.last_update'|trans) }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for channel in channels %}
                <tr id="{{ channel.id }}">
                    <td>{{ channel.code }}</td>
                    <td>{{ channel.name }}</td>
                    <td>{{ channel.hostname }}</td>
                    <td>{% if channel.defaultLocale is not null %}{{ channel.defaultLocale.code }}{% endif %}</td>
                    <td>{% if channel.defaultCurrency is not null %}{{ channel.defaultCurrency.code }}{% endif %}</td>
                    <td>{{ channel.themeName }}</td>
                    <td>{{ misc.state_label(channel.enabled) }}</td>
                    <td>{{ channel.updatedAt|date }}</td>
                    <td>
                        <div class="pull-right">
                            {{ buttons.edit(path('sylius_backend_channel_update', {'id': channel.id})) }}
                            {{ buttons.delete(path('sylius_backend_channel_delete', {'id': channel.id})) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ alerts.info('sylius.ui.there_are_no_channels_configured'|trans) }}
    {% endif %}
{% endmacro %}
