{% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon %}

{% for translation_form_key, translation_form in hookable_metadata.context.value_form.translations %}
    <div class="row" {{ sylius_test_html_attribute('value-locale', translation_form_key) }}>
        <div class="col-3">
                {% if translation_form.vars.name is not null %}
                    <div class="d-flex">
                        <span class="flag flag-sm flag-country-{{ translation_form.vars.name|lower|split('_')|last }} me-2 mt-3"></span>
                        <div class="me-3 mt-1">{{ form_label(translation_form, translation_form.vars.name|sylius_locale_name) }}</div>
                    </div>
                {% else %}
                    <span class="flag flag-sm flag-country-eu me-3"></span>
                {% endif %}
        </div>
        <div class="col-9">
            <div class="input-group">
                {{ form_widget(translation_form.value) }}
                <button
                    type="button"
                    class="btn btn-icon"
                    data-bs-toggle="tooltip"
                    data-bs-title="{{ 'sylius.ui.apply_to_all'|trans }}"
                    data-action="live#action:prevent"
                    data-live-action-param="applyToAll"
                    data-live-value-key-param="{{ hookable_metadata.context.value_form_key }}"
                    data-live-translation-key-param="{{ translation_form_key }}"
                    {{ sylius_test_html_attribute('apply-to-all') }}
                >
                    {{ icon({ icon: 'duplicate', class: 'icon icon-tabler' }) }}
                </button>
                {{ form_errors(translation_form.value) }}
            </div>
        </div>
    </div>
{% endfor %}
