{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.configuration'|trans }}</li>
    <li>{{ 'sylius.ui.general_settings'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-info-sign"></i> {{ 'sylius.ui.general_settings'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('sylius_backend_general_settings') }}" method="post" class="form-horizontal" novalidate>
    {{ form_row(form.title, {'attr': {'class': 'input-lg'}}) }}
    {{ form_row(form.meta_keywords, {'attr': {'class': 'input-lg'}}) }}
    {{ form_row(form.meta_description, {'attr': {'class': 'input-lg'}}) }}
    {{ form_rest(form) }}
    {{ update() }}
</form>
{% endblock %}
