{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.taxation_settings'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('sylius_backend_taxation_settings'), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

{{ page.header('settings.taxation', 'cog', 'SyliusUiBundle:Form/Actions:_update.html.twig') }}

{% include 'SyliusWebBundle:Backend/Settings:_nav.html.twig' %}

{{ form_errors(form) }}

<div class="box box-form">
{{ form_row(form.default_tax_zone) }}
{{ form_rest(form) }}
</div>

{{ form_end(form) }}
{% endblock %}
