{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
{% createphp static_content as='rdf' noautotag %}
<div {{ createphp_attributes(rdf) }}>
    <div class="page-header">
        <h1 {{ createphp_attributes(rdf.title) }}>{{ createphp_content(rdf.title) }}</h1>
    </div>

    <div {{ createphp_attributes(rdf.body) }}>{{ createphp_content(rdf.body) }}</div>
</div>
{% endcreatephp %}
{% endblock %}
