{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% if cmfMainContent is not defined %}
    {% set cmfMainContent = static_content %}
{% endif %}

{% block content %}
{% createphp cmfMainContent as='rdf' noautotag %}
<div {{ createphp_attributes(rdf) }}>
    <div class="page-header">
        <h1 class="page-title" {{ createphp_attributes(rdf.title) }}>{{ createphp_content(rdf.title) }}</h1>
    </div>

    <div {{ createphp_attributes(rdf.body) }}>{{ createphp_content(rdf.body) }}</div>
</div>
{% endcreatephp %}
{% endblock %}
