<h3 class="ui dividing header">{{ 'sylius.ui.inventory'|trans }}</h3>
<div class="ui segment">
    {{ form_row(form.onHand) }}
    {{ form_row(form.tracked) }}

    <div class="ui pointing above ignored label">
        {{ form_help(form.tracked) }}
    </div>
    <br /><br />

    {{ form_row(form.orderItemUnitGenerationMode) }}
    <div class="ui pointing above ignored label" style="line-height: 1.5em">
        {{ 'sylius.form.variant.order_item_unit_generation_mode.help_first_line'|trans }} <br />
        {{ 'sylius.form.variant.order_item_unit_generation_mode.help_second_line'|trans }} <br />
        {{ 'sylius.form.variant.order_item_unit_generation_mode.help_third_line'|trans }}
    </div>

    {{ form_row(form.version) }}
</div>

{{ sylius_template_event(['sylius.admin.product_variant.' ~ action ~ '.tab_inventory', 'sylius.admin.product_variant.tab_inventory'], {'form': form}) }}
