{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.assortment'|trans }}</li>
    <li><a href="{{ path('sylius_backend_product_index') }}">{{ 'sylius.ui.products'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_product_show', {'id': product.id}) }}">{{ product.name }}</a></li>
    <li>{{ 'sylius.ui.generate'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-pencil"></i> {{ 'sylius.ui.generate_variants'|trans|raw }}</h1>
</div>
<form action="{{ path('sylius_backend_product_variant_generate', {'productId': product.id}) }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
    <input type="hidden" name="_method" value="PUT">
    {%- for variant in form.variants %}
        <div class="row">
            <div class="col-md-6">
                {{- form_row(variant.presentation) -}}
            </div>
            <div class="col-md-6">
                {{- form_row(variant.onHand) -}}
            </div>
            <div class="col-md-6">
                {{- form_row(variant.code) -}}
            </div>
            <div class="col-md-6">
                {{- form_row(variant.price) -}}
            </div>
            {{- form_row(variant.options) -}}
        </div>
        <hr />
    {% endfor -%}
    {{ form_row(form._token) }}
    {{ update() }}
</form>
{% endblock %}
