{% macro list(variants) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if variants|length > 0 %}
<table class="table" id="variants">
    <thead>
        <tr>
            <th>id</th>
            <th>{{ 'sylius.ui.code'|trans }}</th>
            <th></th>
            <th>{{ 'sylius.ui.availability'|trans }}</th>
            <th>{{ 'sylius.ui.last_update'|trans }}</th>
            <th>{{ 'sylius.ui.options'|trans }}</th>
            <th>{{ 'sylius.ui.available_on_demand'|trans }}</th>
            <th>{{ 'sylius.variant.stock'|trans }}</th>
            <th>{{ 'sylius.ui.price'|trans }}</th>
            <th>{{ 'sylius.ui.original_price'|trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for variant in variants %}
        {% set product = variant.product %}
        <tr id="{{ variant.id }}">
            <td>{{ variant.id }}</td>
            <td>{{ variant.code ?: '-' }}</td>
            <td>{% if variant.images.count > 0 %}
                <img class="img-polaroid" src="{{ variant.images.offsetGet(0).path|imagine_filter('sylius_small') }}" />
            {% endif %}
            </td>
            <td><span class="label label-{{ variant.available ? 'success' : 'important' }}">{{ variant.availableOn|date }}</span></td>
            <td>{{ product.updatedAt|date }}</td>
            <td>
                <ul>
                {% for option in variant.options %}
                    <li><strong>{{ option.presentation|default(option.optionCode) }}</strong>: {{ option.value }}</li>
                {% endfor %}
                </ul>
            </td>
            <td>
                <span class="label label-{{ variant.availableOnDemand ? 'success' : 'warning'}}">
                    {{ variant.availableOnDemand ? 'sylius.ui.yes'|trans : 'sylius.ui.no'|trans }}
                </span>
            </td>
            <td><span class="label label-{{ variant.inStock ? 'success' : 'important' }}">{{ variant.onHand }}</span></td>
            <td>{{ variant.price|sylius_price }}</td>
            <td>{{ variant.originalPrice|sylius_price }}</td>
            <td>
                <div class="pull-right">
                <a href="{{ path('sylius_backend_metadata_container_customize', { 'id': variant.metadataIdentifier }) }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-file"></i><span>{{ 'sylius.ui.customize_metadata'|trans }}</span>
                </a>
                {{ buttons.edit(path('sylius_backend_product_variant_update', {'productId': product.id, 'id': variant.id})) }}
                {{ buttons.delete(path('sylius_backend_product_variant_delete', {'productId': product.id, 'id': variant.id})) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.ui.there_are_no_variants_to_display'|trans) }}
{% endif %}
{% endmacro %}
