{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page %}

{% set product = product_variant.product %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li><a href="{{ path('sylius_backend_product_index') }}">{{ 'sylius.breadcrumb.product.index'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_product_show', {'id': product.id}) }}">{{ product.name }}</a></li>
    <li>{{ 'sylius.breadcrumb.edit'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('sylius_backend_product_variant_update', {'productId': product.id, 'id': product_variant.id}), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

{{ page.header('product_variant.update', 'plus-sign', 'SyliusUiBundle:Form/Actions:_update.html.twig') }}

{% include 'SyliusWebBundle:Backend/ProductVariant:_form.html.twig' %}
<input type="hidden" name="_method" value="PUT">

{{ form_end(form) }}
{% endblock %}
