{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

<h1>{{ product.name }} <small>{{ product.description }}</small></h1>
<hr />

<div class="well well-sm">
    {{ buttons.manage(path('sylius_product_index'), 'manage products') }}
    {{ buttons.edit(path('sylius_product_update', {'id': product.id}), 'update product') }}
    {{ buttons.delete(path('sylius_product_delete', {'id': product.id}), 'delete product') }}
</div>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>{{ 'name' }}</th>
            <th>{{ 'available on' }}</th>
            <th>{{ 'created at' }}</th>
            <th>{{ 'updated at' }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td><span class="label label-{{ product.available ? 'success' : 'important' }}">{{ product.availableOn|date }}</span></td>
            <td><span class="label label-info">{{ product.createdAt|date }}</span></td>
            <td><span class="label label-info">{{ product.updatedAt|date }}</span></td>
        </tr>
    </tbody>
</table>
