<div class="ui breadcrumb">
    <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
    <div class="divider"> / </div>
    <a href="{{ path('sylius_shop_account_dashboard') }}" class="section">{{ 'sylius.ui.my_account'|trans }}</a>
    <div class="divider"> / </div>
    <a href="{{ path('sylius_shop_account_order_index') }}" class="section">{{ 'sylius.ui.order_history'|trans }}</a>
    <div class="divider"> / </div>
    <div class="active section">{{ 'sylius.ui.order'|trans }} <span id="number">#{{ order.number }}</span></div>
</div>
