<div>
    <a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a>
    <a href="{{ path('sylius_shop_account_dashboard') }}">{{ 'sylius.ui.my_account'|trans }}</a>
    <a href="{{ path('sylius_shop_account_order_index') }}">{{ 'sylius.ui.order_history'|trans }}</a>
    <div>{{ 'sylius.ui.order'|trans }} <span {{ sylius_test_html_attribute('order-number') }}>#{{ order.number }}</span></div>
</div>
