{% import '@SyliusShop/Common/buttons.html.twig' as buttons %}

<div>
    <h1>{{ 'sylius.ui.order'|trans }} #{{ order.number }}</h1>
    <div>
        <div>
            {{ order.checkoutCompletedAt|format_date }}
        </div>
        <div>
            {% include [('@SyliusShop/Account/Order/Label/State' ~ '/' ~ order.state ~ '.html.twig'), '@SyliusUi/Label/_default.html.twig'] with {'value': ('sylius.ui.' ~ order.state)|trans} %}
        </div>
        <div>
            {{ order.currencyCode }}
        </div>
    </div>
</div>

<div>
    {% if order.paymentState in ['awaiting_payment'] %}
        {{ buttons.default(path('sylius_shop_order_show', {'tokenValue': order.tokenValue}), 'sylius.ui.pay', null, 'credit card alternative', 'green') }}
    {% endif %}
</div>
