{% set order_requires_shipping = sylius_is_shipping_required(order) %}
{% set order_requires_payment = sylius_is_payment_required(order) %}

<div class="steps">
    <div class="steps-item{{ active_step == 'address' ? ' active' }}">
        <a href="{{ path('sylius_shop_checkout_address') }}" {{ sylius_test_html_attribute('step-address') }}>
            {{ 'sylius.ui.address'|trans }}
        </a>
    </div>

    {% if order_requires_shipping %}
        <div class="steps-item{{ active_step == 'select_shipping' ? ' active' }}">
            <a href="{{ path('sylius_shop_checkout_select_shipping') }}" {{ sylius_test_html_attribute('step-shipping') }}>
                {{ 'sylius.ui.shipping'|trans }}
            </a>
        </div>
    {% endif %}

    {% if order_requires_payment %}
        <div class="steps-item{{ active_step == 'select_payment' ? ' active' }}">
            <a href="{{ path('sylius_shop_checkout_select_payment') }}" {{ sylius_test_html_attribute('step-payment') }}>
                {{ 'sylius.ui.payment'|trans }}
            </a>
        </div>
    {% endif %}

    <div class="steps-item{{ active_step == 'complete' ? ' active' }}">
        {{ 'sylius.ui.complete'|trans }}
    </div>
</div>
