{% set visible = options.visible is defined ? options.visible : true %}

{% if visible %}
    <div class="ui{% if options.icon is defined %} labeled icon{% endif %} floating dropdown {{ options.class|default('') }} link button">
        {% if options.icon is defined %}<i class="{{ options.icon }} icon"></i>{% endif %}
        <span class="text">{{ action.label|trans }}</span>
        <div class="menu">
            {% if options.header is defined %}
            <div class="header">
                {% if options.header.icon is defined %}<i class="{{ options.header.icon }} icon"></i>{% endif %}
                {{ options.header.label|trans }}
            </div>
            <div class="divider"></div>
            {% endif %}
            {% for link in options.links %}
                {% set is_link_visible = link.visible is defined ? link.visible : true %}

                {% if is_link_visible %}
                    {% include '@SyliusUi/Grid/Action/_link.html.twig' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
