{% set author = hookable_metadata.context.resource.author %}

<div class="card-body">
    <div class="card-title" {{ sylius_test_html_attribute('author-name') }}>
        <a href="{{ path('sylius_admin_customer_update', {'id': author.id}) }}">{{ author.fullName }}</a>
    </div>
    <div class="card-subtitle">
        {{ 'sylius.ui.customer_since'|trans }} {{ author.createdAt|date('Y-m-d') }}
    </div>
</div>
