<div class="mb-5">
    <h4 class="mb-4">{{ 'sylius.ui.personal_information'|trans }}</h4>
    {{ form_row(form.firstName, sylius_test_form_attribute('first-name')) }}
    {{ form_row(form.lastName, sylius_test_form_attribute('last-name')) }}
    {{ form_row(form.email, sylius_test_form_attribute('email')) }}
    {{ form_row(form.phoneNumber, sylius_test_form_attribute('phone-number')) }}
    {{ form_row(form.subscribedToNewsletter, sylius_test_form_attribute('subscribed-to-newsletter')) }}
</div>
