{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/Order:macros.html.twig' import simple_list as list_orders %}
{% from 'SyliusWebBundle:Backend/Customer:macros.html.twig' import simple_list as list_customers %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-dashboard"></i> {{ 'sylius.ui.administration_dashboard'|trans }} <small>{{ 'sylius.ui.overview_of_your_store'|trans }}</small></h1>
</div>

<div class="row">
    <div class="col-md-6">
        <ul class="nav nav-pills nav-justified">
            <li><a href="{{ path('sylius_backend_order_index') }}"><i class="glyphicon glyphicon-shopping-cart"></i> {{ 'sylius.ui.latest_orders'|trans }}</a></li>
            <li><a href="{{ path('sylius_backend_customer_index') }}"><i class="glyphicon glyphicon-user"></i> {{ 'sylius.ui.customers'|trans }}</a></li>
        </ul>
        <hr>
        <ul class="nav nav-pills nav-justified">
            <li><a href="{{ path('sylius_backend_product_index') }}"><i class="glyphicon glyphicon-folder-open"></i> {{ 'sylius.ui.your_products'|trans }}</a></li>
            <li><a href="{{ path('sylius_backend_product_create') }}"><i class="glyphicon glyphicon-plus"></i> {{ 'sylius.ui.new_product'|trans }}</a></li>
        </ul>
        <br>
    </div>
    <div class="col-md-6">
        {{ render(controller('sylius.controller.report:embedAction', {'report': 'ReportCode'})) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        {{ list_orders(orders) }}
        <a href="{{ path('sylius_backend_order_index') }}" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-shopping-cart"></i> {{ 'sylius.ui.show_all'|trans }}</a>
    </div>
    <div class="col-md-6">
        {{ list_customers(customers) }}
        <a href="{{ path('sylius_backend_customer_index') }}" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-user"></i> {{ 'sylius.ui.show_all'|trans }}</a>
    </div>
</div>
{% endblock %}
