{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% set promotion = promotion_coupon.promotion %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.sales'|trans }}</li>
    <li><a href="{{ path('sylius_backend_promotion_index') }}">{{ 'sylius.breadcrumb.promotion.index'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_promotion_show', {'id': promotion.id}) }}">{{ promotion.name }}</a></li>
    <li><a href="{{ path('sylius_backend_promotion_coupon_index', {'promotionId': promotion.id}) }}">{{ 'sylius.breadcrumb.promotion_coupon.index'|trans }}</a></li>
    <li>{{ 'sylius.breadcrumb.new'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-plus-sign"></i> {{ 'sylius.promotion_coupon.create_header'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('sylius_backend_promotion_coupon_create', {'promotionId': promotion.id}) }}" method="post" class="form-horizontal" novalidate>
    {% include 'SyliusWebBundle:Backend/Coupon:_form.html.twig' %}
    {{ create() }}
</form>
{% endblock %}
