{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.sales'|trans }}</li>
    <li><a href="{{ path('sylius_backend_promotion_index') }}">{{ 'sylius.breadcrumb.promotion.index'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_promotion_update', {'id': promotion.id}) }}">{{ promotion.name }}</a></li>
    <li><a href="{{ path('sylius_backend_promotion_coupon_index', {'promotionId': promotion.id}) }}">{{ 'sylius.breadcrumb.promotion_coupon.index'|trans }}</a></li>
    <li>{{ 'sylius.breadcrumb.generate'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('sylius_backend_promotion_coupon_generate', {'promotionId': promotion.id}), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

{{ page.header('promotion_coupon.generate', 'cog', 'SyliusUiBundle:Form/Actions:_generate.html.twig') }}
{{ form_errors(form) }}

{% include 'SyliusWebBundle:Backend/Coupon:_generateForm.html.twig' %}
{{ form_end(form) }}
{% endblock %}
