{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% set promotionId = app.request.get('promotionId') %}

{% from 'SyliusWebBundle:Backend/Coupon:macros.html.twig' import list %}
{% import 'SyliusUiBundle::page.html.twig' as page %}
{% import 'SyliusUiBundle::pagination.html.twig' as pagination %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.sales'|trans }}</li>
    <li><a href="{{ path('sylius_backend_promotion_index') }}">{{ 'sylius.breadcrumb.promotion.index'|trans }}</a></li>
    <li>{{ 'sylius.breadcrumb.promotion_coupon.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('promotion_coupon.index', 'ticket', 'SyliusWebBundle:Backend/Coupon/Actions:_index.html.twig') }}

{{ pagination.standard(promotion_coupons) }}
{{ list(promotion_coupons) }}
{{ pagination.standard(promotion_coupons) }}

{% endblock %}
