{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% set promotionId = app.request.get('promotionId') %}

{% import 'SyliusWebBundle:Backend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Coupon:macros.html.twig' import list %}

{% block content %}
<div class="page-header">
    <h1><i class="icon-ticket"></i> {{ 'sylius.promotion_coupon.index_header'|trans|raw }}</h1>
</div>

<div class="row">
    <div class="col-md-10">
        {{ pagination(promotion_coupons) }}
        {{ list(promotion_coupons) }}
        {{ pagination(promotion_coupons) }}
    </div>
    <div class="col-md-2">
        <div class="actions-menu">
        {{ buttons.show(path('sylius_backend_promotion_show', {'id': promotionId}), 'sylius.show'|trans) }}
        {{ buttons.create(path('sylius_backend_promotion_coupon_create', {'promotionId': promotionId}), 'sylius.promotion_coupon.create'|trans) }}
        {{ buttons.manage(path('sylius_backend_promotion_coupon_generate', {'promotionId': promotionId}), 'sylius.promotion_coupon.generate'|trans) }}
        </div>
    </div>
</div>

{% endblock %}
