{%- macro label(log) -%}
    {% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon %}

    {% if log.action == 'create' %}
        <div class="badge rounded-pill align-middle bg-success text-light d-flex w-fit-content">
            {{ icon({icon: 'plus'}) }}
            <div class="text-start ps-2">
                {{ 'sylius.ui.created'|trans }}
            </div>
        </div>
    {% elseif log.action == 'update' %}
        <div class="badge rounded-pill align-middle bg-yellow text-dark d-flex w-fit-content">
            {{ icon({icon: 'pencil'}) }}
            <div class="text-start ps-2">
                {{ 'sylius.ui.updated'|trans }}
            </div>
        </div>
    {% else %}
        <div class="badge rounded-pill align-middle bg-secondary text-light d-flex w-fit-content">
            <div class="text-start">
                {{ log.action|title }}
            </div>
        </div>
    {% endif %}
{%- endmacro -%}
