{{ form_start(form, { 'attr': { 'class': 'form-horizontal', 'id': 'reviewForm' }, 'action': path('sylius_product_review', { 'productId': app.request.attributes.get('productId') }) }) }}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'sylius.form.review.header'|trans }}</h3>
    </div>
    <div class="panel-body">

        {{ form_errors(form) }}

        {{ form_label(form.rating) }}
        <div class="form-group">
        {% for rating in form.rating %}
            <label class="radio-inline">
                {{ form_widget(rating) }}
                {{ rating.vars.label }}
            </label>
        {% endfor %}
        </div>
        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {{ form_row(form.author) }}
        {% endif %}

        {{ form_row(form.title) }}
        {{ form_row(form.comment) }}

    </div>
    <div class="panel-footer">
        <button type="submit" class="btn btn-primary">{{ 'sylius.form.review.submit'|trans }}</button>
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}