{% set order = hookable_metadata.context.resource %}
{% set payment = hookable_metadata.context.payment %}

{% if sylius_sm_can(payment, constant('Sylius\\Component\\Payment\\PaymentTransitions::GRAPH'), constant('Sylius\\Component\\Payment\\PaymentTransitions::TRANSITION_COMPLETE')) %}
    {% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon %}

    <form action="{{ path('sylius_admin_order_payment_complete', {'orderId': order.id, 'id': payment.id}) }}" method="POST" novalidate>
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token(payment.id) }}" />
        <button type="submit" class="btn btn-primary" {{ sylius_test_html_attribute('complete-payment', payment.id) }}>
            {{ icon({ icon: 'check' }) }} {{ 'sylius.ui.complete'|trans }}
        </button>
    </form>
{% endif %}
