{% extends 'knp_menu.html.twig' %}

{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% block root %}
    {% set id = item.extra('column_id') %}

    <div class="six wide right aligned column"{% if id %} id="{{ id }}"{% endif %}>
        {{ block('items') }}
    </div>
{% endblock %}

{% block items %}
    <div class="ui buttons">
        {% for item in item.children %}
            {{ block('item') }}
        {% endfor %}
    </div>
{% endblock %}

{% block item %}
    {% if 'edit' == item.attribute('type') %}
        {{ buttons.edit(item.uri) }}
    {% elseif 'show' == item.attribute('type') %}
        {{ buttons.show(item.uri, item.label|trans) }}
    {% elseif 'delete' == item.attribute('type') %}
        {{ buttons.delete(item.uri, null, true, item.attribute('customer_id')) }}
    {% else %}
        <span class="ui huge icon label">
            {{ block('icon') }} {{ item.label|trans }}
        </span>
    {% endif %}
{% endblock %}

{% block icon %}
    {% set icon = item.labelAttribute('icon') %}
    {% if icon %}<i class="icon {{ icon }}"></i> {% endif %}
{% endblock %}
