{% macro list(options) %}

{% if options|length > 0 %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id') }}</th>
            <th>{{ sylius_resource_sort('name') }}</th>
            <th>{{ sylius_resource_sort('presentation') }}</th>
            <th>{{ sylius_resource_sort('values') }}</th>
            <th>{{ sylius_resource_sort('updatedAt', 'updated at') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for option in options %}
        <tr>
            <td>{{ option.id }}</td>
            <td>
                <strong>{{ option.name }}</strong>
            </td>
            <td>{{ option.presentation }}</td>
            <td>
                <ul>
                {% for v in option.values %}
                    <li>
                        <span class="label label-info">{{ v|upper }}</span>
                    </li>
                {% endfor %}
                </ul>
            </td>
            <td>{{ option.updatedAt|date }}</td>
            <td>
                <div class="pull-right">
                    <a href="{{ path('sylius_option_update', {'id': option.id}) }}" class="btn">
                        <i class="icon-pencil"></i> edit
                    </a>
                    <form action="{{ path('sylius_option_delete', {'id': option.id}) }}" method="post" style="display: inline;">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger">
                            <i class="icon-trash"></i> delete
                        </button>
                    </form>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">Information</h4>
    No options to show
</div>
{% endif %}

{% endmacro %}
