{% form_theme form '@SyliusAdmin/Form/theme.html.twig' %}

{{ form_start(form, {'action': path('sylius_admin_order_update', {'id': order.id}), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
<div class="ui segment">
    <input type="hidden" name="_method" value="PUT" />

    <div class="ui segment">
        <h4 class="ui dividing header">{{ 'sylius.ui.shipping_address'|trans }}</h4>
        {% include '@SyliusAdmin/Common/Form/_address.html.twig' with {'form': form.shippingAddress} %}
    </div>

    <div class="ui segment">
        <h4 class="ui dividing header">{{ 'sylius.ui.billing_address'|trans }}</h4>
        {% include '@SyliusAdmin/Common/Form/_address.html.twig' with {'form': form.billingAddress} %}
    </div>

    {{ sylius_template_event('sylius.admin.order.update.form', {'resource': resource}) }}

    {{ form_row(form._token) }}
    {% include '@SyliusUi/Form/Buttons/_update.html.twig' with {'paths': {'cancel': sylius_generate_redirect_path(path('sylius_admin_order_index'))}} %}
</div>
{{ form_end(form, {'render_rest': false}) }}
