{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

{% set itemsSubtotal = cart.getItemsSubtotal() %}
{% set taxIncluded = cart.getTaxIncludedTotal() %}
{% set taxExcluded = cart.getTaxExcludedTotal() %}

<div class="p-4 bg-light mb-4 rounded-3">
    <h3 class="p-1 mb-3">{{ 'sylius.ui.summary'|trans }}</h3>

    <table class="table table-borderless">
        <tbody>
            <tr>
                <td>{{ 'sylius.ui.items_total'|trans }}:</td>
                <td class="text-end" {{ sylius_test_html_attribute('cart-items-total') }}>{{ money.convertAndFormat(itemsSubtotal) }}</td>
            </tr>
            {% if cart.orderPromotionTotal %}
                <tr>
                    <td>{{ 'sylius.ui.discount'|trans }}:</td>
                    <td class="text-end" {{ sylius_test_html_attribute('cart-promotion-total') }}>{{ money.convertAndFormat(cart.orderPromotionTotal) }}</td>
                </tr>
            {% endif %}
            {% if cart.shipments is not empty %}
                <tr>
                    <td>{{ 'sylius.ui.shipping_estimated_cost'|trans }}:</td>
                    <td class="text-end">
                        {% if cart.getAdjustmentsTotal('shipping') > cart.shippingTotal %}
                            <span>{{ money.convertAndFormat(cart.getAdjustmentsTotal('shipping')) }}</span>
                        {% endif %}
                        <span {{ sylius_test_html_attribute('cart-shipping-total') }}>{{ money.convertAndFormat(cart.shippingTotal) }}</span>
                    </td>
                </tr>
            {% endif %}
            <tr {% if taxIncluded and not taxExcluded %}class=""{% endif %}>
                <td>
                    {{ 'sylius.ui.taxes_total'|trans }}:
                    {% if taxIncluded %}
                        <div><small>({{ 'sylius.ui.included_in_price'|trans }})</small></div>
                    {% endif %}
                </td>
                <td class="text-end">
                    {% if not taxIncluded and not taxExcluded %}
                        <div {{ sylius_test_html_attribute('cart-no-tax') }}>{{ money.convertAndFormat(0) }}</div>
                    {% endif %}
                    {% if taxExcluded %}
                        <div {{ sylius_test_html_attribute('cart-tax-exluded') }}>{{ money.convertAndFormat(taxExcluded) }}</div>
                    {% endif %}
                    {% if taxIncluded %}
                        <div {{ sylius_test_html_attribute('cart-tax-included') }}>{{ money.convertAndFormat(taxIncluded) }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="h5 border-top pt-4 mt-4">{{ 'sylius.ui.order_total'|trans }}:</td>
                <td class="h5 border-top pt-4 mt-4 text-end" {{ sylius_test_html_attribute('cart-grand-total') }}>{{ money.convertAndFormat(cart.total) }}</td>
            </tr>
            {% if cart.currencyCode is not same as(sylius.currencyCode) %}
                <tr>
                    <td class="h5 border-top pt-4 mt-4">{{ 'sylius.ui.base_currency_order_total'|trans }}:</td>
                    <td class="h5 border-top pt-4 mt-4 text-end" {{ sylius_test_html_attribute('cart-base-grand-total') }}>{{ money.format(cart.total, cart.currencyCode) }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
