{{ form_errors(form) }}
<div class="ui two column stackable grid">
    <div class="column">
        <h4 class="ui top attached large header">{{ 'sylius.ui.general'|trans }}</h4>
        <div class="ui attached segment">
            {{ form_errors(form) }}
            <div class="fields">
                <div class="five wide field">
                    {{ form_row(form.code) }}
                </div>
                <div class="six wide field">
                    {{ form_row(form.name) }}
                </div>
                <div class="three wide filed">{{ form_row(form.type) }}</div>
                <div class="one wide field">
                    {{ form_row(form.color) }}
                </div>
            </div>
            <div class="ui hidden divider"></div>
            {{ form_row(form.enabled) }}
        </div>
        <div class="ui attached segment">
            <div class="field">
                {{ form_label(form.hostname) }}
                <div class="ui labeled input">
                    <div class="ui label">http://</div>
                    {{ form_widget(form.hostname) }}
                </div>
                {{ form_errors(form.hostname) }}
            </div>
            {{ form_row(form.contactEmail) }}
            {{ form_row(form.description, {'attr': {'rows' : '3'}}) }}
        </div>
        <div class="ui hidden divider"></div>
        <h4 class="ui top attached large header">{{ 'sylius.ui.money'|trans }}</h4>
        <div class="ui attached segment">
            <div class="two fields">
                {{ form_row(form.baseCurrency) }}
                {{ form_row(form.currencies) }}
            </div>
        </div>
        <div class="ui attached segment">
            {{ form_row(form.defaultTaxZone) }}
            {{ form_row(form.taxCalculationStrategy) }}
        </div>
    </div>
    <div class="column">
        <h4 class="ui top attached large header">{{ form_label(form.shopBillingData) }}</h4>
        <div class="ui attached segment">
            <div class="two fields">
                {{ form_row(form.shopBillingData.company) }}
                {{ form_row(form.shopBillingData.taxId) }}
            </div>
            <div class="two fields">
                {{ form_row(form.shopBillingData.countryCode) }}
                {{ form_row(form.shopBillingData.street) }}
            </div>
            <div class="two fields">
                {{ form_row(form.shopBillingData.city) }}
                {{ form_row(form.shopBillingData.postcode) }}
            </div>
        </div>
        <div class="ui hidden divider"></div>
        <h4 class="ui top attached large header">{{ 'sylius.ui.look_and_feel'|trans }}</h4>
        <div class="ui attached segment">
            {{ form_row(form.themeName) }}
        </div>
        <div class="ui attached segment">
            {{ form_row(form.locales) }}
            {{ form_row(form.defaultLocale) }}
        </div>
        <div class="ui attached segment">
            {{ form_row(form.menuTaxon) }}
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui attached segment">
            {{ form_row(form.skippingShippingStepAllowed) }}
            {{ form_row(form.skippingPaymentStepAllowed) }}
            {{ form_row(form.accountVerificationRequired) }}
        </div>
    </div>
</div>
