{% macro headers(grid, definition, requestAttributes) %}
    {% import '@SyliusAdmin/common/helper/sorting.html.twig' as sorting %}

    {% if definition.actionGroups.bulk is defined and definition.getEnabledActions('bulk')|length > 0 %}
        <th class="center aligned">
            <input data-check-all="index" type="checkbox" class="form-check-input">
        </th>
    {% endif %}

    {% for field in definition.fields|sort_by('position') %}
        {% if field.enabled %}
            {% if field.isSortable %}
                {{ sorting.tableHeader(grid, field, requestAttributes) }}
            {% else %}
                <th class="text-body sylius-table-column-{{ field.name }}">{{ field.label|trans }}</th>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if definition.actionGroups.item is defined and definition.getEnabledActions('item')|length > 0 %}
        <th class="text-body text-center sylius-table-column-actions">{{ 'sylius.ui.actions'|trans }}</th>
    {% endif %}
{% endmacro %}

{% macro row(grid, definition, row) %}
    {% import '@SyliusAdmin/common/helper/dropdown.html.twig' as dropdown %}

    <tr class="item" {{ sylius_test_html_attribute('row') }}>
        {% if definition.actionGroups.bulk is defined and definition.getEnabledActions('bulk')|length > 0 %}
            <td class="center aligned"><input data-check-all-group="index" class="form-check-input" type="checkbox" value="{{ row.id }}" /></td>
        {% endif %}
        {% for field in definition.enabledFields|sort_by('position') %}
            <td>{{ sylius_grid_render_field(grid, field, row) }}</td>
        {% endfor %}
        {% if definition.actionGroups.item is defined and definition.getEnabledActions('item')|length > 0 %}
            <td {{ sylius_test_html_attribute('actions') }}>
                <div class="d-block p-2">
                    {% set actions %}
                        {% for action in definition.getEnabledActions('item')|sort_by('position') %}
                            {{ sylius_grid_render_item_action(grid, action, row) }}
                        {% endfor %}
                    {% endset %}
                    {{ dropdown.default({ content: actions, direction: 'down-end', button: { text: 'Actions', class: 'dropdown-static' } }) }}
                </div>
                <div class="d-block p-2">
                    {% if definition.actionGroups.subitem is defined and definition.getEnabledActions('subitem')|length > 0 %}
                        {% for action in definition.getEnabledActions('subitem')|sort_by('position') %}
                            {{ sylius_grid_render_action(grid, action, row) }}
                        {% endfor %}
                    {% endif %}
                </div>
            </td>
        {% endif %}
    </tr>
{% endmacro %}
