<div class="ui two column stackable grid">
    {{ form_errors(form) }}
    <div class="column">
        <div class="ui segment">
            {{ form_errors(form) }}
            <div class="two fields">
                {{ form_row(form.code) }}
                {{ form_row(form.gateway) }}

                {% set currentGateway='' %}
                {% for  gateway in form.vars.gateways %}
                    {% set gatewayHtml= form_widget(attribute(form,gateway)) %}

                    {% if gateway== form.gateway.vars.value %}
                        {% set currentGateway=gatewayHtml %}
                    {% endif %}

                    <input type="hidden" data-form-gateway="{{ gateway }}" value="{{ gatewayHtml|e }}"/>
                {% endfor %}

                <div data-form-type="gateway">
                    {% if  currentGateway is not empty %}
                        {{ currentGateway|raw }}
                    {% endif %}
                </div>
            </div>


            {{ form_row(form.enabled) }}
        </div>
    </div>
    <div class="column">
        <div class="ui styled fluid accordion">
            {% for locale, translationForm in form.translations %}
                <div class="title{% if 0 == loop.index0 %} active{% endif %}">
                    <i class="dropdown icon"></i>
                    <i class="{{ locale|slice(3, 2)|lower }} flag"></i> {{ locale|sylius_locale_name }}
                </div>
                <div class="content{% if 0 == loop.index0 %} active{% endif %}">
                    {{ form_row(translationForm.name) }}
                    {{ form_row(translationForm.description) }}
                    {{ form_row(translationForm.instructions) }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
