{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/ProductOption:macros.html.twig' import list %}
{% import 'SyliusUiBundle::page.html.twig' as page %}
{% import 'SyliusUiBundle::pagination.html.twig' as pagination %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.option.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('product_option.create', 'plus-circle', 'SyliusWebBundle:Backend/ProductOption/Actions:_index.html.twig') }}

{{ pagination.standard(product_options) }}
{{ list(product_options) }}
{{ pagination.standard(product_options) }}
{% endblock %}
