{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/ProductOption:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.assortment'|trans }}</li>
    <li>{{ 'sylius.ui.options'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_product_option_create'), 'sylius.ui.create_option'|trans) }}
        {{ buttons.manage(path('sylius_backend_product_attribute_index'), 'sylius.ui.manage_attributes'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-th"></i> {{ 'sylius.ui.product_options'|trans|raw }}</h1>
</div>

{{ pagination(product_options) }}
{{ list(product_options) }}
{{ pagination(product_options) }}

{% endblock %}
