{% macro list(options) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if options|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ sylius_resource_sort('id', '#id') }}</th>
                <th>{{ sylius_resource_sort('code', 'sylius.ui.code'|trans) }}</th>
                <th>{{ 'sylius.ui.name'|trans }}</th>
                <th>{{ 'sylius.ui.values'|trans }}</th>
                <th>{{ sylius_resource_sort('updatedAt', 'sylius.ui.last_update'|trans) }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for option in options %}
            <tr id="{{ option.id }}">
                <td>{{ option.id }}</td>
                <td>{{ option.code }}</td>
                <td>{{ option.name }}</td>
                <td>
                    <ul class="list-unstyled">
                        {% for value in option.values %}
                        <span class="label label-primary">{{ value }}</span>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ option.updatedAt|date }}</td>
                <td>
                    <div class="pull-right">
                    {{ buttons.edit(path('sylius_backend_product_option_update', {'id': option.id})) }}
                    {{ buttons.delete(path('sylius_backend_product_option_delete', {'id': option.id})) }}
                   </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
{{ alerts.info('sylius.ui.there_are_no_options_configured'|trans) }}
{% endif %}

{% endmacro %}
