{% extends 'SyliusUiBundle:Form:theme.html.twig' %}

{% from '@SyliusAdmin/Product/Attribute/attributeValues.html.twig' import checkboxField %}
{% from '@SyliusAdmin/Product/Attribute/attributeValues.html.twig' import textField %}

{% block collection_widget -%}
    {% spaceless %}
        {% for child in form %}
            {{ _self.collection_item(child, allow_delete, button_delete_label, loop.index0) }}
        {% endfor %}
    {% endspaceless %}
{%- endblock collection_widget %}

{% macro collection_item(form, allow_delete, button_delete_label, index) %}
    <div class="attribute" data-id="{{ form.vars.data.attribute.id }}">
        {% set id = form.vars.id %}
        {% if 'checkbox' in form.children.value.vars.block_prefixes %}
            <div class="ui toggle checkbox" style="margin-top: 15px; margin-bottom: 15px;">
                {{ form_widget(form.value) }}
                <label>{{ form.vars.value.attribute.name }}</label>
            </div>
            <button class="ui red right labeled icon button" style="float: right;">
                <i class="remove icon"></i> {{ 'sylius.ui.delete'|trans }}
            </button>
        {% else %}
            <div class="ui right fluid labeled input" style="margin-top: 15px; margin-bottom: 15px;">
                <div class="ui label">{{ form.vars.value.attribute.name }}</div>
                {{ form_widget(form.value) }}
                <button class="ui red right labeled icon button">
                    <i class="remove icon"></i> {{ 'sylius.ui.delete'|trans }}
                </button>
            </div>
        {% endif %}
        <input type="hidden" name="{{ form.attribute.vars.full_name }}" id="{{ form.attribute.vars.id }}" value="{{ form.vars.data.attribute.id }}"/>
    </div>
{% endmacro %}
