{% extends '@SyliusAdmin/Form/theme.html.twig' %}

{% block collection_widget -%}
    {% import _self as self %}

    <div>
        {% for child in form %}
            {{ self.collection_item(child, allow_delete, button_delete_label, loop.index0) }}
        {% endfor %}
    </div>
{%- endblock collection_widget %}

{% macro collection_item(form, allow_delete, button_delete_label, index) %}
    {% import '@SyliusUi/Macro/flags.html.twig' as flags %}

    <div class="attribute" data-id="{{ form.vars.data.attribute.code }}">
        <div class="attribute-row">
            <div class="attribute-label">
                {{ flags.fromLocaleCode(form.localeCode.vars.value) }}
                {{ form.vars.value.attribute.translation(form.vars.value.localeCode).name }}
            </div>
            <div class="attribute-input">
                <div {{ 'checkbox' in form.children.value.vars.block_prefixes ? 'class="ui toggle checkbox"' : '' }}>
                    {{ form_widget(form.value) }}
                </div>
            </div>
            <div class="attribute-action">
                <a href="#" class="ui basic button" data-attribute="copy">{{ 'sylius.ui.apply_to_all'|trans }}</a>
                <button class="ui red basic icon button"><i class="remove icon"></i></button>
            </div>
            <div class="attribute-error">
                {{ form_errors(form.value) }}
            </div>
        </div>
        <input type="hidden" name="{{ form.attribute.vars.full_name }}" id="{{ form.attribute.vars.id }}" value="{{ form.vars.data.attribute.code }}"/>
        <input type="hidden" name="{{ form.localeCode.vars.full_name }}" id="{{ form.localeCode.vars.id }}" value="{{ form.localeCode.vars.value }}"/>
    </div>
{% endmacro %}
