{% import _self as self %}
{% import '@SyliusUi/Macro/flags.html.twig' as flags %}

{% set subject = metadata.name|replace({'_attribute': ''}) %}
{% for code, localeCodes in forms %}
    {% for localeCode, form in localeCodes %}
        <div class="attribute" data-id="{{ code }}">
            {% set id = form.vars.label|replace({' ': '_'})|lower %}
            <div class="attribute-row">
                <div class="attribute-label">
                    {{ flags.fromLocaleCode(localeCode) }}
                    {{ form.vars.label }}
                </div>
                <div class="attribute-input">
                    {% if 'type_checkbox' in form.vars.cache_key %}
                        <div class="ui toggle checkbox">
                            {{ self.formField(form, count, id, '', subject, metadata.applicationName) }}
                            <label></label>
                        </div>
                    {% else %}
                        {{ self.formField(form, count, id, '', subject, metadata.applicationName) }}
                    {% endif %}
                </div>
                <div class="attribute-action">
                    <a href="#" class="ui basic button" data-attribute="copy">{{ 'sylius.ui.apply_to_all'|trans }}</a>
                    <button class="ui red basic icon button"><i class="remove icon"></i></button>
                </div>
            </div>
            <input type="hidden"
                   name="{{ metadata.applicationName }}_{{ subject }}[attributes][{{ count }}][attribute]"
                   id="{{ metadata.applicationName }}_{{ subject }}_attributes_{{ count }}_attribute"
                   value="{{ code }}"/>
            <input type="hidden"
                   name="{{ metadata.applicationName }}_{{ subject }}[attributes][{{ count }}][localeCode]"
                   id="{{ metadata.applicationName }}_{{ subject }}_attributes_{{ count }}_localeCode"
                   value="{{ localeCode }}"/>
            {% set count = count + 1 %}
        </div>
    {% endfor %}
{% endfor %}

{% macro formField(item, count, id, prefix, subject, applicationName) %}
    {% from _self import formField %}
    {% if item.children|length > 0 %}
        {% set prefix = prefix~'_'~item.vars.name %}
        {% for child in item.children %}
            {{ formField(child, count, id, prefix, subject, applicationName) }}
        {% endfor %}
    {% elseif item.vars.name != '_token' %}
        {% set namePrefix = prefix|replace({'_': ']['}) %}
        {% set dataName = applicationName~'_'~subject~'[attributes]['~count~namePrefix~']['~item.vars.name~']' %}
        {% if item.vars.multiple is defined and item.vars.multiple %}
            {% set dataName = dataName~'[]' %}
        {% endif %}

        {{ form_widget(item, {'id': id, 'attr': {'data-name': dataName }}) }}
    {% endif %}
{% endmacro %}
