{% import _self as self %}

{% set subject = metadata.name|replace({'_attribute': ''}) %}
{% for code, localeCodes in forms %}
    <table class="attribute-group ui padded table" data-attributes_code="{{ code }}">
        <thead>
        <tr>
            <th colspan="2">{{ code }}</th>
            <th class="right aligned">
                <button type="button" class="ui red basic labeled icon button" data-attributes_remove>
                    <i class="remove icon"></i> {{ 'sylius.ui.delete'|trans }}
                </button>
            </th>
        </tr>
        </thead>

        {% for localeCode, form in localeCodes %}
            <tr class="attribute" data-id="{{ code }}">
                {% set id = form.vars.label|replace({' ': '_'})|lower %}
                {% if 'type_checkbox' in form.vars.cache_key %}
                    {{ self.checkboxField(form, count, id, subject, metadata.applicationName, localeCode) }}
                {% else %}
                    {{ self.textField(form, count, id, subject, metadata.applicationName, localeCode) }}
                {% endif %}
                <td style="width: 10%" class="right aligned">
                    <button type="button" class="ui button" data-attributes_apply>
                        {{ 'sylius.ui.apply'|trans }}
                    </button>
                </td>

                <input type="hidden"
                       name="{{ metadata.applicationName }}_{{ subject }}[attributes][{{ count }}][attribute]"
                       id="{{ metadata.applicationName }}_{{ subject }}_attributes_{{ count }}_attribute"
                       value="{{ code }}"/>
                <input type="hidden"
                       name="{{ metadata.applicationName }}_{{ subject }}[attributes][{{ count }}][localeCode]"
                       id="{{ metadata.applicationName }}_{{ subject }}_attributes_{{ count }}_localeCode"
                       value="{{ localeCode }}"/>
                {% set count = count + 1 %}
            </tr>
        {% endfor %}
    </table>
{% endfor %}

{% macro formField(item, count, id, prefix, subject, applicationName) %}
    {% from _self import formField %}
    {% if item.children|length > 0 %}
        {% set prefix = prefix~'_'~item.vars.name %}
        {% for child in item.children %}
            {{ formField(child, count, id, prefix, subject, applicationName) }}
        {% endfor %}
    {% elseif item.vars.name != '_token' %}
        {% set namePrefix = prefix|replace({'_': ']['}) %}
        {% set dataName = applicationName~'_'~subject~'[attributes]['~count~namePrefix~']['~item.vars.name~']' %}
        {% if item.vars.multiple is defined and item.vars.multiple %}
            {% set dataName = dataName~'[]' %}
        {% endif %}

        {{ form_widget(item, {'id': id, 'attr': {'data-name': dataName}}) }}
    {% endif %}
{% endmacro %}

{% macro textField(form, count, id, subject, applicationName, localeCode) %}
    {% from _self import formField %}
    {% import '@SyliusUi/Macro/flags.html.twig' as flags %}

    <td style="width: 25%">
        {{ flags.fromLocaleCode(localeCode) }}
        {{ form.vars.label }}
    </td>
    <td class="attr-widget">
        {{ formField(form, count, id, '', subject, applicationName) }}
    </td>
{% endmacro %}

{% macro checkboxField(form, count, id, subject, applicationName, localeCode) %}
    {% from _self import formField %}
    {% import '@SyliusUi/Macro/flags.html.twig' as flags %}

    <td style="width: 25%">
        {{ flags.fromLocaleCode(localeCode) }}
        {{ form.vars.label }}
    </td>
    <td>
        <div class="ui toggle checkbox">
            {{ formField(form, count, id, '', subject, applicationName) }}
            <label></label>
        </div>
    </td>
{% endmacro %}
