<div class="ui fluid action input" id="attributeChoice" data-action="{{ path('sylius_admin_render_attribute_forms') }}" style="margin-bottom: 15px;">
    <select class="ui fluid search dropdown" name="{{ form.vars.name }}" multiple="">
        <option value="">{{ 'sylius.ui.product_attributes'|trans }}</option>
        {% for attributeField in form %}
            {% if attributeField.vars.name != '_token' %}
                <option value="{{ attributeField.vars.name }}">{{ attributeField.vars.label }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <button class="ui green labeled icon button">
        <i class="icon plus"></i> {{ 'sylius.ui.add_attributes'|trans }}
    </button>
</div>
