{% import _self as self %}
{% import '@SyliusUi/Macro/flags.html.twig' as flags %}

{% set subject = metadata.name|replace({'_attribute': ''}) %}
{% set locale_excluded = [
    '_value_sylius_attribute_type_select',
    '_value_sylius_attribute_type_checkbox',
    '_value_sylius_attribute_type_datetime',
    '_value_sylius_attribute_type_date',
    '_value_sylius_attribute_type_integer',
    '_value_sylius_attribute_type_percent'
] %}

{% for code, localeCodes in forms %}
    <div class="attribute-group" data-attributes_code="{{ code }}">
        <div class="attribute-group__form">
            {% for localeCode, form in localeCodes %}
                {% set id = form.vars.label|replace({' ': '_'})|lower %}
                <div class="attribute" data-id="{{ code }}" {% if form.vars.cache_key in locale_excluded and loop.index0 != 0  %}styleE="display:none"{% endif %}>
                    <div class="attribute__label">
                        {% if form.vars.cache_key not in locale_excluded %}
                            {{ flags.fromLocaleCode(localeCode) }}
                        {% else %}
                            <i class="globe icon"></i>
                        {% endif %}
                        {{ form.vars.label }}
                    </div>

                    {% if 'type_checkbox' in form.vars.cache_key %}
                        {{ self.checkboxField(form, count, id, subject, metadata.applicationName, localeCode, locale_excluded) }}
                    {% else %}
                        {{ self.textField(form, count, id, subject, metadata.applicationName, localeCode, locale_excluded) }}
                    {% endif %}

                    <input type="hidden"
                           name="{{ metadata.applicationName }}_{{ subject }}[attributes][{{ count }}][attribute]"
                           id="{{ metadata.applicationName }}_{{ subject }}_attributes_{{ count }}_attribute"
                           value="{{ code }}"/>
                    <input type="hidden"
                           name="{{ metadata.applicationName }}_{{ subject }}[attributes][{{ count }}][localeCode]"
                           id="{{ metadata.applicationName }}_{{ subject }}_attributes_{{ count }}_localeCode"
                           value="{{ localeCode }}"/>
                </div>
            {% endfor %}
        </div>
        <div class="attribute-group__action">
            <button type="button" class="ui red basic labeled icon button" data-attributes_remove>
                <i class="remove icon"></i> {{ 'sylius.ui.delete'|trans }}
            </button>
        </div>
    </div>
{% endfor %}

{% macro formField(item, count, id, prefix, subject, applicationName) %}
    {% from _self import formField %}
    {% if item.children|length > 0 %}
        {% set prefix = prefix~'_'~item.vars.name %}
        {% for child in item.children %}
            {{ formField(child, count, id, prefix, subject, applicationName) }}
        {% endfor %}
    {% elseif item.vars.name != '_token' %}
        {% set namePrefix = prefix|replace({'_': ']['}) %}
        {% set dataName = applicationName~'_'~subject~'[attributes]['~count~namePrefix~']['~item.vars.name~']' %}
        {% if item.vars.multiple is defined and item.vars.multiple %}
            {% set dataName = dataName~'[]' %}
        {% endif %}

        {{ form_widget(item, {'id': id, 'attr': {'data-name': dataName}}) }}
    {% endif %}
{% endmacro %}

{% macro textField(form, count, id, subject, applicationName, localeCode, locale_excluded) %}
    {% from _self import formField %}

    <div class="attribute__widget">
        <div class="attribute__widget__input">
            <div class="attr-widget">
                {{ formField(form, count, id, '', subject, applicationName) }}
            </div>
        </div>

        {% if form.vars.cache_key not in locale_excluded %}
            <button type="button" class="ui basic tiny button" data-attributes_apply>
                {{ 'sylius.ui.apply_for_all_locales'|trans }}
            </button>
        {% endif %}
    </div>
{% endmacro %}

{% macro checkboxField(form, count, id, subject, applicationName, localeCode, locale_excluded) %}
    {% from _self import formField %}

    <div class="attribute__widget">
        <div class="attribute__widget__input">
            <div class="ui toggle checkbox">
                {{ formField(form, count, id, '', subject, applicationName) }}
                <label></label>
            </div>
        </div>

        {% if form.vars.cache_key not in locale_excluded %}
            <button type="button" class="ui basic tiny button" data-attributes_apply>
                {{ 'sylius.ui.apply_for_all_locales'|trans }}
            </button>
        {% endif %}
    </div>
{% endmacro %}
