{% extends '@SyliusAdmin/Form/theme.html.twig' %}

{% block collection_widget -%}
    {% import _self as self %}
    {% set attributes_code = [] %}
    {% for child in form %}
        {% if child.vars.data.attribute.code not in attributes_code %}
            {% set attributes_code = attributes_code|merge([child.vars.data.attribute.code]) %}
        {% endif %}
    {% endfor %}

    {% for code in attributes_code %}
        <table class="attribute-group ui padded table" data-attributes_code="{{ code }}">
            <thead>
                <tr>
                    <th colspan="2">{{ code }}</th>
                    <th class="right aligned">
                        <button type="button" class="ui red basic labeled icon button" data-attributes_remove>
                            <i class="remove icon"></i> {{ 'sylius.ui.delete'|trans }}
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for child in form %}
                    {% if code == child.vars.data.attribute.code %}
                        {{ self.collection_item(child, allow_delete, button_delete_label, loop.index0) }}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{%- endblock collection_widget %}

{% macro collection_item(form, allow_delete, button_delete_label, index) %}
    {% import '@SyliusUi/Macro/flags.html.twig' as flags %}

    <tr class="attribute" data-id="{{ form.vars.data.attribute.code }}">
        {% set id = form.vars.id %}
        <td style="width: 25%">
            {{ flags.fromLocaleCode(form.localeCode.vars.value) }}
            {{ form.vars.value.attribute.translation(form.vars.value.localeCode).name }}
            <br>{{ form_errors(form.value) }}
        </td>
        {% if 'checkbox' in form.children.value.vars.block_prefixes %}
            <td>
                <div class="ui toggle checkbox">{{ form_widget(form.value) }}</div>
            </td>
        {% else %}
            <td class="attr-widget">
                {{ form_widget(form.value) }}
            </td>
        {% endif %}
        <td style="width: 10%" class="right aligned">
            <button type="button" class="ui button" data-attributes_apply>
                {{ 'sylius.ui.apply'|trans }}
            </button>
        </td>

        <input type="hidden" name="{{ form.attribute.vars.full_name }}" id="{{ form.attribute.vars.id }}" value="{{ form.vars.data.attribute.code }}"/>
        <input type="hidden" name="{{ form.localeCode.vars.full_name }}" id="{{ form.localeCode.vars.id }}" value="{{ form.localeCode.vars.value }}"/>
    </tr>
{% endmacro %}
