{% extends '@SyliusShop/base.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% import '@SyliusShop/Shared/messages.html.twig' as messages %}

{% set header = 'sylius.ui.your_shopping_cart' %}

{% block title %}{{ header|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        {% if not cart.empty %}
            <div>
                {{ sylius_template_event('sylius.shop.cart.header', {'header': header, 'cart': cart}) }}
            </div>
            <div class="row mb-6">
                <div class="col-12 col-lg-8 mb-4">
                    {{ sylius_template_event('sylius.shop.cart.items', {'cart': cart, 'form': form}) }}
                </div>
                <div class="col-12 col-lg-4 ps-lg-5 mb-4">
                    {{ sylius_template_event('sylius.shop.cart.summary', {'cart': cart}) }}
                </div>
            </div>
            <div>
                {{ sylius_template_event('sylius.shop.cart.footer', {'cart': cart}) }}
            </div>
        {% else %}
            {{ messages.info('sylius.ui.your_cart_is_empty') }}
        {% endif %}
    </div>
{% endblock %}
