{{ form_row(form.organization) }}
{{ form_row(form.firstName) }}
{{ form_row(form.lastName) }}
{{ form_row(form.country, {'attr': {'class': 'select2 country-select'}}) }}

<div class="administrative-area-container" data-url="{{ path('sylius_administrative_area_choice_form') }}">
    {% if form.administrativeArea is defined %}
        {{ form_row(form.administrativeArea, {'attr': {'class': 'select2'}}) }}
    {% endif %}
</div>

{{ form_row(form.locality) }}
{{ form_row(form.dependentLocality) }}
{{ form_row(form.firstAddressLine) }}
{{ form_row(form.secondAddressLine) }}
{{ form_row(form.postcode) }}
{{ form_row(form.phoneNumber) }}
{{ form_rest(form) }}
