{% macro create(cancel_url) %}
<div class="form-actions">
    <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> {{ 'sylius.ui.create'|trans }}</button>
    <a href="{{ cancel_url|default(app.request.headers.get('referer')) }}" class="btn"><i class="icon-remove"></i> {{ 'sylius.ui.cancel'|trans }}</a>
</div>
{% endmacro %}

{% macro update(cancel_url) %}
<div class="form-actions">
    <button type="submit" class="btn btn-primary"><i class="icon-save"></i> {{ 'sylius.ui.save_changes'|trans }}</button>
    <a href="{{ cancel_url|default(app.request.headers.get('referer')) }}" class="btn"><i class="icon-remove"></i> {{ 'sylius.ui.cancel'|trans }}</a>
</div>
{% endmacro %}
-
