{% macro btn(url, message, id, icon, class) %}
<a class="btn {% if class is not empty %} {{ class }} {% else %}btn-default{% endif %}"
    {% if id is not empty %} id="{{ id }}"{% endif %}
    href="{{ url }}">
    {% if icon is not empty %}
        <i class="icon-{{ icon }}"></i>
    {% endif %}
    {{ message|trans }}
</a>
{% endmacro %}

{% macro show(url, message, id, class) %}
    {% import _self as buttons %}

    {% if message is empty %}
        {% set message = 'sylius.show'|trans %}
    {% endif %}

    {{ buttons.btn(url, message, id, 'book', 'btn-default') }}
{% endmacro %}

{% macro create(url, message, id) %}
    {% import _self as buttons %}

    {% if message is empty %}
        {% set message = 'sylius.create'|trans %}
    {% endif %}

    {{ buttons.btn(url, message, id, 'plus-sign', 'btn-primary') }}
{% endmacro %}

{% macro edit(url, message, id) %}
    {% import _self as buttons %}

    {% if message is empty %}
        {% set message = 'sylius.edit'|trans %}
    {% endif %}

    {{ buttons.btn(url, message, id, 'pencil', 'btn-primary') }}
{% endmacro %}

{% macro delete(url, message, disabled) %}
{% if disabled %}
<span class="btn btn-danger disabled">
    <i class="icon-trash"></i><span>{{ message is empty ? 'sylius.delete'|trans : message }}</span>
</span>
{% else %}
<form action="{{ url }}" method="post" style="display: inline;">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger btn-confirm" type="submit">
        <i class="icon-trash"></i> <span>{{ message is empty ? 'sylius.delete'|trans : message }}</span>
    </button>
</form>
{% endif %}
{% endmacro %}
