{% extends '@SyliusShop/account/layout.html.twig' %}
{% from '@SyliusShop/shared/breadcrumbs.html.twig' import breadcrumbs as breadcrumbs %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.change_password'|trans }} | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumbs([
        { label: 'sylius.ui.home'|trans, path: path('sylius_shop_homepage')},
        { label: 'sylius.ui.my_account'|trans, path: path('sylius_shop_account_dashboard')},
        { label: 'sylius.ui.change_password'|trans, active: true }
    ]) }}
{% endblock %}

{% block account_header %}
    {% set title = 'sylius.ui.change_password'|trans %}
    {% set description = 'sylius.ui.set_a_new_password_for_your_account'|trans %}
    {{ parent() }}
{% endblock %}

{% block account_content %}
    <div>
        {{ form_start(form, {'action': path('sylius_shop_account_change_password'), 'attr': {'novalidate': 'novalidate'}}) }}

        {% hook 'sylius_shop.account.change_password' with { form } %}

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
