{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.reset_password'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container mt-4 mb-5">
        <div class="row justify-content-center justify-content-xl-start">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 offset-xl-1 order-lg-1">
                <div class="d-flex justify-content-center align-items-center h-100 px-3">

                    <div class="w-100 py-lg-5 mb-5 my-lg-5">
                        <h1 class="h2">{{ 'sylius.ui.reset_password'|trans }}</h1>
                        <div class="mb-4">{{ 'sylius.ui.set_a_new_password_for_your_account'|trans }}</div>

                        <div>
                            {{ form_start(form, {'action': path('sylius_shop_request_password_reset_token'), 'attr': {'novalidate': 'novalidate'}}) }}
                            {{ form_row(form.email, sylius_test_form_attribute('reset-email')) }}
                            {{ form_row(form._token) }}
                            <div class="d-grid">
                                <button class="btn btn-primary" type="submit" {{ sylius_test_html_attribute('request-password-reset-button') }}>
                                    {{ 'sylius.ui.reset'|trans }}
                                </button>
                            </div>
                            {{ form_end(form, {'render_rest': false}) }}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 order-lg-0">
                <div class="d-flex justify-content-center align-items-center bg-light rounded-4 h-100 p-3">
                    {% include '@SyliusShop/Account/login/register_box.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
