{% extends '@SyliusShop/base.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.customer_login'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container mt-4 mb-5">
        {{ form_start(form, {'action': path('sylius_shop_login_check'), 'attr': {'novalidate': 'novalidate'}}) }}

        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-0 col-xl-4 offset-xl-1 order-lg-1">
                <div class="d-flex justify-content-center align-items-center h-100 px-3">
                    <div class="w-100 py-lg-5 mb-5 my-lg-5">
                        {{ sylius_template_event('sylius.shop.account.login', _context) }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-0 order-lg-0">
                <div class="d-flex justify-content-center align-items-center bg-light rounded-4 h-100 p-3">
                    {% include '@SyliusShop/Account/login/register_box.html.twig' %}
                </div>
            </div>
        </div>

        <input type="hidden" name="_csrf_shop_security_token" value="{{ csrf_token('shop_authenticate') }}">
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
