{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.reset_password'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        {{ form_start(form, {'action': path('sylius_shop_password_reset', {'token' : user.passwordResetToken}), 'attr': {'novalidate': 'novalidate'}}) }}

        <div class="row justify-content-center mt-4 mb-5">
            <div class="col-12 col-md-6">
                <div class="mb-5">
                    <h1 class="h2">{{ 'sylius.ui.reset_password'|trans }}</h1>
                    <div>{{ 'sylius.ui.set_a_new_password_for_your_account'|trans }}</div>
                </div>

                <div class="mb-5">
                    {{ form_row(form.password.first, sylius_test_form_attribute('password-reset-new')|merge({'label': 'sylius.form.user_reset_password.new'|trans})) }}
                    {{ form_row(form.password.second, sylius_test_form_attribute('password-reset-confirmation')|merge({'label': 'sylius.form.user_reset_password.confirmation'|trans})) }}
                </div>

                <div class="d-grid">
                    <button class="btn btn-primary" type="submit" {{ sylius_test_html_attribute('login-password-reset-button') }}>
                        {{ 'sylius.ui.reset'|trans }}
                    </button>
                </div>
            </div>
        </div>

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
