{# Rendered with \Sylius\Bundle\AdminBundle\Twig\Component\PaymentMethod\FormComponent #}

{% form_theme form '@SyliusAdmin/shared/form_theme.html.twig' %}

{% set configuration = hookable_metadata.configuration %}

<div class="container-xl" {{ attributes }}>
    {{ form_start(form, {'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate', 'id': form.vars.id}}) }}
    {% if configuration.method is defined %}
        <input type="hidden" name="_method" value="{{ configuration.method }}" />
    {% endif %}
    {{ form_errors(form) }}
    {{ form_widget(form._token) }}

    {% hook 'form' with { form } %}

    {{ form_end(form, {render_rest: false}) }}
</div>
