{% macro default(back_text, back_link, can_submit = true) %}
    {% import '@SyliusShop/Shared/buttons.html.twig' as buttons %}
    {% from '@SyliusShop/Shared/icon.html.twig' import icon as icon %}

    <div class="d-flex justify-content-between">
        {{ buttons.default(back_link, back_text, null, 'chevron-left', 'btn-light') }}
        <button type="submit" class="btn btn-primary btn-icon{% if not can_submit%} disabled{% endif %}"{% if not can_submit %} disabled{% endif %} {{ sylius_test_html_attribute('next-step') }}>
            {{ 'sylius.ui.next'|trans }} {{ icon('chevron-right') }}
        </button>
    </div>
{% endmacro %}

{% macro complete(confirm_text) %}
    {% import '@SyliusShop/Shared/buttons.html.twig' as buttons %}

    <div class="text-center">
        {{ buttons.submit(confirm_text, 'confirmation-button', null, 'btn-primary') }}
    </div>
{% endmacro %}
