{% import '@SyliusUi/Macro/flags.html.twig' as flags %}

<div class="ui hidden divider"></div>

<div class="ui styled fluid accordion">
    {% for translation in catalog_promotion.translations %}
        <div class="title">
            <i class="dropdown icon"></i>
            {{ flags.fromLocaleCode(translation.locale) }} {{ translation.locale|sylius_locale_name }}
        </div>
        <div class="ui content">
            <table class="ui very basic celled table">
                <tbody>
                <tr>
                    <td class="three wide"><strong class="gray text">{{ 'sylius.ui.label'|trans }}</strong></td>
                    <td>{{ translation.label }}</td>
                </tr>
                <tr>
                    <td class="three wide"><strong class="gray text">{{ 'sylius.ui.description'|trans }}</strong></td>
                    <td>{{ translation.description|nl2br }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>
