{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

{{ form_row(form.code, {'attr': {'class': 'input-lg'}}) }}
{{ form_row(form.name) }}
{{ form_row(form.description) }}

{% for securityRoleForm in form.securityRoles %}
{{ form_row(securityRoleForm) }}
{% endfor %}

{% if form.parent is not null %}
    {{ form_row(form.parent) }}
{% endif %}

<div class="form-group">
    {{ form_label(form.permissions) }}
    <div class="col-lg-2">
        {% set level = 1 %}
        <ul class="list-unstyled" id="hierarchy-root">
            {% for permissionForm in form.permissions %}
            {% set currentLevel = form.permissions.vars.choices[permissionForm.vars.value].data.level %}
            <li>
                {% if currentLevel != level %}
        </ul>
        <ul class="hierarchy-node list-unstyled level-{{ currentLevel }}" data-level="{{ currentLevel }}" style="width: 100%; margin-left: {{ currentLevel * 20 }}px">
            {% set level = currentLevel %}
            {% endif %}
            {{ form_widget(permissionForm) }}
            {{ form.permissions.vars.choices[permissionForm.vars.value].data.description }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{{ form_widget(form._token) }}
