<div class="ui two column stackable grid">
    <div class="column">
        {{ form_errors(form) }}
        <div class="ui segment">
            <div class="two fields">
                {{ form_row(form.code) }}
                {{ form_row(form.name) }}
            </div>
            {{ form_row(form.description) }}
        </div>
    </div>
    <div class="column">
        <div class="ui two column stackable grid">
            <div class="column">
                {{ form_row(form.usageLimit) }}
                {{ form_row(form.couponBased) }}
                {{ form_row(form.exclusive) }}
            </div>
            <div class="column">
                {{ form_row(form.priority) }}
                {{ form_row(form.channels) }}
            </div>
        </div>
        <h4 class="ui dividing header">{{ 'sylius.ui.start_date'|trans }} & {{ 'sylius.ui.end_date'|trans }}</h4>

        <div class="two fields">
            {{ form_row(form.startsAt) }}
            {{ form_row(form.endsAt) }}
        </div>
    </div>
</div>
<div class="ui segment">
    <h4 class="ui dividing header">{{ 'sylius.ui.configuration'|trans }}</h4>

    <div class="ui two column stackable grid">
        <div class="column" id="rules">
            {{ form_row(form.rules) }}
        </div>
        <div class="column" id="actions">
            {{ form_row(form.actions) }}
        </div>
    </div>
</div>
