{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/ProductArchetype:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.archetype.index'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_product_archetype_create'), 'sylius.archetype.create'|trans) }}
        {{ buttons.manage(path('sylius_backend_product_option_index'), 'sylius.product_option.manage'|trans) }}
        {{ buttons.manage(path('sylius_backend_product_attribute_index'), 'sylius.product_attribute.manage'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-compressed"></i> {{ 'sylius.archetype.index_header'|trans|raw }}</h1>
</div>

{{ pagination(product_archetypes) }}
{{ list(product_archetypes) }}
{{ pagination(product_archetypes) }}

{% endblock %}
