{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Product:macros.html.twig' import list as list_products %}
{% from 'SyliusWebBundle:Backend/ProductArchetype:macros.html.twig' import list as list_archetypes %}
{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'sylius.ui.assortment'|trans }}</li>
        <li>{{ 'sylius.ui.archetypes'|trans }}</a></li>
    </ol>
{% endblock %}

{% block content %}

{{ pagination(products) }}
{{ list_products(products) }}
{{ pagination(products) }}

{% endblock %}
