{% set definition = grid.definition %}
{% set data = grid.data %}

{% if data|length > 0 %}
<table>
    <thead>
        <tr>
            {% for field in definition.fields %}
                <th>{{ field.label|trans }}</th>
            {% endfor %}
            {% if definition.actionGroups.item is defined and definition.getActions('item')|length > 0 %}
                <th>{{ 'sylius.ui.actions'|trans }}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            {% for field in definition.fields %}
            <td>{{ sylius_grid_render_field(field, row) }}</td>
            {% endfor %}
            {% if definition.actionGroups.item is defined and definition.getActions('item')|length > 0 %}
            <td>
                {% for action in definition.getActions('item') %}
                    {{ sylius_grid_render_action(action) }}
                {% endfor %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    {{ messages.info('sylius.ui.no_results_to_display'|trans) }}
{% endif %}
