{% if data.usageLimit is empty %}
    <span class="ui label">
        {{ data.used }}
    </span>
    /
    <span class="ui label">âˆ</span>
{% else %}
    {% set color = 'teal' %}

    {% if data.used == data.usageLimit %}
        {% set color = 'red' %}
    {% elseif data.used > data.usageLimit/2 %}
        {% set color = 'yellow' %}
    {% endif %}
    <span class="ui {{ color }} label">
        {{ data.used }}
    </span>
    /
    <span class="ui {{ color }} label">
        {{ data.usageLimit }}
    </span>
{% endif %}
