
<div>
{#     {{ form_row(children.publishable)  }}#}
{#     {{ form_row(children.route)  }}#}
    {{ form_row(children.display)  }}
    {{ form_row(children.name)  }}
    {{ form_row(children.label)  }}
{#     {{ form_row(children.linkType)  }}#}
    {{ form_row(children.content)  }}
    {{ form_row(children.uri)  }}
    {{ form_row(children.route)  }}
{#     {{ form_row(children.childrenAttributes)  }}#}
</div>
<hr />