{% macro list(menus) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% if menus|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'sylius.ui.id'|trans }}</th>
                <th>{{ sylius_resource_sort('title', 'sylius.ui.title'|trans) }}</th>
                <th>{{ sylius_resource_sort('publishable', 'sylius.menu.publishable'|trans) }}</th>
                <th>{{ sylius_resource_sort('publishStartDate', 'sylius.ui.start_date'|trans) }}</th>
                <th>{{ sylius_resource_sort('publishEndDate', 'sylius.ui.end_date'|trans) }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr id="{{ menu.id }}">
                <td><i>{{ menu.id }}</i></td>
                <td>{{ menu.label }}</td>
                <td>
                    <span class="label label-{{ menu.publishable ? 'success' : 'default'}}">
                        {{ menu.publishable ? 'sylius.ui.yes'|trans : 'sylius.ui.no'|trans }}
                    </span>
                </td>
                <td>{{ menu.publishStartDate is empty ? '-' : menu.publishStartDate|date }}</td>
                <td>{{ menu.publishStartDate is empty ? '-' : menu.publishStartDate|date }}</td>
                <td>
                    <div class="pull-right">
                    {{ buttons.edit(path('sylius_backend_menu_update', {'id': menu.id})) }}
                    {{ buttons.delete(path('sylius_backend_menu_delete', {'id': menu.id})) }}
                   </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
{{ alerts.info('sylius.ui.there_are_no_menus_to_display'|trans) }}
{% endif %}

{% endmacro %}
