{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/SubscriptionList:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.subscription_list.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_subscription_list_create'), 'sylius.subscription_list.create'|trans) }}
    </div>
    <h1> {{ 'sylius.subscription_list.index_header'|trans|raw }}</h1>
</div>

{{ list(subscription_lists) }}

{% endblock %}
