{% import '@SyliusUi/Macro/flags.html.twig' as flags %}

<h1>
    {{ 'sylius.ui.summary_of_your_order'|trans }}

    <div {{ sylius_test_html_attribute('order-currency-code') }}>
        {{ order.currencyCode }}
    </div>
    <div {{ sylius_test_html_attribute('order-locale-name') }}>
        {{ flags.fromLocaleCode(sylius.localeCode) }}{{ sylius.localeCode|sylius_locale_name }}
    </div>
</h1>
