<div class="form-container">
<fieldset>
    {{ form_errors(form) }}
    {% if form.options is defined and form.options|length > 0 %}
        {% for optionForm in form.options %}
            {{ form_row(optionForm) }}
        {% endfor %}
    {% endif %}
    {{ form_row(form.presentation) }}
    {{ form_label(form.availableOn) }}
    {{ form_row(form.availableOn.date, {'label': false}) }}
    {{ form_row(form.availableOn.time, {'label': false}) }}
    {{ form_row(form.price) }}
    {{ form_row(form.availableOnDemand) }}
    {{ form_row(form.onHand) }}
</fieldset>
<div id="sylius-assortment-variant-images" class="collection-container" data-prototype="{{ form_widget(form.images.vars.prototype)|e }}">
    {% for imageForm in form.images %}
    <div class="sylius-assortment-variant-images-image">
        <div class="control-group">
            <div class="controls">
                <a href="{{ imageForm.vars.value.path|imagine_filter('sylius_90x60') }}" target="_blank"><img class="img-polaroid" src="{{ imageForm.vars.value.path|imagine_filter('sylius_90x60') }}" alt="" /></a>
                &nbsp;
                {{ form_widget(imageForm.file) }}
                &nbsp;
                <a href="#" class="" data-collection-button="delete" data-prototype="sylius-assortment-variant-images" data-collection="sylius-assortment-variant-images"><i class="icon-trash"></i>&nbsp;{{ 'sylius.variant.delete_image'|trans }}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="control-group">
    <div class="controls">
        <a href="#" class="btn btn-success" data-collection-button="add" data-prototype="sylius-assortment-variant-images" data-collection="sylius-assortment-variant-images">{{ 'sylius.variant.add_image'|trans }}</a>
    </div>
</div>
{{ form_widget(form._token) }}
</div>
