{% macro success(text) %}
<div class="alert alert-success">
    <h4 class="alert-heading">{{ 'sylius.ui.success'|trans }}</h4>
    {{ text|trans }}
</div>
{% endmacro %}

{% macro info(text) %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'sylius.ui.information'|trans }}</h4>
    {{ text|trans }}
</div>
{% endmacro %}

{% macro error(text) %}
<div class="alert alert-danger">
    <h4 class="alert-heading">{{ 'sylius.ui.error'|trans }}</h4>
    {{ text|trans }}
</div>
{% endmacro %}

{% macro warning(text) %}
<div class="alert alert-warning">
    <h4 class="alert-heading">{{ 'sylius.ui.warning'|trans }}</h4>
    {{ text|trans }}
</div>
{% endmacro %}
