{% set visible = options.visible is defined ? options.visible : true %}

{% if visible %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-static dropdown-toggle" type="button" id="dropdownLinks" data-bs-toggle="dropdown" aria-expanded="false">
            {{ action.label|trans }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownLinks">
            {% if options.header is defined %}
                <li><h6 class="dropdown-header">{{ options.header.label|trans }}</h6></li>
            {% endif %}
            {% for link in options.links %}
                {% set is_link_visible = link.visible is defined ? link.visible : true %}

                {% if is_link_visible %}
                    {% set path = link.url is defined ? link.url : path(link.route, link.parameters|default([])) %}

                    <li><a class="dropdown-item" href="{{ path }}">{% if link.icon is defined %}<i class="{{ link.icon }} icon"></i> {% endif %}{{ link.label|trans }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
