<div class="item">
    <div class="right floated content">
        {{ label.default(('sylius.ui.'~payment.state)|trans) }}
    </div>
    <i class="large payment icon"></i>
    <div class="content">
        <div class="header">
            {{ payment.method }}
        </div>
        <div class="description">
            {{ payment.amount|sylius_money(payment.currency) }}
        </div>
        <div class="actions">
            {% if sm_can(payment, 'complete', 'sylius_payment') %}
                <form action="{{ path('sylius_admin_order_payment_complete', { id: order.id, paymentId: payment.id }) }}" method="post" novalidate>
                    <input type="hidden" name="_method" value="PUT">
                    <button type="submit">{{ 'sylius.ui.complete'|trans }}</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
