<div class="item">
    <div class="right floated content">
        {{ label.default(('sylius.ui.'~shipment.state)|trans) }}
    </div>
    <i class="large truck icon"></i>
    <div class="content">
        <div class="header">
            {{ shipment.method }}
        </div>
        <div class="description">
            <i class="globe icon"></i>{{ shipment.method.zone }}
        </div>
    </div>
    {% if sm_can(shipment, 'ship', 'sylius_shipment') %}
        {{ render(path('sylius_admin_partial_shipment_ship', {'orderId': order.id, 'id': shipment.id})) }}
    {% endif %}
    {% if shipment.tracking is not empty %}
        <div class="ui segment">
            <span class="ui top attached icon label"><i class="plane icon"></i> {{ 'sylius.ui.tracking_code'|trans|upper }}</span>
            <p>{{ shipment.tracking }}</p>
        </div>
    {% endif %}
</div>
