{% macro default(img, content, class) %}
    {% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon %}

    <span class="sylius avatar {{ class }}" {% if img %} style="background-image: url({{ img }})" {% endif %}>
        {% if content %}
            {{ content }}
        {% else %}
            {{ icon({ icon: 'user' }) }}
        {% endif %}
    </span>
{% endmacro %}

{% macro small(img, content, class) %}
    {% import _self as _ %}
    {{ _.default(img, content, 'avatar-sm ' ~ class) }}
{% endmacro %}
