{% macro breadcrumbs(items) %}
    <ol class="breadcrumb" aria-label="breadcrumbs">
        {% for item in items %}
            {{ block('item') }}
        {% endfor %}
    </ol>
{% endmacro %}

{% block item %}
    <li class="breadcrumb-item {{ item.active ? "active" }}">
        {% if item.url is defined %}
            <a href="{{ url }}">{{ item.name|trans }}</a>
        {% else %}
            {{ item.name|trans }}
        {% endif %}
    </li>
{% endblock item %}
