{% extends 'bootstrap_5_layout.html.twig' %}

{%- block form_row -%}
    {% set row_attr = row_attr|default({})|merge({ class: (row_attr.class|default('mb-3') ~ ' field')|trim }) %}
    {{ parent() }}
{%- endblock form_row %}

{% block sylius_resource_autocomplete_choice_row %}
    <div class="{% if required %}required {% endif %}{% if disabled %}disabled {% endif %}field{% if (not compound or force_error|default(false)) and not valid %} error{% endif %}">
        {{- form_label(form) -}}
        <select
            class="form-control"
            data-choices="true"
            data-choice-label-field="{{ choice_name }}"
            data-choice-value-field="{{ choice_value }}"
            data-input-id="{{ form.vars.id }}"
            data-init-url="{{ init_load_url|default(null) }}"
            {% if search_url is defined %}data-search-url="{{ search_url }}"{% endif %}
            data-no-choices-text="{{ no_choices_translation|default('sylius.ui.start_typing_to_search')|trans }}"
            {% if form.vars.disabled %}disabled{% endif %}
            {% if multiple %}multiple{% endif %}
        ></select>
        {{ form_widget(form) }}
        {{- form_errors(form) -}}
    </div>
{% endblock %}

{% block sylius_shipping_method_rule_row %}
    <div{% with {attr: row_attr|merge({class: row_attr.class|default('mb-3 card')|trim})} %}{{ block('attributes') }}{% endwith %} {{ sylius_test_html_attribute('rule') }}>
        <div class="card-body">
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{% endblock %}

{% block sylius_shipping_method_rule_total_weight_greater_than_or_equal_configuration_row %}
    <div
        {% with {attr: row_attr|merge({class: row_attr.class|default('mb-3 card')|trim})} %}{{ block('attributes') }}{% endwith %}
        {{ sylius_test_html_attribute('shipping-method-weight-rule') }}
    >
        <div class="card-body">
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{% endblock %}

{% block sylius_shipping_method_rule_total_weight_less_than_or_equal_configuration_row %}
    <div
        {% with {attr: row_attr|merge({class: row_attr.class|default('mb-3 card')|trim})} %}{{ block('attributes') }}{% endwith %}
        {{ sylius_test_html_attribute('shipping-method-weight-rule') }}
    >
        <div class="card-body">
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{% endblock %}

{% block sylius_promotion_action_row %}
    <div{% with {attr: row_attr|merge({class: row_attr.class|default('mb-3 card')|trim})} %}{{ block('attributes') }}{% endwith %}>
        <div class="card-body" {{ sylius_test_html_attribute('promotion-action') }}>
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
            {{- form_row(button_delete, sylius_test_form_attribute('delete-action')) -}}
        </div>
    </div>
{% endblock %}

{% block sylius_promotion_rule_row %}
    <div {% with {attr: row_attr|merge({class: row_attr.class|default('mb-3 card')|trim})} %}{{ block('attributes') }}{% endwith %}>
        <div class="card-body" {{ sylius_test_html_attribute('promotion-rule') }}>
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
            {{- form_row(button_delete, sylius_test_form_attribute('delete-rule')) -}}
        </div>
    </div>
{% endblock %}

{% block sylius_channel_collection_row %}
    <div{% with {attr: row_attr|merge({class: row_attr.class|default('mb-3')|trim})} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{% endblock %}

{% block sylius_channel_collection_row %}
    <div{% with {attr: row_attr|merge({class: row_attr.class|default('mb-3 card')|trim})} %}{{ block('attributes') }}{% endwith %}>
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs" role="tablist">
                {% for channelCode, channelConfiguration in form %}
                    {% set channelErrorCount = form.vars.channels_errors_count[channelCode] %}
                    <li class="nav-item">
                        <a
                            class="nav-link {% if loop.index0 == 0 %}active{% endif %}"
                            data-bs-toggle="tab"
                            href="#{{ channelCode }}"
                            role="tab"
                            {{ sylius_test_html_attribute('tab', channelCode) }}
                            {{ sylius_test_html_attribute('channel-tab', channelCode) }}
                        >
                            <span>{{- channelConfiguration.vars.label -}}</span>
                            {% if channelErrorCount > 0 %}
                                <span class="text-white badge rounded-pill bg-danger">{{ channelErrorCount }}</span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                {% for channelCode, channelConfiguration in form %}
                    <div
                        class="tab-pane fade {% if loop.index0 == 0 %}show active{% endif %}"
                        id="{{ channelCode }}"
                        role="tabpanel"
                        {{ sylius_test_html_attribute('channel-tab-content', channelCode) }}
                    >
                        {{ form_row(channelConfiguration, sylius_test_form_attribute('tab-content')|merge({'label': false})) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {{ form_errors(form) }}
{% endblock %}
