{%- extends '@BabDevPagerfanta/default.html.twig' -%}

{%- block pager_widget -%}
    <ul class="pagination m-0">
        {{- block('pager') -}}
    </ul>
{%- endblock pager_widget -%}

{%- block page_link -%}
    <li class="page-item"><a class="page-link" href="{{- path -}}">{{- page -}}</a></li>
{%- endblock page_link -%}

{%- block current_page_link -%}
    <li class="page-item active" aria-current="page"><span class="page-link">{{- page -}}</span></li>
{%- endblock current_page_link -%}

{%- block previous_page_link -%}
    {% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon as _icon %}

    <li class="page-item">
        <a class="page-link" href="{{- path -}}" rel="prev">
            {{ _icon({ icon: 'chevron-left' }) }} {{- block('previous_page_message') -}}
        </a>
    </li>
{%- endblock previous_page_link -%}

{%- block previous_page_link_disabled -%}
    {% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon as _icon %}

    <li class="page-item disabled">
        <span class="page-link">
            {{ _icon({ icon: 'chevron-left' }) }} {{- block('previous_page_message') -}}
        </span>
    </li>
{%- endblock previous_page_link_disabled -%}

{%- block next_page_link -%}
    {% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon as _icon %}

    <li class="page-item">
        <a class="page-link" href="{{- path -}}" rel="next">
            {{- block('next_page_message') -}} {{ _icon({ icon: 'chevron-right' }) }}
        </a>
    </li>
{%- endblock next_page_link -%}

{%- block next_page_link_disabled -%}
    {% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon as _icon %}

    <li class="page-item disabled">
        <span class="page-link">
            {{- block('next_page_message') -}} {{ _icon({ icon: 'chevron-right' }) }}
        </span>
    </li>
{%- endblock next_page_link_disabled -%}

{%- block ellipsis -%}
    <li class="page-item disabled"><span class="page-link">&hellip;</span></li>
{%- endblock ellipsis -%}
