{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.contact_us'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container my-auto">
        <div class="row justify-content-center mt-4 mb-5">
            <div class="col-12 col-md-6">
                {{ form_start(form, {'action': path('sylius_shop_contact_request'), 'attr': {'novalidate': 'novalidate'}}) }}
                {{ sylius_template_event('sylius.shop.contact.request.form', _context) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}
