{% extends 'SyliusUserBundle::layout.html.twig' %}

{% block content %}
{{ 'sylius.ui.reset_password'|trans }}

<form action="{{ path('sylius_user_request_password_reset_token') }}" {{ form_enctype(form) }} method="POST">
    <fieldset>
        {{ form_row(form.email) }}
    </fieldset>
    {{ form_rest(form) }}

    <button type="submit">
        {{ 'sylius.ui.reset'|trans }}
    </button>
</form>
{% endblock %}
