{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

{% set state = order.paymentState %}

<div class="h5 pb-3 mb-3 border-bottom">{{ 'sylius.ui.payments'|trans }}</div>

{% if state != 'cart' %}
    {% include "@SyliusShop/shared/order/Label/payment_state/order_payment_state.html.twig" %}
{% endif %}

{% for payment in order.payments %}
    {% set state = payment.state %}

    <div>
        <div {{ sylius_test_html_attribute('payment-method') }}>
            {{ payment.method }}
        </div>
        <div {{ sylius_test_html_attribute('payment-price') }}>{{ money.format(payment.amount, payment.currencyCode) }}</div>
        {% if state != 'cart' %}
            <p {{ sylius_test_html_attribute('payment-state') }}>
                {% include "@SyliusShop/shared/order/Label/payment_state/single_payment_state.html.twig" with { 'state': state } %}
            </p>
        {% endif %}
    </div>
{% endfor %}
