{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page  %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li><a href="{{ path('sylius_backend_taxonomy_index') }}">{{ 'sylius.breadcrumb.taxonomy.index'|trans }}</a></li>
    <li>{{ 'sylius.breadcrumb.new'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('sylius_backend_taxonomy_create'), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

{{ page.header('taxonomy.create', 'plus-circle', 'SyliusUiBundle:Form/Actions:_create.html.twig') }}

{{ form_errors(form) }}
{% include 'SyliusWebBundle:Backend/Taxonomy:_form.html.twig' %}

{{ form_end(form) }}
{% endblock %}
