{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Taxonomy:macros.html.twig' import list %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.taxonomy.index_header'|trans|raw }}</h1>
</div>

<div class="well well-small">
    {{ buttons.create(path('sylius_backend_taxonomy_create'), 'sylius.taxonomy.create'|trans) }}
</div>

{{ pagination(taxonomies) }}
{{ list(taxonomies) }}
{{ pagination(taxonomies) }}

{% endblock %}
