{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page  %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li><a href="{{ path('sylius_backend_taxonomy_index') }}">{{ 'sylius.breadcrumb.taxonomy.index'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_taxonomy_show', {'id': taxonomy.id}) }}">{{ taxonomy.name }}</a></li>
    <li>{{ 'sylius.breadcrumb.edit'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('sylius_backend_taxonomy_update', {'id': taxonomy.id}), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

{{ page.header('taxonomy.update', 'plus-circle', 'SyliusUiBundle:Form/Actions:_update.html.twig') }}

{{ form_errors(form) }}
{% include 'SyliusWebBundle:Backend/Taxonomy:_form.html.twig' %}
<input type="hidden" name="_method" value="PUT">

{{ form_end(form) }}
{% endblock %}
