{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

<div class="content">
    <div id="subscribed-to-newsletter">
        <i class="{{ customer.subscribedToNewsletter ? 'green checkmark' : 'red remove' }} icon"></i>
        {{ 'sylius.ui.subscribed_to_newsletter'|trans }}
    </div>
    {% if customer.user is not null %}
        {% set user = customer.user %}
        <div id="verified-email">
            <i class="{{ user.verified ? 'green checkmark' : 'red remove' }} icon"></i>
            {{ 'sylius.ui.email_verified'|trans }}
        </div>
        <br />
        {% if is_shop_enabled() %}
            {{ buttons.default(path('sylius_admin_impersonate_user', {'username': user.emailCanonical}), 'sylius.ui.impersonate', 'impersonate', 'unhide', 'blue') }}
        {% endif %}
    {% endif %}
</div>
