{# Rendered with \Sylius\Bundle\AdminBundle\Twig\Component\ProductAttribute\FormComponent #}

{% form_theme form '@SyliusAdmin/product_attribute/form_theme.html.twig' %}

<div class="container-xl" {{ attributes }}>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': form.vars.id}}) }}
    <div class="row">
        {% if hookable_metadata.configuration.method is defined %}
            <input type="hidden" name="_method" value="{{ hookable_metadata.configuration.method }}" />
        {% endif %}
        {{ form_errors(form) }}
        {{ form_widget(form._token) }}

        {% hook 'form' with { form } %}
    </div>
    <div class="row">
        <div class="col-6">
            {% hook 'form#left' with { form } %}
        </div>
        <div class="col-6">
            {% hook 'form#right' with { form } %}
        </div>
    </div>
    {{ form_end(form, {render_rest: hookable_metadata.configuration.render_rest|default(false)}) }}
</div>
