{{ form_start(form, { 'action': path('sylius_admin_partial_order_shipment_ship', configuration.vars.route.parameters) }) }}
    {{ form_row(form.tracking) }}
    {{ form_row(form._token) }}
    <input type="hidden" name="_method" value="PUT">
    <button type="submit">{{ 'sylius.ui.ship'|trans }}</button>
{{ form_end(form, {'render_rest': false}) }}
