{% macro list(zones) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% if zones|length > 0 %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{ sylius_resource_sort('id', '#id') }}</th>
                <th>{{ sylius_resource_sort('name') }}</th>
                <th>{{ sylius_resource_sort('type') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for zone in zones %}
            <tr id="{{ zone.id }}">
                <td>{{ zone.id }}</td>
                <td>{{ zone.name }}</td>
                <td>{{ zone.type }}</td>
                <td>
                    <div class="btn-group pull-right">
                        {{ buttons.edit(path('sylius_zone_update', {'id': zone.id})) }}
                        {{ buttons.delete(path('sylius_zone_delete', {'id': zone.id})) }}
                    </div>
                </td>
            </tr>
            {% if zone.hasMembers %}
                <tr style="background-color: #f1f1f1;">
                    <td colspan="4"><strong>Members</strong></td>
                </tr>
                {% for member in zone.members %}
                    <tr id="{{ member.id }}" style="background-color: #f1f1f1;">
                        <td>{{ member.id }}</td>
                        <td>{{ member.name }}</td>
                        <td colspan="2">
                            <div class="btn-group pull-right">
                                {{ buttons.delete(path('sylius_zone_member_delete', {'zoneId': zone.id, 'id': member.id})) }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info">
        <h4 class="alert-heading">Information</h4>
        There are no zones configured
    </div>
{% endif %}

{% endmacro %}
