{% set product = item.variant.product %}
<tr>
    <td class="col-md-1">{{ loop.index }}</td>
    <td>
        {{ include('SyliusWebBundle:Frontend/Product:_variant.html.twig', {'variant': item.variant}) }}
    </td>
    <td class="col-md-2">
        {{ form_row(form.items[loop.index0].quantity, {'label': false}) }}
    </td>
    <td class="col-md-1">
        <a href="{{ path('sylius_cart_item_remove', {'id': item.id}) }}" class="btn btn-danger"><i class="icon-trash icon-white"></i></a>
    </td>
    <td class="col-md-1">
        {{ item.unitPrice|sylius_price }}
    </td>
    <td class="col-md-1" style="text-align: right">
        {{ item.total|sylius_price }}
    </td>
</tr>
