{% set product = item.variant.product %}
<tr>
    <td>{{ loop.index }}</td>
    <td>
        <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" class="thumbnail" style="width: 90px;">
            <img src="{{ product.image.path|default('http://placehold.it/90x60')|imagine_filter('sylius_90x60') }}" alt="" />
        </a>
    </td>
    <td>
        <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}">
        <p><strong>{{ product.name }}</strong></p>
        </a>
        <ul>
            {% for option in item.variant.options %}
            <li>{{ option.presentation }}: {{ option.value }}</li>
            {% endfor %}
        </ul>
    </td>
    <td>
        {{ form_row(form.items[loop.index0].quantity, {'attr': {'class': 'input-small'}, 'label': false}) }}
    </td>
    <td>
        <a href="{{ path('sylius_cart_item_remove', {'id': item.id}) }}" class="btn btn-danger"><i class="icon-trash icon-white"></i></a>
    </td>
    <td>
        {{ item.unitPrice|sylius_money }}
    </td>
    <td style="text-align: right">
        {{ item.total|sylius_money }}
    </td>
</tr>
