{% set product = item.vars.value.variant.product %}
<tr>
    <td class="col-md-1">{{ loop.index }}</td>
    <td>
        {{ include(
        'SyliusWebBundle:Frontend/Product:_variant.html.twig',
        {'variant': item.vars.value.variant}
        ) }}
    </td>
    <td class="col-md-2">
        {{ form_row(item.quantity, {'label': false}) }}
    </td>
    <td class="col-md-1">
        <a href="{{ path('sylius_cart_item_remove', {'id': item.vars.value.id}) }}" class="btn btn-danger"><i class="icon-trash icon-white"></i></a>
    </td>
    <td class="col-md-1">
        {{ item.vars.value.unitPrice|sylius_price }}
    </td>
    <td class="col-md-1" style="text-align: right">
        {% set regularPrice = item.vars.value|sylius_regular_price %}
        {% if 0 != item.vars.value.getAdjustmentsTotalRecursively('order_item_promotion') %}
            <span class="regular-price" style="text-decoration: line-through">{{ regularPrice|sylius_price }}</span>
            <span class="discount-price">{{ item.vars.value.total|sylius_price }}</span>
        {% else %}
            <span>{{ regularPrice|sylius_price }}</span>
        {% endif %}
    </td>
</tr>
