{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% import 'SyliusWebBundle:Frontend/Macros:alerts.html.twig' as alerts %}

{% set taxAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::TAX_ADJUSTMENT') %}
{% set shippingAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::SHIPPING_ADJUSTMENT') %}

{% form_theme form _self %}

{% block javascripts %}
{{ parent() }}
{% javascripts output='assets/compiled/frontend_cart_summary.js'
    'bundles/syliusweb/js/form-collection.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block content %}
<div class="page-header">
<h1>{{ 'sylius.ui.cart_summary'|trans|raw }}</h1>
</div>

{% if not cart.empty %}
{{ form_errors(form) }}

<form action="{{ path('sylius_cart_save') }}" method="post" novalidate>
<table class="table" id="cart-summary">
    <thead>
        <tr>
            <th>#</th>
            <th>{{ 'sylius.ui.product'|trans }}</th>
            <th>{{ 'sylius.cart.summary.quantity'|trans }}</th>
            <th></th>
            <th>{{ 'sylius.ui.unit_price'|trans }}</th>
            <th style="text-align: right;">{{ 'sylius.ui.total'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in form.items %}
            {% include 'SyliusWebBundle:Frontend/Cart:_item.html.twig' %}
        {% endfor %}
    </tbody>
    <tfoot>
        {% set promotionTotal = cart.getPromotionsTotalRecursively() %}
        {% if promotionTotal %}
        <tr>
            <td colspan="6" style="text-align: right;">
                <strong>{{ 'sylius.ui.promotion_total'|trans }}</strong>: -{{ (-1 * promotionTotal)|sylius_price }}
            </td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="6" style="text-align: right;">
                {% set shippingTotal = cart.adjustmentsTotal(taxAdjustment) + cart.adjustmentsTotal(shippingAdjustment) %}
                <strong>{{ 'sylius.ui.shipping_total'|trans }}</strong>: {{ shippingTotal|sylius_price }}
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p><strong>{{ 'sylius.ui.taxes'|trans }}</strong></p>
                <ul>
                {% for taxLabel, taxAmount in sylius_aggregate_adjustments(cart.getAdjustmentsRecursively(taxAdjustment)) %}
                    <li>{{ taxLabel }} {{ taxAmount|sylius_price }} </li>
                {% else %}
                    <li><span class="label label-info">{{ 'sylius.order.no_taxes'|trans }}</span></li>
                {% endfor %}
                </ul>
            </td>
            <td colspan="2" style="text-align: right;">
                <strong>{{ 'sylius.ui.tax_total'|trans }}</strong>: {{ cart.getAdjustmentsTotalRecursively(taxAdjustment)|sylius_price }}
            </td>
        </tr>
        <tr>
            <td colspan="6" style="text-align: right;">
                <strong>{{ 'sylius.ui.grand_total'|trans }}</strong>: {{ cart.total|sylius_price }}
            </td>
        </tr>
    </tfoot>
</table>

<div id="sylius-cart-coupons" class="well well-sm">
    <div id="sylius-cart-coupons-collection">
        {% if form.promotionCoupon is not null %}
            {{ form_row(form.promotionCoupon , {'label_attr': {'class': 'col-lg-12'}}) }}
        {% endif %}
    </div>
</div>

<div id="sylius-cart-additional-information" class="well well-sm">
    {{ form_row(form.additionalInformation, {'label_attr': {'class': 'col-lg-12'}}) }}
</div>

{{ form_rest(form) }}
<div class="well">
    <button type="submit" class="btn btn-primary btn-lg"><i class="icon-save"></i> {{ 'sylius.ui.save'|trans }}</button>
    <div class="pull-right">
    <a href="{{ path('sylius_checkout_start') }}" class="btn btn-success btn-lg"><i class="icon-shopping-cart"></i> {{ 'sylius.ui.checkout'|trans }}</a>
    <a href="{{ path('sylius_cart_clear') }}" class="btn btn-danger btn-lg"><i class="icon-remove"></i> {{ 'sylius.cart.summary.clear'|trans }}</a>
    </div>
</div>
</form>
{% else %}
    {{ alerts.info('sylius.cart.empty'|trans) }}
{% endif %}

{% endblock %}

{% block sylius_cart_item_row %}
{{ parent() }}
{% block form_message %}{% endblock %}
{% endblock %}
