{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% import 'SyliusWebBundle:Frontend/Macros:alerts.html.twig' as alerts %}

{% set taxAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::TAX_ADJUSTMENT') %}
{% set shippingAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::SHIPPING_ADJUSTMENT') %}
{% set promotionAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::PROMOTION_ADJUSTMENT') %}

{% form_theme form _self %}

{% block javascripts %}
{{ parent() }}
{% javascripts output='assets/compiled/frontend_cart_summary.js'
    'bundles/syliusweb/js/form-collection.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block content %}
<div class="page-header">
<h1>{{ 'sylius.cart.summary_header'|trans|raw }}</h1>
</div>

{% if not cart.empty %}
{{ form_errors(form) }}

<form action="{{ path('sylius_cart_save') }}" method="post" novalidate>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>{{ 'sylius.cart.summary.product'|trans }}</th>
            <th>{{ 'sylius.cart.summary.quantity'|trans }}</th>
            <th></th>
            <th>{{ 'sylius.cart.summary.unit_price'|trans }}</th>
            <th style="text-align: right;">{{ 'sylius.cart.summary.total'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart.items %}
            {% include 'SyliusWebBundle:Frontend/Cart:_item.html.twig' %}
        {% endfor %}
    </tbody>
    <tfoot>
        {% if cart.adjustmentsTotal(promotionAdjustment) %}
        <tr>
            <td colspan="6" style="text-align: right;">
                <strong>{{ 'sylius.order.promotion_total'|trans }}</strong>: {{ cart.adjustmentsTotal(promotionAdjustment)|sylius_price }}
            </td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="6" style="text-align: right;">
                <strong>{{ 'sylius.order.shipping_total'|trans }}</strong>: {{ cart.adjustmentsTotal(shippingAdjustment)|sylius_price }}
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p><strong>{{ 'sylius.order.taxes'|trans }}</strong></p>
                <ul>
                {% for taxAdjustment in cart.adjustments(taxAdjustment) %}
                    <li>{{ taxAdjustment.description }} {{ taxAdjustment.amount|sylius_price }} </li>
                {% else %}
                    <li><span class="label label-info">{{ 'sylius.order.no_taxes'|trans }}</span></li>
                {% endfor %}
                </ul>
            </td>
            <td colspan="2" style="text-align: right;">
                <strong>{{ 'sylius.order.tax_total'|trans }}</strong>: {{ cart.adjustmentsTotal(taxAdjustment)|sylius_price }}
            </td>
        </tr>
        <tr>
            <td colspan="6" style="text-align: right;">
                <strong>{{ 'sylius.cart.summary.grand_total'|trans }}</strong>: {{ cart.total|sylius_price }}
            </td>
        </tr>
    </tfoot>
</table>

<div id="sylius-cart-coupons" class="well well-sm" data-prototype="{{ form_row(form.promotionCoupons.vars.prototype)|e }}">
    <div id="sylius-cart-coupons-collection">
        {{ form_row(form.promotionCoupons, {'label_attr': {'class': 'col-lg-12'}}) }}
    </div>
    <br>
    <a href="#" class="btn btn-success btn-block" data-collection-button="add" data-prototype="sylius-cart-coupons" data-collection="sylius-cart-coupons-collection">
        {{ 'sylius.cart.summary.add_coupon'|trans }}
    </a>
</div>

{{ form_rest(form) }}
<div class="well">
    <button type="submit" class="btn btn-primary btn-lg"><i class="icon-save"></i> {{ 'sylius.cart.summary.save'|trans }}</button>
    <div class="pull-right">
    <a href="{{ path('sylius_checkout_start') }}" class="btn btn-success btn-lg"><i class="icon-shopping-cart"></i> {{ 'sylius.cart.summary.checkout'|trans }}</a>
    <a href="{{ path('sylius_cart_clear') }}" class="btn btn-danger btn-lg"><i class="icon-remove"></i> {{ 'sylius.cart.summary.clear'|trans }}</a>
    </div>
</div>
</form>
{% else %}
    {{ alerts.info('sylius.cart.empty'|trans) }}
{% endif %}

{% endblock %}

{% block sylius_cart_item_row %}
{{ parent() }}
{% block form_message %}{% endblock %}
{% endblock %}
