{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/PaymentMethod:macros.html.twig' import list %}
{% import 'SyliusUiBundle::page.html.twig' as page %}
{% import 'SyliusUiBundle::pagination.html.twig' as pagination %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.payment_method.index'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('payment_method.index', 'cog', 'SyliusWebBundle:Backend/PaymentMethod/Actions:_index.html.twig') }}

{{ pagination.standard(payment_methods) }}
{{ list(payment_methods) }}
{{ pagination.standard(payment_methods) }}
{% endblock %}
