{% macro list(payment_methods) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if payment_methods|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', 'sylius.payment_method.id'|trans) }}</th>
            <th>{{ sylius_resource_sort('name', 'sylius.payment_method.name'|trans) }}</th>
            <th>{{ sylius_resource_sort('gateway', 'sylius.payment_method.gateway'|trans) }}</th>
            <th>{{ sylius_resource_sort('enabled', 'sylius.payment_method.enabled'|trans) }}</th>
            <th>{{ sylius_resource_sort('updatedAt', 'sylius.payment_method.updated_at'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for payment_method in payment_methods %}
        <tr id="{{ payment_method.id }}">
            <td>{{ payment_method.id }}</td>
            <td>
                <strong>{{ payment_method.name }}</strong>
                <p>{{ payment_method.description }}</p>
            </td>
            <td><span class="label label-primary">{{ payment_method.gateway }}</span></td>
            <td>
                <span class="label label-{{ payment_method.enabled ? 'success' : 'danger'}}">
                    {{ payment_method.enabled ? 'sylius.yes'|trans : 'sylius.no'|trans }}
                </span>
            </td>
            <td>{{ payment_method.updatedAt|date }}</td>
            <td>
                <div class="pull-right">
                {{ buttons.edit(path('sylius_backend_payment_method_update', {'id': payment_method.id})) }}
                {{ buttons.delete(path('sylius_backend_payment_method_delete', {'id': payment_method.id})) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.payment_method.no_results'|trans) }}
{% endif %}

{% endmacro %}
