{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li><a href="{{ path('sylius_backend_payment_method_index') }}">{{ 'sylius.breadcrumb.payment_method.index'|trans }}</a></li>
    <li>{{ payment_method.name }}</li>
    <li>{{ 'sylius.breadcrumb.edit'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('sylius_backend_payment_method_update', {'id': payment_method.id}), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

{{ page.header('payment_method.update', 'pencil', 'SyliusUiBundle:Form/Actions:_update.html.twig') }}

{{ form_errors(form) }}
{% include 'SyliusWebBundle:Backend/PaymentMethod:_form.html.twig' %}
<input type="hidden" name="_method" value="PUT">

{{ form_end(form) }}
{% endblock %}
