{% import 'SyliusUiBundle:Macro:buttons.html.twig' as buttons %}

<tr>
    <td>{{ tax_category.code }}</td>
    <td>{{ tax_category.name }}</td>
    <td>{{ tax_category.updatedAt|date }}</td>
    <td>
        <div class="ui buttons">
            {{ buttons.edit(path(configuration.getRouteName('update'), {'id': tax_category.id})) }}
            {{ buttons.delete(path(configuration.getRouteName('delete'), {'id': tax_category.id})) }}
        </div>
    </td>
</tr>
