{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/Locale:macros.html.twig' import list %}
{% import 'SyliusUiBundle::page.html.twig' as page %}
{% import 'SyliusUiBundle::pagination.html.twig' as pagination %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.locale.index'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('locale.index', 'flag', 'SyliusWebBundle:Backend/Locale/Actions:_index.html.twig') }}

{{ pagination.standard(locales) }}
{{ list(locales) }}
{{ pagination.standard(locales) }}

{% endblock %}
