{% from 'SyliusWebBundle:Frontend/Macros:actions.html.twig' import update %}
<h4>{{ 'sylius.form.frontend.password.title'|trans }}</h4>
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <fieldset>
        {{ form_row(form.current_password, {'label': 'sylius.form.frontend.password.current'}) }}
        {{ form_row(form.new.first, {'label': 'sylius.form.frontend.password.new'}) }}
        {{ form_row(form.new.second, {'label': 'sylius.form.frontend.password.confimration'}) }}
    </fieldset>
    {{ form_rest(form) }}
    {{ update() }}
</form>
