{% from 'SyliusWebBundle:Frontend/Macros:actions.html.twig' import update %}

<h4>{{ 'sylius.form.frontend.password.title'|trans }}</h4>

{{ form_errors(form) }}

<form action="{{ path('sylius_account_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <fieldset>
        {{ form_row(form.currentPassword, {'label': 'sylius.form.frontend.password.current'|trans}) }}
        {{ form_row(form.newPassword.first, {'label': 'sylius.form.frontend.password.new'|trans}) }}
        {{ form_row(form.newPassword.second, {'label': 'sylius.form.frontend.password.confirmation'|trans}) }}
    </fieldset>
    {{ form_rest(form) }}
    {{ update() }}
</form>
