<h4>{{ 'sylius.account.home.welcome'|trans }}</h4>
<br>

<div class="row">
    <div class="col-md-6">{{ 'sylius.account.home.outline'|trans }} </div>
    <div class="col-md-6">
        <strong>{{ app.user.lastName|upper }} {{ app.user.firstName }}</strong><br>
        <i>{{ user.email }}</i>

        <br><br>
        {{ 'sylius.account.home.since'|trans }} {{ app.user.createdAt|date() }}.
    </div>
</div>
