{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.user.password.reset.header'|trans|raw }}</h1>
</div>

<form action="{{ path('sylius_user_request_password_reset_token') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <fieldset>
        {{ form_row(form.email) }}
    </fieldset>
    {{ form_rest(form) }}
    
    <div class="form-actions clearfix">
        <button class="btn btn-primary" type="submit">
            <i class="icon-lock"></i>
            {{ 'sylius.user.password.reset.button'|trans|raw }}
        </button>
    </div>
</form>
{% endblock %}
