{% import 'SyliusWebBundle:Frontend/Macros:buttons.html.twig' as buttons %}
{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}
{% from 'SyliusWebBundle:Frontend/Macros:actions.html.twig' import update %}

{% block content %}

<h4>{{ 'sylius.form.frontend.password.title'|trans }}</h4>

{{ form_errors(form) }}

<form action="{{ path('sylius_user_password_reset', { 'token' : user.confirmationToken}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <fieldset>
        {{ form_row(form.newPassword.first, {'label': 'sylius.form.frontend.password.new'|trans}) }}
        {{ form_row(form.newPassword.second, {'label': 'sylius.form.frontend.password.confirmation'|trans}) }}
    </fieldset>
    {{ form_rest(form) }}
    {{ update() }}
</form>

{% endblock %}
