{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Content/Block/Slideshow:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.content'|trans }}</li>
    <li><a href="{{ path('sylius_backend_block_overview') }}">{{ 'sylius.ui.blocks'|trans }}</a></li>
    <li>{{ 'sylius.ui.slideshow_blocks'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_slideshow_block_create'), 'sylius.ui.create_slideshow_block'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-film"></i> {{ 'sylius.ui.slideshow_blocks'|trans|raw }}</h1>
</div>

{{ pagination(slideshow_blocks) }}
{{ list(slideshow_blocks) }}
{{ pagination(slideshow_blocks) }}

{% endblock %}
