{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.content'|trans }}</li>
    <li><a href="{{ path('sylius_backend_block_overview') }}">{{ 'sylius.breadcrumb.block.index'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_slideshow_block_index') }}">{{ 'sylius.breadcrumb.block.slideshow.index'|trans }}</a></li>
    <li>{{ 'sylius.breadcrumb.edit'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-pencil"></i> {{ 'sylius.block.slideshow.update_header'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('sylius_backend_slideshow_block_update', {'id': slideshow_block.id}) }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/Content/Block/Slideshow:_form.html.twig' %}
    {{ update() }}
</form>
{% endblock %}
