{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/ApiClient:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.configuration'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.api_client.index'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_api_client_create'), 'sylius.api_client.create'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-flag"></i> {{ 'sylius.api_client.index_header'|trans|raw }}</h1>
</div>

{{ pagination(api_clients) }}
{{ list(api_clients) }}
{{ pagination(api_clients) }}

{% endblock %}
