{% macro list(api_clients) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% if api_clients|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ sylius_resource_sort('secret', 'sylius.api_client.secret'|trans) }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for api_client in api_clients %}
            <tr id="{{ api_client.id }}">
                <td>{{ api_client.secret }}</td>
                <td>
                    <div class="pull-right">
                    {{ buttons.edit(path('sylius_backend_api_client_update', {'id': api_client.id})) }}
                    {{ buttons.delete(path('sylius_backend_api_client_delete', {'id': api_client.id})) }}
                   </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
{{ alerts.info('sylius.api_client.no_results'|trans) }}
{% endif %}

{% endmacro %}
