{% extends '@SyliusShop/checkout/shared/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}
{% import '@SyliusShop/shared/macro/navigation_buttons.html.twig' as navigation %}

{% block title %}{{ 'sylius.ui.payment'|trans }} | {{ parent() }}{% endblock %}
{% block content_title %}{{ 'sylius.ui.payment'|trans }}{% endblock %}

{% set active_step = 'select_payment' %}

{% block content %}
    <div>
        {{ form_start(form, {'action': path('sylius_shop_checkout_select_payment'), 'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}
        <input type="hidden" name="_method" value="PUT" />

        {% include '@SyliusShop/checkout/select_payment/form.html.twig' %}
        {% if sylius_is_shipping_required(order) %}
            {{ navigation.default('sylius.ui.change_shipping_method'|trans, path('sylius_shop_checkout_select_shipping')) }}
        {% else %}
            {{ navigation.default('sylius.ui.change_address'|trans, path('sylius_shop_checkout_address')) }}
        {% endif %}

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
