{% extends 'form_div_layout.html.twig' %}

{% block choice_widget_collapsed %}
{% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
{{ parent() }}
{% endblock choice_widget_collapsed %}

{% block textarea_widget %}
{% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
{{ parent() }}
{% endblock textarea_widget %}

{% block form_widget_simple %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {% set type = type|default('text') %}

    {% if 'file' == type %}
        {% if image_path|default(false) %}
        <a href="{{ image_path|imagine_filter('sylius_gallery') }}"
           data-gallery="gallery"
           class="pull-left">
            <img class="img-rounded"
                 src="{{ image_path|imagine_filter('sylius_90x60') }}" alt="" />
        </a>
        {% endif %}
       <div class="pull-left">
        <span class="btn-primary btn-lg file-overlay">
            <i class="icon-folder-open"></i>
            {{ 'sylius.form.choose_file'|trans }}
        </span>
    {% endif %}
    {{ parent() }}
    {% if 'file' == type and image_path|default(false) %}</div>{% endif %}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block form_label %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ ' control-label col-lg-2'}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_label %}

{% block money_widget %}
{% spaceless %}
    <div class="input-group">
        <span class="input-group-addon">{{ money_pattern|replace({'{{ widget }}': ''}) }}</span>
        {{ block('form_widget_simple') }}
    </div>
{% endspaceless %}
{% endblock money_widget %}

{% block percent_widget %}
{% spaceless %}
    <div class="input-group">
        <span class="input-group-addon">%</span>
        {{ block('form_widget_simple') }}
    </div>
{% endspaceless %}
{% endblock percent_widget %}

{% block datetime_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div class="form-group">
        {{ form_widget(form.date) }}
        {{ form_widget(form.time) }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
            {{ '{{ year }} / {{ month }} / {{ day }}'|replace({
            '{{ year }}':  form_widget(form.year, {'attr': {'style': 'display: inline; width: 100px;'}}),
            '{{ month }}': form_widget(form.month, {'attr': {'style': 'display: inline; width: 100px;'}}),
            '{{ day }}':   form_widget(form.day, {'attr': {'style': 'display: inline; width: 100px;'}}),
            })|raw }}
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set vars = widget == 'text' ? { 'attr': { 'size': 1, 'style': 'width: 60px; display: inline;' }} : {} %}
        &nbsp;{{ form_widget(form.hour, vars) }}{% if with_minutes %}:{{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %} {{ form_widget(form.second, vars) }}{% endif %}
    {% endif %}
{% endspaceless %}
{% endblock time_widget %}

{% block form_row %}
{% spaceless %}
    <div class="{% if not compound %}form-group{% endif %}{% if errors|length > 0 %} has-error{% endif %}">
        {{ form_label(form) }}
        <div {% if label %}class="col-lg-10"{% endif %}>
        {{ form_widget(form) }}
        {% for error in errors %}
            <span class="help-block form-error">
                {{
                    error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }}
            </span>
        {% endfor %}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block sylius_shipping_method_choice_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <div>
                    {% if shipping_costs[child.vars.value] is defined %}
                        <span class="pull-right text-muted">{{ shipping_costs[child.vars.value]|sylius_price }}</span>
                    {% endif %}
                    <label{% for attrname, attrvalue in child.vars.label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                        {{ form_widget(child) }}
                        {{ child.vars.label|trans({}, translation_domain) }}
                    </label>
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block collection_widget %}
    {% from 'SyliusWebBundle:Macro:notification.html.twig' import error %}
    {% set attr = attr|merge({'class': attr.class|default ~ ' controls collection-widget'}) %}

    {% spaceless %}
        <div data-form-type="collection"
            {{ block('widget_container_attributes') }}
            {% if prototype is not empty %}
            data-prototype='{{ _self.collectionItem(prototype, item_by_line, allow_delete)|e }}'
            {% endif %}>

            {{ error(form.vars.errors) }}

            {% if prototypes|default is iterable %}
                {% for key, subPrototype in prototypes %}
                    <input type="hidden"
                           data-form-prototype="{{ key }}"
                           value="{{ _self.collectionItem(subPrototype, item_by_line, allow_delete)|e }}" />
                {% endfor %}
            {% endif %}

            <div data-form-collection="list"
                 class="row collection-list">
                {% for child in form %}
                    {{ _self.collectionItem(child, item_by_line, allow_delete) }}
                {% endfor %}
            </div>

            {% if prototype is defined and allow_add %}
                <a href="#" class="btn btn-success btn-block collection-button-add"
                        data-form-collection="add">
                    <i class="glyphicon glyphicon-plus"></i>
                    {{ button_add_label | trans }}
                </a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock collection_widget %}

{% macro collectionItem(form, item_by_line, allow_delete) %}
    {% set boxWidth = (12 / item_by_line)|number_format %}

    {% spaceless %}
        <div data-form-collection="item"
             class="col-md-{{ boxWidth }} collection-item">
            <div class="collection-box{% if form|length == 1%} unique-field{% endif %}">
                {% if allow_delete %}
                    <a href="#" data-form-collection="delete">
                        <i class="glyphicon glyphicon-remove collection-button-remove"></i>
                    </a>
                {% endif %}

                {{ form_rest(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}
