{% from 'SyliusWebBundle:Frontend/Macros:actions.html.twig' import update %}
{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}

{% block content %}
    <h4>{{ 'sylius.ui.reset_password'|trans }}</h4>

    {{ form_errors(form) }}

    <form action="{{ path('sylius_account_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
        <fieldset>
            {{ form_row(form.currentPassword, {'label': 'sylius.ui.current_password'|trans}) }}
            {{ form_row(form.newPassword.first, {'label': 'sylius.ui.new_password'|trans}) }}
            {{ form_row(form.newPassword.second, {'label': 'sylius.ui.confirmation'|trans}) }}
        </fieldset>
        {{ form_rest(form) }}
        {{ update() }}
    </form>
{% endblock %}
