{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.ui.login_sylius_store'|trans|raw }}</h1>
</div>

{% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}

<blockquote>
  <p>{{ 'sylius.security.login.info'|trans|raw }}</p>
</blockquote>

<form action="{{ path('sylius_user_security_check') }}" method="post" class="form-horizontal" >
    <fieldset>
        {{ form_errors(form) }}

        {{ form_row(form._username) }}
        {{ form_row(form._password) }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <div class="checkbox">
                    <label for="remember_me">
                        {{ 'sylius.form.user.remember_me'|trans }} &nbsp; <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    </label>
                </div>
            </div>
        </div>

        {{ form_rest(form) }}
    <div class="pull-right">
        <p>
            <a href="{{ path('sylius_user_request_password_reset_token') }}" class="btn btn-info btn-sm">{{ 'sylius.ui.forgot_password'|trans }}</a>
            <a href="{{ path('sylius_user_registration') }}" class="btn btn-primary btn-sm">{{ 'sylius.security.login.no_account'|trans }}</a>
        </p>
    </div>
    </fieldset>
    
    <div class="form-actions clearfix">
        <button class="btn btn-primary btn-lg" type="submit">
            <i class="icon-lock"></i>
            {{ 'sylius.ui.login_button'|trans }}
        </button>
    </div>
</form>
{% endblock %}
