{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.ui.registration_create_an_account_in_store'|trans|raw }}</h1>
</div>

<form action="{{ path('sylius_user_registration') }}" method="post" class="form-horizontal" >
    <fieldset class="well">
        {{ form_errors(form) }}

        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.user.plainPassword) }}

        {{ form_rest(form) }}
    </fieldset>
    
    <div class="form-actions clearfix">
        <button class="btn btn-success btn-lg" type="submit">
            <i class="icon-user"></i>
            {{ 'sylius.ui.register_button'|trans|raw }}
        </button>
    </div>
</form>
{% endblock %}
