{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Content/Block/Simple:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.content'|trans }}</li>
    <li><a href="{{ path('sylius_backend_block_overview') }}">{{ 'sylius.ui.blocks'|trans }}</a></li>
    <li>{{ 'sylius.ui.simple_blocks'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_simple_block_create'), 'sylius.ui.create_simple_block'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-th-large"></i> {{ 'sylius.ui.simple_blocks'|trans|raw }}</h1>
</div>

{{ pagination(simple_blocks) }}
{{ list(simple_blocks) }}
{{ pagination(simple_blocks) }}

{% endblock %}
