{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Prototype:macros.html.twig' import list %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.prototype.index_header'|trans|raw }}</h1>
</div>

<div class="well">
    {{ buttons.create(path('sylius_backend_prototype_create'), 'sylius.prototype.create'|trans) }}
    {{ buttons.manage(path('sylius_backend_option_index'), 'sylius.option.manage'|trans) }}
    {{ buttons.manage(path('sylius_backend_property_index'), 'sylius.property.manage'|trans) }}
    </a>
</div>

{{ pagination(prototypes) }}
{{ list(prototypes) }}
{{ pagination(prototypes) }}

{% endblock %}
