{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/ExchangeRate:macros.html.twig' import list %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.exchange_rate.index_header'|trans|raw }}</h1>
</div>

<div class="well">
    {{ buttons.create(path('sylius_backend_exchange_rate_create'), 'sylius.exchange_rate.create'|trans) }}
</div>

{{ pagination(exchange_rates) }}
{{ list(exchange_rates) }}
{{ pagination(exchange_rates) }}

{% endblock %}
