{% macro list(countries) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if countries|length > 0 %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', 'sylius.exchange_rate.id'|trans) }}</th>
            <th>{{ sylius_resource_sort('currency', 'sylius.exchange_rate.currency'|trans) }}</th>
            <th>{{ sylius_resource_sort('rate', 'sylius.exchange_rate.rate'|trans) }}</th>
            <th>{{ sylius_resource_sort('updatedAt', 'sylius.exchange_rate.updated_at'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for exchange_rate in countries %}
        <tr id="{{ exchange_rate.id }}">
            <td>{{ exchange_rate.id }}</td>
            <td>{{ exchange_rate.currencyName }}</td>
            <td><span class="label label-primary">{{ exchange_rate.rate }}</span></td>
            <td>{{ exchange_rate.updatedAt|date }}</td>
            <td>
                <div class="pull-right">
                {{ buttons.edit(path('sylius_backend_exchange_rate_update', {'id': exchange_rate.id})) }}
                {{ buttons.delete(path('sylius_backend_exchange_rate_delete', {'id': exchange_rate.id})) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.exchange_rate.no_results'|trans) }}
{% endif %}

{% endmacro %}
