<div class="ui segment">
    <h2><i class="bar chart icon"></i>{{ 'sylius.ui.orders_statistics'|trans }}</h2> {# TODO transchoice instead of trans below#}

    {% if statistics.perChannelsStatistics is not empty %}
    <h4 class="sylius-orders-overall-count">{{ 'sylius.ui.overall_this_customer_has_placed_orders_across_all_channels.choice'|transchoice(statistics.allOrdersCount) }}</h4>

    <div class="ui styled accordion">
        {% for statistic in statistics.perChannelsStatistics %}
        <div class="title{% if loop.first %} active{% endif %}">
            {% if statistic.channel.color is not empty %}
            <span class="ui large empty horizontal circular label" style="background-color: {{ statistic.channel.color }}"></span>
            {% endif %}
            {{ statistic.channel.name }}
        </div>
        <div class="content{% if loop.first %} active{% endif %}">
            <div class="ui fitted divider"></div>
            {% include 'SyliusAdminBundle:Customer/Show/Statistics:_perChannel.html.twig' with {'statistics': statistic, 'channel': statistic.channel} only %}
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h4>{{ 'sylius.ui.this_customer_has_not_placed_any_orders_yet'|trans }}</h4>
    {% endif %}
</div>
