{% macro pagination(paginator, options) %}
{% if paginator.haveToPaginate()|default(false) %}
<div class="row">
    <div class="col-xs-9">
        {{ pagerfanta(paginator, 'twitter_bootstrap3_translated', options|default({})) }}
    </div>

    <div class="col-xs-3">
        <div class="pull-right">
            <div class="btn-group paginator">
                {{ sylius_resource_paginate(paginator, [10,20,30]) }}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro shipment_state(state) %}

{% if state == 'pending' %}
    {% set class = 'danger' %}
{% elseif state == 'dispatched' %}
    {% set class = 'info' %}
{% elseif state == 'returned' %}
    {% set class = 'warning' %}
{% else %}
    {% set class = 'success' %}
{% endif %}

<span class="label label-{{ class }} label-state">{{ state|trans|humanize }}</span>
{% endmacro %}

{% macro state_label(state, type) %}
{% if type == 'payment' %}
    {% set label = 'sylius.payment.state.'~state %}
    {% if state is sameas('completed') %}
        {% set class = 'label-success' %}
    {% elseif state in ['checkout', 'processing', 'new'] %}
        {% set class = 'label-primary' %}
    {% else %}
        {% set class = 'label-danger' %}
    {% endif %}
{% elseif type == 'order' %}
    {% if state is sameas(1) %}
        {% set label = 'sylius.order.state.checkout' %}
        {% set class = 'label-warning' %}
    {% elseif state is sameas(2) %}
        {% set label = 'sylius.order.state.cart_locked' %}
        {% set class = 'label-default' %}
    {% elseif state is sameas(3) %}
        {% set label = 'sylius.order.state.ordered' %}
        {% set class = 'label-info' %}
    {% else %}
        {% set label = 'sylius.order.state.order_confimed' %}
        {% set class = 'label-success' %}
    {% endif %}
{% else %}
    {% if state %}
        {% set label = 'sylius.yes' %}
        {% set class = 'label-success' %}
    {% else %}
        {% set label = 'sylius.no' %}
        {% set class = 'label-danger' %}
    {% endif %}
{% endif %}
<span class="label {{ class }}">{{ label|trans }}</span>
{% endmacro %}

{% macro payment_form(payment) %}
{% for transition in ['cancel', 'complete', 'refund'] if sm_can(payment, transition, 'sylius_payment') -%}
    <form action="{{ path('sylius_backend_payment_update_state', {'id': payment.id, 'transition': transition}) }}" method="post" style="display: inline">
        <input type="hidden" name="_method" value="PUT">
        <button class="btn btn-{{ transition == 'cancel' ? 'warning' : 'primary' }}" type="submit">
            <i class="glyphicon glyphicon-{{ transition == 'cancel' ? 'remove' : 'share' }}"></i> <span>{{ transition }}</span>
        </button>
    </form>
{%- endfor %}
{% endmacro %}
