{% macro pagination(paginator, options) %}
{% if paginator.haveToPaginate()|default(false) %}
<div class="row">
    <div class="col-xs-9">
        {{ pagerfanta(paginator, 'twitter_bootstrap3_translated', options|default({})) }}
    </div>

    <div class="col-xs-3">
        <div class="pull-right">
            <div class="btn-group paginator">
                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ paginator.maxPerPage }} &nbsp;<i class="icon-angle-down"></i></a>
                <ul class="dropdown-menu pull-left" role="menu">
                    <li><a href="#">10</a></li>
                    <li><a href="#">25</a></li>
                    <li><a href="#">50</a></li>
                    <li><a href="#">100</a></li>
                </ul>
            </div>
            / {{ paginator.nbResults }}
        </div>
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro state_label(state, type) %}
{% if type == 'payment' %}
    {% set label = 'sylius.payment.state.'~state %}
    {% if state is sameas('completed') %}
        {% set class = 'label-success' %}
    {% elseif state in ['checkout', 'processing', 'new'] %}
        {% set class = 'label-info' %}
    {% else %}
        {% set class = 'label-danger' %}
    {% endif %}
{% elseif type == 'order' %}
    {% if state is sameas(1) %}
        {% set label = 'sylius.order.state.in_cart' %}
        {% set class = 'label-warning' %}
    {% elseif state is sameas(2) %}
        {% set label = 'sylius.order.state.cart_locked' %}
        {% set class = 'label-default' %}
    {% elseif state is sameas(3) %}
        {% set label = 'sylius.order.state.ordered' %}
        {% set class = 'label-info' %}
    {% else %}
        {% set label = 'sylius.order.state.order_confimed' %}
        {% set class = 'label-success' %}
    {% endif %}
{% else %}
    {% if state %}
        {% set label = 'sylius.yes' %}
        {% set class = 'label-success' %}
    {% else %}
        {% set label = 'sylius.no' %}
        {% set class = 'label-danger' %}
    {% endif %}
{% endif %}
<span class="label {{ class }}">{{ label|trans }}</span>
{% endmacro %}
