{% macro formatValue(key, value) %}
{% if value.timestamp is defined %}
    {{ value|date() }}
{% elseif key == 'price' or key == 'unitPrice' %}
    {{ value|sylius_price() }}
{% elseif value is empty %}
    <em>{{ 'sylius.ui.empty'|trans }}</em>
{% elseif value is iterable %}
    {{ value|json_encode }}
{% else %}
    {{ value }}
{% endif %}
{% endmacro %}

{% set length = logs|length %}
{% if length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th class="action">{{ 'sylius.ui.action'|trans }}</th>
            <th class="logged-at">{{ 'sylius.history.logged_at'|trans }}</th>
            <th class="data">{{ 'sylius.ui.data'|trans }}</th>
            <th class="author">{{ 'sylius.ui.author'|trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for log in logs %}
        <tr>
            <td><span class="label label-{{ log.action == 'danger' ? 'warning' : (log.action == 'update' ? 'success' : 'primary') }}">{{ log.action|upper }}</span></td>
            <td>{{ log.loggedAt|date }} (#{{ log.version }})</td>
            <td>
                {% if log.data is not empty %}
                <ul>
                    {% for key, value in log.data %}
                    <li>
                        <strong>{{ key|humanize }}</strong>:
                        {% if value is iterable %}
                            <ul>
                            {% for k, v in value %}
                                <li>{{ k|humanize }}: {{ _self.formatValue(k, v) }}</li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            {{ _self.formatValue(key, value) }}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>{{ log.username|default('unknown') }}</td>
            <td>
                {% if revert_route is defined and (log.version != 1 or length > 1) and not loop.first and not disabled is defined %}
                    {{ buttons.patch(path(revert_route, {'id': log.objectId, 'version': log.version}), 'sylius.ui.revert'|trans) }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.ui.there_are_no_logged_events_to_display'|trans) }}
{% endif %}
