<!DOCTYPE html>

<html>
    <head>
        <title>
            {% block title %}
                {{ 'sylius.meta.backend_title'|trans }}
            {% endblock %}
        </title>
        <meta charset="UTF-8">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>

        {% block stylesheets %}
            {% stylesheets output='assets/compiled/backend.css' filter='cssrewrite'
                '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'
                '//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'
                '@SyliusWebBundle/Resources/assets/css/backend.css'
                '@SyliusWebBundle/Resources/assets/css/blueimp-gallery.min.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        {% include 'SyliusWebBundle:Backend:_navbar.html.twig' %}
        <div class="row main-container">
            <div class="col-md-2 hidden-sm hidden-xs">
                {% block sidebar %}
                <div id="sidebar">
                    <div class="sidebar-nav">
                        {{ knp_menu_render('sylius.backend.sidebar', {'template': 'SyliusWebBundle::menu.html.twig', 'currentClass': 'active'}) }}
                    </div>
                </div>
                {% endblock %}
            </div>
            <div class="col-md-10">
                <div id="topbar">
                    {% block topbar %}
                    {% include 'SyliusWebBundle:Backend:_breadcrumb.html.twig' %}
                    {% endblock %}
                </div>
                <div id="content">
                {% include 'SyliusWebBundle:Backend:_flashes.html.twig' %}

                {% block content %}
                {% endblock %}

                <hr>

                {% include 'SyliusWebBundle::gallery.html.twig' %}

                <footer>
                    <p>&copy; <a href="http://Sylius.org">Sylius</a>, 2011 - {{ 'now'|date('Y') }}.</p>
                </footer>
                </div>
            </div>
        </div>

        {# javascripts... #}
        {% block javascripts %}
        {% javascripts output='assets/compiled/backend.js'
            'http://code.jquery.com/jquery-1.8.0.min.js'
            'http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'
            '@SyliusWebBundle/Resources/assets/js/jquery.blueimp-gallery.min.js'
            '@SyliusWebBundle/Resources/assets/js/form-collection.js'
            '@SyliusWebBundle/Resources/assets/js/form-spinner.js'
            '@SyliusWebBundle/Resources/assets/js/select2.js'
            '@SyliusWebBundle/Resources/assets/js/backend.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    </body>
</html>
