{% set orderPromotionAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::ORDER_PROMOTION_ADJUSTMENT') %}

<td colspan="2" id="promotion-discounts">
    {% set orderPromotions = sylius_aggregate_adjustments(order.getAdjustmentsRecursively(orderPromotionAdjustment)) %}
    {% if not orderPromotions is empty %}
        <div class="ui relaxed divided list">
            {% for label, amount in orderPromotions %}
                <div class="item">
                    <div class="content">
                        <div class="header">{{ label }}</div>
                        <div class="description">
                            {{ amount|sylius_price(order.currencyCode, order.exchangeRate) }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>{{ 'sylius.ui.no_promotion'|trans }}.</p>
    {% endif %}
</td>
<td colspan="2" id="promotion-total" class="right aligned">
    <strong>{{ 'sylius.ui.promotion_total'|trans }}</strong>:
    {{ order.orderPromotionTotal|sylius_price(order.currencyCode, order.exchangeRate) }}
</td>
