{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set orderPromotionAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::ORDER_PROMOTION_ADJUSTMENT') %}
{% set orderPromotions = sylius_aggregate_adjustments(order.getAdjustmentsRecursively(orderPromotionAdjustment)) %}

{% if not orderPromotions is empty %}
    <td colspan="2" {{ sylius_test_html_attribute('promotion-discounts') }}>
        <div>
            {% for label, amount in orderPromotions %}
                <div>
                    <div>{{ label }}</div>
                    <div>{{ money.convertAndFormat(amount) }}</div>
                </div>
            {% endfor %}
        </div>
    </td>
{% endif %}
<td colspan="{% if not orderPromotions is empty %}2{% else %}4{% endif %}" {{ sylius_test_html_attribute('promotion-total') }}>
    {{ 'sylius.ui.promotion_total'|trans }}:
    {{ money.format(order.orderPromotionTotal, order.currencyCode) }}
</td>
