{% import '@SyliusShop/Common/messages.html.twig' as messages %}
{% import '@SyliusShop/Common/pagination.html.twig' as pagination %}

{{ sylius_template_event('sylius.shop.product.index.search', _context) }}

{{ sylius_template_event('sylius.shop.product.index.before_list', {'products': resources.data}) }}

{% if resources.data|length > 0 %}
    <div {{ sylius_test_html_attribute('products') }}>
        {% for product in resources.data %}
            {% include '@SyliusShop/Product/_box.html.twig' %}
        {% endfor %}
    </div>

    {{ sylius_template_event('sylius.shop.product.index.before_pagination', {'products': resources.data}) }}

    {{ pagination.simple(resources.data) }}
{% else %}
    {{ messages.info('sylius.ui.no_results_to_display') }}
{% endif %}
