<form method="get" action="{{ path('sylius_shop_product_index', {'slug': app.request.attributes.get('slug')}) }}">
    <div>
        <div>
            {% for filter in products.definition.enabledFilters %}
                {{ sylius_grid_render_filter(products, filter) }}
            {% endfor %}
        </div>
        <div>
            <div>
                <button type="submit" {{ sylius_test_html_attribute('search') }}>{{ 'sylius.ui.search'|trans }}</button>
                <a href="{{ path('sylius_shop_product_index', {'slug': app.request.attributes.get('slug')}) }}" {{ sylius_test_html_attribute('clear') }}>
                    {{ 'sylius.ui.clear'|trans }}
                </a>
            </div>
        </div>
    </div>
</form>
