{% if resources.data.nbResults > 0 %}

{% set definition = resources.definition %}

{% set route = app.request.attributes.get('_route') %}
{% set route_parameters = app.request.attributes.get('_route_params') %}

{% set criteria = app.request.query.get('criteria', {}) %}

{% set default_path = path(route, {'criteria': criteria}|merge(route_parameters)) %}
{% set oldest_first_path = path(route, {'sorting': {'createdAt': 'asc'}, 'criteria': criteria}|merge(route_parameters)) %}
{% set newest_first_path = path(route, {'sorting': {'createdAt': 'desc'}, 'criteria': criteria}|merge(route_parameters)) %}

{% if app.request.query.get('sorting') is empty %}
    {% set current_sorting_label = 'sylius.ui.by_position'|trans|lower %}
{% elseif  app.request.get('sorting').createdAt == 'desc' %}
    {% set current_sorting_label = 'sylius.ui.newest_first'|trans|lower %}
{% else %}
    {% set current_sorting_label = 'sylius.ui.oldest_first'|trans|lower %}
{% endif %}

<div class="ui right floated small header">
    <div class="content">
        {{ 'sylius.ui.display'|trans }}
        <div class="ui inline dropdown">
            <div class="text">{{ current_sorting_label }}</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{{ default_path }}" data-text="{{ 'sylius.ui.by_position'|trans|lower }}">{{ 'sylius.ui.by_position'|trans }}</a>
                <a class="item" href="{{ newest_first_path }}" data-text="{{ 'sylius.ui.newest_first'|trans|lower }}">{{ 'sylius.ui.newest_first'|trans }}</a>
                <a class="item" href="{{ oldest_first_path }}" data-text="{{ 'sylius.ui.oldest_first'|trans|lower }}">{{ 'sylius.ui.oldest_first'|trans }}</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
