{% import '@SyliusShop/Common/Macro/money.html.twig' as money %}

<div class="item" {{ sylius_test_html_attribute('shipping-item') }}>
    <div class="field">
        <div class="ui radio checkbox" {{ sylius_test_html_attribute('shipping-method-checkbox') }}>
            {{ form_widget(form, sylius_test_form_attribute('shipping-method-select')) }}
        </div>
    </div>
    <div class="content">
        <a class="header" {{ sylius_test_html_attribute('shipping-method-label') }}>{{ form_label(form) }}</a>
        {% if method.description is not null %}
            <div class="description">
                <p>{{ method.description }}</p>
            </div>
        {% endif %}
    </div>
    <div class="extra">
        <div class="ui large right floated fee label" {{ sylius_test_html_attribute('shipping-method-fee') }}>
            {{ money.convertAndFormat(fee) }}
        </div>
    </div>
</div>
