{% form_theme form '@SyliusAdmin/Form/theme.html.twig' %}

<div class="ui middle aligned center aligned grid">
    <div class="column">
        {{ sylius_template_event('sylius.admin.reset_password.before_form') }}

        {{ form_start(form, {action: path('sylius_admin_reset_password'), 'attr': {'class': 'ui large loadable form', 'novalidate': 'novalidate'}}) }}
        <div class="ui left aligned very padded segment">
            {{ sylius_template_event('sylius.admin.reset_password.form.content', _context) }}
        </div>
        {{ form_end(form, {'render_rest': false}) }}

        {{ sylius_template_event('sylius.admin.reset_password.after_form') }}
    </div>
</div>
