{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

<fieldset>
    {{ form_row(form.translations, {'attr': {'class': 'input-lg'}}) }}
    {{ form_row(form.code, {'attr': {'class': 'input-lg'}}) }}
    {{ form_row(form.type, {'attr': {'class': 'input-lg'}}) }}
    {% if form.configuration is defined %}
        {{ form_row(form.configuration) }}
    {% endif %}
    {% if form.validation is defined %}
        {{ form_row(form.validation) }}
    {% endif %}
    <div id="sylius_form_choice_container">
        {% if form.choices is defined %}
            {{ form_row(form.choices) }}
        {% endif %}
    </div>
</fieldset>

{{ form_widget(form._token) }}
