{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page %}
{% import 'SyliusUiBundle::pagination.html.twig' as pagination %}
{% from 'SyliusWebBundle:Backend/ProductAttribute:macros.html.twig' import list %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.attribute.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('product_attribute.index', 'list', 'SyliusWebBundle:Backend/ProductAttribute/Actions:_index.html.twig') }}

{{ pagination.standard(product_attributes) }}
{{ list(product_attributes) }}
{{ pagination.standard(product_attributes) }}
{% endblock %}
