{% macro list(product_attributes) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if product_attributes|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ sylius_resource_sort('id', '#id') }}</th>
                <th>{{ sylius_resource_sort('name', 'sylius.product_attribute.name'|trans) }}</th>
                <th>{{ sylius_resource_sort('presentation', 'sylius.product_attribute.presentation'|trans) }}</th>
                <th>{{ sylius_resource_sort('type', 'sylius.product_attribute.type'|trans) }}</th>
                <th>{{ sylius_resource_sort('updatedAt', 'sylius.product_attribute.updated_at'|trans) }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for attribute in product_attributes %}
            <tr id="{{ attribute.id }}">
                <td>{{ attribute.id }}</td>
                <td>{{ attribute.name }}</td>
                <td>{{ attribute.presentation }}</td>
                <td><span class="label label-primary">{{ attribute.type|upper }}</span></td>
                <td>{{ attribute.updatedAt|date }}</td>
                <td>
                    <div class="pull-right">
                    {{ buttons.edit(path('sylius_backend_product_attribute_update', {'id': attribute.id})) }}
                    {{ buttons.delete(path('sylius_backend_product_attribute_delete', {'id': attribute.id})) }}
                   </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
{{ alerts.info('sylius.product_attribute.no_results'|trans) }}
{% endif %}

{% endmacro %}
