{% form_theme form 'SyliusWebBundle:Backend/Report:_forms.html.twig' %}

<fieldset>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.code) }}
        </div>
        <hr>
        <div class="col-md-6">
            {{ form_row(form.dataFetcher) }}
            {% for name, dataFetcherConfigurationPrototype in form.vars.prototypes.dataFetchers %}
                <div id="{{ form.dataFetcher.vars.id }}_{{ name }}" data-container="#data_fetcher.configuration" data-prototype="{{ form_widget(dataFetcherConfigurationPrototype)|e }}">
                </div>
            {% endfor %}
            <div id="data_fetcher" class="configuration">
            {% if form.dataFetcherConfiguration is defined %}
                {% for field in form.dataFetcherConfiguration %}
                    {{ form_row(field) }}
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            {{ form_row(form.renderer) }}
            {% for name, rendererConfigurationPrototype in form.vars.prototypes.renderers %}
                <div id="{{ form.renderer.vars.id }}_{{ name }}" data-container="#renderer.configuration" data-prototype="{{ form_widget(rendererConfigurationPrototype)|e }}"></div>
            {% endfor %}
            <div id="renderer" class="configuration">
            {% if form.rendererConfiguration is defined %}
                {% for field in form.rendererConfiguration %}
                    {{ form_row(field) }}
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
</fieldset>

{{ form_row(form._token) }}