{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Report:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.configuration'|trans }}</li>
    <li>{{ 'sylius.ui.reports'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_report_create'), 'sylius.ui.create_report'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-cog"></i> {{ 'sylius.ui.reports'|trans|raw }}</h1>
</div>

{{ pagination(reports) }}
{{ list(reports) }}
{{ pagination(reports) }}

{% endblock %}
