<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius.ui.default_address'|trans }}</div>
    <div class="col-12 col-md-8" {{ sylius_test_html_attribute('customer-default-address') }}>
        {% if hookable_data.customer.defaultAddress is not empty %}
            {% set address = hookable_data.customer.defaultAddress %}
            <span>
                {{ address.fullname }},
                {{ address.street }},
                {{ address.postcode }}
                {{ address.city }},
                {{ address|sylius_province_name|default('') }}
                <span class="flag flag-sm flag-country-{{ address.countryCode|lower }}"></span>
                {{ address.countryCode|sylius_country_name }}
            </span>
        {% else %}
            <span class="text-muted">{{ 'sylius.ui.this_customer_does_not_have_a_default_address'|trans }}</span>
        {% endif %}
    </div>
</div>
