{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/Order:macros.html.twig' import simple_list as list_orders %}
{% from 'SyliusWebBundle:Backend/Customer:macros.html.twig' import simple_list as list_customers %}

{% block content %}


    {{ render(controller('sylius.controller.report:embeddAction', {'report': 'ReportCode'})) }}

    <div class="row">
        <div class="col-md-8">

            <!-- 5. $UPLOADS_CHART =============================================================================

                            Uploads chart
            -->
            <!-- Javascript -->
            <script>
                init.push(function () {
                    var uploads_data = [
                        { day: '2014-03-10', v: 20 },
                        { day: '2014-03-11', v: 10 },
                        { day: '2014-03-12', v: 15 },
                        { day: '2014-03-13', v: 12 },
                        { day: '2014-03-14', v: 5  },
                        { day: '2014-03-15', v: 5  },
                        { day: '2014-03-16', v: 20 }
                    ];
                    Morris.Line({
                        element: 'hero-graph',
                        data: uploads_data,
                        xkey: 'day',
                        ykeys: ['v'],
                        labels: ['Value'],
                        lineColors: ['#fff'],
                        lineWidth: 2,
                        pointSize: 4,
                        gridLineColor: 'rgba(255,255,255,.5)',
                        resize: true,
                        gridTextColor: '#fff',
                        xLabels: "day",
                        xLabelFormat: function(d) {
                            return ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov', 'Dec'][d.getMonth()] + ' ' + d.getDate();
                        },
                    });
                });
            </script>
            <!-- / Javascript -->

            <div class="stat-panel">
                <div class="stat-row">
                    <!-- Small horizontal padding, bordered, without right border, top aligned text -->
                    <div class="stat-cell col-sm-4 padding-sm-hr bordered no-border-r valign-top">
                        <!-- Small padding, without top padding, extra small horizontal padding -->
                        <h4 class="padding-sm no-padding-t padding-xs-hr"><i class="fa fa-cloud-upload text-primary"></i>&nbsp;&nbsp;{{ 'sylius.backend.dashboard.keyfigure'|trans }}</h4>
                        <!-- Without margin -->
                        <ul class="list-group no-margin">
                            <!-- Without left and right borders, extra small horizontal padding, without background, no border radius -->
                            <li class="list-group-item no-border-hr padding-xs-hr no-bg no-border-radius">
                                Produits <span class="label label-pa-purple pull-right">{{ products_count|default(0) }}</span>
                            </li> <!-- / .list-group-item -->
                            <!-- Without left and right borders, extra small horizontal padding, without background -->
                            <li class="list-group-item no-border-hr padding-xs-hr no-bg">
                                Catégories <span class="label label-danger pull-right">128</span>
                            </li> <!-- / .list-group-item -->
                            <!-- Without left and right borders, without bottom border, extra small horizontal padding, without background -->
                            <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                                Commandes <span class="label label-success pull-right">{{ orders_count|default(0) }}</span>
                            </li> <!-- / .list-group-item -->
                            <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                                Pages <span class="label label-success pull-right">12</span>
                            </li> <!-- / .list-group-item -->
                        </ul>
                    </div> <!-- /.stat-cell -->
                    <!-- Primary background, small padding, vertically centered text -->
                    <div class="stat-cell col-sm-8 bg-primary padding-sm valign-middle">
                        <div id="hero-graph" class="graph" style="height: 230px;"></div>
                    </div>
                </div>
            </div> <!-- /.stat-panel -->
            <!-- /5. $UPLOADS_CHART -->

            <!-- 6. $EASY_PIE_CHARTS ===========================================================================

                            Easy Pie charts
            -->
            <!-- Javascript -->
            <script>
                init.push(function () {
                    // Easy Pie Charts
                    var easyPieChartDefaults = {
                        animate: 2000,
                        scaleColor: false,
                        lineWidth: 6,
                        lineCap: 'square',
                        size: 90,
                        trackColor: '#e5e5e5'
                    }
                    $('#easy-pie-chart-1').easyPieChart($.extend({}, easyPieChartDefaults, {
                        barColor: PixelAdmin.settings.consts.COLORS[1]
                    }));
                    $('#easy-pie-chart-2').easyPieChart($.extend({}, easyPieChartDefaults, {
                        barColor: PixelAdmin.settings.consts.COLORS[1]
                    }));
                    $('#easy-pie-chart-3').easyPieChart($.extend({}, easyPieChartDefaults, {
                        barColor: PixelAdmin.settings.consts.COLORS[1]
                    }));
                });
            </script>
            <!-- / Javascript -->

            <div class="row">
                <div class="col-xs-4">
                    <!-- Centered text -->
                    <div class="stat-panel text-center">
                        <div class="stat-row">
                            <!-- Dark gray background, small padding, extra small text, semibold text -->
                            <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                                <i class="fa fa-globe"></i>&nbsp;&nbsp;Commandes confirmées
                            </div>
                        </div> <!-- /.stat-row -->
                        <div class="stat-row">
                            <!-- Bordered, without top border, without horizontal padding -->
                            <div class="stat-cell bordered no-border-t no-padding-hr">
                                <div class="pie-chart" data-percent="43" id="easy-pie-chart-1">
                                    <div class="pie-chart-label">43%</div>
                                </div>
                            </div>
                        </div> <!-- /.stat-row -->
                    </div> <!-- /.stat-panel -->
                </div>
                <div class="col-xs-4">
                    <div class="stat-panel text-center">
                        <div class="stat-row">
                            <!-- Dark gray background, small padding, extra small text, semibold text -->
                            <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                                <i class="fa fa-flash"></i>&nbsp;&nbsp;Commandes en attente
                            </div>
                        </div> <!-- /.stat-row -->
                        <div class="stat-row">
                            <!-- Bordered, without top border, without horizontal padding -->
                            <div class="stat-cell bordered no-border-t no-padding-hr">
                                <div class="pie-chart" data-percent="78" id="easy-pie-chart-2">
                                    <div class="pie-chart-label">78%</div>
                                </div>
                            </div>
                        </div> <!-- /.stat-row -->
                    </div> <!-- /.stat-panel -->
                </div>
                <div class="col-xs-4">
                    <div class="stat-panel text-center">
                        <div class="stat-row">
                            <!-- Dark gray background, small padding, extra small text, semibold text -->
                            <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                                <i class="fa fa-cloud"></i>&nbsp;&nbsp;Commandes annulées
                            </div>
                        </div> <!-- /.stat-row -->
                        <div class="stat-row">
                            <!-- Bordered, without top border, without horizontal padding -->
                            <div class="stat-cell bordered no-border-t no-padding-hr">
                                <div class="pie-chart" data-percent="55" id="easy-pie-chart-3">
                                    <div class="pie-chart-label">55%</div>
                                </div>
                            </div>
                        </div> <!-- /.stat-row -->
                    </div> <!-- /.stat-panel -->
                </div>
            </div>
        </div>
        <!-- /6. $EASY_PIE_CHARTS -->

        <div class="col-md-4">
            <div class="row">

                <!-- 7. $EARNED_TODAY_STAT_PANEL ===================================================================

                                    Earned today stat panel
                -->
                <div class="col-sm-4 col-md-12">
                    <div class="stat-panel">
                        <!-- Danger background, vertically centered text -->
                        <div class="stat-cell bg-danger valign-middle">
                            <!-- Stat panel bg icon -->
                            <i class="fa fa-trophy bg-icon"></i>
                            <!-- Extra large text -->
                            <span class="text-xlg"><strong>147</strong></span><span class="text-lg text-slim">€</span><br>
                            <!-- Big text -->
                            <span class="text-bg">Chiffres d'affaire</span><br>
                            <!-- Small text -->
                            <span class="text-sm"><a href="#">See details in your profile</a></span>
                        </div> <!-- /.stat-cell -->
                    </div> <!-- /.stat-panel -->
                </div>
                <!-- /7. $EARNED_TODAY_STAT_PANEL -->


                <!-- 8. $RETWEETS_GRAPH_STAT_PANEL =================================================================

                                    Retweets graph stat panel
                -->
                <div class="stat-panel">
                    <div class="stat-row">
                        <!-- Success darker background -->
                        <div class="stat-cell bg-success darker">
                            <!-- Stat panel bg icon -->
                            <i class="fa fa-lightbulb-o bg-icon" style="font-size:60px;line-height:80px;height:80px;"></i>
                            <!-- Big text -->
                            <span class="text-bg">Quelques chiffres</span><br>
                            <!-- Small text -->
                            <span class="text-sm">Statistiques</span>
                        </div>
                    </div> <!-- /.stat-row -->
                    <div class="stat-row">
                        <!-- Success background, without bottom border, without padding, horizontally centered text -->
                        <div class="stat-counters bg-success no-border-b no-padding text-center">
                            <!-- Small padding, without horizontal padding -->
                            <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                <!-- Big text -->
                                <span class="text-bg"><strong>12</strong></span><br>
                                <!-- Extra small text -->
                                <span class="text-xs">Commandes</span>
                            </div>
                            <!-- Small padding, without horizontal padding -->
                            <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                <!-- Big text -->
                                <span class="text-bg"><strong>17</strong></span><br>
                                <!-- Extra small text -->
                                <span class="text-xs">Produits</span>
                            </div>
                            <!-- Small padding, without horizontal padding -->
                            <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                <!-- Big text -->
                                <span class="text-bg"><strong>49</strong></span><br>
                                <!-- Extra small text -->
                                <span class="text-xs">Emails</span>
                            </div>
                        </div> <!-- /.stat-counters -->
                    </div> <!-- /.stat-row -->
                    <div class="stat-row">
                        <!-- Success background, without bottom border, without padding, horizontally centered text -->
                        <div class="stat-counters bg-success no-border-b no-padding text-center">
                            <!-- Small padding, without horizontal padding -->
                            <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                <!-- Big text -->
                                <span class="text-bg"><strong>203</strong></span><br>
                                <!-- Extra small text -->
                                <span class="text-xs">Clients</span>
                            </div>
                            <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                <!-- Big text -->
                                <span class="text-bg"><strong>1056</strong></span><br>
                                <!-- Extra small text -->
                                <span class="text-xs">Pages</span>
                            </div>
                            <!-- Success background, small padding, without left and right padding, vertically centered text -->
                            <a href="#" class="stat-cell col-xs-4 bg-success padding-sm no-padding-hr valign-middle">
                                <!-- Extra small text -->
                                <span class="text-xs">MORE&nbsp;&nbsp;<i class="fa fa-caret-right"></i></span>
                            </a>
                        </div> <!-- /.stat-counters -->
                    </div> <!-- /.stat-row -->
                </div>

                <!-- 9. $UNIQUE_VISITORS_STAT_PANEL ================================================================

                                    Unique visitors stat panel
                -->

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="panel widget-messages-alt">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-users"></i>Derniers cients</span>
                </div> <!-- / .panel-heading -->
                <div class="panel-body padding-sm">
                    <div class="table-info">
                        <table id="customers" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Email</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for customer in customers %}
                                <tr>
                                    <td>{{ customer.id }}</td>
                                    <td>{{ customer.email }}</td>
                                    <td>{{ customer.firstName }}</td>
                                    <td>{{ customer.lastName }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>


 <div class="col-md-6">

            <div class="panel widget-messages-alt">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-refresh"></i>Dernieres commandes</span>
                </div> <!-- / .panel-heading -->
                <div class="panel-body padding-sm">
                    <div class="table-warning">

                        <table id="orders" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Client</th>
                                <th>Total</th>
                                <th>Date</th>
                                <th>Etat</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>1</td>
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.total }}</td>
                                    <td>{{ order.createdAt|date('d/m/Y H:i:s') }}</td>
                                    <td>{{ order.state }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>





    </div>



    <div class="row">
        <div class="col-md-6">

            <div class="panel widget-messages-alt">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-envelope"></i>Derniers Messages</span>
                </div> <!-- / .panel-heading -->
                <div class="panel-body padding-sm">
                    <div class="messages-list">

                        <div class="message">
                            <img src="assets/demo/avatars/2.jpg" alt="" class="message-avatar">
                            <a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                            <div class="message-description">
                                from <a href="#">Robert Jang</a>
                                &nbsp;&nbsp;·&nbsp;&nbsp;
                                2h ago
                            </div> <!-- / .message-description -->
                        </div> <!-- / .message -->

                        <div class="message">
                            <img src="assets/demo/avatars/3.jpg" alt="" class="message-avatar">
                            <a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
                            <div class="message-description">
                                from <a href="#">Michelle Bortz</a>
                                &nbsp;&nbsp;·&nbsp;&nbsp;
                                2h ago
                            </div> <!-- / .message-description -->
                        </div> <!-- / .message -->

                        <div class="message">
                            <img src="assets/demo/avatars/4.jpg" alt="" class="message-avatar">
                            <a href="#" class="message-subject">Lorem ipsum dolor sit amet.</a>
                            <div class="message-description">
                                from <a href="#">Timothy Owens</a>
                                &nbsp;&nbsp;·&nbsp;&nbsp;
                                2h ago
                            </div> <!-- / .message-description -->
                        </div> <!-- / .message -->

                        <div class="message">
                            <img src="assets/demo/avatars/5.jpg" alt="" class="message-avatar">
                            <a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
                            <div class="message-description">
                                from <a href="#">Denise Steiner</a>
                                &nbsp;&nbsp;·&nbsp;&nbsp;
                                2h ago
                            </div> <!-- / .message-description -->
                        </div> <!-- / .message -->

                        <div class="message">
                            <img src="assets/demo/avatars/2.jpg" alt="" class="message-avatar">
                            <a href="#" class="message-subject">Lorem ipsum dolor sit amet.</a>
                            <div class="message-description">
                                from <a href="#">Robert Jang</a>
                                &nbsp;&nbsp;·&nbsp;&nbsp;
                                2h ago
                            </div> <!-- / .message-description -->
                        </div> <!-- / .message -->

                        <div class="message">
                            <img src="assets/demo/avatars/3.jpg" alt="" class="message-avatar">
                            <a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
                            <div class="message-description">
                                from <a href="#">Michelle Bortz</a>
                                &nbsp;&nbsp;·&nbsp;&nbsp;
                                2h ago
                            </div> <!-- / .message-description -->
                        </div> <!-- / .message -->

                    </div> <!-- / .messages-list -->
                    <a href="#" class="messages-link">MORE MESSAGES</a>
                </div> <!-- / .panel-body -->
            </div> <!-- / .panel -->
        </div> <!-- / .panel -->


        <div class="col-md-6">
            <!-- 13. $NOTIFICATIONS ============================================================================

                            Notifications
            -->
            <div class="panel widget-notifications">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-fire"></i>Notifications</span>
                </div> <!-- / .panel-heading -->
                <div class="panel-body padding-sm">
                    <div class="notifications-list">

                        <div class="notification">
                            <div class="notification-title text-danger">SYSTEM</div>
                            <div class="notification-description"><strong>Error 500</strong>: Syntax error in index.php at line <strong>461</strong>.</div>
                            <div class="notification-ago">12h ago</div>
                            <div class="notification-icon fa fa-hdd-o bg-danger"></div>
                        </div> <!-- / .notification -->

                        <div class="notification">
                            <div class="notification-title text-info">STORE</div>
                            <div class="notification-description">You have <strong>9</strong> new orders.</div>
                            <div class="notification-ago">12h ago</div>
                            <div class="notification-icon fa fa-truck bg-info"></div>
                        </div> <!-- / .notification -->

                        <div class="notification">
                            <div class="notification-title text-default">CRON DAEMON</div>
                            <div class="notification-description">Job <strong>"Clean DB"</strong> has been completed.</div>
                            <div class="notification-ago">12h ago</div>
                            <div class="notification-icon fa fa-clock-o bg-default"></div>
                        </div> <!-- / .notification -->

                        <div class="notification">
                            <div class="notification-title text-success">SYSTEM</div>
                            <div class="notification-description">Server <strong>up</strong>.</div>
                            <div class="notification-ago">12h ago</div>
                            <div class="notification-icon fa fa-hdd-o bg-success"></div>
                        </div> <!-- / .notification -->

                        <div class="notification">
                            <div class="notification-title text-warning">SYSTEM</div>
                            <div class="notification-description"><strong>Warning</strong>: Processor load <strong>92%</strong>.</div>
                            <div class="notification-ago">12h ago</div>
                            <div class="notification-icon fa fa-hdd-o bg-warning"></div>
                        </div> <!-- / .notification -->

                    </div>
                    <a href="#" class="notifications-link">MORE NOTIFICATIONS</a>
                </div> <!-- / .panel-body -->
            </div> <!-- / .panel -->
        </div> <!-- / .panel -->
    </div> <!-- / .row -->

    {#<div class="row">#}
    {#<div class="col-md-6">#}
    {#<ul class="nav nav-pills nav-justified">#}
    {#<li><a href="{{ path('sylius_backend_order_index') }}"><i class="glyphicon glyphicon-shopping-cart"></i> {{ 'sylius.backend.quick_links.orders'|trans }}</a></li>#}
    {#<li><a href="{{ path('sylius_backend_customer_index') }}"><i class="glyphicon glyphicon-user"></i> {{ 'sylius.backend.quick_links.customers'|trans }}</a></li>#}
    {#</ul>#}
    {#<hr>#}
    {#<ul class="nav nav-pills nav-justified">#}
    {#<li><a href="{{ path('sylius_backend_product_index') }}"><i class="glyphicon glyphicon-folder-open"></i> {{ 'sylius.backend.quick_links.products'|trans }}</a></li>#}
    {#<li><a href="{{ path('sylius_backend_product_create') }}"><i class="glyphicon glyphicon-plus"></i> {{ 'sylius.backend.quick_links.add_product'|trans }}</a></li>#}
    {#</ul>#}
    {#<br>#}
    {#</div>#}
    {#<div class="col-md-6">#}
    {#{{ render(controller('sylius.controller.report:embeddAction', {'report': 'ReportCode'})) }}#}
    {#</div>#}
    {#</div>#}

    {#<div class="row">#}
    {#<div class="col-md-6">#}
    {#{{ list_orders(orders) }}#}
    {#<a href="{{ path('sylius_backend_order_index') }}" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-shopping-cart"></i> {{ 'sylius.show_all'|trans }}</a>#}
    {#</div>#}
    {#<div class="col-md-6">#}
    {#{{ list_customers(customers) }}#}
    {#<a href="{{ path('sylius_backend_customer_index') }}" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-user"></i> {{ 'sylius.show_all'|trans }}</a>#}
    {#</div>#}
    {#</div>#}
{% endblock %}
