{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/Order:macros.html.twig' import simple_list as list_orders %}
{% from 'SyliusWebBundle:Backend/Customer:macros.html.twig' import simple_list as list_customers %}

{% block content %}

    {{ render(controller('sylius.controller.report:embeddAction', {'report': 'ReportCode'})) }}

    <div class="row">
        <div class="col-md-8">

    <div class="row">
        <div class="col-md-6">

            <div class="panel widget-messages-alt">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-users"></i>Derniers cients</span>
                </div> <!-- / .panel-heading -->
                <div class="panel-body padding-sm">
                    <div class="table-info">
                        <table id="customers" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Email</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for customer in customers %}
                                <tr>
                                    <td>{{ customer.id }}</td>
                                    <td>{{ customer.email }}</td>
                                    <td>{{ customer.firstName }}</td>
                                    <td>{{ customer.lastName }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>


 <div class="col-md-6">
            <div class="panel widget-messages-alt">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-refresh"></i>Dernieres commandes</span>
                </div> <!-- / .panel-heading -->
                <div class="panel-body padding-sm">
                    <div class="table-warning">

                        <table id="orders" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Client</th>
                                <th>Total</th>
                                <th>Date</th>
                                <th>Etat</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>1</td>
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.total }}</td>
                                    <td>{{ order.createdAt|date('d/m/Y H:i:s') }}</td>
                                    <td>{{ order.state }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}