{% extends '@SyliusShop/account/address_book/layout.html.twig' %}
{% import '@SyliusShop/shared/buttons.html.twig' as buttons %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.add_address'|trans }} | {{ parent() }}{% endblock %}

{% block account_header %}
    {% set title = 'sylius.ui.address_book'|trans %}
    {% set description = 'sylius.ui.add_address'|trans %}
    {{ parent() }}
{% endblock %}

{% block account_content %}
    <div>
        {{ form_start(form, {'action': path('sylius_shop_account_address_book_create'), 'attr': {'novalidate': 'novalidate'}}) }}

        <div class="mb-4">
            {% include '@SyliusShop/shared/form/address.html.twig' with {'form': form} %}
        </div>
        <div class="d-flex gap-2">
            {{ buttons.submit('sylius.ui.add'|trans, 'add-address', null, 'btn-primary') }}
            {{ buttons.default(path('sylius_shop_account_address_book_index'), 'sylius.ui.cancel'|trans, null, null, 'btn-outline-gray') }}
        </div>

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
