{% import '@SyliusShop/Shared/buttons.html.twig' as buttons %}
{% from '@SyliusShop/Shared/icon.html.twig' import icon as icon %}

<div class="card border-0 bg-body-tertiary mb-3">
    <div class="card-body" {{ sylius_test_html_attribute('default-address') }}>
        <div class="badge bg-primary text-white mb-3">
            {{ 'sylius.ui.your_default_address'|trans }}
        </div>
        <div {{ sylius_test_html_attribute('address', "%s %s"|format(address.firstName, address.lastName)) }}>
            <div>
                {% include '@SyliusShop/Shared/address.html.twig' with {'address': address} %}
            </div>
            <div class="d-flex gap-2">
                <a class="btn btn-sm btn-icon btn-outline-gray" href="{{ path('sylius_shop_account_address_book_update', { 'id': address.id }) }}">
                    {{ icon('pencil', 'width: 16px; height: 16px;') }} {{ 'sylius.ui.edit'|trans }}
                </a>
                {{ buttons.delete(path('sylius_shop_account_address_book_delete', {'id': address.id}), null, true, address.id) }}
            </div>
        </div>
    </div>
</div>
