{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{% block javascripts %}
{{ parent() }}
{% javascripts output='assets/compiled/backend_product.js'
    'bundles/syliusshipping/js/prototype-handler.js'
    'bundles/syliusweb/js/dynamic-property-types.js'
    '@A2lixTranslationFormBundle/Resources/public/js/a2lix_translation_bootstrap.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li><a href="{{ path('sylius_backend_product_index') }}">{{ 'sylius.breadcrumb.product.index'|trans }}</a></li>
    <li>{{ 'sylius.breadcrumb.new'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-plus"></i> {{ 'sylius.product.create_header'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('sylius_backend_product_create', {'archetype': app.request.get('archetype')}) }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
    {% include 'SyliusWebBundle:Backend/Product:_form.html.twig' %}
    {{ create() }}
</form>
{% endblock %}
