{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page  %}

{% block javascripts %}
{{ parent() }}
{% javascripts output='assets/compiled/backend_product.js'
    'bundles/syliusshipping/js/prototype-handler.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li><a href="{{ path('sylius_backend_product_index') }}">{{ 'sylius.breadcrumb.product.index'|trans }}</a></li>
    <li>{{ 'sylius.breadcrumb.new'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('sylius_backend_user_create'), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

{{ page.header('user.create', 'user', 'SyliusUiBundle:Form/Actions:_create.html.twig') }}

{% include 'SyliusWebBundle:Backend/Product:_form.html.twig' %}

{{ form_end(form) }}
{% endblock %}
