{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li><a href="{{ path('sylius_backend_product_index') }}">{{ 'sylius.breadcrumb.product.index'|trans }}</a></li>
    <li>{{ product.name }}</li>
    <li>{{ 'sylius.history'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
    {{ buttons.manage(path('sylius_backend_product_index'), 'sylius.product.manage'|trans) }}
    {% if not product.deleted %}
    {{ buttons.edit(path('sylius_backend_product_update', {'id': product.id})) }}
    {{ buttons.delete(path('sylius_backend_product_delete', {'id': product.id}), null, false, false) }}
    <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" class="btn btn-info">
       <i class="glyphicon glyphicon-shopping-cart"></i>
        {{ 'sylius.product.show_in_store'|trans }}
    </a>
    {% endif %}
    </div>
    <h1><i class="glyphicon glyphicon-info-sign"></i> {{ 'sylius.product.show_header'|trans({'%product%': product.name})|raw }}</h1>
</div>

{% include "SyliusWebBundle:Backend:_history_table.html.twig" %}

{% endblock %}
