{% macro list(products) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if products|length > 0 %}
<table class="sylius-products-table table table-bordered">
    <thead>
        <tr>
            <th class="id">{{ sylius_resource_sort('id', '#id') }}</th>
            <th class="info">{{ sylius_resource_sort('archetype', 'sylius.product.archetype'|trans) }}</th>
            <th class="info">{{ sylius_resource_sort('name', 'sylius.product.name'|trans) }}</th>
            <th class="stock">{{ 'sylius.product.stock'|trans }}</th>
            <th class="retail-price">{{ 'sylius.product.price'|trans }}</th>
            <th class="updated-at">{{ sylius_resource_sort('updatedAt', 'Updated At') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr id="{{ product.id }}">
            <td class="id">
                {{ product.id }}
            </td>
            <td>
                {% if product.archetype is not null %}
                    {{ product.archetype }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td class="info">
                <div class="media">
                    <a href="{{ path('sylius_backend_product_show', {'id': product.id}) }}" class="pull-left"
                       title="{{ 'sylius.product.view_details'|trans({'%product%': product.name})|escape('html_attr') }}">
                        <img src="{{ product.image ? product.image.path|imagine_filter('sylius_small') : 'http://placehold.it/50x40' }}" alt="" class="imgmedia-object" />
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <a class="name"
                               href="{{ path('sylius_backend_product_show', {'id': product.id}) }}"
                               title="{{ 'sylius.product.view_details'|trans({'%product%': product.name})|escape('html_attr') }}">
                                {{ product.name }}
                            </a>
                            {% if not product.isAvailable %}
                                <span class="label label-default">{{ 'sylius.product.unavailable'|trans }}</span>
                            {% endif %}
                        </h5>
                        <div class="media-body">
                            {% if product.sku %}
                                <strong>{{ 'sylius.product.sku'|trans }}: </strong> <code class="sku">{{ product.sku }}</code>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </td>
            {% if product.hasOptions %}
                <td class="stock contain-variants text-muted">
                    <em>{{ 'sylius.product.contain_variants'|trans }}</em>
                </td>
            {% else %}
                {% if product.masterVariant.onHand > 0 and product.masterVariant.isAvailable %}
                    <td class="stock in-stock">
                        {{ product.masterVariant.onHand }}
                    </td>
                {% else %}
                    <td class="stock out-of-stock text-muted">
                        <em>{{ 'sylius.out_of_stock'|trans }}</em>
                    </td>
                {% endif %}
            {% endif %}


            {# Retail Price #}
            {% if not product.hasOptions %}
                <td class="retail-price">
                    {{ product.masterVariant.price|sylius_price }}
                </td>
            {% else %}
                <td class="retail-price text-muted">
                    <em>{{ 'sylius.na'|trans }}</em>
                </td>
            {% endif %}

            <td class="updated-at">
                {{ product.updatedAt|date('Y/m/d') }}
            </td>
            <td class="center-text">
                {% if product.deleted %}
                    {{ buttons.patch(path('sylius_backend_product_delete_revert', {'id': product.id}), 'sylius.product.delete_revert', null, 'btn btn-primary') }}
                {% else %}
                {{ buttons.edit(path('sylius_backend_product_update', {'id': product.id})) }}
                {{ buttons.delete(path('sylius_backend_product_delete', {'id': product.id})) }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.product.no_results'|trans) }}
{% endif %}

{% endmacro %}
