{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/ProductVariant:macros.html.twig' import list as list_variants %}
{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li><a href="{{ path('sylius_backend_product_index') }}">{{ 'sylius.breadcrumb.product.index'|trans }}</a></li>
    <li>{{ product.name }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
    {{ buttons.manage(path('sylius_backend_product_index'), 'sylius.product.manage'|trans) }}
    {% if not product.deleted %}
    {{ buttons.edit(path('sylius_backend_product_update', {'id': product.id})) }}
    {{ buttons.delete(path('sylius_backend_product_delete', {'id': product.id}), null, false, false) }}
    <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" class="btn btn-info">
       <i class="glyphicon glyphicon-shopping-cart"></i>
        {{ 'sylius.product.show_in_store'|trans }}
    </a>
    {% endif %}
    <a href="{{ path('sylius_backend_product_history', {'id': product.id}) }}" class="btn btn-info">
       <i class="glyphicon glyphicon-calendar"></i>
        {{ 'sylius.history'|trans }}
    </a>
    </div>
    <h1>
        <i class="glyphicon glyphicon-info-sign"></i> {{ 'sylius.product.show_header'|trans({'%product%': product.name})|raw }}
        {% if product.deleted %}<span class="label label-danger">{{ 'sylius.deleted'|trans }}</span>{% endif %}
    </h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{{ product.name }}</div>
            <div class="panel-body">{{ product.shortDescription|default('sylius.product.no_short_description'|trans)|raw }}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <p>{{ product.description }}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">{{ 'sylius.order.general_info'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>{{ 'sylius.shipment.id'|trans }}</strong></td>
                    <td>{{ product.id }}</td>
                </tr>
                <tr>
                    <td>{{ 'sylius.product.sku'|trans }}</td>
                    <td>{{ product.sku }}</td>
                </tr>
                <tr>
                    <td>{{ 'sylius.product.name'|trans }}</td>
                    <td>{{ product.name }}</td>
                </tr>
                <tr>
                    <td>{{ 'sylius.product.available_on'|trans }}</td>
                    <td><span class="label label-{{ product.available ? 'success' : 'danger' }}">{{ product.availableOn|date }}</span></td>
                </tr>
                <tr>
                    <td>{{ 'sylius.product.options'|trans }}</td>
                    <td>
                        {% if product.options|length > 0 %}
                        <ul>
                        {% for option in product.options %}
                            <li><strong>{{ option.name }}</strong>: {{ option.values|join(', ') }}.</li>
                        {% endfor %}
                        </ul>
                        {% else %}
                            <span class="label label-info">
                                <i class="glyphicon glyphicon-list-alt icon-white"></i> {{ 'sylius.product.no_options'|trans }}
                            </span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{ 'sylius.product.categorization'|trans }}</td>
                    <td>
                        {% if product.taxons|length > 0 %}
                        <ul>
                        {% for taxon in product.taxons %}
                            <li>{{ taxon.name }}</li>
                        {% endfor %}
                        </ul>
                        {% else %}
                            <span class="label label-info">
                                <i class="glyphicon glyphicon-list-alt icon-white"></i> {{ 'sylius.product.no_taxons'|trans }}
                            </span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{ 'sylius.product.tax_category'|trans }}</td>
                    <td>{{ product.taxCategory|default('sylius.product.no_tax_category'|trans) }}</td>
                </tr>
                <tr>
                    <td>{{ 'sylius.product.shipping_category'|trans }}</td>
                    <td>{{ product.shippingCategory|default('sylius.product.no_shipping_category'|trans) }}</td>
                </tr>
                <tr>
                    <td>{{ 'sylius.product.available_on_demand'|trans }}</td>
                    <td>
                        {{ misc.state_label(product.masterVariant.availableOnDemand) }}
                    </td>
                </tr>
                {% if product.restrictedZone %}
                    <tr>
                        <td>{{ 'sylius.product.restricted_zone'|trans }}</td>
                        <td>
                            <a href="{{ path('sylius_backend_zone_show', {'id': product.restrictedZone.id}) }}">{{ product.restrictedZone.name }}</a>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>{{ 'sylius.product.stock'|trans }}</td>
                    <td><span class="label label-{{ product.masterVariant.inStock ? 'success' : 'important' }}">{{ product.masterVariant.onHand }}</span></td>
                </tr>
                <tr>
                    <td>{{ 'sylius.product.price'|trans }}</td>
                    <td>{{ product.masterVariant.price|sylius_price }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        {% if product.images|length > 0 %}
            <div id="gallery">
                {% for image in product.images %}
                <a href="{{ image.path|imagine_filter('sylius_large') }}" title="{{ product.name }}" class="thumbnail">
                    <img src="{{ image.path|imagine_filter('sylius_small') }}" alt="{{ product.name }}" />
                </a>
                {% endfor %}
            </div>
        {% else %}
            {{ alerts.info('sylius.product.no_images'|trans) }}
        {% endif %}

        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">{{ 'sylius.product.attributes'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for attribute in product.attributes %}
                <tr>
                    <td><strong>{{ attribute.name }}</strong></td>
                    <td>{{ attribute.value }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="2">
                        <span class="label label-info">
                            <i class="glyphicon glyphicon-list-alt icon-white"></i> {{ 'sylius.product.no_attributes'|trans }}
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<hr>

{% if not product.deleted %}
<div class="well well-sm">
    {{ buttons.create(path('sylius_backend_product_variant_create', {'productId': product.id}), 'sylius.variant.create'|trans) }}
    {% if product.hasOptions %}
        {{ buttons.patch(path('sylius_backend_product_variant_generate', {'productId': product.id}), 'sylius.product.generate_variants'|trans) }}
    {% endif %}
    <div class="pull-right">
        <strong>{{ 'sylius.product.variant_selection_method'|trans }}</strong>: {{ product.variantSelectionMethodLabel }}
    </div>
</div>
{% endif %}

{{ list_variants(product.variants) }}

{% endblock %}
