{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/ProductVariant:macros.html.twig' import list as list_variants %}
{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.assortment'|trans }}</li>
    <li><a href="{{ path('sylius_backend_product_index') }}">{{ 'sylius.ui.products'|trans }}</a></li>
    <li>{{ product.name }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
    {{ buttons.manage(path('sylius_backend_product_index'), 'sylius.ui.manage_products'|trans) }}
    {% if product.enabled %}
        {{ buttons.disable(path('sylius_backend_product_disable', {'id': product.id})) }}
    {% else %}
        {{ buttons.enable(path('sylius_backend_product_enable', {'id': product.id})) }}
    {% endif %}
    <a href="{{ path('sylius_backend_metadata_container_customize', { 'id': product.metadataIdentifier }) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-file"></i><span>{{ 'sylius.ui.customize_metadata'|trans }}</span>
    </a>
    {{ buttons.edit(path('sylius_backend_product_update', {'id': product.id})) }}
    {{ buttons.delete(path('sylius_backend_product_delete', {'id': product.id}), null, false, true) }}
    <a href="{{ path(product) }}" class="btn btn-info">
       <i class="glyphicon glyphicon-shopping-cart"></i>
        {{ 'sylius.ui.show_in_store'|trans }}
    </a>
    <a href="{{ path('sylius_backend_product_history', {'id': product.id}) }}" class="btn btn-info">
       <i class="glyphicon glyphicon-calendar"></i>
        {{ 'sylius.ui.history'|trans }}
    </a>
    </div>
    <h1>
        <i class="glyphicon glyphicon-info-sign"></i> {{ 'sylius.ui.product_details_viewing_product_product'|trans({'%product%': product.name})|raw }}
    </h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{{ product.name }}</div>
            <div class="panel-body">{{ product.shortDescription|default('sylius.ui.no_short_description'|trans)|raw }}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <p>{{ product.description }}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">{{ 'sylius.ui.general_info'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>{{ 'sylius.ui.id'|trans }}</strong></td>
                    <td>{{ product.id }}</td>
                </tr>
                <tr>
                    <td>{{ 'sylius.ui.code'|trans }}</td>
                    <td>{{ product.code }}</td>
                </tr>
                <tr>
                    <td>{{ 'sylius.ui.name'|trans }}</td>
                    <td>{{ product.name }}</td>
                </tr>
                <tr>
                    <td>{{ 'sylius.ui.available_on'|trans }}</td>
                    <td><span class="label label-{{ product.available ? 'success' : 'danger' }}">{{ product.availableOn|date }}</span></td>
                </tr>
                {% if product.availableUntil %}
                <tr>
                    <td>{{ 'sylius.ui.available_until'|trans }}</td>
                    <td><span class="label label-{{ product.available ? 'success' : 'danger' }}">{{ product.availableUntil|date }}</span></td>
                </tr>
                {% endif %}
                <tr>
                    <td>{{ 'sylius.ui.options'|trans }}</td>
                    <td>
                        {% if product.options|length > 0 %}
                        <ul>
                        {% for option in product.options %}
                            <li><strong>{{ option.name }}</strong>.</li>
                        {% endfor %}
                        </ul>
                        {% else %}
                            <span class="label label-info">
                                <i class="glyphicon glyphicon-list-alt icon-white"></i> {{ 'sylius.ui.there_are_no_options_for_this_product'|trans }}
                            </span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{ 'sylius.ui.categorization'|trans }}</td>
                    <td>
                        {% if product.taxons|length > 0 %}
                        <ul>
                        {% for taxon in product.taxons %}
                            <li>{{ taxon.name }}</li>
                        {% endfor %}
                        </ul>
                        {% else %}
                            <span class="label label-info">
                                <i class="glyphicon glyphicon-list-alt icon-white"></i> {{ 'sylius.ui.there_are_no_taxons_for_this_product'|trans }}
                            </span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{ 'sylius.ui.main_taxon'|trans }}</td>
                    <td>
                        {%  if product.mainTaxon is not null %}
                            {{ product.mainTaxon }}
                        {%  else %}
                            {{ 'sylius.ui.there_is_no_main_taxon_for_this_product'|trans }}
                        {%  endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{ 'sylius.ui.shipping_category'|trans }}</td>
                    <td>{{ product.shippingCategory|default('sylius.ui.no_shipping_category'|trans) }}</td>
                </tr>
                {% if product.restrictedZone %}
                    <tr>
                        <td>{{ 'sylius.ui.restricted_zone'|trans }}</td>
                        <td>
                            <a href="{{ path('sylius_backend_zone_show', {'id': product.restrictedZone.id}) }}">{{ product.restrictedZone.name }}</a>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td></td>
                    <td><span class="label label-{{ product.enabled ? 'success' : 'important'}}">{{ product.enabled ? 'Enabled' : 'Disabled' }}</span></td>
                </tr>
                {% if 0 != product.averageRating %}
                <tr>
                    <td>{{ 'sylius.ui.rating'|trans }}</td>
                    <td>{{ product.averageRating|round(2, 'floor') }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">{{ 'sylius.ui.attributes'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for attribute in product.attributes %}
                <tr>
                    <td><strong>{{ attribute.name }}</strong></td>
                    {% if attribute.value.timestamp is defined %}
                        <td>{{ attribute.value|date('Y/m/d H:i:s') }}</td>
                    {% else %}
                        <td>{{ attribute.value }}</td>
                    {% endif %}
                </tr>
                {% else %}
                <tr>
                    <td colspan="2">
                        <span class="label label-info">
                            <i class="glyphicon glyphicon-list-alt icon-white"></i> {{ 'sylius.ui.this_product_has_no_attributes_defined'|trans }}
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th colspan="2">{{ 'sylius.product.associations'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for association in product.associations %}
                <tr>
                    <td class="sylius-association-type"><strong>{{ association.type.name }}</strong></td>
                    <td>
                        <ul>
                        {% for associatedProduct in association.associatedObjects %}
                            <li>{{ associatedProduct.name }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">
                        <span class="label label-info">
                            <i class="glyphicon glyphicon-list-alt icon-white"></i> {{ 'sylius.product.no_associations'|trans }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<hr>

<div class="well well-sm">
    {{ buttons.create(path('sylius_backend_product_variant_create', {'productId': product.id}), 'sylius.ui.create_variant'|trans) }}
    {% if product.hasOptions %}
        {{ buttons.create(path('sylius_backend_product_variant_generate', {'productId': product.id}), 'sylius.ui.generate_variants'|trans) }}
    {% endif %}
    <div class="pull-right">
        <strong>{{ 'sylius.ui.variant_selection_method'|trans }}</strong>: {{ product.variantSelectionMethodLabel }}
    </div>
</div>

{{ list_variants(product.variants) }}

{% endblock %}
