{% extends 'SyliusWebBundle:Backend:layout2Column.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page %}
{% import 'SyliusUiBundle::labels.html.twig' as labels %}

{% block sidebar %}
    {% include 'SyliusWebBundle:Backend/Product:_sidebar.html.twig' %}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li><a href="{{ path('sylius_backend_product_index') }}">{{ 'sylius.breadcrumb.product.index'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_product_update', {'id': product.id}) }}">{{ product.name }}</a></li>
</ol>
{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('sylius_backend_product_update', {'id': product.id}), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

<div class="page-header">
    <div class="actions-menu">
        {% include 'SyliusUiBundle:Form/Actions:_update.html.twig' %}
    </div>
    <h1>
        <i class="fa fa-pencil"></i> {{ 'Product'|trans|raw }} <span class="slash">/</span>
        {% include 'SyliusWebBundle:Backend/Product:_localeSwitcher.html.twig' %}
        {{ labels.status(true) }}
    </h1>
    <div class="page-header-info">
    </div>
</div>

{% include 'SyliusWebBundle:Backend/Product:_form.html.twig' %}
<input type="hidden" name="_method" value="PUT">

{{ form_end(form) }}
{% endblock %}
