<div class="ui basic segment">
    <div class="ui large text menu">
        <div class="ui small image">
            {% if use_webpack %}
                <a href="{{ path('sylius_shop_homepage') }}">
                    <img src="{{ asset('build/shop/images/logo.png', 'shop') }}" />
                </a>
            {% else %}
                <a href="{{ path('sylius_shop_homepage') }}">
                    <img src="{{ asset('assets/shop/img/logo.png') }}" />
                </a>
            {% endif %}
        </div>
        <div class="right menu">
            {% if order.customer.id|default(null) is not null %}
                <div class="item" id="purchaser-email" {{ sylius_test_html_attribute('purchaser-name-or-email') }}>{{ 'sylius.ui.checking_out_as'|trans }} {{ app.user is null ? order.customer.email : order.customer.fullName|default(order.customer.email) }}.</div>
            {% else %}
                <a href="{{ path('sylius_shop_login') }}" class="item">{{ 'sylius.ui.sign_in'|trans }}</a>
            {% endif %}
        </div>
    </div>
</div>
