{% if active is not defined or active == 'addressing' %}
    {% set steps = { 'addressing': 'active', 'shipping': 'disabled', 'payment': 'disabled', 'summary': 'disabled' } %}
{% elseif active == 'shipping' %}
    {% set steps = { 'addressing': 'completed', 'shipping': 'active', 'payment': 'disabled', 'summary': 'disabled' } %}
{% elseif active == 'payment' %}
    {% set steps = { 'addressing': 'completed', 'shipping': 'completed', 'payment': 'active', 'summary': 'disabled' } %}
{% else %}
    {% set steps = { 'addressing': 'completed', 'shipping': 'completed', 'payment': 'completed', 'summary': 'active' } %}
{% endif %}

<div class="ui four steps">
    <a data-remote-form="sylius_shop_checkout_readdressing" class="{{ steps['addressing'] }} step" href="#">
        <i class="map icon"></i>
        <div class="content">
            <div class="title">{{ 'sylius.ui.addressing'|trans }}</div>
        </div>
    </a>
    <a data-remote-form="sylius_shop_checkout_reselecting_shipping" class="{{ steps['shipping'] }} step" href="#">
        <i class="truck icon"></i>
        <div class="content">
            <div class="title">{{ 'sylius.ui.shipping'|trans }}</div>
        </div>
    </a>
    <a data-remote-form="sylius_shop_checkout_reselecting_payment" class="{{ steps['payment'] }} step" href="#">
        <i class="payment icon"></i>
        <div class="content">
            <div class="title">{{ 'sylius.ui.payment'|trans }}</div>
        </div>
    </a>
    <div class="{{ steps['summary'] }} step">
        <i class="checkered flag icon"></i>
        <div class="content">
            <div class="title">{{ 'sylius.ui.summary'|trans }}</div>
        </div>
    </div>
</div>

<form id="sylius_shop_checkout_readdressing" action="{{ path('sylius_shop_checkout_readdressing') }}" method="post">
    <input type="hidden" name="_method" value="PUT" />
</form>

<form id="sylius_shop_checkout_reselecting_shipping" action="{{ path('sylius_shop_checkout_reselecting_shipping') }}" method="post">
    <input type="hidden" name="_method" value="PUT" />
</form>

<form id="sylius_shop_checkout_reselecting_payment" action="{{ path('sylius_shop_checkout_reselecting_payment') }}" method="post">
    <input type="hidden" name="_method" value="PUT" />
</form>
