{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set itemsSubtotal = order.getItemsSubtotal() %}
{% set taxIncluded = order.getTaxIncludedTotal() %}
{% set taxExcluded = order.getTaxExcludedTotal() %}

<div>
    <table {{ sylius_test_html_attribute('checkout-subtotal') }}>
        <thead>
            <tr>
                <th>{{ 'sylius.ui.item'|trans }}</th>
                <th>{{ 'sylius.ui.qty'|trans }}</th>
                <th>{{ 'sylius.ui.subtotal'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items %}
                <tr>
                    <td>{{ item.getVariant.product.name }}</td>
                    <td {{ sylius_test_html_attribute('item-subtotal-quantity', item.variant.product.name) }}>
                        {{ item.quantity }}
                    </td>
                    <td id="{{ item.variant.product.slug }}" {{ sylius_test_html_attribute('item-subtotal', item.variant.product.slug) }}>
                        {{ money.convertAndFormat(item.subtotal) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="1">
                    <strong>{{ 'sylius.ui.items_total'|trans }}:</strong>
                </td>
                <td colspan="2">
                    {{ money.convertAndFormat(itemsSubtotal) }}
                </td>
            </tr>
            <tr {% if taxIncluded and not taxExcluded %}class="disabled" {% endif %}>
                <td colspan="1">
                    <strong>{{ 'sylius.ui.taxes_total'|trans }}:</strong>
                </td>
                <td colspan="2">
                    {% if not taxIncluded and not taxExcluded %}
                        <div>{{ money.convertAndFormat(0) }}</div>
                    {% endif %}
                    {% if taxExcluded %}
                        <div>{{ money.convertAndFormat(taxExcluded) }}</div>
                    {% endif %}
                    {% if taxIncluded %}
                        <div>
                            <span>{{ money.convertAndFormat(taxIncluded) }}</span>
                            <div><small>({{ 'sylius.ui.included_in_price'|trans }})</small></div>
                        </div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="1">
                    <strong>{{ 'sylius.ui.discount'|trans }}:</strong>
                </td>
                <td colspan="2">
                    {{ money.convertAndFormat(order.orderPromotionTotal) }}
                </td>
            </tr>
            {% if order.shipments is not empty %}
                <tr>
                    <td colspan="1">
                        <strong>{{ 'sylius.ui.shipping_estimated_cost'|trans }}:</strong>
                    </td>
                    <td colspan="2">
                        {% if order.getAdjustmentsTotal('shipping') > order.shippingTotal %}
                            <div>{{ money.convertAndFormat(order.getAdjustmentsTotal('shipping')) }}</div>
                        {% endif %}
                        <span>{{ money.convertAndFormat(order.shippingTotal) }}</span>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="1">
                    <strong>{{ 'sylius.ui.order_total'|trans }}:</strong>
                </td>
                <td colspan="2">
                    {{ money.convertAndFormat(order.total) }}
                </td>
            </tr>
        </tfoot>
    </table>
</div>
