{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="ui segment">
    <table class="ui very basic table" id="sylius-checkout-subtotal">
        <thead>
        <tr>
            <th class="sylius-table-column-item">{{ 'sylius.ui.item'|trans }}</th>
            <th class="sylius-table-column-qty">{{ 'sylius.ui.quantity'|trans }}</th>
            <th class="sylius-table-column-subtotal">{{ 'sylius.ui.subtotal'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in order.items %}
            <tr>
                <td>{{ item.getVariant.product.name }}</td>
                <td class="center aligned">
                    {{ item.quantity }}
                </td>
                <td id="sylius-item-{{ item.variant.product.slug }}-subtotal">{{ money.convertAndFormat(item.subtotal) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
