{% extends '@SyliusShop/Checkout/shared/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.address'|trans }} | {{ parent() }}{% endblock %}
{% block content_title %}{{ 'sylius.ui.address'|trans }}{% endblock %}

{% set active_step = 'address' %}

{% block content %}
    <div>
        {{ form_start(form, {'action': path('sylius_shop_checkout_address'), 'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}
        <input type="hidden" name="_method" value="PUT" />

        {% include '@SyliusShop/Checkout/address/form.html.twig' %}
        {% include '@SyliusShop/Checkout/address/navigation.html.twig' %}

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
