{% extends '@SyliusShop/Checkout/shared/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}
{% import '@SyliusShop/Shared/macro/navigation_buttons.html.twig' as navigation %}

{% block title %}{{ 'sylius.ui.address'|trans }} | {{ parent() }}{% endblock %}
{% block content_title %}{{ 'sylius.ui.address'|trans }}{% endblock %}

{% set active_step = 'address' %}

{% block content %}
    <div>
        {{ form_start(form, {'action': path('sylius_shop_checkout_address'), 'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}
        <input type="hidden" name="_method" value="PUT" />

        {% include '@SyliusShop/Checkout/address/form.html.twig' %}
        {{ navigation.default('sylius.ui.back_to_store'|trans, path('sylius_shop_homepage')) }}

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
