{% extends '@SyliusShop/Checkout/shared/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.complete'|trans }} | {{ parent() }}{% endblock %}
{% block content_title %}{{ 'sylius.ui.summary_of_your_order'|trans }}{% endblock %}

{% set active_step = 'complete' %}

{% block content %}
    <div>
        {% include '@SyliusShop/Checkout/complete/header.html.twig' %}
        {% include '@SyliusShop/Shared/flashes.html.twig' %}

        {{ form_start(form, {'action': path('sylius_shop_checkout_complete'), 'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}
        <input type="hidden" name="_method" value="PUT" />

        {{ sylius_template_event('sylius.shop.checkout.complete.summary', _context) }}

        {% include '@SyliusShop/Checkout/complete/form.html.twig' %}
        {% include '@SyliusShop/Checkout/complete/navigation.html.twig' %}

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}
