{% extends '@SyliusShop/layout.html.twig' %}

{% block top %}
    {# Clear the topmost section. We do not want it in the checkout.  #}
{% endblock %}

{% block header %}
    {# Override the normal page header with a custom one for all checkout steps. #}
    {{ sonata_block_render_event('sylius.shop.checkout.before_header', {'order': order}) }}

    {% include '@SyliusShop/Checkout/_header.html.twig' %}

    {{ sonata_block_render_event('sylius.shop.checkout.after_header', {'order': order}) }}
{% endblock %}

{% block content %}

    {{ sonata_block_render_event('sylius.shop.checkout.before_steps', {'order': order}) }}

    {% block steps %}
        {% include '@SyliusShop/Checkout/_steps.html.twig' %}
    {% endblock %}

    {{ sonata_block_render_event('sylius.shop.checkout.after_steps', {'order': order}) }}

    <div class="ui stackable grid">
        <div class="eleven wide column">
            {% block main %}
            {% endblock %}
        </div>
        <div class="five wide column">
            {% block aside %}
                {{ sonata_block_render_event('sylius.shop.checkout.before_aside', {'order': order}) }}

                {% include '@SyliusShop/Checkout/_summary.html.twig' with {'order': order} %}

                {{ sonata_block_render_event('sylius.shop.checkout.after_aside', {'order': order}) }}
            {% endblock %}
        </div>
    </div>
{% endblock %}
