{% extends '@SyliusShop/Checkout/layout.html.twig' %}

{% form_theme form 'SyliusUiBundle:Form:theme.html.twig' %}

{% block steps %}
    {% include '@SyliusShop/Checkout/_steps.html.twig' with {'active': 'select_payment', 'orderTotal': order.total} %}
{% endblock %}

{% block main %}
    <div class="ui padded segment" id="sylius-payment-methods">
        {{ sonata_block_render_event('sylius.shop.checkout.select_payment.before_form', {'order': order}) }}

        {{ form_start(form, {'action': path('sylius_shop_checkout_select_payment'), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
        <input type="hidden" name="_method" value="PUT" />

        {% include '@SyliusShop/Checkout/SelectPayment/_form.html.twig' %}
        <div class="ui hidden divider"></div>

        {{ sonata_block_render_event('sylius.shop.checkout.select_payment.before_navigation', {'order': order}) }}
        {% include '@SyliusShop/Checkout/SelectPayment/_navigation.html.twig' %}

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block aside %}
    {{ sonata_block_render_event('sylius.shop.checkout.select_payment.before_summary', {'order': order}) }}

    {% include '@SyliusShop/Checkout/_summary.html.twig' with {'order': order} %}

    {{ sonata_block_render_event('sylius.shop.checkout.select_payment.after_summary', {'order': order}) }}
{% endblock %}
