{% extends '@SyliusShop/Checkout/shared/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}
{% import '@SyliusShop/Shared/macro/navigation_buttons.html.twig' as navigation %}

{% block title %}{{ 'sylius.ui.shipping'|trans }} | {{ parent() }}{% endblock %}
{% block content_title %}{{ 'sylius.ui.shipping'|trans }}{% endblock %}

{% set active_step = 'select_shipping' %}

{% block content %}
    <div>
        {{ form_start(form, {'action': path('sylius_shop_checkout_select_shipping'), 'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}
        <input type="hidden" name="_method" value="PUT" />

        {% include '@SyliusShop/Checkout/select_shipping/form.html.twig' %}

        {% set enabled = order.shipments|length %}
        {{ navigation.default('sylius.ui.change_address'|trans, path('sylius_shop_checkout_address'), enabled) }}

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
