{% extends '@SyliusShop/Layout/checkout.html.twig' %}

{% block content %}
    {% include '@SyliusShop/Checkout/_steps.html.twig' with { 'active': 'shipping' } %}
    <div class="ui stackable grid">
        <div class="eleven wide column">
            <div class="ui padded segment" id="shipping_methods">
                {{ form_start(form, {'action': path('sylius_shop_checkout_shipping'), 'attr': {'class': 'ui form', 'novalidate': 'novalidate'}}) }}
                <div class="ui fluid stackable items">
                    <input type="hidden" name="_method" value="PUT" />
                    {% for shipment in order.shipments %}
                        {% set shipmentForm = form.shipments[loop.index0] %}
                        {% for shippingMethod in shipmentForm.method %}
                            <div class="item">
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        {{ form_widget(shippingMethod) }}
                                    </div>
                                </div>
                                <div class="content">
                                    <a class="header">{{ form_label(shippingMethod) }}</a>
                                </div>
                            </div>
                        {% else %}
                            <h3 id="no_shipping_methods">There are currently no shipping methods available for your shipping address.</h3>
                        {% endfor %}
                    {% endfor %}
                    {{ form_row(form._token) }}
                </div>
                <button type="submit" class="ui large primary icon labeled button"><i class="arrow right icon"></i> {{ 'sylius.ui.next'|trans }}</button>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
        <div class="five wide column">
            {% include '@SyliusShop/Checkout/_summary.html.twig' with { 'order': order } %}
        </div>
    </div>
{% endblock %}
