{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div class="ui grid">
        <div class="center aligned sixteen wide column">
            <h1 class="ui icon header">
                {% set lastPayment = order.payments.last() %}
                {% if order.paymentState is same as('completed') or lastPayment.getMethod.getGateway is same as('offline') %}
                    <i class="circular rocket icon"></i>
                    <div class="content" id="sylius-thank-you">
                        {{ 'sylius.ui.thank_you'|trans }}
                        <div class="sub header">{{ 'sylius.ui.placed_an_order'|trans }}</div>
                    </div>
                {% elseif lastPayment.getMethod.getGateway is same as('offline') %}
                    <i class="circular rocket icon"></i>
                    <div class="content" id="sylius-thank-you">
                        {{ 'sylius.ui.thank_you'|trans }}
                        <div class="sub header">{{ 'sylius.ui.placed_an_order'|trans }}</div>
                        {{ render(url('sylius_shop_order_payment_method_update', {'orderId': order.id} )) }}
                    </div>
                {% else %}
                    <i class="circular payment icon"></i>
                    <div class="content">
                        {{ render(url('sylius_shop_order_payment_method_update', {'orderId': order.id} )) }}
                        {{ 'sylius.ui.payment_ready_to_pay'|trans }}
                        <a href="{{ path('sylius_shop_order_pay', {'orderId': order.id}) }}" id="sylius-pay-link" class="ui primary button">
                            {{ 'sylius.ui.pay'|trans }}
                        </a>
                    </div>
                {% endif %}
                {% if lastPayment.method.instructions is not null %}
                    <div id="sylius-payment-method-instructions" class="sub header">
                        {{ lastPayment.method.instructions }}
                    </div>
                {% endif %}
            </h1>
        </div>
    </div>
{% endblock %}
