{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Role:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.customers'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.role.index'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_role_create'), 'sylius.role.create'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-sort-by-attributes"></i> {{ 'sylius.role.index_header'|trans|raw }}</h1>
</div>

{{ list(roles) }}

{% endblock %}
