{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/ProductAttribute:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.assortment'|trans }}</li>
    <li>{{ 'sylius.ui.attributes'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#attribute-types-modal">
            <i class="glyphicon glyphicon-plus-sign"></i><span>{{ 'sylius.ui.create'|trans }}</span>
        </a>
        {{ buttons.manage(path('sylius_backend_product_option_index'), 'sylius.ui.manage_options'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-list-alt"></i> {{ 'sylius.ui.product_attributes'|trans|raw }}</h1>
</div>

{{ pagination(product_attributes) }}
{{ list(product_attributes) }}
{{ pagination(product_attributes) }}

{% render(url('sylius_backend_get_attribute_types')) %}
{% endblock %}
