{% extends 'knp_menu.html.twig' %}

{% block root %}
    <div class="h3 mb-4">{{ item.label|trans }}</div>
    {{ block('list') }}
{% endblock %}

{% block list %}
    <div class="d-inline-flex flex-column">
        {% for item in item.children %}
            {{ block('item') }}
        {% endfor %}
    </div>
{% endblock %}

{% block item %}
    <a class="d-inline-block py-1 link-reset" href="{{ item.uri }}">
        {{ item.label|trans }}
    </a>
{% endblock %}
