{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Block:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.block.index'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_block_create'), 'sylius.block.create'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-flag"></i> {{ 'sylius.block.index_header'|trans|raw }}</h1>
</div>

{{ pagination(blocks) }}
{{ list(blocks) }}
{{ pagination(blocks) }}

{% endblock %}
