{% from '@SyliusAdmin/Shared/Helper/icon.html.twig' import icon as _icon %}

{% set hookable_context = get_hookable_context() %}

{% set adminUser = hookable_context.resource %}

{{ form_label(hookable_context.form.avatar) }}

<div class="row g-6">
    <div class="col-auto m-0">
        {% if adminUser.avatar is not null and adminUser.avatar.path is not empty %}
            <div
                class="avatar avatar-xl"
                style="background: url('{{ adminUser.avatar.path|imagine_filter('sylius_admin_admin_user_avatar') }}');"
                {{ sylius_test_html_attribute('avatar-image', adminUser.avatar.path) }}
            ></div>
        {% else %}
            <div class="avatar avatar-xl" {{ sylius_test_html_attribute('avatar-image', null) }}></div>
        {% endif %}
    </div>
    <div class="col m-0">
        {{ form_widget(hookable_context.form.avatar) }}
        {% if adminUser.id is not null and adminUser.avatar is not null and adminUser.avatar.path is not empty %}
            <button
                formaction="{{ path('sylius_admin_admin_user_remove_avatar', {'id': adminUser.id, '_csrf_token': csrf_token(adminUser.id)}) }}"
                type="submit"
                class="btn btn-danger"
                {{ sylius_test_html_attribute('delete-avatar-button') }}
            >
                {{ _icon({'icon': 'trash-x'}) }} {{ 'sylius.ui.delete_avatar'|trans }}
            </button>
        {% endif %}
    </div>
</div>
