{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

<div class="row">
    <div class="col-md-12">
        <fieldset>
            {{ form_row(form.email) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.enabled) }}
            {{ form_row(form.groups) }}

            <div class="form-group">
                {{ form_label(form.authorizationRoles) }}
                <div class="col-lg-2">
                    {% set level = 1 %}
                    <ul class="list-unstyled" id="hierarchy-root">
                        {% for roleForm in form.authorizationRoles %}
                            {% set currentLevel = form.authorizationRoles.vars.choices[roleForm.vars.value].data.level %}
                            <li>
                                {% if currentLevel != level %}
                                    </ul>
                                    <ul class="hierarchy-node list-unstyled level-{{ currentLevel }}" data-level="{{ currentLevel }}" style="width: 100%; margin-left: {{ currentLevel * 20 }}px">
                                    {% set level = currentLevel %}
                                {% endif %}
                                {{ form_widget(roleForm) }}
                                {{ form.authorizationRoles.vars.choices[roleForm.vars.value].data.name }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </fieldset>
    </div>
</div>

{{ form_rest(form) }}
