{{ form_errors(form) }}
<div class="row-fluid">
    <fieldset>
        {{ form_row(form.email) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.enabled) }}
    </fieldset>
    <div class="span5 well">
        <fieldset>
            <h4>{{ form.shippingAddress.vars.label|trans({}, form.shippingAddress.vars.translation_domain) }}</h4>
            {% include 'SyliusWebBundle:Frontend/Form:_address.html.twig' with {'form': form.shippingAddress} %}
            {{ form_row(form.differentBillingAddress) }}
        </fieldset>
    </div>
    <div id="sylius-billing-address-container" class="span5 well">
        <fieldset>
            <h4>{{ form.billingAddress.vars.label|trans({}, form.billingAddress.vars.translation_domain) }}</h4>
            {% include 'SyliusWebBundle:Frontend/Form:_address.html.twig' with {'form': form.billingAddress} %}
        </fieldset>
    </div>
</div>
{{ form_rest(form) }}
