{% form_theme form 'SyliusWebBundle::forms.html.twig' %}

<div class="row">
    <div class="col-md-12">
        <fieldset>
            {{ form_row(form.email) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.enabled) }}
            {{ form_row(form.groups) }}
        </fieldset>
    </div>
</div>
{{ form_rest(form) }}
