{% extends 'SyliusWebBundle:Backend:layout2Column.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page  %}

{% block sidebar %}
    {% include 'SyliusWebBundle:Backend/User:_sidebar.html.twig' %}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.customers'|trans }}</li>
    <li><a href="{{ path('sylius_backend_user_index') }}">{{ 'sylius.breadcrumb.user.index'|trans }}</a></li>
    <li>{{ 'sylius.breadcrumb.new'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('sylius_backend_user_create'), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

{{ page.header('user.create', 'plus-circle-o', 'SyliusUiBundle:Form/Actions:_create.html.twig') }}

{% include 'SyliusWebBundle:Backend/User:_form.html.twig' %}

{{ form_end(form) }}
{% endblock %}
