{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/User:macros.html.twig' import list  %}
{% import 'SyliusUiBundle::page.html.twig' as page %}
{% import 'SyliusUiBundle::pagination.html.twig' as pagination %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.customers'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.user.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('user.index', 'user', 'SyliusWebBundle:Backend/User/Actions:_index.html.twig') }}

{% render(controller('sylius.controller.form:filterAction', {'type': 'sylius_user_filter', 'template': 'SyliusWebBundle:Backend/User:filterForm.html.twig'})) %}

{% include 'SyliusWebBundle:Backend/User:_tabs.html.twig' %}

{{ list(users)  }}
{{ pagination.standard(users) }}
{% endblock %}
