{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/User:macros.html.twig' import list  %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_user_create'), 'sylius.user.create'|trans) }}
    </div>
    <h1><i class="icon-user"></i> {{ 'sylius.user.index_header'|trans|raw }}</h1>
</div>

{% render(url('sylius_backend_user_filter_form')) %}

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs grid-tabs">
            <li><a href="{{ path('sylius_backend_user_index') }}">{{ 'sylius.user.filter.all'|trans }}</a></li>
            <li><a href="{{ path('sylius_backend_user_index', {'criteria': {'enabled': false}}) }}"><span class="label label-important"><i class="icon-info-sign"></i></span> {{ 'sylius.user.filter.unconfirmed'|trans }}</a></li>
        </ul>
    </div>
</div>

{{ list(users)  }}
{{ pagination(users) }}

{% endblock %}
