{% macro list(users) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% if users|length > 0 %}
<table id="users" class="table">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', 'sylius.user.id'|trans) }}</th>
            <th>{{ sylius_resource_sort('firstName', 'sylius.address.firstname'|trans) }}</th>
            <th>{{ sylius_resource_sort('lastName', 'sylius.address.lastname'|trans) }}</th>
            <th>{{ sylius_resource_sort('email', 'sylius.user.email'|trans) }}</th>
            <th>{{ sylius_resource_sort('createdAt', 'sylius.user.registration_date'|trans) }}</th>
            <th>{{ sylius_resource_sort('enabled', 'sylius.user.enabled'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr id="{{ user.id }}" data-user="{{ user.email }}" {% if user.deleted %} class="danger"{% endif %}>
            <td>{{ user.id }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td><a href="{{ path('sylius_backend_user_show', {'id': user.id}) }}">{{ user.email }}</a></td>
            <td>{{ user.createdAt|date('d-m-Y H:i') }}</td>
            <td>
                {{ misc.state_label(user.enabled) }}
            </td>
            <td>
                <div class="pull-right">
                    {{ buttons.show(path('sylius_backend_user_show', {'id': user.id})) }}
                    {% if not user.deleted %}
                    {% if sylius_is_granted('sylius.user.update') %}
                    {{ buttons.edit(path('sylius_backend_user_update', {'id': user.id})) }}
                    {% else  %}
                        Not allowed to edit!
                    {% endif %}
                    {% if user.id is not sameas(app.user.id) %}
                        {{ buttons.delete(path('sylius_backend_user_delete', {'id': user.id}), null, null) }}
                    {% endif %}
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.user.no_results'|trans) }}
{% endif %}

{% endmacro %}

{% macro simple_list(users) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% if users|length > 0 %}
<table id="users" class="table">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('email', 'sylius.user.email'|trans) }}</th>
            <th>{{ sylius_resource_sort('enabled', 'sylius.user.enabled'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr id="{{ user.id }}" data-user="{{ user.email }}" {% if user.deleted %} class="danger"{% endif %}>
            <td>
                {{ user.fullname }}<br>
                <a href="{{ path('sylius_backend_user_show', {'id': user.id}) }}">
                    {{ user.email }}
                </a>
                </td>
            <td>
                {{ misc.state_label(user.enabled) }}
            </td>
            <td>
                <div class="pull-right">
                    {{ buttons.show(path('sylius_backend_user_show', {'id': user.id})) }}
                    {% if not user.deleted %}
                    {{ buttons.edit(path('sylius_backend_user_update', {'id': user.id})) }}
                    {% if user.id is not sameas(app.user.id) %}
                        {{ buttons.delete(path('sylius_backend_user_delete', {'id': user.id})) }}
                    {% endif %}
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.user.no_results'|trans) }}
{% endif %}

{% endmacro %}
