{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Macros:buttons.html.twig' as buttons %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.user.show_header'|trans|raw }}</h1>
</div>

<div class="well well-small">
    {{ buttons.manage(path('sylius_backend_user_index'), 'sylius.user.manage'|trans) }}
    {{ buttons.edit(path('sylius_backend_user_update', {'id': user.id})) }}
    {{ buttons.delete(path('sylius_backend_user_delete', {'id': user.id})) }}
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">{{ 'sylius.user.general_info'|trans({'%username%': user.username}) }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>{{ 'sylius.user.id'|trans }}</strong></td>
            <td>{{ user.id }}</td>
        </tr>
        {% if user.firstName %}
            <tr>
                <td><strong>{{ 'sylius.user.first_name'|trans }}</strong></td>
                <td>{{ user.firstName }}</td>
            </tr>
        {% endif %}
        {% if user.lastName %}
            <tr>
                <td><strong>{{ 'sylius.user.last_name'|trans }}</strong></td>
                <td>{{ user.lastName }}</td>
            </tr>
        {% endif %}
        <tr>
            <td><strong>{{ 'sylius.user.username'|trans }}</strong></td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'sylius.user.email'|trans }}</strong></td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'sylius.user.enabled'|trans }}</strong></td>
            <td>
                <span class="label label-{{ user.enabled ? 'success' : 'important'}}">
                    {{ user.enabled ? 'sylius.yes'|trans : 'sylius.no'|trans }}
                </span>
            </td>
        </tr>
        {% if user.lastLogin %}
        <tr>
            <td><strong>{{ 'sylius.user.last_login'|trans }}</strong></td>
            <td>{{ user.lastLogin|date }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>

<div class="row-fluid">
    {% if user.shippingAddress %}
        <div class="span6">
            {% include 'SyliusWebBundle:Backend/Address:_show.html.twig' with {'address': user.shippingAddress, 'title': 'sylius.user.shipping_address'|trans} %}
        </div>
    {% endif %}
    {% if user.billingAddress %}
        <div class="span6">
            {% include 'SyliusWebBundle:Backend/Address:_show.html.twig' with {'address': user.billingAddress, 'title': 'sylius.user.billing_address'|trans} %}
        </div>
    {% endif %}
</div>
<div class="row-fluid">
    <div class="well">
        <h3>{{ 'sylius.user.orders'|trans }}</h3>
    </div>
    {% render(url('sylius_backend_order_by_user', app.request.query.all|merge({id: user.id}) )) %}
</div>

{% endblock %}
