{% extends 'SyliusWebBundle:Backend:layout2Column.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page  %}

{% block sidebar %}
    {% include 'SyliusWebBundle:Backend/User:_sidebar.html.twig' %}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.customers'|trans }}</li>
    <li><a href="{{ path('sylius_backend_user_index') }}">{{ 'sylius.breadcrumb.user.index'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_user_update', {'id': user.id}) }}">{{ user.fullName }}</a></li>
    <li>{{ 'sylius.breadcrumb.edit'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ form_start(form, {'action': path('sylius_backend_user_update', {'id': user.id}), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}

{{ page.header('user.update', 'pencil', 'SyliusUiBundle:Form/Actions:_update.html.twig') }}

{% include 'SyliusWebBundle:Backend/User:_form.html.twig' %}
<input type="hidden" name="_method" value="PUT">

{{ form_end(form) }}
{% endblock %}
