<h1>{{ 'sylius.ui.register_in_the_store'|trans }}</h1>
{{ 'sylius.ui.create_a_new_customer_account'|trans }}

<div>
    <a href="{{ path('sylius_shop_login') }}">
        {{ 'sylius.ui.have_an_account_already'|trans }} {{ 'sylius.ui.sign_in_here'|trans }}.
    </a>
</div>
