{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% import '@SyliusAdmin/Shared/Helper/button.html.twig' as _button %}

{% set main_event = _context.main_event ~ '.form' %}
{% set fallback_event = _context.fallback_event ~ '.form' %}
{% set configuration = _context.configuration %}

{% set index_url = path(
    configuration.vars.index.route.name|default(configuration.getRouteName('index')),
    configuration.vars.index.route.parameters|default(configuration.vars.route.parameters|default({}))
)
%}

<div class="page-body">
    <div class="container-xl">
        {% if _context.render_rest %}
            <div class="card">
                <div class="card-body">
        {% endif %}
                    {{ form_start(form, {'action': path(configuration.vars.route.name|default(configuration.getRouteName('create')), configuration.vars.route.parameters|default({})), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate', 'id': form.vars.id}}) }}
                        {{ twig_event(
                            [main_event, fallback_event],
                            _context|merge({
                                main_event: main_event,
                                fallback_event: fallback_event,
                                form: form,
                            })
                        ) }}
                    {{ form_end(form, {'render_rest': _context.render_rest}) }}
        {% if _context.render_rest %}
                </div>
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="col"></div>
                        <div class="col-auto">
                            {{ _button.cancel({ text: 'sylius.ui.cancel'|trans, url: index_url, class: 'btn btn-ghost-secondary' }) }}
                            {{ _button.primary({ text: 'sylius.ui.create'|trans, type: 'submit', form: form.vars.id }) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
