{{ form_errors(form) }}

<fieldset>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.name, {'attr': {'class': 'input-lg'}}) }}
            {{ form_row(form.code, {'attr': {'class': 'input-lg'}}) }}
            {{ form_row(form.type) }}

            {% if form.scope is defined %}
            {{ form_row(form.scope) }}
            {% endif %}
        </div>
        <div class="col-md-6">
            {{ form_row(form.members) }}
        </div>
    </div>
</fieldset>
<hr>
{{ form_widget(form._token) }}
