{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Zone:macros.html.twig' import list %}
{% from 'SyliusResourceBundle:Macros:buttons.html.twig' import manage %}
{% from 'SyliusAddressingBundle:Zone:buttons.html.twig' import updateRoute %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.configuration'|trans }}</li>
    <li>{{ 'sylius.ui.zones'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {% include 'SyliusWebBundle:Backend/Zone:_zone_type_form.html.twig' %}
        {{ updateRoute("this.href=document.getElementById('zone_type').value+'/new'", 'sylius.ui.create'|trans) }}
        {{ manage(path('sylius_backend_country_index'), 'sylius.ui.manage_countries'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-globe"></i> {{ 'sylius.ui.zones'|trans|raw }}</h1>
</div>

{{ pagination(zones) }}
{{ list(zones) }}
{{ pagination(zones) }}

{% endblock %}
