{% form_theme form 'SyliusUiBundle:Form:theme.html.twig' %}

{% import 'SyliusUiBundle:Macro:messages.html.twig' as messages %}

<div class="ui middle aligned center aligned grid">
    <div class="column">
        {% if logo_path is defined %}
        <img src="{{ asset(logo_path) }}" class="ui fluid image" id="logo">
        {% endif %}

        {% if last_error %}
            <div class="ui left aligned basic segment">
                {{ messages.error(last_error.message) }}
            </div>
        {% endif %}

        <form class="ui large form" action="{{ action|default('/') }}" method="post" novalidate>
            <div class="ui left aligned segment">
                {{ form_row(form._username, {'value': last_username|default('')}) }}
                {{ form_row(form._password) }}
                {{ form_row(form._remember_me) }}
                <button type="submit" class="ui fluid large primary submit button">Login</button>
            </div>
        </form>
    </div>
</div>
