<div class="ui grid">
    <div class="center aligned doubling four column row">
        <div class="column">
            <a href="{{ path('sylius_admin_product_index') }}" class="ui basic big fluid button">
                <i class="cubes icon"></i>
                {{ 'sylius.ui.products'|trans }}
            </a>
        </div>
        <div class="column">
            <a href="{{ path('sylius_admin_order_index') }}" class="ui basic big fluid button">
                <i class="shop icon"></i>
                {{ 'sylius.ui.orders'|trans }}
            </a>
        </div>
        <div class="column">
            <a href="{{ path('sylius_admin_customer_index') }}" class="ui basic big fluid button">
                <i class="users icon"></i>
                {{ 'sylius.ui.customers'|trans }}
            </a>
        </div>
        <div class="column">
            <a href="{{ path('sylius_admin_promotion_index') }}" class="ui basic big fluid button">
                <i class="ticket icon"></i>
                {{ 'sylius.ui.promotions'|trans }}
            </a>
        </div>
    </div>
</div>
