{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% import 'SyliusUiBundle:Macro:headers.html.twig' as headers %}

{% block title %}{{ parent() }}{{ 'sylius.ui.dashboard'|trans }}{% endblock %}

{% block content %}
{{ headers.default('sylius.ui.dashboard'|trans, 'home', 'sylius.ui.overview_of_your_store'|trans) }}

{% include '@SyliusAdmin/Dashboard/_menu.html.twig' %}
{% include '@SyliusAdmin/Dashboard/_statistics.html.twig' %}

<div class="ui two column stackable grid">
    <div class="column">
        {{ render(url('sylius_admin_partial_customer_latest', {'count': 5, 'template': '@SyliusAdmin/Dashboard/_customers.html.twig'})) }}
    </div>
    <div class="column">
        {{ render(url('sylius_admin_partial_order_latest', {'count': 5, 'template': '@SyliusAdmin/Dashboard/_orders.html.twig'})) }}
    </div>
</div>

{% endblock %}
