<div class="item">
    <div class="content">
        <a href="{{ path('sylius_admin_product_attribute_update', {id: item.id}) }}" class="header">
            {{ item.name }}
        </a>
        <div class="meta">
            <div class="ui label">{{ item.type }}</div>
        </div>
        <div class="extra">
            <div class="ui right floated buttons">
                <a class="ui labeled icon button" href="{{ path('sylius_admin_product_attribute_update', {id: item.id}) }}">
                    <i class="icon pencil"></i>
                    {{ 'sylius.ui.edit'|trans }}
                </a>
            </div>
        </div>
    </div>
</div>
