{% extends 'SyliusBackendBundle::layout.html.twig' %}

{% block content %}

<h1>Szczegóły zamówienia...</h1>

<p> Podstawowe informacje o zamówieniu i lista zakupionych przedmiotów. </p>

<fieldset>

<a href="{{ path('backend_order_delete', {'id': order.id}) }}" class="button2">usuń</a> 

<a href="{{ path('backend_order_revert', {'id': order.id}) }}" class="button2">wycofaj</a>

</fieldset>

<fieldset>

        <legend>Informacje o zamówieniu.</legend>
        
    <dl>

        <dt> <label>Identyfikator zamówienia</label>...</dt>
        
        <dd> <strong>{{ order.id }}</strong> </dd>
        
    </dl>
    
    <dl>

        <dt> <label>Data złożenia</label>...</dt>
        
        <dd> {{ order.createdAt }} </dd>
        
    </dl>
    
    <dl>

        <dt> <label>Status</label>...</dt>
        
        <dd> {{ order.status }}... </dd>
        
    </dl>
    
    <dl>

        <dt> <label>Zamawiający</label>... </dt>
        
        <dd> 
        
            {{ order.user.name }} {{ order.user.surname }}
        
         </dd>
        
    </dl>
    
    <dl>

        <dt> <label>Wartość</label>...</dt>
        <dd> <strong>{{ order.value }}</strong> PLN!</dd>
        
    </dl>
    
</fieldset>

<fieldset>

        <legend>Informacje o dostawie i płatnościach.</legend>
        
    <dl>

        <dt> <label>Imię</label>...</dt>
        
        <dd> {{ order.address.name }} </dd>
        
    </dl>
    
    <dl>

        <dt> <label>Nazwisko</label>...</dt>
        
        <dd> {{ order.address.surname }} </dd>
        
    </dl>
    
    <dl>

        <dt> <label>Miejscowość</label>...</dt>
        
        <dd> {{ order.address.city }} </dd>
        
    </dl>
    
    <dl>

        <dt> <label>Adres</label>...</dt>
        
        <dd> {{ order.address.street }} </dd>
        
    </dl>
    
    <dl>

        <dt> <label>Kod pocztowy</label>...</dt>
        
        <dd> {{ order.address.postcode }} </dd>
        
    </dl>
    
    <dl>

        <dt> <label>Telefon kontaktowy</label>...</dt>
        
        <dd> {{ order.address.phone }} </dd>
        
    </dl>
    
    <dl>

        <dt> <label>E-mail kontaktowy</label>...</dt>
        
        <dd> {{ order.address.email }} </dd>
        
    </dl>
    
    <dl>

        <dt> <label>Typ dostawy</label>...</dt>
        
        <dd> {{ order.delivery.title }} </dd>
        
    </dl>
    
    <dl>

        <dt> <label>Typ płatności</label>...</dt>
        
        <dd> {{ order.payment.title }} </dd>
        
    </dl>
    
</fieldset>

<div class="infoBox" style="margin-left: 7px;">

Poniższe dane dotyczą tylko klientów hurtowych.

</div>

<fieldset>

        <legend>Dane firmowe.</legend>
        
    <dl>

        <dt> <label>Nazwa</label>...</dt>
        
        <dd> {{ order.address.company }} </dd>
        
    </dl>
    
    <dl>

        <dt> <label>NIP</label>...</dt>
        
        <dd> {{ order.address.nip }} </dd>
        
    </dl>

</fieldset>

<table cellspacing="1">
            
    <col class="col1" /> <col class="col2" /> <col class="col1" />
    
    <thead>
        
        <tr>
            
            <th>fotografia</th>
                
            <th>produkt</th>
            
            <th>ilość</th>
    
        </tr>
        
    </thead>
        
    <tbody>
    
        {% for item in order.items %}
        
            <tr style="border-bottom: 1px dotted #493355">
            
                <td rowspan="2" style="padding: 0; width: 170px;">  </td>
        
                <td style="border-right: 0; text-align: left; vertical-align: top;">
                
                    <strong><a href="{{ path('backend_product_show', {'id': item.product.id}) }}" class="productTitle">{{ item.product.title }}</a></strong> <br /><br />
                    
                    {{ item.product.description }}
                
                </td>
                
                <td style="width: 1%; text-align: center;">
                
                    <strong>{{ item.quantity }}</strong> {{ item.product.sku }}
                
                </td>
        
            </tr>
            
            <tr>

                <td style="border-right: 0; text-align: left; padding-right: 0; vertical-align: bottom;" colspan="2">
                
                    <strong>Cena</strong>:
                        
                    
                
                    <br />
                
                    <strong>Dostępność</strong>:
                
                    
                
                </td>
        
            </tr>
        
        {% endfor %}
        
    </tbody>
                
</table>

{% endblock %}