{% macro list(taxons) %}
    {% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

    {% if taxons|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'sylius.ui.code'|trans  }}</th>
                    <th>{{ 'sylius.ui.name'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{ _self.tree(taxons) }}
            </tbody>
        </table>
    {% else %}
        {{ alerts.info('sylius.ui.there_are_no_taxons_to_display'|trans) }}
    {% endif %}

{% endmacro %}

{% macro tree(taxons) %}
    {% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

    {% for taxon in taxons %}
        <tr id="{{ taxon.id }}">
            <td>
                {{ taxon.code }}
            </td>
            <td>
                <span style="border-left: {{ taxon.level * 20}}px solid #f1f1f1; padding-left: 10px;">
                    {% if taxon.path|length > 0 %}
                        <a href="{{ taxon.path|imagine_filter('sylius_large') }}" title="{{ taxon.name }}">
                            <img src="{{ taxon.path|imagine_filter('sylius_small') }}" alt="" class="img-rounded" />
                        </a>
                    {% endif %}
                    <a href="{{ path('sylius_backend_taxon_show', {'id': taxon.id}) }}">{{ taxon.name }}</a>
                </span>
            </td>
            <td>
                <div class="pull-right">
                {{ buttons.generic(path('sylius_backend_taxon_product_index', {'id': taxon.id}), 'sylius.ui.browse_products'|trans) }}
                {{ buttons.edit(path('sylius_backend_taxon_update', {'id': taxon.id})) }}
                {{ buttons.delete(path('sylius_backend_taxon_delete', {'id': taxon.id})) }}
                </div>
            </td>
        </tr>
        {% if taxon.children|length > 0 %}
            {{ _self.tree(taxon.children) }}
        {% endif %}
    {% endfor %}
{% endmacro %}
