{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Product:macros.html.twig' import list as list_products %}
{% from 'SyliusWebBundle:Backend/Taxon:macros.html.twig' import list as list_taxons %}
{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.assortment'|trans }}</li>
    <li><a href="{{ path('sylius_backend_taxon_index') }}">{{ 'sylius.ui.taxons'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_taxon_show', {'id': taxon.id})}}">{{ taxon.name }}</a></li>
    <li>{{ taxon.name }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_taxon_create'), 'sylius.ui.create_taxon'|trans) }}
        {{ buttons.manage(path('sylius_backend_taxon_index'), 'sylius.taxon.manage'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-tags"></i> {{ 'sylius.ui.products_categorized_as_name'|trans({'%name%': taxon.name})|raw }}</h1>
</div>

{{ pagination(products) }}
{{ list_products(products) }}
{{ pagination(products) }}

{% endblock %}
