<h3 class="ui top attached header">{{ 'sylius.ui.inventory'|trans }}</h3>
<div class="ui attached segment">
    {% if product.simple %}
        {{ form_row(form.variant.onHand) }}
        <br />

        {{ form_row(form.variant.tracked) }}
        <div class="ui pointing above ignored label">
            {{ form_help(form.variant.tracked) }}
        </div>
        <br /><br />

        {{ form_row(form.variant.orderItemUnitGenerationMode) }}
        <div class="ui pointing above ignored label" style="line-height: 1.5em">
            {{ 'sylius.form.variant.order_item_unit_generation_mode.help_first_line'|trans }} <br />
            {{ 'sylius.form.variant.order_item_unit_generation_mode.help_second_line'|trans }} <br />
            {{ 'sylius.form.variant.order_item_unit_generation_mode.help_third_line'|trans }}
        </div>

        {{ form_row(form.variant.version) }}
    {% endif %}
</div>

{{ sylius_template_event(['sylius.admin.product.' ~ action ~ '.tab_inventory', 'sylius.admin.product.tab_inventory'], {'form': form}) }}
