<div class="ui tab" data-tab="taxonomy">
    <h3 class="ui top attached header">{{ 'sylius.ui.taxonomy'|trans }}</h3>

    <div class="ui attached segment">
        {{ form_row(form.mainTaxon) }}

        <h4>{{ 'sylius.ui.product_taxon'|trans }}</h4>
        <div id="sylius-product-taxonomy-tree"
             data-tree-root-nodes-url="{{ path('sylius_admin_ajax_taxon_root_nodes') }}"
             data-tree-leafs-url="{{ path('sylius_admin_ajax_taxon_leafs') }}"
        >
            {{ form_widget(form.productTaxons) }}
            <div class="ui inverted dimmer">
                <div class="ui loader"></div>
            </div>
        </div>

        {{ sylius_template_event(['sylius.admin.product.' ~ action ~ '.tab_taxonomy', 'sylius.admin.product.tab_taxonomy'], {'form': form}) }}
    </div>
</div>
