{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block slideshow_full %}
    <div class="row">
        {{ sonata_block_render({'name': '/cms/blocks/slideshow-full'}) }}
    </div>
{% endblock %}

{% block slideshow_sidebar %}
    <div class="row">
        {{ sonata_block_render({'name': '/cms/blocks/slideshow-sidebar'}) }}
    </div>
{% endblock %}


{% block content %}

<div class="jumbotron">
    <h1>{{ 'sylius.homepage.splash.headline'|trans }}</h1>
    <p class="lead">{{ 'sylius.homepage.splash.subheadline'|trans }}</p>
</div>

{{ sonata_block_render({'name': '/cms/blocks/slideshow-home'}) }}

{{ render(url('sylius_partial_product_latest', {'limit': 9, 'template': 'SyliusWebBundle:Frontend/Product:latest.html.twig'})) }}

{% endblock %}
