{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

{% import 'SyliusWebBundle:Backend/Content/Form:forms.html.twig' as forms %}

<fieldset>
    <div class="row">
        <div class="col-md-6 row-split">
            {{ form_row(form.publishable) }}
            {{ form_row(form.publishStartDate) }}
            {{ form_row(form.publishEndDate) }}
            {{ form_row(form.display) }}
            {{ form_row(form.displayChildren) }}
            {{ form_row(form.name, {'attr': {'class': 'input-lg'}}) }}
            {{ form_row(form.label, {'attr': {'class': 'input-lg'}}) }}
            {{ forms.readonly(form.parent,form.parent.vars.value,'/cms/menus') }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.children) }}
        </div>
    </div>
</fieldset>
{{ form_widget(form._token) }}

{% macro prototype(item) %}
    <div>
        {{ form_row(item.display)  }}
        {{ form_row(item.name)  }}
        {{ form_row(item.label)  }}
        {{ form_row(item.content)  }}
        {{ form_row(item.uri)  }}
        {{ form_row(item.route)  }}
    </div>
    <hr />
{% endmacro %}
