{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Content/Menu:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.content'|trans }}</li>
    <li>{{ 'sylius.ui.menus'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_menu_create'), 'sylius.ui.create_menu'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-list-alt"></i> {{ 'sylius.ui.menus'|trans|raw }}</h1>
</div>

{{ pagination(menus) }}
{{ list(menus) }}
{{ pagination(menus) }}

{% endblock %}
