{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.support'|trans }}</li>
    <li><a href="{{ path('sylius_backend_contact_request_index') }}">{{ 'sylius.ui.contact_requests'|trans }}</a></li>
    <li>{{ 'sylius.ui.new'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-plus-sign"></i> {{ 'sylius.ui.new_contact_request'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('sylius_backend_contact_request_create') }}" method="post" class="form-horizontal" novalidate>
    {% include 'SyliusWebBundle:Backend/ContactRequest:_form.html.twig' %}
    {{ create() }}
</form>
{% endblock %}
