{% macro list(contact_requests) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if contact_requests|length > 0 %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('firstName', 'sylius.ui.firstname'|trans) }}</th>
            <th>{{ sylius_resource_sort('lastName', 'sylius.ui.lastname'|trans) }}</th>
            <th>{{ sylius_resource_sort('email', 'sylius.ui.email'|trans) }}</th>
            <th>{{ sylius_resource_sort('topic', 'sylius.ui.topic'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for contact_request in contact_requests %}
        <tr id="{{ contact_request.id }}">
            <td>{{ contact_request.firstName }}</td>
            <td>{{ contact_request.lastName }}</td>
            <td>{{ contact_request.email }}</td>
            <td>{{ contact_request.topic }}</td>
            <td>
                <div class="pull-right">
                {{ buttons.show(path('sylius_backend_contact_request_show', {'id': contact_request.id})) }}
                {{ buttons.edit(path('sylius_backend_contact_request_update', {'id': contact_request.id})) }}
                {{ buttons.delete(path('sylius_backend_contact_request_delete', {'id': contact_request.id})) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.ui.there_are_no_contact_requests_to_display'|trans) }}
{% endif %}

{% endmacro %}
