{% extends '@SyliusShop/Layout/main.html.twig' %}

{% form_theme form '@SyliusUi/Form/theme.html.twig' %}

{% block content %}
    <div class="ui two column stackable grid">
        <div class="column">
            <h1 class="ui header">
                <i class="circular user icon"></i>
                <div class="content">
                    {{ 'sylius.ui.register_in_the_store'|trans }}
                    <div class="sub header">{{ 'sylius.ui.create_a_new_customer_account'|trans }}</div>
                </div>
            </h1>
        </div>
        <div class="middle aligned column">
            <a href="{{ path('sylius_shop_login') }}" class="ui right floated basic button">{{ 'sylius.ui.have_an_account_already'|trans }}? {{ 'sylius.ui.sign_in_here'|trans }}.</a>
        </div>
    </div>

    <div class="ui padded segment">
        {{ form_start(form, {'action': path('sylius_shop_register'), 'attr': {'class': 'ui form', 'novalidate': 'novalidate'}}) }}
            <h4 class="ui dividing header">{{ 'sylius.ui.personal_information'|trans }}</h4>
            <div class="two fields">
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
            </div>
            {{ form_row(form.email) }}
            <h4 class="ui dividing header">{{ 'sylius.ui.account_credentials'|trans }}</h4>
            {{ form_row(form.user.plainPassword.first) }}
            {{ form_row(form.user.plainPassword.second) }}
            <button type="submit" class="ui large primary button">
                {{ 'sylius.ui.create_an_account'|trans }}
            </button>
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
