{% import '@SyliusAdmin/Shared/Helper/translations.html.twig' as _translations %}

{% set form = hookable_metadata.context.form %}

<div class="card mb-3">
    <div class="card-header">
        <div class="card-title">{{ 'sylius.ui.translations'|trans }}</div>
    </div>

    <div class="card-body">
        <div class="row">
            {% set body %}
                {% verbatim %}
                    <div class="row"">
                        <div class="col-12">
                            {{ form_row(translationForm.name) }}
                            {{ form_row(translationForm.description) }}
                            {{ form_row(translationForm.instructions) }}
                        </div>
                    </div>
                {% endverbatim %}
            {% endset %}
            {{ _translations.default(form.translations, body) }}
        </div>
    </div>
</div>
