{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusTaxationBundle:TaxRate:macros.html.twig' as macros %}

<h1>Tax rates <small>Configure your tax tax_rates</small></h1>

<div class="well">
    {{ buttons.manage(path('sylius_tax_category_index'), 'manage taxation categories') }}
    {{ buttons.create(path('sylius_tax_rate_create'), 'new tax rate') }}
</div>

{% if tax_rates.haveToPaginate()|default(false) %}
{{ pagerfanta(tax_rates, 'twitter_bootstrap_translated') }}
{% endif %}

{{ macros.list(tax_rates) }}

{% if tax_rates.haveToPaginate()|default(false) %}
{{ pagerfanta(tax_rates, 'twitter_bootstrap_translated') }}
{% endif %}
