{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/ContactRequest:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.support'|trans }}</li>
    <li>{{ 'sylius.ui.contact_requests'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_contact_request_create'), 'sylius.ui.create_contact_request'|trans) }}
    </div>
    <h1><i class="fa fa-comments"></i> {{ 'sylius.ui.contact_requests'|trans|raw }}</h1>
</div>

{{ list(contact_requests) }}

{% endblock %}
