{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.support'|trans }}</li>
    <li><a href="{{ path('sylius_backend_contact_request_index') }}">{{ 'sylius.breadcrumb.contact_request.index'|trans }}</a></li>
    <li>{{ contact_request.id }}</li>
    <li>{{ 'sylius.breadcrumb.contact_request.show'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="fa fa-life-ring"></i> {{ 'sylius.contact_request.show_header'|trans|raw }}</h1>
</div>

{{ contact_request.firstName }} <br/>
{{ contact_request.lastName }} <br/>
{{ contact_request.email }} <br/>
{{ contact_request.topic }} <br/>
{{ contact_request.message }}

{% endblock %}
