{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

{{ form_errors(form) }}

<fieldset id="metadata-form">
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.id) }}
            <hr/>
            {{ form_row(form.metadata.title) }}
            {{ form_row(form.metadata.description) }}
            {{ form_row(form.metadata.keywords) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.metadata.twitter) }}
        </div>
    </div>
</fieldset>
<hr>
{{ form_widget(form._token) }}
