{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% macro dataAsList(data) %}
    {% if data is iterable and data|length > 0 %}
        <ul>
            {% for key, element in data %}
                <li>
                    {% if key is not same as(loop.index0) %}<b>{{ key|humanize }}:</b> {% endif %}{{ _self.dataAsList(element) }}
                </li>
            {% endfor %}
        </ul>
    {% elseif data is not empty %}
        {{ data }}
    {% else %}
        <small><i>empty</i></small>
    {% endif %}
{% endmacro %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.configuration'|trans }}</li>
    <li><a href="{{ path('sylius_backend_metadata_container_index') }}">{{ 'sylius.ui.metadata_index'|trans }}</a></li>
    <li>{{ metadata_container.id }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.manage(path('sylius_backend_metadata_container_index'), 'sylius.ui.manage_metadata'|trans) }}
        {{ buttons.edit(path('sylius_backend_metadata_container_customize', { 'id': metadata_container.id })) }}
        {{ buttons.delete(path('sylius_backend_metadata_container_delete', { 'id': metadata_container.id }), null, false, false) }}
    </div>
    <h1><i class="glyphicon glyphicon-flag"></i> {{ 'sylius.ui.show_metadata'|trans|raw }}</h1>
</div>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>{{ 'sylius.ui.id'|trans }}</th>
            <th>{{ 'sylius.ui.content'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ metadata_container.id }}</td>
            <td>{{ _self.dataAsList(metadata_container.metadata.toArray()) }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
