<div class="ui hidden divider"></div>
<h4 class="ui top attached large header">{{ 'sylius.ui.look_and_feel'|trans }}</h4>
<div class="ui attached segment">
    {{ form_row(form.themeName) }}
</div>
<div class="ui attached segment">
    {{ form_row(form.locales) }}
    {{ form_row(form.defaultLocale) }}
</div>
<div class="ui attached segment">
    {{ form_row(form.menuTaxon) }}
</div>
<div class="ui hidden divider"></div>
<div class="ui attached segment">
    {{ form_row(form.skippingShippingStepAllowed) }}
    {{ form_row(form.skippingPaymentStepAllowed) }}
    {{ form_row(form.accountVerificationRequired) }}
    <small class="text gray ">{{ 'sylius.ui.channel.account_verification_required_details'|trans }}</small>
</div>
