{% extends 'SyliusAddressingBundle::layout.html.twig' %}

{% block content %}

<div class="page-header">
    <h1>{{ "header.list" | trans({}, 'SyliusAddressingBundle') | raw }}</h1>
</div>

<div class="well">
<a href="{{ path('sylius_addressing_backend_address_create') }}" class="btn primary large">{{ "address.create" | trans({}, 'SyliusAddressingBundle') }}</a>
</div>

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
{% endif %}

{% if addresses %}
<table class="zebra-stripped">
    <thead>
        <tr>
            <th><a href="{{ path('sylius_addressing_backend_address_list', {'sort': 'id', 'order': sorter.order}) }}">#id</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for address in addresses %}
        <tr>
            <td>{{ address.id }}</td>
            <td><a href="mailto:{{ address.email }}">{{ address.email }}</a></td>
            <td>
                <div class="pull-right">
                <a href="{{ path('sylius_addressing_backend_address_show', {'id': address.id}) }}" class="btn">{{ "show" | trans({}, 'SyliusAddressingBundle') }}</a>
                <a href="{{ path('sylius_addressing_backend_address_update', {'id': address.id}) }}" class="btn">{{ "update" | trans({}, 'SyliusAddressingBundle') }}</a>
                <a href="{{ path('sylius_addressing_backend_address_delete', {'id': address.id}) }}" class="btn danger">{{ "delete" | trans({}, 'SyliusAddressingBundle') }}</a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert-message info">
  <p>{{ "list.address.empty" | trans({}, 'SyliusAddressingBundle') }}</p>
</div>
{% endif %}

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
{% endif %}

{% endblock %}
