{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}{{ 'sylius.ui.administrator_status'|trans }} {{ parent() }}{% endblock %}

{% block content %}

    <div class="ui stackable two column grid">
        <div class="ten wide column">
            {% include '@SyliusAdmin/AdministratorStatus/_header.html.twig' %}
        </div>

        {% set menu = knp_menu_get('sylius.admin.administrator_status') %}
        {{ knp_menu_render(menu, {'template': '@SyliusUi/Menu/top.html.twig'}) }}
    </div>

    {% include '@SyliusAdmin/AdministratorStatus/_main_information.html.twig' %}

    <div class="ui hidden divider"></div>

    <h4 class="ui top attached large header">{{ 'sylius.ui.php_modules'|trans }}</h4>
    <div class="ui attached segment">
        <div class="ui grid">
            <div class="ui row large labels">
                {% for property in modules|sort %}
                    <div class="ui label">
                        {{ property }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
