{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block javascripts %}
{{ parent() }}
{% javascripts output='assets/compiled/backend_export_profile.js'
    'bundles/syliusimportexport/js/prototype-handler.js'
    'bundles/syliusimportexport/js/sylius-export-profile.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li><a href="{{ path('sylius_backend_export_profile_index') }}">{{ 'sylius.breadcrumb.export_profile.index'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_export_profile_show', {'id': export_profile.id}) }}">{{ export_profile.name  }}</a></li>
    <li>{{ 'sylius.breadcrumb.edit'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-pencil"></i> {{ 'sylius.export_profile.update_header'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('sylius_backend_export_profile_update', {'id': export_profile.id}) }}" method="post" class="form-horizontal" novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/ExportProfile:_form.html.twig' %}
    {{ update() }}
</form>
{% endblock %}
