{% import "@SyliusShop/shared/macro/money.html.twig" as money %}
{% from '@SyliusShop/shared/icon.html.twig' import icon %}

<div {{ sylius_test_html_attribute('cart-button') }}>
    <button class="btn btn-icon btn-transparent px-0 position-relative" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart">
        {{ icon('bag') }}
        <span class="d-none d-lg-block ps-1" {{ sylius_test_html_attribute('cart-total') }}>
            {{- money.convertAndFormat(cart.itemsTotal) -}}
            {{- 'sylius.ui.item.choice'|trans({'%count%': cart.totalQuantity}) }}
        </span>
        {% if cart.totalQuantity > 0 %}
            <span class="position-absolute top-0 start-0 badge rounded-pill bg-primary">
                {{ cart.totalQuantity }}
            </span>
        {% endif %}
    </button>
</div>
