{% set product = product_review.reviewSubject %}
<div class="ui breadcrumb">
    <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
    <div class="divider"> / </div>
    {% if product.mainTaxon is not null %}
        {% set taxon = product.mainTaxon %}
        {% set parents = taxon.parents|reverse %}

        {% for parent in parents %}
            <a href="{{ path('sylius_shop_taxon_show', {'slug': parent.slug}) }}" class="section">{{ parent.name }}</a>
            <div class="divider"> / </div>
        {% endfor %}

        <a href="{{ path('sylius_shop_taxon_show', {'slug': taxon.slug}) }}" class="section">{{ taxon.name }}</a>
        <div class="divider"> / </div>
    {% endif %}
    <div class="section">{{ product.name }}</div>
    <div class="divider"> / </div>
    <div class="active section">{{ 'sylius.ui.new_review'|trans }}</div>
</div>
