{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {% include '@SyliusShop/Product/Review/_breadcrumb.html.twig' %}
    <div class="ui hidden divider"></div>

    <div class="ui stackable grid" id="reviews">
        <div class="four wide column">
            {{ render(url('sylius_shop_product_simple_show', { 'slug': app.request.attributes.get('slug') })) }}
        </div>
        <div class="twelve wide column">
            <div class="ui dividing header">
                {{ 'sylius.ui.write_your_own_review'|trans }}
                <div class="sub header">
                    {{ 'sylius.ui.you_are_reviewing'|trans }}: <strong>{{ product_review.reviewSubject.getName() }}</strong>
                </div>
            </div>
            <form action="{{ path('sylius_shop_product_reviews_create', { 'slug': product_review.reviewSubject.getSlug() }) }}" method="POST" class="ui reply form">
                <div class="field">
                    <div class="ui huge star rating" data-rating="5" data-max-rating="5"></div>
                    {{ form_widget(form.rating, { 'attr': { 'style': 'display: none' }, 'value': '5' }) }}
                </div>
                <div class="field">
                    {{ form_widget(form.title, { 'attr': { 'placeholder': 'sylius.ui.title'|trans } }) }}
                </div>
                <div class="field">
                    {{ form_widget(form.comment) }}
                </div>
                {{ form_row(form._token) }}
                <button type="submit" class="ui blue labeled submit icon button">
                    <i class="icon edit"></i> {{ 'sylius.ui.add'|trans }}
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('.ui.rating').rating({
                onRate: function(value) {
                    $("[name='sylius_product_review[rating]']:checked").removeAttr('checked');
                    $("#sylius_product_review_rating_"+(value-1)).attr('checked', 'checked');
                }
            });
        });
    </script>
{% endblock %}
