{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form 'SyliusUiBundle:Form:theme.html.twig' %}

{% set product = product_review.reviewSubject %}

{% block content %}
    <div class="ui hidden divider"></div>

    <div class="ui stackable grid" id="reviews">
        <div class="four wide column">
            {{
                render(url('sylius_shop_partial_product_show', {
                    'slug': app.request.attributes.get('slug'),
                    'template': '@SyliusShop/Product/_simpleBox.html.twig'
                }))
            }}
        </div>
        <div class="twelve wide column">
            <div class="ui dividing header">
                {{ 'sylius.ui.write_your_own_review'|trans }}
                <div class="sub header">
                    {{ 'sylius.ui.you_are_reviewing'|trans }} <strong>{{ product.name }}</strong>.
                </div>
            </div>
            <form action="{{ path('sylius_shop_product_review_create', {'slug': product.slug}) }}" method="POST" class="ui reply form" novalidate>
                {% include '@SyliusShop/Product/Review/_form.html.twig' %}
                {{ form_row(form._token) }}
                <button type="submit" class="ui blue labeled large icon submit button">
                    <i class="icon check"></i> {{ 'sylius.ui.add'|trans }}
                </button>
            </form>
        </div>
    </div>
{% endblock %}
