<div class="ui fluid vertical menu">
    <div class="header item">My account</div>
    <a href="{{ path('sylius_shop_account_dashboard') }}" class="item">{{ 'sylius.ui.dashboard'|trans }}</a>
    <a href="{{ path('sylius_shop_account_profile_update') }}" class="item">{{ 'sylius.ui.personal_information'|trans }}</a>
    <a href="{{ path('sylius_shop_account_change_password') }}" class="item">{{ 'sylius.ui.change_password'|trans }}</a>
</div>
