{% extends '@SyliusShop/Account/layout.html.twig' %}
{% from '@SyliusShop/Shared/breadcrumbs.html.twig' import breadcrumbs as breadcrumbs %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.change_password'|trans }} | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumbs([
        { label: 'sylius.ui.home'|trans, path: path('sylius_shop_homepage')},
        { label: 'sylius.ui.my_account'|trans, path: path('sylius_shop_account_dashboard')},
        { label: 'sylius.ui.change_password'|trans, active: true }
    ]) }}
{% endblock %}

{% block account_header %}
    {% set title = 'sylius.ui.change_password'|trans %}
    {% set description = 'sylius.ui.set_a_new_password_for_your_account'|trans %}
    {{ parent() }}
{% endblock %}

{% block account_content %}
    <div>
        {{ form_start(form, {'action': path('sylius_shop_account_change_password'), 'attr': {'novalidate': 'novalidate'}}) }}

        <div class="mb-4">
            {{ form_row(form.currentPassword, sylius_test_form_attribute('current-password')) }}
            {{ form_row(form.newPassword.first, sylius_test_form_attribute('new-password')) }}
            {{ form_row(form.newPassword.second, sylius_test_form_attribute('confirmation-new-password')) }}
        </div>

        <button class="btn btn-primary" type="submit" {{ sylius_test_html_attribute('save-changes') }}>
            {{ 'sylius.ui.save_changes'|trans }}
        </button>

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
