{% extends 'SyliusShopBundle:Layout:main.html.twig' %}

{% form_theme form '@SyliusUi/Form/theme.html.twig' %}

{% block content %}
<div class="ui breadcrumb">
    <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
    <div class="divider"> / </div>
    <a href="{{ path('sylius_shop_account_dashboard') }}" class="section">{{ 'sylius.ui.my_account'|trans }}</a>
    <div class="divider"> / </div>
    <div class="active section">{{ 'sylius.ui.change_password'|trans }}</div>
</div>

<div class="ui stackable grid">
    <div class="four wide column">
        {% include 'SyliusShopBundle:Account:_menu.html.twig' %}
    </div>
    <div class="twelve wide column">
        <div class="ui segment">
            <h1 class="ui dividing header">
                {{ 'sylius.ui.change_password'|trans }}
                <div class="sub header">{{ 'sylius.ui.set_a_new_password_for_your_account'|trans }}</div>
            </h1>
            {{ form_start(form, {'action': path('sylius_shop_account_change_password'), 'attr': {'class': 'ui form', 'novalidate': 'novalidate'}}) }}
            {{ form_row(form.currentPassword) }}
            {{ form_row(form.newPassword.first) }}
            {{ form_row(form.newPassword.second) }}

            <button type="submit" class="ui large primary button">{{ 'sylius.ui.save_changes'|trans }}</button>
            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
</div>
{% endblock %}
