{% extends 'SyliusShopBundle:Layout:main.html.twig' %}

{% block content %}
    <div class="ui breadcrumb">
        <a class="section">Home</a>
        <div class="divider"> / </div>
        <div class="active section">My account</div>
    </div>

    <div class="ui stackable grid">
        <div class="four wide column">
            {% include 'SyliusShopBundle:Account:_main.html.twig' %}
        </div>
        <div class="twelve wide column">
            <h1 class="ui monster section dividing header">
                {{ 'sylius.ui.change_password'|trans }}
                <div class="sub header">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
            </h1>
            <form action="{{ path('sylius_shop_account_change_password') }}" {{ form_enctype(form) }} method="POST" class="ui form">
                <div class="field">
                    <label>{{ 'sylius.ui.current_password'|trans }}</label>
                    {{ form_row(form.currentPassword, {'label': false}) }}
                </div>
                <div class="field">
                    <label>{{ 'sylius.ui.new_password'|trans }}</label>
                    {{ form_row(form.newPassword.first, {'label': false}) }}
                </div>
                <div class="field">
                    <label>{{ 'sylius.ui.repeat_new_password'|trans }}</label>
                    {{ form_row(form.newPassword.second, {'label': false}) }}
                </div>

                {{ form_widget(form._token) }}

                <button type="submit" class="ui large primary button">{{ 'sylius.ui.save_changes'|trans }}</button>
            </form>
        </div>
    </div>
{% endblock %}
