{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block title %}{{ 'sylius.ui.my_account'|trans }} | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <div>
        <a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a>
        <div>{{ 'sylius.ui.my_account'|trans }}</div>
    </div>
{% endblock %}

{% block subcontent %}
    <h1>{{ 'sylius.ui.my_account'|trans }}</h1>
    <div>{{ 'sylius.ui.manage_your_personal_information_and_preferences'|trans }}</div>

    {{ sylius_template_event('sylius.shop.account.dashboard.after_content_header', {'customer': customer}) }}

    <div {{ sylius_test_html_attribute('customer-information') }}>
        <div>
            {{ customer.fullName }}
        </div>
        <div>
            <strong>
                {{ customer.email }}
            </strong>
        </div>
        <div>
            {% if customer.user.verified %}
                <span>{{ 'sylius.ui.verified'|trans }}</span>
            {% else %}
                <span>{{ 'sylius.ui.not_verified'|trans }}</span>
            {% endif %}
        </div>
    </div>

    {{ sylius_template_event('sylius.shop.account.dashboard.after_information', {'customer': customer}) }}

    <div>
        <a href="{{ path('sylius_shop_account_profile_update') }}">{{ 'sylius.ui.edit'|trans }}</a>
        <a href="{{ path('sylius_shop_account_change_password') }}">{{ 'sylius.ui.change_password'|trans }}</a>
        {% if not customer.user.verified %}
            <form {{ sylius_test_html_attribute('verification-form') }} action="{{ path('sylius_shop_user_request_verification_token') }}" method="post">
                <button type="submit" {{ sylius_test_html_attribute('verification-button') }}>
                    {{ 'sylius.ui.verify'|trans }}
                </button>
            </form>
        {% endif %}
    </div>
{% endblock %}
