{% extends 'SyliusShopBundle:Layout:main.html.twig' %}

{% block content %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> / </div>
        <div class="active section">{{ 'sylius.ui.my_account'|trans }}</div>
    </div>

    <div class="ui stackable grid">
        <div class="four wide column">
            {% include 'SyliusShopBundle:Account:_menu.html.twig' %}
        </div>
        <div class="twelve wide column">
            <h1 class="ui monster section dividing header">
                {{ 'sylius.ui.my_account'|trans }}
                <div class="sub header">{{ 'sylius.ui.manage_your_personal_information_and_preferences'|trans }}</div>
            </h1>
            <div class="ui large list" id="customer-information">
                <div class="ui item">
                    {{ customer.fullName }}
                </div>
                <div class="ui item">
                    <strong>{{ customer.email }}</strong>
                </div>
            </div>
            <div class="ui text menu">
                <a href="{{ path('sylius_shop_account_profile_update') }}" class="item"><i class="pencil icon"></i> {{ 'sylius.ui.edit'|trans }}</a>
                <a href="{{ path('sylius_shop_account_change_password') }}" class="item"><i class="lock icon"></i> {{ 'sylius.ui.change_password'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
