{% extends 'SyliusShopBundle:Layout:main.html.twig' %}

{% import 'SyliusUiBundle:Macro:messages.html.twig' as messages %}

{% block content %}
<div class="ui column stackable center page grid">
    <div class="five wide column"></div>
    <form class="ui six wide column form segment" action="{{ path('sylius_shop_registration') }}" method="post" novalidate>
        {{ form_errors(form) }}
        <div class="field">
            {{ form_row(form.firstName) }}
        </div>
        <div class="field">
            {{ form_row(form.lastName) }}
        </div>
        <div class="field">
            {{ form_row(form.email) }}
        </div>
        <div class="field">
            {{ form_row(form.user.plainPassword) }}
        </div>
        <div class="field">
            {{ form_row(form.phoneNumber) }}
        </div>
        {{ form_rest(form) }}
        <div class="one field">
            <button type="submit" class="ui fluid large primary submit button">{{ 'sylius.ui.register_button'|trans|raw }}</button>
        </div>
    </form>
</div>
{% endblock %}
