{% extends 'SyliusShopBundle:Layout:main.html.twig' %}

{% block content %}
    <div class="ui column stackable center page grid">
        <div class="five wide column"></div>
        <form class="ui six wide column form segment" action="{{ path('sylius_shop_request_password_reset_token') }}" {{ form_enctype(form) }} method="post" novalidate>
            <div class="one field">
                {{ form_row(form.email) }}
                {{ form_rest(form) }}
            </div>
            <div class="one field">
                <button type="submit" class="ui fluid large primary submit button">{{ 'sylius.ui.reset'|trans }}</button>
            </div>
        </form>
    </div>
{% endblock %}
