{% import "@SyliusShop/Shared/macro/money.html.twig" as money %}

<div class="offcanvas offcanvas-end offcanvas-wide" tabindex="-1" id="offcanvasCart">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% if cart.empty %}
            {{ 'sylius.ui.your_cart_is_empty'|trans }}.
        {% else %}
            <div class="d-flex flex-column h-100">
                <div>
                    <table class="table table-borderless align-middle">
                        <tbody>
                        {% for item in cart.items %}
                            <tr>
                                <td>{% include '@SyliusShop/Product/info.html.twig' with {'variant': item.variant} %}</td>
                                <td>{{ item.quantity }}</td>
                                <td class="text-end">{{ money.convertAndFormat(item.unitPrice) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="mt-auto">
                    <div class="d-flex justify-content-between py-4">
                        <div class="h5">{{ 'sylius.ui.subtotal'|trans }}:</div>
                        <div class="h5 text-end">{{ money.convertAndFormat(cart.itemsTotal) }}</div>
                    </div>
                    <div class="d-grid gap-2 pb-3">
                        <a href="{{ path('sylius_shop_cart_summary') }}" class="btn btn-light" type="button">{{ 'sylius.ui.view_and_edit_cart'|trans }}</a>
                        <a href="{{ path('sylius_shop_checkout_start') }}" class="btn btn-primary" type="button">{{ 'sylius.ui.checkout'|trans }}</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
