{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Content/Block/String:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.content'|trans }}</li>
    <li><a href="{{ path('sylius_backend_block_overview') }}">{{ 'sylius.breadcrumb.block.index'|trans }}</a></li>
    <li>{{ 'sylius.breadcrumb.block.string.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_string_block_create'), 'sylius.block.string.create'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-font"></i> {{ 'sylius.block.string.index_header'|trans|raw }}</h1>
</div>

{{ pagination(string_blocks) }}
{{ list(string_blocks) }}
{{ pagination(string_blocks) }}

{% endblock %}
