{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/ShippingMethod:macros.html.twig' import list %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_shipping_method_create'), 'sylius.shipping_method.create'|trans) }}
        {{ buttons.manage(path('sylius_backend_shipping_category_index'), 'sylius.shipping_category.manage'|trans) }}
    </div>
    <h1><i class="icon-truck"></i> {{ 'sylius.shipping_method.index_header'|trans|raw }}</h1>
</div>

{{ pagination(shipping_methods) }}
{{ list(shipping_methods) }}
{{ pagination(shipping_methods) }}

{% endblock %}
