{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/ShippingMethod:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.configuration'|trans }}</li>
    <li>{{ 'sylius.ui.shipping_methods'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_shipping_method_create'), 'sylius.ui.create_shipping_method'|trans) }}
        {{ buttons.manage(path('sylius_backend_shipping_category_index'), 'sylius.ui.manage_shipping_categories'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-cog"></i> {{ 'sylius.ui.shipping_methods'|trans|raw }}</h1>
</div>

{{ pagination(shipping_methods) }}
{{ list(shipping_methods) }}
{{ pagination(shipping_methods) }}

{% endblock %}
