{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'sylius.ui.configuration'|trans }}</li>
        <li><a href="{{ path('sylius_backend_shipping_method_index') }}">{{ 'sylius.ui.shipping_methods'|trans }}</a></li>
        <li>{{ shipping_method.name }}</a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="actions-menu">
            {{ buttons.manage(path('sylius_backend_shipping_method_index'), 'sylius.ui.manage_shipping_methods'|trans) }}
            {{ buttons.edit(path('sylius_backend_shipping_method_update', {'id': shipping_method.id})) }}
            {{ buttons.delete(path('sylius_backend_shipping_method_delete', {'id': shipping_method.id})) }}
        </div>
        <h1><i class="glyphicon glyphicon-cog"></i> {{ 'sylius.ui.shipping_method_details'|trans|raw }}</h1>
    </div>

    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th>{{ 'sylius.ui.name'|trans }}</th>
            <th>{{ 'sylius.ui.zone'|trans }}</th>
            <th>{{ 'sylius.ui.category'|trans }}</th>
            <th>{{ 'sylius.ui.enabled'|trans }}</th>
            <th>{{ 'sylius.ui.calculator'|trans }}</th>
            <th>{{ 'sylius.ui.last_update'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ shipping_method.name }}</td>
            <td>{{ shipping_method.zone }}</td>
            <td>{{ shipping_method.category|default('<i>undefined</i>')|raw }}</td>
            <td>
                <span class="label label-{{ shipping_method.enabled ? 'success' : 'important' }}">
                    {{ shipping_method.enabled ? 'sylius.ui.yes'|trans : 'sylius.ui.no'|trans }}
                </span>
            </td>
            <td><span class="label label-info">{{ shipping_method.calculator|humanize }}</span></td>
            <td>{{ shipping_method.updatedAt|date }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
