{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li><a href="{{ path('sylius_backend_shipping_method_index') }}">{{ 'sylius.breadcrumb.shipping_method.index'|trans }}</a></li>
    <li>{{ shipping_method.name }}</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.manage(path('sylius_backend_shipping_method_index'), 'sylius.shipping_method.manage'|trans) }}
        {{ buttons.edit(path('sylius_backend_shipping_method_update', {'id': shipping_method.id})) }}
        {{ buttons.delete(path('sylius_backend_shipping_method_delete', {'id': shipping_method.id}), null, false, false) }}
    </div>
    <h1><i class="glyphicon glyphicon-cog"></i> {{ 'sylius.shipping_method.show_header'|trans|raw }}</h1>
</div>


<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>{{ 'sylius.shipping_method.name'|trans }}</th>
            <th>{{ 'sylius.shipping_method.zone'|trans }}</th>
            <th>{{ 'sylius.shipping_method.category'|trans }}</th>
            <th>{{ 'sylius.shipping_method.enabled'|trans }}</th>
            <th>{{ 'sylius.shipping_method.calculator'|trans }}</th>
            <th>{{ 'sylius.shipping_method.updated_at'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ shipping_method.name }}</td>
            <td>{{ shipping_method.zone }}</td>
            <td>{{ shipping_method.category|default('<i>undefined</i>')|raw }}</td>
            <td>
                <span class="label label-{{ shipping_method.enabled ? 'success' : 'important'}}">
                    {{ shipping_method.enabled ? 'sylius.yes'|trans : 'sylius.no'|trans }}
                </span>
            </td>
            <td><span class="label label-info">{{ shipping_method.calculator|humanize }}</span></td>
            <td>{{ shipping_method.updatedAt|date }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
