{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block javascripts %}
{{ parent() }}
{% javascripts output='assets/compiled/backend_shipping_method.js'
    'bundles/syliusshipping/js/prototype-handler.js'
    'bundles/syliusshipping/js/sylius-shipping-method.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.configuration'|trans }}</li>
    <li><a href="{{ path('sylius_backend_shipping_method_index') }}">{{ 'sylius.ui.shipping_methods'|trans }}</a></li>
    <li><a href="{{ path('sylius_backend_shipping_method_show', {'id': shipping_method.id}) }}">{{ shipping_method.name  }}</a></li>
    <li>{{ 'sylius.ui.edit'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-pencil"></i> {{ 'sylius.ui.editing_shipping_method'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('sylius_backend_shipping_method_update', {'id': shipping_method.id}) }}" method="post" class="form-horizontal" novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/ShippingMethod:_form.html.twig' %}
    {{ update() }}
</form>
{% endblock %}
