{% extends 'form_div_layout.html.twig' %}

{% block choice_widget_collapsed %}
{% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
{{ parent() }}
{% endblock choice_widget_collapsed %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {% set widget_class = multiple ? ' checkbox-inline' : ' radio-inline' %}
        {%- for child in form %}
            {% set child_label = child.vars.label %}
            {% if child_label is not same as(false) %}
                {% set child_label_attr = child.vars.label_attr|merge({'class' : widget_class}) %}
                {% if not child.vars.compound %}
                    {% set child_label_attr = child_label_attr|merge({'for': child.vars.id}) %}
                {% endif %}
                {% if child.vars.required %}
                    {% set child_label_attr = child_label_attr|merge({'class': (child_label_attr.class|default('') ~ ' required')|trim}) %}
                {% endif %}
                <label{% for attrname, attrvalue in child_label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% endif %}
            {{ form_widget(child) }}
            {% if child_label is not same as(false) %}
                {% if child_label is empty %}
                    {% set child_label = name|humanize %}
                {% endif %}
                {{ child_label|trans({}, translation_domain) }}
                </label>
            {% endif %}
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{% block textarea_widget %}
{% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
{{ parent() }}
{% endblock textarea_widget %}

{% block form_widget_simple %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {% set type = type|default('text') %}

    {% if 'file' == type %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' hidden'}) %}
        <label for="{{ id }}" class="btn-primary btn-lg file-overlay"><i class="glyphicon glyphicon-folder-open"></i>&nbsp; {{ 'sylius.ui.choose_file'|trans }}</label>
        &nbsp;
    {% endif %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block form_label %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': label_attr.class|default('col-lg-2') ~ ' control-label'}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_label %}

{% block money_widget %}
{% spaceless %}
    <div class="input-group">
        <span class="input-group-addon">{{ money_pattern|replace({'{{ widget }}': ''}) }}</span>
        {{ block('form_widget_simple') }}
    </div>
{% endspaceless %}
{% endblock money_widget %}

{% block percent_widget %}
{% spaceless %}
    <div class="input-group">
        <span class="input-group-addon">%</span>
        {{ block('form_widget_simple') }}
    </div>
{% endspaceless %}
{% endblock percent_widget %}

{% block datetime_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {{ form_widget(form.date) }}
        {{ form_widget(form.time) }}
    {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
            {{ '{{ year }} / {{ month }} / {{ day }}'|replace({
            '{{ year }}':  form_widget(form.year, {'attr': {'style': 'display: inline; width: 100px;'}}),
            '{{ month }}': form_widget(form.month, {'attr': {'style': 'display: inline; width: 100px;'}}),
            '{{ day }}':   form_widget(form.day, {'attr': {'style': 'display: inline; width: 100px;'}}),
            })|raw }}
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set vars = widget == 'text' ? { 'attr': { 'size': 1, 'style': 'width: 60px; display: inline;' }} : {} %}
        &nbsp;{{ form_widget(form.hour, vars) }}{% if with_minutes %}:{{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %} {{ form_widget(form.second, vars) }}{% endif %}
    {% endif %}
{% endspaceless %}
{% endblock time_widget %}

{% block form_row %}
{% spaceless %}
    <div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
        {{ form_label(form) }}
        <div {% if label is not same as(false) %}class="col-lg-10"{% endif %}>
        {{ form_widget(form) }}
        {% for error in errors %}
            <span class="help-block form-error">
                {{
                    error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }}
            </span>
        {% endfor %}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block sylius_shipping_method_choice_widget %}
    {% spaceless %}
        {% if expanded %}
            <div {{ block('widget_container_attributes') }}>
                {% for child in form %}
                    <div>
                        {% if shipping_costs[child.vars.value] is defined %}
                            <span class="pull-right text-muted">{{ shipping_costs[child.vars.value]|sylius_price }}</span>
                        {% endif %}
                        <label{% for attrname, attrvalue in child.vars.label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                        {{ form_widget(child) }}
                        {{ child.vars.label|trans({}, translation_domain) }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {{- block('choice_widget_collapsed') -}}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block sylius_translations_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block sylius_translations_widget %}
    {{ form_errors(form) }}
    <div class="tab-container">
        <ul class="nav nav-tabs">
            <li><span>{{ 'sylius.ui.translations'|trans }}</span></li>
            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}

                <li {% if app.request.locale == locale %}class="active"{% endif %}>
                    <a href="#" data-toggle="tab" data-target=".{{ translationsFields.vars.id }}_translation_fields-{{ locale }}">
                        {{ locale|capitalize }}
                        {% if translationsFields.vars.required %}*{% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}

                <div class="{{ translationsFields.vars.id }}_translation_fields-{{ locale }} tab-pane {% if app.request.locale == locale %}active{% endif %} {% if not form.vars.valid %}error{% endif %}">
                    {{ form_errors(translationsFields) }}
                    {{ form_widget(translationsFields) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
