{% set taxAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::TAX_ADJUSTMENT') %}
{% set shippingAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::SHIPPING_ADJUSTMENT') %}

<div class="row well well-sm" id="information">
    <div class="col-md-6">
        <strong>{{ 'sylius.ui.placed_at'|trans }} {{ order.createdAt|date() }}</strong><br><br>
        {#{{ 'sylius.ui.shipment_mode'|trans }} <strong>TODO</strong><br>#}
        {#{{ 'sylius.ui.payment_mode'|trans }} <strong>TODO</strong><br>#}
    </div>
    <div class="col-md-6">
        <br><br>
        {{ 'sylius.ui.number'|trans }} <strong>{{ order.number }}</strong><br>
        {{ 'sylius.ui.state'|trans }}
        {% include "SyliusWebBundle:Frontend/Account:Order/_state.html.twig" %}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h4>{{ 'sylius.ui.shipping_address'|trans }}</h4>
        {% include 'SyliusWebBundle:Common/Address:_show.html.twig' with { 'address': order.shippingAddress } %}
    </div>
    <div class="col-md-6">
        <h4>{{ 'sylius.ui.billing_address'|trans }}</h4>
        {% include 'SyliusWebBundle:Common/Address:_show.html.twig' with { 'address': order.billingAddress } %}
    </div>
</div>

<div class="row">
    <table id="items" class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'sylius.order_item.sellable'|trans }}</th>
            <th>{{ 'sylius.order_item.quantity'|trans }}</th>
            <th>{{ 'sylius.ui.unit_price'|trans }}</th>
            <th>{{ 'sylius.ui.total'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in order.items %}
            {% set product = item.product %}
            <tr>
                <td>
                    {{ include('SyliusWebBundle:Frontend/Product:_variant.html.twig', {'variant': item.variant}) }}
                </td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.unitPrice|sylius_money(order.currency) }}</td>
                <td>{{ item.total|sylius_money(order.currency) }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3">
                    <span class="pull-right">
                        {{ 'sylius.ui.items_total'|trans }}
                    </span>
                </th>
                <th>{{ order.itemsTotal|sylius_money(order.currency) }}</th>
            </tr>
            <tr>
                <td colspan="3">
                    <span class="pull-right">
                        {{ 'sylius.ui.tax_total'|trans }}
                    </span>
                </td>
                <td>{{ order.getAdjustmentsTotalRecursively(taxAdjustment)|sylius_money(order.currency) }}</td>
            </tr>
            <tr>
                <td colspan="3">
                    <span class="pull-right">
                        {{ 'sylius.ui.shipping_total'|trans }}
                    </span>
                </td>
                <td>{{ order.adjustmentsTotal(shippingAdjustment)|sylius_money(order.currency) }}</td>
            </tr>
            <tr>
                <td colspan="3">
                    <span class="pull-right">
                        {{ 'sylius.ui.promotion_total'|trans }}
                    </span>
                </td>
                <td>{{ order.getPromotionsTotalRecursively()|sylius_money(order.currency) }}</td>
            </tr>
            <tr>
                <th colspan="3">
                    <span class="pull-right">
                        {{ 'sylius.ui.total'|trans }}
                    </span>
                </th>
                <th>{{ order.total|sylius_money(order.currency) }}</th>
            </tr>
        </tfoot>
    </table>
</div>
