<div class="row-fluid well well-small">
    <div class="span6">
        <strong>{{ 'sylius.account.order.created_at'|trans }} {{ order.createdAt|date() }}</strong><br><br>
        {{ 'sylius.account.order.shipment_mode'|trans }} <strong>TODO</strong><br>
        {{ 'sylius.account.order.payment_mode'|trans }} <strong>TODO</strong><br>
    </div>
    <div class="span6">
        <br><br>
        {{ 'sylius.account.order.number'|trans }} <strong>{{ order.number }}</strong><br>
        {{ 'sylius.account.order.status'|trans }} <strong>TODO</strong><br>
        {{ 'sylius.account.order.tracking_number'|trans }} <strong>TODO</strong><br>
    </div>
</div>

<div class="row-fluid">
    <table id="items" class="table table-striped">
        <thead>
        <tr>
            <th colspan="3">{{ 'sylius.order_item.sellable'|trans }}</th>
            <th>{{ 'sylius.order_item.unit_price'|trans }}</th>
            <th>{{ 'sylius.order_item.total'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in order.items %}
            {% set variant = item.sellable %}
            {% set product = variant.product %}
            <tr>
                <td>
                    {% if product.images|length > 0 %}
                        <div data-toggle="modal-gallery" data-target="#modal-gallery">
                            {% for image in product.images %}
                                <a href="{{ image.path|imagine_filter('sylius_gallery') }}" data-gallery="gallery" title="{{ product.name }}">
                                    <img class="img-polaroid" src="{{ image.path|imagine_filter('sylius_90x60') }}" alt="{{ product.name }}" />
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </td>
                <td>{{ item.quantity }}</td>
                <td>
                    <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}">{{ product.name }}</a>
                </td>
                <td>{{ item.unitPrice|sylius_money }}</td>
                <td>{{ item.total|sylius_money }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">
                    <span class="pull-right">
                        {{ 'sylius.order.items_total'|trans }}
                    </span>
                </th>
                <th>{{ order.itemsTotal|sylius_money }}</th>
            </tr>
            <tr>
                <td colspan="4">
                    <span class="pull-right">
                        {{ 'sylius.order.tax_total'|trans }}
                    </span>
                </td>
                <td>{{ order.taxTotal|sylius_money }}</td>
            </tr>
            <tr>
                <td colspan="4">
                    <span class="pull-right">
                        {{ 'sylius.order.shipping_total'|trans }}
                    </span>
                </td>
                <td>{{ order.shippingTotal|sylius_money }}</td>
            </tr>
            <tr>
                <td colspan="4">
                    <span class="pull-right">
                        {{ 'sylius.order.promotion_total'|trans }}
                    </span>
                </td>
                <td>{{ order.promotionTotal|sylius_money }}</td>
            </tr>
            <tr>
                <th colspan="4">
                    <span class="pull-right">
                        {{ 'sylius.order.total'|trans }}
                    </span>
                </th>
                <th>{{ order.total|sylius_money }}</th>
            </tr>
        </tfoot>
    </table>
</div>