{% import 'SyliusWebBundle:Frontend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Order:macros.html.twig' import simple_list %}

<div class="row">
    {% if orders is not empty %}
        <table id="orders" class="table">
            <thead>
            <tr>
                <td>{{ 'sylius.ui.placed_at'|trans }}</td>
                <td>{{ 'sylius.ui.number'|trans }}</td>
                <td>{{ 'sylius.ui.total'|trans }}</td>
                <td>{{ 'sylius.ui.state'|trans }}</td>
                <td>{{ 'sylius.ui.invoice'|trans }}</td>
                <td>&nbsp;</td>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr class="order" id="order-{{ order.number }}">
                    <td>{{ order.createdAt|date }}</td>
                    <td>{{ order.number }}</td>
                    <td>{{ order.total|sylius_money(order.currency) }}</td>
                    <td>
                        {% include "SyliusWebBundle:Frontend/Account:Order/_state.html.twig" %}
                    </td>
                    <td>
                        {% if order.isInvoiceAvailable %}
                            {{ buttons.btn(
                            path('sylius_account_order_invoice', {'number': order.number}),
                            '',
                            'order-' ~ order.number ~ '-invoice',
                            'file'
                            ) }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {{ buttons.show(path('sylius_account_order_show', {'number': order.number}), '', 'order-' ~ order.number ~ '-details') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ 'sylius.account.order.empty'|trans }}</p>
    {% endif %}
</div>
