{% from '@SyliusAdmin/Shared/Helper/icon.html.twig' import icon as _icon %}
{% import '@SyliusAdmin/Shared/Helper/money.html.twig' as _money %}

{% set product = hookable_metadata.context.product %}

{% if product.isConfigurable() %}
    {% set channels = hookable_metadata.context.channels %}

    <div class="table-responsive">
        <table class="table table-vcenter">
            <thead>
            <tr>
                <th></th>
                <th>{{ 'sylius.ui.product'|trans }}</th>
                <th class="text-center">{{ 'sylius.ui.enabled'|trans }}</th>
                <th>{{ 'sylius.ui.options'|trans }}</th>
                <th class="text-center">{{ 'sylius.ui.tracked'|trans }}</th>
                <th class="text-center">{{ 'sylius.ui.shipping_required'|trans }}</th>
                <th>{{ 'sylius.ui.tax_category'|trans }}</th>
                <th class="text-center">{{ 'sylius.ui.current_stock'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for variant in product.variants %}
                <tr>
                    <td>
                        <div class="btn-collapse collapsed" data-bs-toggle="collapse" href="#product-variant-details-{{ variant.code }}">
                            <div class="btn btn-icon icon-chevron-right">{{ _icon({ icon: 'chevron-right' }) }}</div>
                            <div class="btn btn-icon icon-chevron-down">{{ _icon({ icon: 'chevron-down' }) }}</div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex gap-3 align-items-center">
                            <div>
                                {% if product.imagesByType('thumbnail') is not empty %}
                                    {% set path = product.imagesByType('thumbnail').first.path|imagine_filter(filter|default('sylius_admin_product_thumbnail')) %}
                                {% elseif product.images.first %}
                                    {% set path = product.images.first.path|imagine_filter(filter|default('sylius_admin_product_thumbnail')) %}
                                {% else %}
                                    {% set path = asset('build/admin/images/200x200.png', 'admin') %}
                                {% endif %}

                                <img src="{{ path }}" alt="{{ product.name }}" class="avatar" />
                            </div>
                            <div>
                                <div><strong {{ sylius_test_html_attribute('product-variant-name') }}>{{ variant.name }}</strong></div>
                                <div class="text-muted small">{{ variant.code }}</div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span>
                            {% include '@SyliusAdmin/Shared/Grid/Field/boolean.html.twig' with { data: variant.enabled } %}
                        </span>
                    </td>
                    <td>
                        <div>
                            {% for option in variant.optionValues %}
                                <span class="text-muted">{{ option.name }}:</span> {{ option.value }}
                            {% endfor %}
                        </div>
                    </td>
                    <td class="text-center">
                        <span>
                            {% include '@SyliusAdmin/Shared/Grid/Field/boolean.html.twig' with { data: variant.tracked } %}
                        </span>
                    </td>
                    <td class="text-center">
                        <span>
                            {% include '@SyliusAdmin/Shared/Grid/Field/boolean.html.twig' with { data: variant.shippingRequired } %}
                        </span>
                    </td>
                    <td>{{ variant.taxCategory }}</td>
                    <td class="text-center">{{ variant.onHand }}</td>
                    <td class="text-end">
                        <a href="{{ path('sylius_admin_product_variant_update', { id: variant.id, productId: product.id }) }}" class="btn">
                            {{ _icon({ icon: 'pencil' }) }}
                            {{ 'sylius.ui.edit'|trans }}
                        </a>
                    </td>
                </tr>
                <tr class="bg-gray-400">
                    <td colspan="9" class="p-0 border-0">
                        <div class="py-3 px-5 collapse" id="product-variant-details-{{ variant.code }}">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="card-title">{{ 'sylius.ui.pricing'|trans }}</div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table card-table table-vcenter">
                                        <thead>
                                        <tr>
                                            <th>{{ 'sylius.ui.channel'|trans }}</th>
                                            <th class="text-end">{{ 'sylius.ui.price'|trans }}</th>
                                            <th class="text-end">{{ 'sylius.ui.original_price'|trans }}</th>
                                            <th class="text-end">{{ 'sylius.ui.lowest_price_before_discount'|trans }}</th>
                                            <th class="text-end">{{ 'sylius.ui.discounted_by'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for channelPricing in variant.channelPricings %}
                                            {% set channel = attribute(channels, channelPricing.channelCode) %}
                                            {% set currencyCode = channel.baseCurrency.code %}
                                            {% set price = channelPricing.price %}
                                            {% set originalPrice = channelPricing.originalPrice ?? 0 %}
                                            {% set lowestPriceBeforeDiscount = channelPricing.lowestPriceBeforeDiscount %}

                                            <tr {{ sylius_test_html_attribute('variants', '%s.%s'|format(channel.name, variant.name)) }} >
                                                <td>
                                                    <span class="badge me-2" style="background-color: {{ channel.color }};" ></span>
                                                    {{ channel.name }}
                                                </td>
                                                <td class="text-end">{{ _money.format(price, currencyCode) }}</td>
                                                <td class="text-end">{{ _money.format(originalPrice, currencyCode) }}</td>
                                                <td class="text-end" {{ sylius_test_html_attribute('lowest-price-before-the-discount', '%s.%s'|format(variant.name, channel.name)) }}>{% if lowestPriceBeforeDiscount != null %}{{ _money.format(lowestPriceBeforeDiscount, currencyCode) }}{% else %} - {% endif %}</td>
                                                <td class="text-end">
                                                    <ul>
                                                        {% for promotion in channelPricing.appliedPromotions %}
                                                            <li>{{ promotion.name }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                                <td class="text-end">
                                                    <a class="btn btn-primary" {{ sylius_test_html_attribute('price-history') }} href="{{ path('sylius_admin_channel_pricing_log_entry_index', { productId: product.id, variantId: variant.id, channelPricingId: channelPricing.id }) }}">
                                                        {{ 'sylius.ui.price_history'|trans }}
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card mb-3">
                                {% hook 'configurable_product' with { variant } %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
