{% macro list(shipments) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% if shipments|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('order', 'sylius.ui.order'|trans) }}</th>
            <th>{{ sylius_resource_sort('method_translation.name', 'sylius.ui.method'|trans) }}</th>
            <th>{{ sylius_resource_sort('state', 'sylius.ui.state'|trans) }}</th>
            <th>{{ 'sylius.ui.shipping_address'|trans }}</th>
            <th class="text-center">{{ 'sylius.ui.total_qty'|trans }}</th>
            <th>{{ sylius_resource_sort('createdAt', 'sylius.ui.created_at'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for shipment in shipments %}
        {% set order = shipment.order %}
        {% set address = order.shippingAddress %}

        <tr id="{{ shipment.id }}">
            <td>
                <a href="{{ path('sylius_backend_order_show', {'id': shipment.order.id}) }}" class="btn btn-primary btn-sm">
                   #{{ order.number }}
                </a>
            </td>
            <td>{{ shipment.method.name }}</td>
            <td>{{ misc.shipment_state(shipment.state) }}</td>
            <td>{{ address.firstname }} {{ address.lastname }} ({{ address.city }}, {{ address.countryCode|sylius_country_name }})</td>
            <td class="text-center">{{ shipment.units|length }}</td>
            <td>{{ shipment.createdAt|date }}</td>
            <td>
                <div class="pull-right">
                    {{ buttons.show(path('sylius_backend_shipment_show', {'id': shipment.id})) }}
                    {{ buttons.edit(path('sylius_backend_shipment_update', {'id': shipment.id})) }}
                    {{ buttons.delete(path('sylius_backend_shipment_delete', {'id': shipment.id})) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.ui.there_are_no_shipments_to_display'|trans) }}
{% endif %}

{% endmacro %}
