
{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Content/RedirectRoute:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.content'|trans }}</li>
    <li>{{ 'sylius.ui.redirect_routes'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_redirect_route_create'), 'sylius.ui.create_redirect_route'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-retweet"></i> {{ 'sylius.ui.redirect_route'|trans|raw }}</h1>
</div>

{{ pagination(redirect_routes) }}
{{ list(redirect_routes) }}
{{ pagination(redirect_routes) }}

{% endblock %}
