
{% macro list(redirect_routes) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% if redirect_routes|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'sylius.ui.id'|trans }}</th>
                <th>{{ sylius_resource_sort('title', 'sylius.ui.title'|trans) }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for redirect_route in redirect_routes %}
            <tr id="{{ redirect_route.id }}">
                <td><i>{{ redirect_route.id }}</i></td>
                <td>{{ redirect_route.title }}</td>
                <td>
                    <div class="pull-right">
                    {{ buttons.edit(path('sylius_backend_redirect_route_update', {'id': redirect_route.id})) }}
                    {{ buttons.delete(path('sylius_backend_redirect_route_delete', {'id': redirect_route.id})) }}
                   </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
{{ alerts.info('sylius.ui.no_results'|trans) }}
{% endif %}

{% endmacro %}
