<div class="row">
{% if transactions is not empty %}
    <table id="transactions" class="table">
        <thead>
        <tr>
            <td>{{ 'sylius.account.affiliate.history.created_at'|trans }}</td>
            <td>{{ 'sylius.account.affiliate.history.type'|trans }}</td>
            <td>{{ 'sylius.account.affiliate.history.amount'|trans }}</td>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr class="transaction">
                <td>{{ transaction.createdAt|date }}</td>
                <td>{{ (transaction.payment ? 'sylius.account.affiliate.history.payment' : 'sylius.account.affiliate.history.earning')|trans }}</td>
                <td>{{ transaction.amount|sylius_money }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{{ 'sylius.account.affiliate.history.empty'|trans }}</p>
{% endif %}
</div>
