{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th colspan="2">{{ 'sylius.account.affiliate.index'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% if app.user.affiliate is not empty %}
                {% if app.user.affiliate.disabled %}
                {{ 'sylius.account.affiliate.status.disabled'|trans }}
                {% elseif app.user.affiliate.paused %}
                    {{ 'sylius.account.affiliate.status.paused'|trans }}
                {% else %}
                <tr>
                    <td><strong>{{ 'sylius.affiliate.referrals'|trans }}</strong></td>
                    <td>
                        {{ referrals_count }}
                        <a class="btn btn-primary pull-right" href="{{ url('sylius_account_affiliate_referrals') }}">{{ 'sylius.account.affiliate.referrals.title'|trans }}</a>
                    </td>
                </tr>
                <tr>
                    <td><strong>{{ 'sylius.affiliate.transactions'|trans }}</strong></td>
                    <td>
                        {{ transactions_count }}
                        <a class="btn btn-primary pull-right" href="{{ url('sylius_account_affiliate_history') }}">{{ 'sylius.account.affiliate.history.title'|trans }}</a>
                    </td>
                </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td>{{ 'sylius.account.affiliate.status.create'|trans }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ url('sylius_account_affiliate_create') }}">{{ 'sylius.account.affiliate.create'|trans }}</a>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
