{{ form_errors(form) }}

<div class="ui segment">
    <h4 class="ui dividing header">{{ 'sylius.ui.general_info'|trans }}</h4>
    <div class="two fields">
        {{ form_row(form.code) }}
        {{ form_row(form.name) }}
    </div>
</div>

<div class="ui segment">
    <h4 class="ui dividing header">{{ 'sylius.ui.criteria'|trans }}</h4>
    <div class="two fields">
        {{ form_row(form.category) }}
        {{ form_row(form.zone) }}
    </div>
</div>

<div class="ui segment">
    <h4 class="ui dividing header">{{ 'sylius.ui.taxes'|trans }}</h4>
    {{ form_row(form.calculator) }}
    {{ form_row(form.amount) }}
    {{ form_row(form.includedInPrice) }}
</div>
