{{ form_errors(form) }}
<div class="three fields">
    {{ form_row(form.code) }}
    {{ form_row(form.name) }}
    {{ form_row(form.amount) }}
</div>
<div class="three fields">
    {{ form_row(form.category) }}
    {{ form_row(form.zone) }}
    {{ form_row(form.calculator) }}
</div>
