<tr class="promotion-discount">
    <td colspan="2">
        {% if order.promotionAdjustments|length > 0 %}
            <ul>
                {% for adjustment in order.promotionAdjustments %}
                    <li>{{ adjustment.description }} {{ adjustment.amount|sylius_price(order.currency) }} </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-muted"><small>{{ 'sylius.checkout.finalize.order.no_promotion'|trans }}</small></p>
        {% endif %}
    </td>
    <td class="text-right" colspan="3">
        <strong>{{ 'sylius.checkout.finalize.order.promotion_total'|trans }}</strong>:
        <span class="amount">{{ order.promotionTotal|sylius_price(order.currency) }}</span>
    </td>
</tr>
