<tr class="taxes">
    <td colspan="2">
        {% if order.taxAdjustments|length > 0 %}
            <ul>
                {% for taxAdjustment in order.taxAdjustments %}
                    <li>{{ taxAdjustment.description }} {{ taxAdjustment.amount|sylius_price(order.currency) }} </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-muted"><small>{{ 'sylius.order.no_taxes'|trans }}</small></p>
        {% endif %}
    </td>
    <td class="text-right" colspan="3">
        <strong>{{ 'sylius.order.tax_total'|trans }}</strong>:
        <span class="amount">{{ order.taxTotal|sylius_price(order.currency) }}</span>
    </td>
</tr>
