{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.ui.configuration'|trans }}</li>
    <li><a href="{{ path('sylius_backend_country_index') }}">{{ 'sylius.ui.countries'|trans }}</a></li>
    <li>{{ country.code|sylius_country_name }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.manage(path('sylius_backend_country_index'), 'sylius.ui.manage_countries'|trans) }}
        {{ buttons.edit(path('sylius_backend_country_update', {'id': country.id})) }}
    </div>
    <h1><i class="glyphicon glyphicon-flag"></i> {{ 'sylius.ui.country_details'|trans|raw }}</h1>
</div>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>{{ 'sylius.ui.code'|trans }}</th>
            <th>{{ 'sylius.ui.name'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ country.code }}</td>
            <td>{{ country.code|sylius_country_name }}</td>
        </tr>
    </tbody>
</table>
{% if country.hasProvinces %}
    <div class="page-header">
        <h1>{{ 'sylius.ui.provinces'|trans|raw }}</h1>
    </div>
    <table id="provinces" class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>{{ 'sylius.ui.code'|trans }}</th>
                <th>{{ 'sylius.form.province.name'|trans }}</th>
                <th>{{ 'sylius.form.province.abbreviation'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for province in country.provinces %}
                <tr id="{{ province.id }}">
                    <td>{{ province.code }}</td>
                    <td>{{ province.name }}</td>
                    <td>{{ province.abbreviation }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
